{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getBlockTransactionCountByNumber Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getBlockTransactionCountByNumber for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-moderato.core.chainstack.com/a25a421add2280d53fdbc23417055501"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Blocks info"
        ],
        "summary": "eth_getBlockTransactionCountByNumber",
        "operationId": "tempo-eth-getBlockTransactionCountByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByNumber"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["latest"],
                    "description": "Block number (hex) or tag"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction count in block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "Number of transactions in the block encoded as hexadecimal"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
