{
  "openapi": "3.0.0",
  "info": {
    "title": "dex_getOrderbooks Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for dex_getOrderbooks for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "DEX"
        ],
        "summary": "dex_getOrderbooks",
        "operationId": "tempo-dex-getOrderbooks",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "dex_getOrderbooks"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      {
                        "limit": 10
                      }
                    ],
                    "description": "Pagination params with optional filters"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated orderbooks response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "nextCursor": {
                          "type": "string",
                          "description": "Cursor for next page"
                        },
                        "orderbooks": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Array of orderbook objects"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
