{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_getLogs",
                "operationId": "eth_getLogs",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_getLogs"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            {
                                                "fromBlock": "0x34808ff",
                                                "toBlock": "0x34808ff"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_getLogs.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "topics": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "data": {
                                                        "type": "string"
                                                    },
                                                    "blockHash": {
                                                        "type": "string"
                                                    },
                                                    "blockNumber": {
                                                        "type": "string"
                                                    },
                                                    "blockTimestamp": {
                                                        "type": "string"
                                                    },
                                                    "transactionHash": {
                                                        "type": "string"
                                                    },
                                                    "transactionIndex": {
                                                        "type": "string"
                                                    },
                                                    "logIndex": {
                                                        "type": "string"
                                                    },
                                                    "removed": {
                                                        "type": "boolean"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": [
                                        {
                                            "address": "0xfffffffffffffffffffffffffffffffffffffffe",
                                            "topics": [
                                                "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef",
                                                "0x0000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0",
                                                "0x0000000000000000000000007798f2eb73c1dd8fa8086d780d5cf114a10f528e"
                                            ],
                                            "data": "0x000000000000000000000000000000000000000000000000016345785d8a0000",
                                            "blockHash": "0x6dabcf7ed4cf53e05054a4d671b19b7597740bce1042019ff31af68dde9c98a9",
                                            "blockNumber": "0x34808ff",
                                            "blockTimestamp": "0x6a7026be",
                                            "transactionHash": "0x2ed866a63cf1fcc052779d3e3edc6bd6dc2e8378b23c23031f479c5fc0897313",
                                            "transactionIndex": "0x0",
                                            "logIndex": "0x0",
                                            "removed": false
                                        },
                                        {
                                            "address": "0xfffffffffffffffffffffffffffffffffffffffe",
                                            "topics": [
                                                "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef",
                                                "0x0000000000000000000000007798f2eb73c1dd8fa8086d780d5cf114a10f528e",
                                                "0x000000000000000000000000ad4c0bf78ce754d5d4d045e37783e95834b900fe"
                                            ],
                                            "data": "0x000000000000000000000000000000000000000000000000016345785d8a0000",
                                            "blockHash": "0x6dabcf7ed4cf53e05054a4d671b19b7597740bce1042019ff31af68dde9c98a9",
                                            "blockNumber": "0x34808ff",
                                            "blockTimestamp": "0x6a7026be",
                                            "transactionHash": "0x2ed866a63cf1fcc052779d3e3edc6bd6dc2e8378b23c23031f479c5fc0897313",
                                            "transactionIndex": "0x0",
                                            "logIndex": "0x1",
                                            "removed": false
                                        },
                                        {
                                            "address": "0xad4c0bf78ce754d5d4d045e37783e95834b900fe",
                                            "topics": [
                                                "0x5548c837ab068cf56a2c2479df0882a4922fd203edb7517321831d95078c5f62",
                                                "0x0000000000000000000000007798f2eb73c1dd8fa8086d780d5cf114a10f528e",
                                                "0x0000000000000000000000000a3111263a39fa77d1a931a2aeb028314b73fb7e"
                                            ],
                                            "data": "0x000000000000000000000000000000000000000000000000016345785d8a0000",
                                            "blockHash": "0x6dabcf7ed4cf53e05054a4d671b19b7597740bce1042019ff31af68dde9c98a9",
                                            "blockNumber": "0x34808ff",
                                            "blockTimestamp": "0x6a7026be",
                                            "transactionHash": "0x2ed866a63cf1fcc052779d3e3edc6bd6dc2e8378b23c23031f479c5fc0897313",
                                            "transactionIndex": "0x0",
                                            "logIndex": "0x2",
                                            "removed": false
                                        },
                                        {
                                            "address": "0x6c415c8567bf7c2761d623c41f57668ddbad939b",
                                            "topics": [
                                                "0xbc7cd75a20ee27fd9adebab32041f755214dbc6bffa90cc0225b39da2e5c2d3b",
                                                "0x0000000000000000000000006610cb88385996ca4e121954f07ee3a0c95e5aa8"
                                            ],
                                            "data": "0x",
                                            "blockHash": "0x6dabcf7ed4cf53e05054a4d671b19b7597740bce1042019ff31af68dde9c98a9",
                                            "blockNumber": "0x34808ff",
                                            "blockTimestamp": "0x6a7026be",
                                            "transactionHash": "0x2ed866a63cf1fcc052779d3e3edc6bd6dc2e8378b23c23031f479c5fc0897313",
                                            "transactionIndex": "0x0",
                                            "logIndex": "0x3",
                                            "removed": false
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}