{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/actions": {
      "get": {
        "summary": "Get Actions",
        "description": "Retrieves decoded actions from transactions",
        "operationId": "getActions",
        "tags": [
          "Actions"
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "query",
            "description": "Action ID to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trace_id",
            "in": "query",
            "description": "Trace ID to get actions for",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tx_hash",
            "in": "query",
            "description": "Transaction hash to get actions for",
            "schema": {
              "type": "string",
              "default": "BhLJTdV2R6Vr5c3BAOjH8nFpnMYOuPcJvRlagGSKU88="
            }
          },
          {
            "name": "tx_lt",
            "in": "query",
            "description": "Transaction logical time",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "account",
            "in": "query",
            "description": "Filter by account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "action_type",
            "in": "query",
            "description": "Filter by action type (e.g., JettonTransfer, NftItemTransfer)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Start of the time range (unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "End of the time range (unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of actions to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of actions to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "actions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action_id": {
                            "type": "string",
                            "description": "Unique identifier for the action"
                          },
                          "trace_id": {
                            "type": "string",
                            "description": "Trace ID this action belongs to"
                          },
                          "tx_hash": {
                            "type": "string",
                            "description": "Transaction hash"
                          },
                          "type": {
                            "type": "string",
                            "description": "Type of action (e.g., JettonTransfer, TonTransfer)"
                          },
                          "status": {
                            "type": "string",
                            "description": "Action status"
                          },
                          "value": {
                            "type": "object",
                            "description": "Action-specific value data"
                          },
                          "start_lt": {
                            "type": "integer",
                            "description": "Logical time at action start"
                          },
                          "start_utime": {
                            "type": "integer",
                            "description": "Unix timestamp at action start"
                          },
                          "end_lt": {
                            "type": "integer",
                            "description": "Logical time at action end"
                          },
                          "end_utime": {
                            "type": "integer",
                            "description": "Unix timestamp at action end"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping addresses to user-friendly names"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
