{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/account": {
      "get": {
        "summary": "Get Account Information",
        "description": "Retrieves information about a specific account on the TON blockchain",
        "operationId": "getAccountInfo",
        "tags": [
          "Account"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address of the account to retrieve information for",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Ef-1JetbPF9ubc1ga-57oHoOyDA1IShJt-BVlJnA9rrVTfrB"
            },
            "example": "Ef-1JetbPF9ubc1ga-57oHoOyDA1IShJt-BVlJnA9rrVTfrB"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The account address"
                    },
                    "balance": {
                      "type": "string",
                      "description": "The account balance in nanotons"
                    },
                    "last_activity": {
                      "type": "integer",
                      "description": "The timestamp of the last account activity"
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of the account (e.g., active, frozen)"
                    },
                    "code_hash": {
                      "type": "string",
                      "description": "The hash of the account's code"
                    },
                    "data_hash": {
                      "type": "string",
                      "description": "The hash of the account's data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}