{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/accountStates": {
      "get": {
        "summary": "Get Account States",
        "description": "Query account states with historical data",
        "operationId": "getAccountStates",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "account_address",
            "in": "query",
            "description": "Account address to query",
            "schema": {
              "type": "string",
              "default": "EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs"
            }
          },
          {
            "name": "include_boc",
            "in": "query",
            "description": "Include account state BoC in response",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of states to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of states to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_states": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string",
                            "description": "Account address"
                          },
                          "hash": {
                            "type": "string",
                            "description": "State hash"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Account balance in nanotons"
                          },
                          "account_status": {
                            "type": "string",
                            "description": "Account status (active, uninit, frozen)"
                          },
                          "last_trans_lt": {
                            "type": "integer",
                            "description": "Last transaction logical time"
                          },
                          "last_trans_hash": {
                            "type": "string",
                            "description": "Last transaction hash"
                          },
                          "frozen_hash": {
                            "type": "string",
                            "description": "Frozen hash if account is frozen"
                          },
                          "code_hash": {
                            "type": "string",
                            "description": "Code cell hash"
                          },
                          "data_hash": {
                            "type": "string",
                            "description": "Data cell hash"
                          },
                          "code_boc": {
                            "type": "string",
                            "description": "Code BoC if include_boc is true"
                          },
                          "data_boc": {
                            "type": "string",
                            "description": "Data BoC if include_boc is true"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
