{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "summary": "Get Events",
        "description": "Query blockchain events with decoded actions",
        "operationId": "getEvents",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Filter by account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_utime",
            "in": "query",
            "description": "Start of time range (unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "end_utime",
            "in": "query",
            "description": "End of time range (unix timestamp)",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of events to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trace_id": {
                            "type": "string",
                            "description": "Trace ID"
                          },
                          "external_hash": {
                            "type": "string",
                            "description": "External message hash"
                          },
                          "mc_seqno_start": {
                            "type": "string",
                            "description": "Start masterchain sequence number"
                          },
                          "mc_seqno_end": {
                            "type": "string",
                            "description": "End masterchain sequence number"
                          },
                          "start_lt": {
                            "type": "string",
                            "description": "Start logical time"
                          },
                          "start_utime": {
                            "type": "integer",
                            "description": "Start unix timestamp"
                          },
                          "end_lt": {
                            "type": "string",
                            "description": "End logical time"
                          },
                          "end_utime": {
                            "type": "integer",
                            "description": "End unix timestamp"
                          },
                          "trace_info": {
                            "type": "object",
                            "description": "Trace information"
                          },
                          "actions": {
                            "type": "array",
                            "description": "Decoded actions"
                          },
                          "is_incomplete": {
                            "type": "boolean",
                            "description": "Whether event is incomplete"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
