{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/jetton/transfers": {
      "get": {
        "summary": "Get Jetton Transfers",
        "description": "Retrieves a list of Jetton transfers from the TON blockchain",
        "operationId": "getJettonTransfers",
        "tags": [
          "Jetton"
        ],
        "parameters": [
          {
            "name": "direction",
            "in": "query",
            "description": "The direction of transfers to retrieve",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "in",
                "out",
                "both"
              ],
              "default": "both"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transfers to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 128
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of transfers to skip before starting to return results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sorting order of the transfers",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transfers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "jetton": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "The address of the Jetton master contract"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the Jetton"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The symbol of the Jetton"
                              }
                            }
                          },
                          "from": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "The address of the sender"
                              }
                            }
                          },
                          "to": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "The address of the recipient"
                              }
                            }
                          },
                          "transaction": {
                            "type": "object",
                            "properties": {
                              "hash": {
                                "type": "string",
                                "description": "The hash of the transaction"
                              },
                              "time": {
                                "type": "integer",
                                "description": "The timestamp of the transaction"
                              }
                            }
                          },
                          "amount": {
                            "type": "string",
                            "description": "The amount of Jettons transferred"
                          },
                          "comment": {
                            "type": "string",
                            "description": "Any comment attached to the transfer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}