{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/jetton/wallets": {
      "get": {
        "summary": "Get Jetton Wallets",
        "description": "Retrieves a list of Jetton wallets from the TON blockchain",
        "operationId": "getJettonWallets",
        "tags": [
          "Jetton"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of Jetton wallets to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 128
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of Jetton wallets to skip before starting to return results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The address of the Jetton wallet"
                          },
                          "balance": {
                            "type": "string",
                            "description": "The balance of the Jetton wallet"
                          },
                          "owner": {
                            "type": "string",
                            "description": "The address of the wallet owner"
                          },
                          "jetton": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "The address of the Jetton master contract"
                              },
                              "name": {
                                "type": "string",
                                "description": "The name of the Jetton"
                              },
                              "symbol": {
                                "type": "string",
                                "description": "The symbol of the Jetton"
                              },
                              "decimals": {
                                "type": "integer",
                                "description": "The number of decimal places for the Jetton"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}