{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/multisig/orders": {
      "get": {
        "summary": "Get Multisig Orders",
        "description": "Get pending orders for multisig wallets",
        "operationId": "getMultisigOrders",
        "tags": [
          "Multisig"
        ],
        "parameters": [
          {
            "name": "multisig_address",
            "in": "query",
            "description": "Filter by multisig wallet address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order_address",
            "in": "query",
            "description": "Filter by order contract address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "is_executed",
            "in": "query",
            "description": "Filter by execution status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of orders to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of orders to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "multisig_orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Order contract address"
                          },
                          "multisig_address": {
                            "type": "string",
                            "description": "Parent multisig wallet address"
                          },
                          "order_seqno": {
                            "type": "integer",
                            "description": "Order sequence number"
                          },
                          "threshold": {
                            "type": "integer",
                            "description": "Required signatures"
                          },
                          "signers_num": {
                            "type": "integer",
                            "description": "Total number of signers"
                          },
                          "approvals_num": {
                            "type": "integer",
                            "description": "Current approvals count"
                          },
                          "approvals": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of approving addresses"
                          },
                          "expiration_date": {
                            "type": "integer",
                            "description": "Order expiration timestamp"
                          },
                          "is_executed": {
                            "type": "boolean",
                            "description": "Whether order is executed"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
