{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/multisig/wallets": {
      "get": {
        "summary": "Get Multisig Wallets",
        "description": "Get multisig wallet contracts and their configuration",
        "operationId": "getMultisigWallets",
        "tags": [
          "Multisig"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Multisig wallet address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "proposer_address",
            "in": "query",
            "description": "Filter by proposer address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of wallets to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of wallets to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "multisig_wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Multisig wallet address"
                          },
                          "seqno": {
                            "type": "integer",
                            "description": "Current sequence number"
                          },
                          "threshold": {
                            "type": "integer",
                            "description": "Required number of signatures"
                          },
                          "signers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of signer addresses"
                          },
                          "proposers": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "List of proposer addresses"
                          },
                          "orders_count": {
                            "type": "integer",
                            "description": "Number of pending orders"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
