{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/masterchainBlockShardState": {
      "get": {
        "summary": "Get Masterchain Block Shard State",
        "description": "Retrieves the shard state of a specific masterchain block",
        "operationId": "getMasterchainBlockShardState",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "name": "seqno",
            "in": "query",
            "description": "The sequence number of the masterchain block",
            "required": true,
            "schema": {
              "type": "integer",
              "default": 40467413,
              "example": 40467413
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "shards": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "workchain": {
                            "type": "integer",
                            "description": "The workchain ID"
                          },
                          "shard": {
                            "type": "string",
                            "description": "The shard identifier"
                          },
                          "seqno": {
                            "type": "integer",
                            "description": "The sequence number of the shard block"
                          },
                          "root_hash": {
                            "type": "string",
                            "description": "The root hash of the shard block"
                          },
                          "file_hash": {
                            "type": "string",
                            "description": "The file hash of the shard block"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}