{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/nft/items": {
      "get": {
        "summary": "Get NFT Items",
        "description": "Retrieves a list of NFT items from the TON blockchain",
        "operationId": "getNFTItems",
        "tags": [
          "NFT"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "NFT item address in any form. Max: 1000.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "owner_address",
            "in": "query",
            "description": "Address of NFT item owner in any form. Max: 1000.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "collection_address",
            "in": "query",
            "description": "Collection address in any form",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Index of item for given collection. Max: 1000.",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort_by_last_transaction_lt",
            "in": "query",
            "description": "Sort NFT items by last transaction lt descending. Warning: results may be inconsistent during pagination with limit and offset.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of NFT items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of NFT items to skip before starting to return results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nft_items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": { "type": "string" },
                          "auction_contract_address": { "type": "string" },
                          "code_hash": { "type": "string" },
                          "collection": {
                            "type": "object",
                            "properties": {
                                "address": { "type": "string" },
                                "code_hash": { "type": "string" },
                                "collection_content": { "type": "object", "additionalProperties": {} },
                                "data_hash": { "type": "string" },
                                "last_transaction_lt": { "type": "string" },
                                "next_item_index": { "type": "string" },
                                "owner_address": { "type": "string" }
                            }
                          },
                          "collection_address": { "type": "string" },
                          "content": { "type": "object", "additionalProperties": {} },
                          "data_hash": { "type": "string" },
                          "index": { "type": "string" },
                          "init": { "type": "boolean" },
                          "last_transaction_lt": { "type": "string" },
                          "on_sale": { "type": "boolean" },
                          "owner_address": { "type": "string" },
                          "real_owner": { "type": "string" },
                          "sale_contract_address": { "type": "string" }
                        }
                      }
                    },
                    "address_book": {
                        "type": "object",
                        "additionalProperties": {}
                    },
                    "metadata": {
                        "type": "object",
                        "additionalProperties": {}
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
