{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/pendingTraces": {
      "get": {
        "summary": "Get Pending Traces",
        "description": "Get traces that are pending completion",
        "operationId": "getPendingTraces",
        "tags": [
          "Traces"
        ],
        "parameters": [
          {
            "name": "trace_id",
            "in": "query",
            "description": "Filter by trace ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of traces to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of traces to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trace_id": {
                            "type": "string",
                            "description": "Trace ID"
                          },
                          "external_hash": {
                            "type": "string",
                            "description": "External message hash"
                          },
                          "mc_seqno_start": {
                            "type": "integer",
                            "description": "Start masterchain sequence number"
                          },
                          "start_lt": {
                            "type": "integer",
                            "description": "Start logical time"
                          },
                          "start_utime": {
                            "type": "integer",
                            "description": "Start unix timestamp"
                          },
                          "state": {
                            "type": "string",
                            "description": "Trace state (pending)"
                          },
                          "pending_edges": {
                            "type": "integer",
                            "description": "Number of pending message edges"
                          },
                          "edges": {
                            "type": "integer",
                            "description": "Total edges"
                          },
                          "nodes": {
                            "type": "integer",
                            "description": "Total nodes"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
