{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/pendingTransactions": {
      "get": {
        "summary": "Get Pending Transactions",
        "description": "Get transactions that are pending finalization",
        "operationId": "getPendingTransactions",
        "tags": [
          "Transactions"
        ],
        "parameters": [
          {
            "name": "account",
            "in": "query",
            "description": "Filter by account address",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of transactions to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of transactions to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account": {
                            "type": "string",
                            "description": "Account address"
                          },
                          "hash": {
                            "type": "string",
                            "description": "Transaction hash"
                          },
                          "lt": {
                            "type": "integer",
                            "description": "Logical time"
                          },
                          "now": {
                            "type": "integer",
                            "description": "Unix timestamp"
                          },
                          "mc_block_seqno": {
                            "type": "integer",
                            "description": "Masterchain block sequence number"
                          },
                          "trace_id": {
                            "type": "string",
                            "description": "Associated trace ID"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
