{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/traces": {
      "get": {
        "summary": "Get Traces",
        "description": "Retrieves transaction traces by specified filters",
        "operationId": "getTraces",
        "tags": [
          "Traces"
        ],
        "parameters": [
          {
            "name": "trace_id",
            "in": "query",
            "description": "Trace ID to filter by",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tx_hash",
            "in": "query",
            "description": "Transaction hash to get traces for",
            "schema": {
              "type": "string",
              "default": "BhLJTdV2R6Vr5c3BAOjH8nFpnMYOuPcJvRlagGSKU88="
            }
          },
          {
            "name": "tx_lt",
            "in": "query",
            "description": "Transaction logical time",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of traces to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of traces to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "traces": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "trace_id": {
                            "type": "string",
                            "description": "Unique identifier for the trace"
                          },
                          "external_hash": {
                            "type": "string",
                            "description": "Hash of the external message that initiated the trace"
                          },
                          "mc_seqno_start": {
                            "type": "integer",
                            "description": "Masterchain sequence number at trace start"
                          },
                          "mc_seqno_end": {
                            "type": "integer",
                            "description": "Masterchain sequence number at trace end"
                          },
                          "start_lt": {
                            "type": "integer",
                            "description": "Logical time at trace start"
                          },
                          "start_utime": {
                            "type": "integer",
                            "description": "Unix timestamp at trace start"
                          },
                          "end_lt": {
                            "type": "integer",
                            "description": "Logical time at trace end"
                          },
                          "end_utime": {
                            "type": "integer",
                            "description": "Unix timestamp at trace end"
                          },
                          "state": {
                            "type": "string",
                            "description": "Current state of the trace"
                          },
                          "pending_edges": {
                            "type": "integer",
                            "description": "Number of pending message edges"
                          },
                          "edges": {
                            "type": "integer",
                            "description": "Total number of message edges"
                          },
                          "nodes": {
                            "type": "integer",
                            "description": "Total number of transaction nodes"
                          },
                          "classification_state": {
                            "type": "string",
                            "description": "Classification state of the trace"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping addresses to user-friendly names"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
