{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/topAccountsByBalance": {
      "get": {
        "summary": "Get Top Accounts by Balance",
        "description": "Get accounts with the highest TON balances",
        "operationId": "getTopAccountsByBalance",
        "tags": [
          "Statistics"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of accounts to return",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of accounts to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Account address"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Balance in nanotons"
                          },
                          "account_status": {
                            "type": "string",
                            "description": "Account status"
                          },
                          "last_activity": {
                            "type": "integer",
                            "description": "Last activity timestamp"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
