{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/transactions": {
      "get": {
        "summary": "Get Transactions",
        "description": "Retrieves a list of transactions from the TON blockchain",
        "operationId": "getTransactions",
        "tags": [
          "Blockchain"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of transactions to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 128
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The number of transactions to skip before starting to return results",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "The sorting order of the transactions",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hash": {
                            "type": "string",
                            "description": "The transaction hash"
                          },
                          "lt": {
                            "type": "string",
                            "description": "The logical time of the transaction"
                          },
                          "account": {
                            "type": "string",
                            "description": "The account address involved in the transaction"
                          },
                          "now": {
                            "type": "integer",
                            "description": "The timestamp of the transaction"
                          },
                          "origStatus": {
                            "type": "string",
                            "description": "The original status of the account"
                          },
                          "endStatus": {
                            "type": "string",
                            "description": "The end status of the account"
                          },
                          "totalFees": {
                            "type": "string",
                            "description": "The total fees for the transaction"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}