{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/walletStates": {
      "get": {
        "summary": "Get Wallet States",
        "description": "Query wallet states for addresses",
        "operationId": "getWalletStates",
        "tags": [
          "Accounts"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "Wallet address to query",
            "required": true,
            "schema": {
              "type": "string",
              "default": "EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of results",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of results to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Wallet address"
                          },
                          "is_wallet": {
                            "type": "boolean",
                            "description": "Whether address is a wallet contract"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Balance in nanotons"
                          },
                          "status": {
                            "type": "string",
                            "description": "Account status"
                          },
                          "code_hash": {
                            "type": "string",
                            "description": "Code cell hash"
                          },
                          "last_transaction_hash": {
                            "type": "string",
                            "description": "Last transaction hash"
                          },
                          "last_transaction_lt": {
                            "type": "string",
                            "description": "Last transaction logical time"
                          }
                        }
                      }
                    },
                    "address_book": {
                      "type": "object",
                      "description": "Address book mapping"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
