{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/wallet": {
      "get": {
        "summary": "Get Wallet Information",
        "description": "Retrieves information about a specific wallet on the TON blockchain",
        "operationId": "getWalletInfo",
        "tags": [
          "Wallet"
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The address of the wallet to retrieve information for",
            "required": true,
            "schema": {
              "type": "string",
              "default": "0QAvTjjA5ZBbHN3a-SYnO1qvzlgNx09OC2bhYBPAbfs3S6q7"
            },
            "example": "0QAvTjjA5ZBbHN3a-SYnO1qvzlgNx09OC2bhYBPAbfs3S6q7"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "boolean",
                      "description": "Indicates if the address is a wallet"
                    },
                    "balance": {
                      "type": "string",
                      "description": "The balance of the wallet in nanotons"
                    },
                    "account_state": {
                      "type": "string",
                      "description": "The state of the account (e.g., active, uninitialized)"
                    },
                    "wallet_type": {
                      "type": "string",
                      "description": "The type of the wallet contract"
                    },
                    "seqno": {
                      "type": "integer",
                      "description": "The current sequence number of the wallet"
                    },
                    "last_transaction_lt": {
                      "type": "string",
                      "description": "The logical time of the last transaction"
                    },
                    "last_transaction_hash": {
                      "type": "string",
                      "description": "The hash of the last transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}