{
  "openapi": "3.0.0",
  "info": {
    "title": "TON API",
    "version": "3.0.0",
    "description": "API for interacting with The Open Network (TON) blockchain"
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v3"
    }
  ],
  "paths": {
    "/runGetMethod": {
      "post": {
        "summary": "Run Get Method",
        "description": "Executes a get method on a smart contract in the TON blockchain",
        "operationId": "runGetMethod",
        "tags": [
          "SmartContract"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The address of the smart contract",
                    "default": "EQBSzBN6cnxDwDjn_IQXqgU8OJXUMcol9pxyL-yLkpKzYs9U"
                  },
                  "method": {
                    "type": "string",
                    "description": "The name of the get method to execute",
                    "default": "seqno"
                  },
                  "stack": {
                    "type": "array",
                    "description": "The stack of parameters for the method",
                    "default": [
                      {
                        "type": "num",
                        "value": "0x12a"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "The type of the stack item"
                        },
                        "value": {
                          "type": "string",
                          "description": "The value of the stack item"
                        }
                      }
                    }
                  }
                },
                "required": [
                  "address",
                  "method"
                ]
              },
              "example": {
                "address": "EQBSzBN6cnxDwDjn_IQXqgU8OJXUMcol9pxyL-yLkpKzYs9U",
                "method": "seqno",
                "stack": [
                  {
                    "type": "num",
                    "value": "0x12a"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exitCode": {
                      "type": "integer",
                      "description": "The exit code of the method execution"
                    },
                    "gasUsed": {
                      "type": "integer",
                      "description": "The amount of gas used for the execution"
                    },
                    "stack": {
                      "type": "array",
                      "description": "The resulting stack after method execution",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "description": "The type of the stack item"
                          },
                          "value": {
                            "type": "string",
                            "description": "The value of the stack item"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}