{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://nd-000-364-211.p2pify.com"
    }
  ],
  "paths": {
    "/5b8d22690a57f293b3a1ed8758014e35": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_getTransactionByBlockHashAndIndex",
        "operationId": "getTransactionByBlockHashAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionByBlockHashAndIndex"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block hash"
                        },
                        {
                          "type": "string",
                          "title": "Transaction index"
                        }
                      ]
                    },
                    "default": [
                      "0x612ff23cfed82cdd1657c1f8ba3de1042ae675865532bc5e1f296aa91154d250",
                      "0x2"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}