{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://arbitrum-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/249360a6043e7e070377eb6f345f5573": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_simulateV1",
        "operationId": "simulateV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_simulateV1"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "blockStateCalls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "calls": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "from": {
                                          "type": "string",
                                          "title": "Sender address"
                                        },
                                        "to": {
                                          "type": "string",
                                          "title": "Recipient address"
                                        },
                                        "gas": {
                                          "type": "string",
                                          "title": "Gas limit"
                                        },
                                        "maxFeePerGas": {
                                          "type": "string",
                                          "title": "Maximum fee per gas"
                                        },
                                        "maxPriorityFeePerGas": {
                                          "type": "string",
                                          "title": "Maximum priority fee per gas"
                                        },
                                        "value": {
                                          "type": "string",
                                          "title": "Transaction value"
                                        },
                                        "data": {
                                          "type": "string",
                                          "title": "Transaction data"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "validation": {
                              "type": "boolean",
                              "title": "Validate transaction"
                            },
                            "traceTransfers": {
                              "type": "boolean",
                              "title": "Trace token transfers"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "title": "Block parameter"
                        }
                      ]
                    },
                    "default": [
                      {
                        "blockStateCalls": [
                          {
                            "calls": [
                              {
                                "from": "0x000000000000000000000000000000000000dEaD",
                                "to": "0x000000000000000000000000000000000000bEEF",
                                "gas": "0x1d4c0",
                                "maxFeePerGas": "0x59682f00",
                                "maxPriorityFeePerGas": "0x0",
                                "value": "0x0",
                                "data": "0x"
                              }
                            ]
                          }
                        ],
                        "validation": true,
                        "traceTransfers": true
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The simulation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
} 