{
  "openapi": "3.0.0",
  "info": {
    "title": "starknet",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://starknet-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/365cf697a3ad6d950b4c4a911e2e4f4d": {
      "post": {
        "summary": "starknet_traceBlockTransactions",
        "description": "starknet_traceBlockTransactions",
        "operationId": "starknetTraceBlockTransactions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "starknet_traceBlockTransactions"
                  },
                  "params": {
                    "type": "object",
                    "properties": {
                      "block_id": {
                        "type": "object",
                        "properties": {
                          "block_number": {
                            "type": "integer",
                            "default": 456600
                          }
                        }
                      }
                    }
                  }
                },
                "default": {
                  "id": 1,
                  "jsonrpc": "2.0",
                  "method": "starknet_traceBlockTransactions",
                  "params": {
                    "block_id": {
                      "block_number": 456600
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}