{
  "openapi": "3.0.0",
  "info": {
    "title": "starknet",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://starknet-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/365cf697a3ad6d950b4c4a911e2e4f4d": {
      "post": {
        "summary": "starknet_getStorageAt",
        "description": "starknet_getStorageAt",
        "operationId": "starknetGetStorageAt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "starknet_getStorageAt"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0x00dA114221cb83fa859DBdb4C44bEeaa0BB37C7537ad5ae66Fe5e0efD20E6eB3",
                      "0x2de7ac669936cc3b4e9784ff23826dc9056c74d54d3f41f1b0d28b36966369e",
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}