{
  "openapi": "3.0.0",
  "info": {
    "title": "starknet",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://starknet-mainnet.core.chainstack.com"
    }
  ],
  "components": {
    "schemas": {
      "FELT": {
        "type": "string",
        "title": "Field element",
        "description": "A field element. represented by at most 63 hex digits",
        "pattern": "^0x(0|[a-fA-F1-9]{1}[a-fA-F0-9]{0,62})$"
      }
    }
  },
  "paths": {
    "/365cf697a3ad6d950b4c4a911e2e4f4d": {
      "post": {
        "summary": "starknet_estimateMessageFee",
        "description": "starknet_estimateMessageFee",
        "operationId": "starknetEstimateMessageFee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "jsonrpc": {
                    "type": "string"
                  },
                  "method": {
                    "type": "string"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "from_address": {
                              "type": "string"
                            },
                            "to_address": {
                              "type": "string"
                            },
                            "entry_point_selector": {
                              "type": "string"
                            },
                            "payload": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/FELT"
                              }
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "block_number": {
                              "type": "integer"
                            }
                          }
                        }
                      ]
                    }
                  }
                },
                "default": {
                  "id": 0,
                  "jsonrpc": "2.0",
                  "method": "starknet_estimateMessageFee",
                  "params": [
                    {
                      "from_address": "0xae0ee0a63a2ce6baeeffe56e7714fb4efe48d419",
                      "to_address": "0x073314940630fd6dcda0d772d4c972c4e0a9946bef9dabf4ef84eda8ef542b82",
                      "entry_point_selector": "0x02d757788a8d8d6f21d1cd40bce38a8222d70654214e96ff95d8086e684fbee5",
                      "payload": [
                        "0x1cf4ca56a4841f8a7d39d22d5369434f74e480b370be7bc5a814384b758e604",
                        "0x6a94d74f430000",
                        "0x0"
                      ]
                    },
                    {
                      "block_number": 387702
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}