{
  "openapi": "3.0.0",
  "info": {
    "title": "starknet",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://starknet-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/365cf697a3ad6d950b4c4a911e2e4f4d": {
      "post": {
        "summary": "starknet_getTransactionByHash",
        "description": "starknet_getTransactionByHash",
        "operationId": "starknetGetTransactionByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "starknet_getTransactionByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0x295ee040949bd23a4bba5d5fa0d9d776c3b1fc7cafd511d025e689e665d05b2"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}