{
  "openapi": "3.0.0",
  "info": {
    "title": "starknet",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://starknet-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/365cf697a3ad6d950b4c4a911e2e4f4d": {
      "post": {
        "summary": "starknet_getNonce",
        "description": "starknet_getNonce",
        "operationId": "starknetGetNonce",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "starknet_getNonce"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "block_number": {
                              "type": "integer",
                              "default": 385940
                            }
                          }
                        },
                        {
                          "type": "string",
                          "default": "0x0569b13e8164bc8000c0bbcf4887856516643af123c5bc3b01e229e92f9cfd10"
                        }
                      ]
                    }
                  }
                },
                "default": {
                  "id": 1,
                  "jsonrpc": "2.0",
                  "method": "starknet_getNonce",
                  "params": [
                    {
                      "block_number": 385940
                    },
                    "0x0569b13e8164bc8000c0bbcf4887856516643af123c5bc3b01e229e92f9cfd10"
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}