{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_feeHistory",
                "operationId": "eth_feeHistory",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_feeHistory"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x4",
                                            "latest",
                                            [
                                                25,
                                                75
                                            ]
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_feeHistory.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "baseFeePerGas": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "gasUsedRatio": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "number"
                                                    }
                                                },
                                                "baseFeePerBlobGas": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "blobGasUsedRatio": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "number"
                                                    }
                                                },
                                                "oldestBlock": {
                                                    "type": "string"
                                                },
                                                "reward": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "baseFeePerGas": [
                                            "0x4a817c800",
                                            "0x4a817c800",
                                            "0x4a817c800",
                                            "0x4a817c800",
                                            "0x4a817c800"
                                        ],
                                        "gasUsedRatio": [
                                            0.19888936666666668,
                                            0.019040333333333333,
                                            0.03178106666666667,
                                            0.20058356666666666
                                        ],
                                        "baseFeePerBlobGas": [
                                            "0x1",
                                            "0x1",
                                            "0x1",
                                            "0x1",
                                            "0x1"
                                        ],
                                        "blobGasUsedRatio": [
                                            0.0,
                                            0.0,
                                            0.0,
                                            0.0
                                        ],
                                        "oldestBlock": "0x3480a5f",
                                        "reward": [
                                            [
                                                "0x8f0d1800",
                                                "0xaba95000"
                                            ],
                                            [
                                                "0x8f0d1800",
                                                "0x19a147800"
                                            ],
                                            [
                                                "0x59682f00",
                                                "0x8f0d1800"
                                            ],
                                            [
                                                "0x8f0d1800",
                                                "0x32a9f8800"
                                            ]
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}