{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getLogs Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getLogs for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Logs and events"
        ],
        "summary": "eth_getLogs",
        "operationId": "tempo-eth-getLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getLogs"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      {
                        "fromBlock": "latest",
                        "toBlock": "latest",
                        "address": "0x20c0000000000000000000000000000000000000",
                        "topics": []
                      }
                    ],
                    "description": "Filter object with fromBlock, toBlock, address, and topics"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of log objects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of log objects matching the filter"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
