{
  "openapi": "3.0.0",
  "info": {
    "title": "Faucet API",
    "version": "1.0.0",
    "description": "This is an API for interacting with the Chainstack Faucet."
  },
  "servers": [
    {
      "url": "https://api.chainstack.com"
    }
  ],
  "paths": {
    "/v1/faucet/{chain}": {
      "post": {
        "tags": [
          "faucet"
        ],
        "summary": "Request funds",
        "operationId": "requestFunds",
        "parameters": [
          {
            "name": "chain",
            "in": "path",
            "description": "Chainstack Faucet API.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "sepolia",
                "holesky",
                "bnb-testnet",
                "zksync-testnet",
                "scroll-sepolia-testnet",
                "amoy"
              ],
              "default": null
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The recipient address.",
                    "example": "0x06f0aB63eD883C61b9e4447fCbD9603dfC189662"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Funds successfully sent."
          },
          "400": {
            "description": "Address is not valid."
          },
          "401": {
            "description": "Unauthorized access, invalid API key."
          },
          "429": {
            "description": "Too many requests or balance exceeded."
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}