{
  "openapi": "3.0.0",
  "info": {
    "title": "API Example2",
    "version": "1.2.0"
  },
  "servers": [
    {
      "url": "https://nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getBlockByHash",
        "operationId": "getBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "example": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "example": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "example": "eth_getBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block Hash",
                          "description": "The hash identifying the block."
                        },
                        {
                          "type": "boolean",
                          "title": "Transaction selector",
                          "description": "True for the full transactions, false for only the transaction hashes."
                        }
                      ]
                    },
                    "default": [
                      "0x633a90413361fe1889d1e5ab4cb222608d224c458b30289b8390496a3fab29d8",
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}