{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Ethereum node."
  },
  "servers": [
    {
      "url": "https://nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7": {
      "post": {
        "tags": [
          "Blocks info"
        ],
        "summary": "eth_getBlockTransactionCountByNumber",
        "operationId": "getBlockTransactionCountByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByNumber"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Block identifier",
                      "description": "The block number or tag."
                    },
                    "default": [
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block transaction count information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}