{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_getModifiedAccountsByNumber example",
    "version": "1.0.0",
    "description": "This is an API example for debug_getModifiedAccountsByNumber, a method to retrieve a list of accounts  modified between two block numbers."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Debug Operations"
        ],
        "summary": "debug_getModifiedAccountsByNumber",
        "operationId": "getModifiedAccountsByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_getModifiedAccountsByNumber"
                  },
                  "id": {
                    "type": "string",
                    "default": "1"
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x6eee4bc",
                      "0x6eee4bd"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of accounts modified between the two block numbers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "The addresses of the modified accounts."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}