{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_traceCallMany example",
    "version": "1.0.0",
    "description": "This API example demonstrates how to use the debug_traceCallMany method to execute multiple calls and  retrieve detailed execution traces of those calls, similar to transactions but without creating transactions on the  blockchain."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Debug Operations"
        ],
        "summary": "Execute multiple calls and retrieve detailed execution traces",
        "operationId": "traceCallMany",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCallMany"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters for the call",
                    "default": [
                      [
                        {
                          "transactions": [
                            {
                              "from": "0xacD03D601e5bB1B275Bb94076fF46ED9D753435A",
                              "to": "0x94b008aA00579c1307B0EF2c499aD98a8ce58e58",
                              "gas": "0xf4240",
                              "gasPrice": "0x7896e72a",
                              "data": "0xa9059cbb000000000000000000000000bc0E63965946815d105E7591407704e6e1964E590000000000000000000000000000000000000000000000000000000005f5e100"
                            },
                            {
                              "to": "0x94b008aA00579c1307B0EF2c499aD98a8ce58e58",
                              "gasPrice": "0x7896e72a",
                              "data": "0x70a08231000000000000000000000000bc0E63965946815d105E7591407704e6e1964E59"
                            }
                          ],
                          "blockOverride": {
                            "blockNumber": "0x6eee101"
                          }
                        }
                      ],
                      {
                        "blockNumber": "0x6eee101",
                        "transactionIndex": 1
                      },
                      {}
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed execution traces of the calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "structLogs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "pc": {
                                  "type": "integer"
                                },
                                "op": {
                                  "type": "string"
                                },
                                "gas": {
                                  "type": "integer"
                                },
                                "gasCost": {
                                  "type": "integer"
                                },
                                "depth": {
                                  "type": "integer"
                                },
                                "stack": {
                                  "type": "array"
                                },
                                "memory": {
                                  "type": "array"
                                }
                              }
                            }
                          },
                          "gas": {
                            "type": "integer"
                          },
                          "returnValue": {
                            "type": "string"
                          },
                          "gasUsed": {
                            "type": "integer"
                          },
                          "failed": {
                            "type": "boolean"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}