{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_storageRangeAt example",
    "version": "1.0.0",
    "description": "This API example demonstrates how to use the debug_storageRangeAt method to retrieve storage at a specific  point in a block."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Debug Operations"
        ],
        "summary": "debug_storageRangeAt",
        "operationId": "getStorageRangeAt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_storageRangeAt"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ]
                    },
                    "default": [
                      "0x00e80e42fdb4bc373a520c376091421452d26c57e67615f27a7d0fc8e47f1853",
                      5,
                      "0x94b008aA00579c1307B0EF2c499aD98a8ce58e58",
                      "0x00000000000000000000000000000000",
                      2
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Storage data for the specified range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "storage": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "complete": {
                          "type": "boolean"
                        }
                      },
                      "description": "The storage entries and a flag indicating if the storage is complete."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}