{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_newPendingTransactionFilter example",
    "version": "1.0.0",
    "description": "This is an API example for eth_newPendingTransactionFilter, a method to create a new filter object that notifies when new pending transactions enter the transaction pool."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_newPendingTransactionFilter",
        "operationId": "newPendingTransactionFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newPendingTransactionFilter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ID of the created pending transaction filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
