{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getRawTransactionByBlockNumberAndIndex example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getRawTransactionByBlockNumberAndIndex, a method to get the raw transaction  data for a transaction in a specific block identified by block number and transaction index."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getRawTransactionByBlockNumberAndIndex",
        "operationId": "getRawTransactionByBlockNumberAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getRawTransactionByBlockNumberAndIndex"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x6ecf0b4",
                      "0x1"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Raw transaction data for the given block number and index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}