{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getLogs example with specified values",
    "version": "1.0.0",
    "description": "This is an API example for eth_getLogs, a method to retrieve logs matching given criteria."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getLogs",
        "operationId": "getLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getLogs"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "fromBlock": "latest",
                        "address": "0x350a791Bfc2C21F9Ed5d10980Dad2e2638ffa7f6",
                        "topics": [
                          "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "fromBlock": {
                          "type": "string"
                        },
                        "address": {
                          "type": "string"
                        },
                        "topics": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Logs matching the criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "removed": {
                            "type": "boolean"
                          },
                          "logIndex": {
                            "type": "string"
                          },
                          "transactionIndex": {
                            "type": "string"
                          },
                          "transactionHash": {
                            "type": "string"
                          },
                          "blockHash": {
                            "type": "string"
                          },
                          "blockNumber": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}