{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_syncing example",
    "version": "1.0.0",
    "description": "This is an API example for eth_syncing, a method to check if the node is currently syncing with the  blockchain."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_syncing",
        "operationId": "syncing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_syncing"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Syncing status of the node",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "startingBlock": {
                          "type": "string"
                        },
                        "currentBlock": {
                          "type": "string"
                        },
                        "highestBlock": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "startingBlock",
                        "currentBlock",
                        "highestBlock"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}