{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_call example",
    "version": "1.0.0",
    "description": "This is an API example for eth_call, a method to execute a new message call immediately without creating a  transaction on the block chain."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_call",
        "operationId": "call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "string",
                              "default": "0xC7846d1bc4d8bcF7c45a7c998b77cE9B3c904365"
                            },
                            "data": {
                              "type": "string",
                              "default": "0x1526fe270000000000000000000000000000000000000000000000000000000000000001"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "default": "latest"
                        }
                      ]
                    },
                    "default": [
                      {
                        "to": "0xC7846d1bc4d8bcF7c45a7c998b77cE9B3c904365",
                        "data": "0x1526fe270000000000000000000000000000000000000000000000000000000000000001"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the call",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}