{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_newBlockFilter example",
    "version": "1.0.0",
    "description": "This is an API example for eth_newBlockFilter, a method to create a new filter object that notifies when a  new block is added to the blockchain."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_newBlockFilter",
        "operationId": "newBlockFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newBlockFilter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ID of the created block filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}