{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getTransactionByBlockNumberAndIndex example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getTransactionByBlockNumberAndIndex, a method to get transaction information  by block number and transaction index position."
  },
  "servers": [
    {
      "url": "https://optimism-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/efb0a5eccd2caa5135eb54eba6f7f300": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getTransactionByBlockNumberAndIndex",
        "operationId": "getTransactionByBlockNumberAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionByBlockNumberAndIndex"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x6ecf0b4",
                      "0x1"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction information for the given block number and index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "blockHash": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string"
                        },
                        "gas": {
                          "type": "string"
                        },
                        "gasPrice": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "input": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "transactionIndex": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "v": {
                          "type": "string"
                        },
                        "r": {
                          "type": "string"
                        },
                        "s": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}