{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_getTransactionByHash",
                "operationId": "eth_getTransactionByHash",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_getTransactionByHash"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_getTransactionByHash.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "chainId": {
                                                    "type": "string"
                                                },
                                                "nonce": {
                                                    "type": "string"
                                                },
                                                "gasPrice": {
                                                    "type": "string"
                                                },
                                                "gas": {
                                                    "type": "string"
                                                },
                                                "to": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "input": {
                                                    "type": "string"
                                                },
                                                "r": {
                                                    "type": "string"
                                                },
                                                "s": {
                                                    "type": "string"
                                                },
                                                "v": {
                                                    "type": "string"
                                                },
                                                "hash": {
                                                    "type": "string"
                                                },
                                                "blockHash": {
                                                    "type": "string"
                                                },
                                                "blockNumber": {
                                                    "type": "string"
                                                },
                                                "transactionIndex": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "type": "0x0",
                                        "chainId": "0x4cef52",
                                        "nonce": "0x4",
                                        "gasPrice": "0x53724e000",
                                        "gas": "0x927c0",
                                        "to": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                        "value": "0x0",
                                        "input": "0xb61d27f60000000000000000000000001ff9c167b50d05910ffdadb82d3d2da4508330ca0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000040a617bee00000000000000000000000000000000000000000000000000000000",
                                        "r": "0x90ad8b5cd38ec2759cba501be2e953c738142f535800f8c1e9e25a97fec1a7d3",
                                        "s": "0x78c101e63dba589c48042e38bc3a458d2e4a01d0285a0ede2e114a9c690a3ebd",
                                        "v": "0x99dec7",
                                        "hash": "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2",
                                        "blockHash": "0xa86891cc8ae2e3efe67b21e24f8f852e76a0875892e9e8c9a4c77aab8e2761cc",
                                        "blockNumber": "0x3480c62",
                                        "transactionIndex": "0x0",
                                        "from": "0x19d7cf8ea0ce468417d1eda365a222a9dcbc7d27"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}