{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_getTransactionReceipt",
                "operationId": "eth_getTransactionReceipt",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_getTransactionReceipt"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_getTransactionReceipt.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "string"
                                                },
                                                "cumulativeGasUsed": {
                                                    "type": "string"
                                                },
                                                "logs": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "logsBloom": {
                                                    "type": "string"
                                                },
                                                "transactionHash": {
                                                    "type": "string"
                                                },
                                                "transactionIndex": {
                                                    "type": "string"
                                                },
                                                "blockHash": {
                                                    "type": "string"
                                                },
                                                "blockNumber": {
                                                    "type": "string"
                                                },
                                                "gasUsed": {
                                                    "type": "string"
                                                },
                                                "effectiveGasPrice": {
                                                    "type": "string"
                                                },
                                                "from": {
                                                    "type": "string"
                                                },
                                                "to": {
                                                    "type": "string"
                                                },
                                                "contractAddress": {
                                                    "type": "object",
                                                    "nullable": true
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "type": "0x0",
                                        "status": "0x0",
                                        "cumulativeGasUsed": "0xc550",
                                        "logs": [],
                                        "logsBloom": "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                                        "transactionHash": "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2",
                                        "transactionIndex": "0x0",
                                        "blockHash": "0xa86891cc8ae2e3efe67b21e24f8f852e76a0875892e9e8c9a4c77aab8e2761cc",
                                        "blockNumber": "0x3480c62",
                                        "gasUsed": "0xc550",
                                        "effectiveGasPrice": "0x53724e000",
                                        "from": "0x19d7cf8ea0ce468417d1eda365a222a9dcbc7d27",
                                        "to": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                        "contractAddress": null
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}