{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_newFilter Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_newFilter for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Filter handling"
        ],
        "summary": "eth_newFilter",
        "operationId": "tempo-eth-newFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newFilter"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      {
                        "fromBlock": "latest",
                        "toBlock": "latest",
                        "address": "0x20c0000000000000000000000000000000000000",
                        "topics": []
                      }
                    ],
                    "description": "Filter object"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The filter ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The filter ID"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
