{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getFilterChanges Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getFilterChanges for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.testnet.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Filter handling"
        ],
        "summary": "eth_getFilterChanges",
        "operationId": "tempo-eth-getFilterChanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getFilterChanges"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0x..."],
                    "description": "Filter ID"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filter changes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {},
                      "description": "Array of log objects or block hashes depending on filter type"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
