{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_uninstallFilter Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_uninstallFilter for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.testnet.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Filter handling"
        ],
        "summary": "eth_uninstallFilter",
        "operationId": "tempo-eth-uninstallFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_uninstallFilter"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0x..."],
                    "description": "Filter ID to uninstall"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Uninstall status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "true if the filter was successfully uninstalled"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
