{
  "openapi": "3.0.0",
  "info": {
    "title": "bor_getCurrentProposer example",
    "version": "1.0.0",
    "description": "Get the address of the current block proposer."
  },
  "servers": [
    {
      "url": "https://nd-828-700-214.p2pify.com"
    }
  ],
  "paths": {
    "/a9bca2f0f84b54086ceebe590316fff3": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "bor_getCurrentProposer",
        "operationId": "bor_getCurrentProposer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "bor_getCurrentProposer"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}