{
  "openapi": "3.0.0",
  "info": {"title": "Monad Node API", "version": "1.0.0", "description": "This is an API for interacting with a Monad node."},
  "servers": [{"url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"}],
  "paths": {
    "/": {
      "post": {
        "tags": ["Executing transactions"],
        "summary": "eth_createAccessList",
        "operationId": "eth_createAccessList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {"type": "integer", "default": 1},
                  "jsonrpc": {"type": "string", "default": "2.0"},
                  "method": {"type": "string", "default": "eth_createAccessList"},
                  "params": {
                    "type": "array",
                    "default": [{"to": "0x0000000000000000000000000000000000000000", "data": "0x"}, "latest"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The access list and estimated gas.",
            "content": {"application/json": {"schema": {"type": "object", "properties": {"jsonrpc": {"type": "string"}, "id": {"type": "integer"}, "result": {"type": "object"}}}}}
          }
        }
      }
    }
  },
  "x-readme": {"explorer-enabled": true, "proxy-enabled": true}
}
