{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Executing transactions"
        ],
        "summary": "eth_simulateV1",
        "operationId": "eth_simulateV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_simulateV1"
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "blockStateCalls": [
                          {
                            "stateOverrides": {
                              "0x5d20879655df3c1e04ab111af0009ad650e762f0": {
                                "balance": "0x56bc75e2d63100000"
                              }
                            },
                            "calls": [
                              {
                                "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                "to": "0x000000000000000000000000000000000000dEaD",
                                "gas": "0x5208",
                                "value": "0xde0b6b3a7640000"
                              }
                            ]
                          }
                        ],
                        "traceTransfers": true
                      },
                      "latest"
                    ],
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "title": "Simulation config",
                          "description": "The simulation request: blockStateCalls, and optionally traceTransfers and validation."
                        },
                        {
                          "type": "string",
                          "title": "Block",
                          "description": "Block number in hex, block hash, or tag (latest, safe, finalized, pending)."
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "One object per simulated block, each with the block header fields and the results of its calls.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hash": {
                            "type": "string"
                          },
                          "parentHash": {
                            "type": "string"
                          },
                          "sha3Uncles": {
                            "type": "string"
                          },
                          "miner": {
                            "type": "string"
                          },
                          "stateRoot": {
                            "type": "string"
                          },
                          "transactionsRoot": {
                            "type": "string"
                          },
                          "receiptsRoot": {
                            "type": "string"
                          },
                          "logsBloom": {
                            "type": "string"
                          },
                          "difficulty": {
                            "type": "string"
                          },
                          "number": {
                            "type": "string"
                          },
                          "gasLimit": {
                            "type": "string"
                          },
                          "gasUsed": {
                            "type": "string"
                          },
                          "timestamp": {
                            "type": "string"
                          },
                          "extraData": {
                            "type": "string"
                          },
                          "mixHash": {
                            "type": "string"
                          },
                          "nonce": {
                            "type": "string"
                          },
                          "baseFeePerGas": {
                            "type": "string"
                          },
                          "withdrawalsRoot": {
                            "type": "string"
                          },
                          "size": {
                            "type": "string"
                          },
                          "uncles": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "transactions": {
                            "type": "array",
                            "description": "Hashes of the simulated transactions.",
                            "items": {
                              "type": "string"
                            }
                          },
                          "withdrawals": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "calls": {
                            "type": "array",
                            "description": "One result per simulated call, in order.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "description": "0x1 if the call succeeded, 0x0 if it failed."
                                },
                                "returnData": {
                                  "type": "string",
                                  "description": "Data returned by the call."
                                },
                                "gasUsed": {
                                  "type": "string",
                                  "description": "Gas charged for the call. On Monad, this equals the gas limit of the call."
                                },
                                "logs": {
                                  "type": "array",
                                  "description": "Logs emitted by the call. With traceTransfers, native MON transfers appear as Transfer logs from 0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee.",
                                  "items": {
                                    "type": "object"
                                  }
                                },
                                "error": {
                                  "type": "object",
                                  "description": "Present when the call failed.",
                                  "properties": {
                                    "message": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    {
                      "hash": "0x08056c21a4289203c987a823e9f79648efd5014b47b4157a7e3b7a0c751725bd",
                      "size": "0x274",
                      "calls": [
                        {
                          "logs": [
                            {
                              "data": "0x0000000000000000000000000000000000000000000000000de0b6b3a7640000",
                              "topics": [
                                "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef",
                                "0x0000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0",
                                "0x000000000000000000000000000000000000000000000000000000000000dead"
                              ],
                              "address": "0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
                              "removed": false,
                              "logIndex": "0x0",
                              "blockHash": "0x08056c21a4289203c987a823e9f79648efd5014b47b4157a7e3b7a0c751725bd",
                              "blockNumber": "0x3f04c1c",
                              "transactionHash": "0x5e525a3eaa89d73043aa8bc45d09b5b47ee210dc62457f6b0bd41058eb5e118b",
                              "transactionIndex": "0x0"
                            }
                          ],
                          "status": "0x1",
                          "gasUsed": "0x5208",
                          "returnData": "0x"
                        }
                      ],
                      "miner": "0xa63dd8fc7303bdd6cd66a66a49d4171146f89809",
                      "nonce": "0x0000000000000000",
                      "number": "0x3f04c1c",
                      "uncles": [],
                      "gasUsed": "0x5208",
                      "mixHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                      "gasLimit": "0x8f0d180",
                      "extraData": "0x",
                      "logsBloom": "0x00000000000050000000000004000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000008000000000000000000040000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000040000000402000000000000000000000000000000000000004000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                      "stateRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421",
                      "timestamp": "0x6ab8d06a",
                      "difficulty": "0x0",
                      "parentHash": "0xd0e7e290eab315e8cc182e7aa156d504fb8a1e003abe238be2106a81e1751bc8",
                      "sha3Uncles": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347",
                      "withdrawals": [],
                      "receiptsRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421",
                      "transactions": [
                        "0x5e525a3eaa89d73043aa8bc45d09b5b47ee210dc62457f6b0bd41058eb5e118b"
                      ],
                      "baseFeePerGas": "0x0",
                      "withdrawalsRoot": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470",
                      "transactionsRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
