{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Executing transactions"
        ],
        "summary": "eth_call",
        "operationId": "eth_call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "string"
                            },
                            "data": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "default": [{"to": "0xFb8bf4c1CC7a94c73D209a149eA2AbEa852BC541", "data": "0x06fdde03"}, "latest"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The return value of the executed contract call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
