{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_simulateV1 API",
    "version": "1.0.0",
    "description": "API for simulating Ethereum transactions"
  },
  "servers": [
    {
      "url": "https://ethereum-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2f6d649e68c2f861fecd5b8a9e35139e": {
      "post": {
        "summary": "eth_simulateV1",
        "operationId": "simulateV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_simulateV1"
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "blockStateCalls": [
                          {
                            "blockOverrides": {
                              "baseFeePerGas": "0x9"
                            },
                            "stateOverrides": {
                              "0xc000000000000000000000000000000000000000": {
                                "balance": "0x4a817c800"
                              }
                            },
                            "calls": [
                              {
                                "from": "0xc000000000000000000000000000000000000000",
                                "to": "0xc000000000000000000000000000000000000001",
                                "maxFeePerGas": "0xf",
                                "value": "0x1"
                              },
                              {
                                "from": "0xc000000000000000000000000000000000000000",
                                "to": "0xc000000000000000000000000000000000000002",
                                "maxFeePerGas": "0xf",
                                "value": "0x1"
                              }
                            ]
                          }
                        ],
                        "validation": true,
                        "traceTransfers": true
                      },
                      "latest"
                    ],
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "blockStateCalls": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "blockOverrides": {
                                    "type": "object",
                                    "properties": {
                                      "baseFeePerGas": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "stateOverrides": {
                                    "type": "object",
                                    "additionalProperties": {
                                      "type": "object",
                                      "properties": {
                                        "balance": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  },
                                  "calls": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "from": {
                                          "type": "string"
                                        },
                                        "to": {
                                          "type": "string"
                                        },
                                        "maxFeePerGas": {
                                          "type": "string"
                                        },
                                        "value": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "validation": {
                              "type": "boolean"
                            },
                            "traceTransfers": {
                              "type": "boolean"
                            }
                          }
                        },
                        {
                          "type": "string"
                        }
                      ]
                    }
                  }
                },
                "required": [
                  "jsonrpc",
                  "id",
                  "method",
                  "params"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}