{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Debug Heads API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://ethereum-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/beacon/2f6d649e68c2f861fecd5b8a9e35139e/eth/v2/debug/beacon/heads": {
      "get": {
        "summary": "Get fork choice leaves",
        "operationId": "getDebugBeaconHeadsV2",
        "description": "Retrieves all possible chain heads (leaves of fork choice tree). This endpoint provides insight into the current fork choice state by returning all potential chain heads that the beacon node is tracking.",
        "tags": [
          "Debug"
        ],
        "responses": {
          "200": {
            "description": "Success - Fork choice leaves retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDebugChainHeadsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GetDebugChainHeadsResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of all chain heads (fork choice leaves)",
            "items": {
              "$ref": "#/components/schemas/ChainHead"
            }
          }
        }
      },
      "ChainHead": {
        "type": "object",
        "required": [
          "root",
          "slot",
          "execution_optimistic"
        ],
        "properties": {
          "root": {
            "type": "string",
            "format": "hex",
            "example": "0xcf8e0d4e9587369b2301d0790347320302cc0943d5a1884560367e8208d920f2",
            "pattern": "^0x[a-fA-F0-9]{64}$",
            "description": "The block root of this chain head"
          },
          "slot": {
            "type": "string",
            "example": "1",
            "description": "The slot number of this chain head"
          },
          "execution_optimistic": {
            "type": "boolean",
            "example": false,
            "description": "True if this head references an unverified execution payload. Optimistic information may be invalidated at a later time."
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32",
            "example": 500
          },
          "message": {
            "type": "string",
            "example": "Internal server error"
          },
          "stacktraces": {
            "type": "array",
            "description": "Optional stacktraces, sent when node is in debug mode",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}