{
  "openapi": "3.0.0",
  "info": {
    "title": "Cronos Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Cronos node."
  },
  "servers": [
    {
      "url": "https://nd-907-114-772.p2pify.com"
    }
  ],
  "paths": {
    "/b9b0fb92029d58b396139a9e89cf479b": {
      "post": {
        "summary": "eth_newBlockFilter",
        "operationId": "newBlockFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newBlockFilter"
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new filter ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}