{
  "openapi": "3.0.0",
  "info": {
    "title": "Cronos Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Cronos node."
  },
  "servers": [
    {
      "url": "https://nd-907-114-772.p2pify.com"
    }
  ],
  "paths": {
    "/b9b0fb92029d58b396139a9e89cf479b": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_getTransactionByBlockNumberAndIndex",
        "operationId": "getTransactionByBlockNumberAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionByBlockNumberAndIndex"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block number"
                        },
                        {
                          "type": "string",
                          "title": "Transaction index"
                        }
                      ]
                    },
                    "default": [
                      "0xd20ec4",
                      "0x3"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}