{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - ots_getBlockTransactions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "ots_getBlockTransactions",
        "description": "Get paginated list of transactions in a block on Hyperliquid EVM. Supports pagination for large blocks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["ots_getBlockTransactions"],
                    "default": "ots_getBlockTransactions",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [block number, page, page size]",
                    "default": [1000, 0, 10]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "ots_getBlockTransactions",
                "params": [1000, 0, 10],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with paginated transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Paginated transaction data"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "txs": [],
                    "receipts": [],
                    "firstPage": true,
                    "lastPage": true
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}