{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getTransactionBySenderAndNonce",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getTransactionBySenderAndNonce",
        "description": "Returns transaction information for a specific sender address and nonce. This method is useful for tracking transactions when you know the sender and the sequence number of their transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getTransactionBySenderAndNonce"],
                    "default": "eth_getTransactionBySenderAndNonce",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 2,
                    "items": [
                      {
                        "type": "string",
                        "description": "The address of the transaction sender"
                      },
                      {
                        "type": "string",
                        "description": "The transaction nonce as a hexadecimal string"
                      }
                    ],
                    "default": [
                      "0x69835D480110e4919B7899f465aAB101e21c8A87",
                      "0x0"
                    ],
                    "description": "Parameters: [sender_address, nonce]"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getTransactionBySenderAndNonce",
                "params": [
                  "0x69835D480110e4919B7899f465aAB101e21c8A87",
                  "0x0"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with transaction information or null if not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "null",
                          "description": "Transaction not found for the given sender and nonce"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "blockHash": {
                              "type": "string",
                              "description": "Hash of the block containing the transaction"
                            },
                            "blockNumber": {
                              "type": "string",
                              "description": "Block number containing the transaction (hexadecimal)"
                            },
                            "from": {
                              "type": "string",
                              "description": "Address of the transaction sender"
                            },
                            "gas": {
                              "type": "string",
                              "description": "Gas limit provided for the transaction (hexadecimal)"
                            },
                            "gasPrice": {
                              "type": "string",
                              "description": "Gas price used for the transaction (hexadecimal)"
                            },
                            "hash": {
                              "type": "string",
                              "description": "Transaction hash"
                            },
                            "input": {
                              "type": "string",
                              "description": "Transaction data payload"
                            },
                            "nonce": {
                              "type": "string",
                              "description": "Transaction nonce (hexadecimal)"
                            },
                            "to": {
                              "type": "string",
                              "description": "Address of the transaction recipient"
                            },
                            "transactionIndex": {
                              "type": "string",
                              "description": "Position of transaction in the block (hexadecimal)"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value transferred in the transaction (hexadecimal, in wei)"
                            },
                            "type": {
                              "type": "string",
                              "description": "Transaction type (hexadecimal)"
                            },
                            "v": {
                              "type": "string",
                              "description": "Transaction signature v component"
                            },
                            "r": {
                              "type": "string",
                              "description": "Transaction signature r component"
                            },
                            "s": {
                              "type": "string",
                              "description": "Transaction signature s component"
                            }
                          },
                          "description": "Transaction object with detailed information"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "blockHash": "0x1d59ff54b1eb26b013ce3cb5fc9dab3705b415a67127a003c3e61eb445bb8df2",
                    "blockNumber": "0x5daf3b",
                    "from": "0x69835d480110e4919b7899f465aab101e21c8a87",
                    "gas": "0x5208",
                    "gasPrice": "0x9184e72a000",
                    "hash": "0x88df016429689c079f3b2f6ad39fa052532c56795b733da78a91ebe6a713944b",
                    "input": "0x",
                    "nonce": "0x0",
                    "to": "0xb4dcfe4590adbd275ac3ef1a3dd10e819d11648c",
                    "transactionIndex": "0x41",
                    "value": "0xde0b6b3a7640000",
                    "type": "0x0",
                    "v": "0x25",
                    "r": "0xc9e1f8a5b3e0d2f7a4b5c3d8e9f6a2b1c4d7e8f9",
                    "s": "0xa2b1c4d7e8f9c9e1f8a5b3e0d2f7a4b5c3d8e9f6"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}