{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_feeHistory",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_feeHistory",
        "description": "Returns historical gas fee data for a range of blocks, including base fees and priority fees at specified percentiles.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_feeHistory"],
                    "default": "eth_feeHistory",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [blockCount, newestBlock, rewardPercentiles]",
                    "default": [
                      "0x4",
                      "latest",
                      [25, 50, 75]
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_feeHistory",
                "params": [
                  "0x4",
                  "latest",
                  [25, 50, 75]
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with historical fee data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "oldestBlock": {
                          "type": "string",
                          "description": "The oldest block number in the range as a hexadecimal string"
                        },
                        "baseFeePerGas": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "description": "Array of base fees per gas for each block"
                        },
                        "gasUsedRatio": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          },
                          "description": "Array of gas used ratios for each block"
                        },
                        "reward": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": "Array of priority fee rewards at specified percentiles for each block"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "oldestBlock": "0x1234",
                    "baseFeePerGas": ["0x3b9aca00", "0x3b9aca00", "0x3b9aca00", "0x3b9aca00"],
                    "gasUsedRatio": [0.5, 0.6, 0.4, 0.7],
                    "reward": [
                      ["0x1", "0x2", "0x3"],
                      ["0x1", "0x2", "0x3"],
                      ["0x1", "0x2", "0x3"],
                      ["0x1", "0x2", "0x3"]
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}