{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - net_listening",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "net_listening",
        "description": "Returns true if the client is actively listening for network connections. This method checks if the node is accepting incoming connections from peers on the network.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["net_listening"],
                    "default": "net_listening",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "default": [],
                    "description": "Parameters for the method (empty array for net_listening)"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "net_listening",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with the listening status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "True if the client is listening for network connections"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": true
                }
              }
            }
          }
        }
      }
    }
  }
}