{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getBlockByHash",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getBlockByHash",
        "description": "Returns information about a block by its hash.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getBlockByHash"],
                    "default": "eth_getBlockByHash",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [blockHash, fullTransactionObjects]",
                    "default": [
                      "0x53e84f299e6893680383c6a53329574122a7292e5bb9397bb6a0b51b4db5957a",
                      false
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getBlockByHash",
                "params": [
                  "0x53e84f299e6893680383c6a53329574122a7292e5bb9397bb6a0b51b4db5957a",
                  false
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "number": {
                          "type": "string",
                          "description": "Block number as a hexadecimal string"
                        },
                        "hash": {
                          "type": "string",
                          "description": "Block hash"
                        },
                        "parentHash": {
                          "type": "string",
                          "description": "Hash of the parent block"
                        },
                        "timestamp": {
                          "type": "string",
                          "description": "Block timestamp as a hexadecimal string"
                        },
                        "gasLimit": {
                          "type": "string",
                          "description": "Gas limit for the block"
                        },
                        "gasUsed": {
                          "type": "string",
                          "description": "Total gas used by all transactions in the block"
                        },
                        "transactions": {
                          "type": "array",
                          "description": "Array of transaction hashes or full transaction objects"
                        },
                        "miner": {
                          "type": "string",
                          "description": "Address of the block miner"
                        },
                        "difficulty": {
                          "type": "string",
                          "description": "Block difficulty"
                        },
                        "totalDifficulty": {
                          "type": "string",
                          "description": "Total difficulty of the chain until this block"
                        },
                        "size": {
                          "type": "string",
                          "description": "Block size in bytes"
                        },
                        "extraData": {
                          "type": "string",
                          "description": "Extra data field of the block"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "number": "0x1234",
                    "hash": "0x53e84f299e6893680383c6a53329574122a7292e5bb9397bb6a0b51b4db5957a",
                    "parentHash": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                    "timestamp": "0x61bc8c3a",
                    "gasLimit": "0x1c9c380",
                    "gasUsed": "0x5208",
                    "transactions": ["0xabc123...", "0xdef456..."],
                    "miner": "0x0000000000000000000000000000000000000000",
                    "difficulty": "0x0",
                    "totalDifficulty": "0x0",
                    "size": "0x220",
                    "extraData": "0x"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}