{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getUncleByBlockNumberAndIndex",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getUncleByBlockNumberAndIndex",
        "description": "Returns information about an uncle block by the block number and uncle index position. Uncle blocks are valid blocks that were not included in the main chain but are referenced by the main chain blocks.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getUncleByBlockNumberAndIndex"],
                    "default": "eth_getUncleByBlockNumberAndIndex",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "items": [
                      {
                        "type": "string",
                        "default": "latest",
                        "description": "The block number (hex string, 'latest', 'earliest', or 'pending')"
                      },
                      {
                        "type": "string",
                        "default": "0x0",
                        "description": "The uncle index position"
                      }
                    ],
                    "minItems": 2,
                    "maxItems": 2,
                    "description": "Parameters: [block_number, uncle_index]"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getUncleByBlockNumberAndIndex",
                "params": [
                  "latest",
                  "0x0"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with uncle block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "null",
                          "description": "Null if no uncle exists at the specified index"
                        },
                        {
                          "type": "object",
                          "description": "Uncle block information"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": null
                }
              }
            }
          }
        }
      }
    }
  }
}