{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_syncing",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_syncing",
        "description": "Returns the synchronization status of the node.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_syncing"],
                    "default": "eth_syncing",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "No parameters required",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_syncing",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with synchronization status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "boolean",
                          "description": "false if the node is fully synchronized"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "startingBlock": {
                              "type": "string",
                              "description": "Block number where sync started"
                            },
                            "currentBlock": {
                              "type": "string",
                              "description": "Current block number being processed"
                            },
                            "highestBlock": {
                              "type": "string",
                              "description": "Highest known block number"
                            }
                          },
                          "description": "Sync status object if the node is synchronizing"
                        }
                      ]
                    }
                  }
                },
                "examples": {
                  "synchronized": {
                    "summary": "Node is fully synchronized",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": false
                    }
                  },
                  "syncing": {
                    "summary": "Node is synchronizing",
                    "value": {
                      "jsonrpc": "2.0",
                      "id": 1,
                      "result": {
                        "startingBlock": "0x0",
                        "currentBlock": "0x9d0c37",
                        "highestBlock": "0x9d0c50"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}