{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_uninstallFilter",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_uninstallFilter",
        "description": "Uninstalls a filter with the given ID. Should be called when polling is no longer needed to free up server resources. Filters may also be automatically uninstalled if they are not polled for a period of time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_uninstallFilter"],
                    "default": "eth_uninstallFilter",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "items": [
                      {
                        "type": "string",
                        "default": "0x1",
                        "description": "The filter ID to uninstall"
                      }
                    ],
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Parameters: [filter_id]"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_uninstallFilter",
                "params": [
                  "0x1"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response indicating whether the filter was uninstalled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "True if the filter was successfully uninstalled, false if the filter was not found"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": true
                }
              }
            }
          }
        }
      }
    }
  }
}