{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - net_peerCount",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "net_peerCount",
        "description": "Returns the number of peers currently connected to the client. This method provides information about the node's network connectivity and can be used to monitor network health and connectivity status.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["net_peerCount"],
                    "default": "net_peerCount",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "default": [],
                    "description": "Parameters (empty array for net_peerCount)"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "net_peerCount",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with peer count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "string",
                      "description": "The number of connected peers as a hexadecimal string"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x2a"
                }
              }
            }
          }
        }
      }
    }
  }
}