{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getFilterLogs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getFilterLogs",
        "description": "Returns an array of all logs matching the filter with the given ID. Unlike eth_getFilterChanges, this method returns all matching logs from the entire filter range, not just changes since the last poll.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getFilterLogs"],
                    "default": "eth_getFilterLogs",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "items": [
                      {
                        "type": "string",
                        "default": "0x1",
                        "description": "The filter ID returned by eth_newFilter"
                      }
                    ],
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Parameters: [filter_id]"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getFilterLogs",
                "params": [
                  "0x1"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with all matching logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of log objects matching the filter criteria"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": []
                }
              }
            }
          }
        }
      }
    }
  }
}