{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - ots_hasCode",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "ots_hasCode",
        "description": "Check if an address contains deployed contract code on Hyperliquid EVM. Efficiently determine if an address is a smart contract.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["ots_hasCode"],
                    "default": "ots_hasCode",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [address, block identifier (optional)]",
                    "default": ["0x5555555555555555555555555555555555555555", "latest"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "ots_hasCode",
                "params": ["0x5555555555555555555555555555555555555555", "latest"],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response indicating if address has code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "True if address has code, false otherwise"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": true
                }
              }
            }
          }
        }
      }
    }
  }
}