{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - trace_call",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "trace_call",
        "description": "Executes a call and returns trace information using OpenEthereum-style tracing. This method simulates a transaction and provides detailed execution traces without committing changes to the blockchain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["trace_call"],
                    "default": "trace_call",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [call object, trace types array, block parameter]",
                    "default": [
                      {
                        "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                        "to": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                        "gas": "0x76c0",
                        "gasPrice": "0x9184e72a000",
                        "value": "0xde0b6b3a7640000",
                        "data": "0x"
                      },
                      ["trace"],
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "trace_call",
                "params": [
                  {
                    "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                    "to": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                    "gas": "0x76c0",
                    "gasPrice": "0x9184e72a000",
                    "value": "0xde0b6b3a7640000",
                    "data": "0x"
                  },
                  ["trace"],
                  "latest"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with trace data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of trace objects containing execution information"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    {
                      "action": {
                        "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                        "to": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                        "value": "0xde0b6b3a7640000",
                        "gas": "0x76c0",
                        "input": "0x",
                        "callType": "call"
                      },
                      "result": {
                        "gasUsed": "0x5208",
                        "output": "0x"
                      },
                      "traceAddress": [],
                      "type": "call"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}