{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_simulateV1",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_simulateV1",
        "description": "Simulates transactions without actually executing them on the blockchain. This method allows for testing transaction outcomes, estimating gas usage, and validating transaction logic before submission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_simulateV1"],
                    "default": "eth_simulateV1",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 1,
                    "items": {
                      "type": "object",
                      "required": ["blockStateCalls"],
                      "properties": {
                        "blockStateCalls": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "required": ["calls"],
                            "properties": {
                              "calls": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "from": {
                                      "type": "string",
                                      "description": "Transaction sender address"
                                    },
                                    "to": {
                                      "type": "string",
                                      "description": "Transaction recipient address"
                                    },
                                    "gas": {
                                      "type": "string",
                                      "description": "Gas limit as hexadecimal string"
                                    },
                                    "gasPrice": {
                                      "type": "string",
                                      "description": "Gas price as hexadecimal string"
                                    },
                                    "value": {
                                      "type": "string",
                                      "description": "Transaction value as hexadecimal string"
                                    },
                                    "data": {
                                      "type": "string",
                                      "description": "Transaction data as hexadecimal string"
                                    }
                                  }
                                }
                              },
                              "blockOverride": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "string",
                                    "description": "Block number to simulate against"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "traceTransfers": {
                          "type": "boolean",
                          "description": "Whether to trace token transfers during simulation"
                        },
                        "validation": {
                          "type": "boolean",
                          "description": "Whether to perform validation during simulation"
                        }
                      }
                    },
                    "default": [
                      {
                        "blockStateCalls": [
                          {
                            "calls": [
                              {
                                "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                                "to": "0xb4DcFE4590adBd275aC3Ef1A3dd10e819d11648c",
                                "gas": "0x5208",
                                "gasPrice": "0x9184e72a000",
                                "value": "0xde0b6b3a7640000",
                                "data": "0x"
                              }
                            ],
                            "blockOverride": {
                              "number": "latest"
                            }
                          }
                        ],
                        "traceTransfers": false,
                        "validation": true
                      }
                    ],
                    "description": "Simulation parameters"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_simulateV1",
                "params": [
                  {
                    "blockStateCalls": [
                      {
                        "calls": [
                          {
                            "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                            "to": "0xb4DcFE4590adBd275aC3Ef1A3dd10e819d11648c",
                            "gas": "0x5208",
                            "gasPrice": "0x9184e72a000",
                            "value": "0xde0b6b3a7640000",
                            "data": "0x"
                          }
                        ],
                        "blockOverride": {
                          "number": "latest"
                        }
                      }
                    ],
                    "traceTransfers": false,
                    "validation": true
                  }
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with simulation results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Simulation results including gas estimates and transaction outcomes"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {}
                }
              }
            }
          }
        }
      }
    }
  }
}