{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_newFilter",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_newFilter",
        "description": "Creates a filter object to notify when logs match the specified criteria. Returns a filter ID that can be used to retrieve matching logs and changes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_newFilter"],
                    "default": "eth_newFilter",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "items": [
                      {
                        "type": "object",
                        "properties": {
                          "fromBlock": {
                            "type": "string",
                            "default": "latest",
                            "description": "Block number (hex) or 'latest', 'earliest', 'pending'"
                          },
                          "toBlock": {
                            "type": "string",
                            "default": "latest",
                            "description": "Block number (hex) or 'latest', 'earliest', 'pending'"
                          },
                          "address": {
                            "type": "string",
                            "default": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                            "description": "Contract address or array of addresses"
                          },
                          "topics": {
                            "type": "array",
                            "default": [],
                            "description": "Array of topic hashes to match"
                          }
                        }
                      }
                    ],
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Parameters: [filter_object]"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_newFilter",
                "params": [
                  {
                    "fromBlock": "latest",
                    "toBlock": "latest",
                    "address": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                    "topics": []
                  }
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with filter ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "string",
                      "description": "The filter ID as a hexadecimal string"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x1"
                }
              }
            }
          }
        }
      }
    }
  }
}