{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getHeaderByNumber",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getHeaderByNumber",
        "description": "Returns the block header information for a given block number. This method provides header data without the transaction list, offering a lightweight way to access block metadata.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getHeaderByNumber"],
                    "default": "eth_getHeaderByNumber",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "items": [
                      {
                        "type": "string",
                        "default": "latest",
                        "description": "The block number (hex string, 'latest', 'earliest', or 'pending')"
                      }
                    ],
                    "minItems": 1,
                    "maxItems": 1,
                    "description": "Parameters: [block_number]"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getHeaderByNumber",
                "params": [
                  "latest"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with block header information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "null",
                          "description": "Null if the block doesn't exist"
                        },
                        {
                          "type": "object",
                          "description": "Block header information"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "hash": "0x...",
                    "parentHash": "0x...",
                    "number": "0x...",
                    "timestamp": "0x...",
                    "gasLimit": "0x...",
                    "gasUsed": "0x..."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}