{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getRawTransactionByBlockHashAndIndex",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getRawTransactionByBlockHashAndIndex",
        "description": "Returns the raw transaction data by block hash and transaction index.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getRawTransactionByBlockHashAndIndex"],
                    "default": "eth_getRawTransactionByBlockHashAndIndex",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [blockHash, transactionIndex]",
                    "default": [
                      "0x2ce91ae0ed242b4b78b432a45b982fb81a414d6b04167762ed3c7446710a4b8e",
                      "0x0"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getRawTransactionByBlockHashAndIndex",
                "params": [
                  "0x2ce91ae0ed242b4b78b432a45b982fb81a414d6b04167762ed3c7446710a4b8e",
                  "0x0"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with raw transaction data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "string",
                      "description": "Raw transaction data as hex-encoded string, or null if not found"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0xf86c0185037e11d6008252089433c3321b162edac1fdbb53af2962b2940c07e334880de0b6b3a76400008026a01234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdefa0abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890ab"
                }
              }
            }
          }
        }
      }
    }
  }
}