{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange. **IMPORTANT**: All exchange endpoints require EIP-712 signatures for authentication. The examples shown will not work without proper signing. See the [Hyperliquid Python SDK](https://github.com/hyperliquid-dex/hyperliquid-python-sdk) for implementation examples."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Multi-sig action",
        "operationId": "multiSig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "multiSig",
                        "enum": [
                          "multiSig"
                        ],
                        "description": "Action type"
                      },
                      "signatureChainId": {
                        "type": "string",
                        "description": "EIP-712 signature chain ID",
                        "default": "0xa4b1"
                      },
                      "signatures": {
                        "type": "array",
                        "description": "Array of EIP-712 signatures from authorized signers",
                        "items": {
                          "type": "object",
                          "properties": {
                            "r": {
                              "type": "string"
                            },
                            "s": {
                              "type": "string"
                            },
                            "v": {
                              "type": "integer"
                            }
                          }
                        }
                      },
                      "payload": {
                        "type": "object",
                        "description": "Multi-sig payload containing the inner action",
                        "properties": {
                          "multiSigUser": {
                            "type": "string",
                            "description": "Address of the multi-sig user"
                          },
                          "outerSigner": {
                            "type": "string",
                            "description": "Address of the signer submitting the transaction"
                          },
                          "action": {
                            "type": "object",
                            "description": "The inner action to execute (e.g., order, cancel, etc.)"
                          }
                        }
                      }
                    },
                    "required": [
                      "type",
                      "signatureChainId",
                      "signatures",
                      "payload"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)",
                    "nullable": true
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "multiSig",
                  "signatureChainId": "0xa4b1",
                  "signatures": [
                    {
                      "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                      "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                      "v": 27
                    }
                  ],
                  "payload": {
                    "multiSigUser": "0x1234567890abcdef1234567890abcdef12345678",
                    "outerSigner": "0xabcdef1234567890abcdef1234567890abcdef12",
                    "action": {
                      "type": "noop"
                    }
                  }
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "description": "Action response data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
