{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange. **IMPORTANT**: All exchange endpoints require EIP-712 signatures for authentication. The examples shown will not work without proper signing. See the [Hyperliquid Python SDK](https://github.com/hyperliquid-dex/hyperliquid-python-sdk) for implementation examples."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Perp deploy",
        "operationId": "perpDeploy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "perpDeploy",
                        "enum": [
                          "perpDeploy"
                        ],
                        "description": "Action type. Contains exactly one sub-action field such as setOracle, registerAsset, setPerpAnnotation, etc."
                      },
                      "setOracle": {
                        "type": "object",
                        "description": "Set oracle prices for a HIP-3 DEX (one of several sub-actions)",
                        "properties": {
                          "dex": {
                            "type": "string",
                            "description": "DEX identifier (2-4 characters)"
                          },
                          "oraclePxs": {
                            "type": "array",
                            "description": "Array of [coin, price] tuples",
                            "items": {
                              "type": "array"
                            }
                          },
                          "markPxs": {
                            "type": "array",
                            "description": "Array of mark price arrays",
                            "items": {
                              "type": "array"
                            }
                          },
                          "externalPerpPxs": {
                            "type": "array",
                            "description": "Array of [coin, price] tuples for external perps",
                            "items": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)",
                    "nullable": true
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "perpDeploy",
                  "setOracle": {
                    "dex": "xyz",
                    "oraclePxs": [
                      [
                        "BTC",
                        "50000.0"
                      ]
                    ],
                    "markPxs": [
                      [
                        [
                          "BTC",
                          "50000.0"
                        ]
                      ]
                    ],
                    "externalPerpPxs": []
                  }
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "description": "Action response data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
