{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange. **IMPORTANT**: All exchange endpoints require EIP-712 signatures for authentication. The examples shown will not work without proper signing. See the [Hyperliquid Python SDK](https://github.com/hyperliquid-dex/hyperliquid-python-sdk) for implementation examples."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Send to EVM with data",
        "operationId": "sendToEvmWithData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "sendToEvmWithData",
                        "enum": [
                          "sendToEvmWithData"
                        ],
                        "description": "Action type"
                      },
                      "hyperliquidChain": {
                        "type": "string",
                        "description": "Chain identifier",
                        "default": "Mainnet",
                        "enum": [
                          "Mainnet",
                          "Testnet"
                        ]
                      },
                      "signatureChainId": {
                        "type": "string",
                        "description": "EIP-712 signature chain ID",
                        "default": "0xa4b1"
                      },
                      "token": {
                        "type": "string",
                        "description": "Token with address (e.g., \"USDC:0x6d1e7cde53ba9467b783cb7c530ce054\")"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Amount to send as a decimal string"
                      },
                      "sourceDex": {
                        "type": "string",
                        "description": "Source DEX name (e.g., \"HL\")"
                      },
                      "destinationRecipient": {
                        "type": "string",
                        "description": "Recipient address on destination chain"
                      },
                      "addressEncoding": {
                        "type": "string",
                        "description": "Address encoding format",
                        "default": "hex"
                      },
                      "destinationChainId": {
                        "type": "integer",
                        "description": "Destination chain ID (e.g., 42161 for Arbitrum)"
                      },
                      "gasLimit": {
                        "type": "integer",
                        "description": "Gas limit for the destination chain transaction"
                      },
                      "data": {
                        "type": "string",
                        "description": "Hex-encoded calldata (\"0x\" for automatic forwarding)"
                      },
                      "nonce": {
                        "type": "integer",
                        "description": "Current timestamp in milliseconds"
                      }
                    },
                    "required": [
                      "type",
                      "hyperliquidChain",
                      "signatureChainId",
                      "token",
                      "amount",
                      "sourceDex",
                      "destinationRecipient",
                      "addressEncoding",
                      "destinationChainId",
                      "gasLimit",
                      "data",
                      "nonce"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)",
                    "nullable": true
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "sendToEvmWithData",
                  "hyperliquidChain": "Mainnet",
                  "signatureChainId": "0xa4b1",
                  "token": "USDC:0x6d1e7cde53ba9467b783cb7c530ce054",
                  "amount": "1.0",
                  "sourceDex": "HL",
                  "destinationRecipient": "0x1234567890abcdef1234567890abcdef12345678",
                  "addressEncoding": "hex",
                  "destinationChainId": 42161,
                  "gasLimit": 800000,
                  "data": "0x",
                  "nonce": 1705234567890
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "description": "Action response data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
