{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange requiring authentication. ⚠️ WARNING: These endpoints require EIP-712 signatures for authentication. The example values provided will NOT work without proper cryptographic signing. You must implement EIP-712 signing to use these endpoints successfully."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Transfer spot token",
        "operationId": "transferSpotToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "spotSend",
                        "enum": ["spotSend"],
                        "description": "Action type for spot token transfer"
                      },
                      "hyperliquidChain": {
                        "type": "string",
                        "enum": ["Mainnet", "Testnet"],
                        "description": "Chain to send on"
                      },
                      "signatureChainId": {
                        "type": "string",
                        "description": "Chain ID for signature (use '0xa4b1' for Arbitrum mainnet or '0x66eee' for Arbitrum testnet)"
                      },
                      "destination": {
                        "type": "string",
                        "description": "Destination address to send spot token to"
                      },
                      "token": {
                        "type": "string",
                        "description": "Token name or address to send"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Amount of token to send (in token units with appropriate decimals)"
                      },
                      "time": {
                        "type": "integer",
                        "description": "Timestamp in milliseconds"
                      }
                    },
                    "required": ["type", "hyperliquidChain", "signatureChainId", "destination", "token", "amount", "time"]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": ["r", "s", "v"]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)"
                  }
                },
                "required": ["action", "nonce", "signature"]
              },
              "example": {
                "action": {
                  "type": "spotSend",
                  "hyperliquidChain": "Mainnet",
                  "signatureChainId": "0xa4b1",
                  "destination": "0x1234567890123456789012345678901234567890",
                  "token": "PURR",
                  "amount": "1000.0",
                  "time": 1705234567890
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                  "s": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot token transfer result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "Transfer status"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "status": "ok",
                    "response": {
                      "type": "spotSend",
                      "data": {
                        "status": "success"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}