{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange. **IMPORTANT**: All exchange endpoints require EIP-712 signatures for authentication. The examples shown will not work without proper signing. See the [Hyperliquid Python SDK](https://github.com/hyperliquid-dex/hyperliquid-python-sdk) for implementation examples."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Approve builder fee",
        "operationId": "approveBuilderFee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "approveBuilderFee",
                        "enum": [
                          "approveBuilderFee"
                        ],
                        "description": "Action type"
                      },
                      "hyperliquidChain": {
                        "type": "string",
                        "description": "Chain identifier",
                        "default": "Mainnet",
                        "enum": [
                          "Mainnet",
                          "Testnet"
                        ]
                      },
                      "signatureChainId": {
                        "type": "string",
                        "description": "EIP-712 signature chain ID",
                        "default": "0xa4b1"
                      },
                      "maxFeeRate": {
                        "type": "string",
                        "description": "Maximum fee rate as a percentage string (e.g., \"0.001%\")"
                      },
                      "builder": {
                        "type": "string",
                        "description": "Ethereum address of the builder"
                      },
                      "nonce": {
                        "type": "integer",
                        "description": "Current timestamp in milliseconds"
                      }
                    },
                    "required": [
                      "type",
                      "hyperliquidChain",
                      "signatureChainId",
                      "maxFeeRate",
                      "builder",
                      "nonce"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)",
                    "nullable": true
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "approveBuilderFee",
                  "hyperliquidChain": "Mainnet",
                  "signatureChainId": "0xa4b1",
                  "maxFeeRate": "0.001%",
                  "builder": "0x1234567890abcdef1234567890abcdef12345678",
                  "nonce": 1705234567890
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "description": "Action response data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
