{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange requiring authentication. \u26a0\ufe0f WARNING: These endpoints require EIP-712 signatures for authentication. The example values provided will NOT work without proper cryptographic signing. You must implement EIP-712 signing to use these endpoints successfully."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Transfer spot token",
        "operationId": "transferSpotToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "spotSend",
                        "enum": [
                          "spotSend"
                        ],
                        "description": "Action type"
                      },
                      "hyperliquidChain": {
                        "type": "string",
                        "description": "Chain identifier",
                        "default": "Mainnet",
                        "enum": [
                          "Mainnet",
                          "Testnet"
                        ]
                      },
                      "signatureChainId": {
                        "type": "string",
                        "description": "EIP-712 signature chain ID",
                        "default": "0xa4b1"
                      },
                      "destination": {
                        "type": "string",
                        "description": "Recipient Ethereum address"
                      },
                      "token": {
                        "type": "string",
                        "description": "Token identifier with index (e.g., \"PURR:0x1\")"
                      },
                      "amount": {
                        "type": "string",
                        "description": "Amount to send as a decimal string"
                      },
                      "time": {
                        "type": "integer",
                        "description": "Current timestamp in milliseconds"
                      }
                    },
                    "required": [
                      "type",
                      "hyperliquidChain",
                      "signatureChainId",
                      "destination",
                      "token",
                      "amount",
                      "time"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)",
                    "nullable": true
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "spotSend",
                  "hyperliquidChain": "Mainnet",
                  "signatureChainId": "0xa4b1",
                  "destination": "0x1234567890abcdef1234567890abcdef12345678",
                  "token": "PURR:0x1",
                  "amount": "100.0",
                  "time": 1705234567890
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot token transfer result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "description": "Transfer status"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "status": "ok",
                    "response": {
                      "type": "spotSend",
                      "data": {
                        "status": "success"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
