{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange. **IMPORTANT**: All exchange endpoints require EIP-712 signatures for authentication. The examples shown will not work without proper signing. See the [Hyperliquid Python SDK](https://github.com/hyperliquid-dex/hyperliquid-python-sdk) for implementation examples."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Spot deploy",
        "operationId": "spotDeploy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "spotDeploy",
                        "enum": [
                          "spotDeploy"
                        ],
                        "description": "Action type. The action object must contain exactly one sub-action field."
                      },
                      "registerToken2": {
                        "type": "object",
                        "description": "Register a new HIP-1 token (one of several possible sub-actions)",
                        "properties": {
                          "spec": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Token ticker symbol"
                              },
                              "szDecimals": {
                                "type": "integer",
                                "description": "Size decimal places"
                              },
                              "weiDecimals": {
                                "type": "integer",
                                "description": "Wei decimal places"
                              }
                            }
                          },
                          "maxGas": {
                            "type": "integer",
                            "description": "Maximum gas for deployment"
                          },
                          "fullName": {
                            "type": "string",
                            "description": "Full display name of the token"
                          }
                        }
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "vaultAddress": {
                    "type": "string",
                    "description": "Address when trading on behalf of a vault or subaccount (optional)",
                    "nullable": true
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "spotDeploy",
                  "registerToken2": {
                    "spec": {
                      "name": "MYTOKEN",
                      "szDecimals": 8,
                      "weiDecimals": 8
                    },
                    "maxGas": 100000,
                    "fullName": "My Custom Token"
                  }
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "s": "0x0000000000000000000000000000000000000000000000000000000000000000",
                  "v": 27
                },
                "vaultAddress": null
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Action result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "description": "Action response data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
