{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userFunding)",
        "operationId": "infoUserFunding",
        "description": "Retrieve funding history for a specific user account, including funding payments and receipts across all perpetual positions over time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user", "startTime"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["userFunding"],
                    "default": "userFunding",
                    "description": "The request type. Must be 'userFunding' to retrieve user funding history."
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "User wallet address (0x...)"
                  },
                  "startTime": {
                    "type": "integer",
                    "default": 1681923833000,
                    "description": "Start time in milliseconds, inclusive"
                  },
                  "endTime": {
                    "type": "integer",
                    "description": "End time in milliseconds, inclusive. Defaults to current time."
                  }
                }
              },
              "example": {
                "type": "userFunding",
                "user": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                "startTime": 1681923833000,
                "endTime": 1681924833000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User funding history data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of funding events for the user"
                },
                "example": [
                  {
                    "time": 1732233600000,
                    "hash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "delta": {
                      "type": "funding",
                      "coin": "BTC",
                      "usdc": "-2851.187296",
                      "szi": "45.0",
                      "fundingRate": "0.00005566"
                    }
                  },
                  {
                    "time": 1732320000000,
                    "hash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "delta": {
                      "type": "funding",
                      "coin": "ETH",
                      "usdc": "-7267.176499",
                      "szi": "1300.0",
                      "fundingRate": "0.00006885"
                    }
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
