{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (outcomeMeta)",
        "operationId": "infoOutcomeMeta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "outcomeMeta",
                    "enum": ["outcomeMeta"],
                    "description": "Request type to retrieve HIP-4 outcome market metadata"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Live HIP-4 outcome markets and categorical questions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "outcomes": {
                      "type": "array",
                      "description": "Array of live outcome markets",
                      "items": {
                        "type": "object",
                        "properties": {
                          "outcome": {
                            "type": "integer",
                            "description": "Outcome id; combine with side index to derive the asset encoding"
                          },
                          "name": {
                            "type": "string",
                            "description": "Human-readable market name"
                          },
                          "description": {
                            "type": "string",
                            "description": "For recurring binary markets, a pipe-separated key:value string (class, underlying, expiry, targetPrice, period). For other market types, free-form text."
                          },
                          "sideSpecs": {
                            "type": "array",
                            "description": "Two-element array describing the YES (index 0) and NO (index 1) sides",
                            "items": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "description": "Side name (for example, 'Yes' or 'No')"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "questions": {
                      "type": "array",
                      "description": "Array of categorical multi-outcome questions; mainnet returns an empty array at the time of writing",
                      "items": {
                        "type": "object",
                        "properties": {
                          "question": {
                            "type": "integer",
                            "description": "Question id"
                          },
                          "name": {
                            "type": "string",
                            "description": "Question text"
                          },
                          "description": {
                            "type": "string",
                            "description": "Free-form description"
                          },
                          "fallbackOutcome": {
                            "type": "integer",
                            "description": "Outcome id used if none of the named outcomes matches"
                          },
                          "namedOutcomes": {
                            "type": "array",
                            "description": "Outcome ids for the named legs",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "settledNamedOutcomes": {
                            "type": "array",
                            "description": "Outcome ids that have already settled",
                            "items": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    }
                  },
                  "example": {
                    "outcomes": [
                      {
                        "outcome": 1,
                        "name": "Recurring",
                        "description": "class:priceBinary|underlying:BTC|expiry:20260504-0600|targetPrice:78213|period:1d",
                        "sideSpecs": [
                          {"name": "Yes"},
                          {"name": "No"}
                        ]
                      }
                    ],
                    "questions": []
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
