{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (activeAssetData)",
        "operationId": "infoActiveAssetData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "activeAssetData",
                    "enum": ["activeAssetData"],
                    "description": "Request type to retrieve active asset data for a specific user and coin"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  },
                  "coin": {
                    "type": "string",
                    "default": "BTC",
                    "description": "Asset symbol to retrieve data for (e.g., 'BTC', 'ETH', 'SOL')"
                  }
                },
                "required": [
                  "type",
                  "user",
                  "coin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Active asset data for the specified user and coin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Active asset data for a user and coin (perpetuals only)",
                  "properties": {
                    "user": { "type": "string", "description": "User address" },
                    "coin": { "type": "string", "description": "Asset symbol" },
                    "leverage": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string", "description": "cross or isolated" },
                        "value": { "type": "number", "description": "Leverage value" }
                      }
                    },
                    "maxTradeSzs": {
                      "type": "array",
                      "description": "Maximum trade sizes [long, short]",
                      "items": { "type": "string" }
                    },
                    "availableToTrade": {
                      "type": "array",
                      "description": "Available amounts to trade [long, short]",
                      "items": { "type": "string" }
                    },
                    "markPx": { "type": "string", "description": "Current mark price" }
                  },
                  "required": ["user", "coin", "leverage", "maxTradeSzs", "availableToTrade", "markPx"]
                },
                "example": {
                  "user": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                  "coin": "BTC",
                  "leverage": { "type": "cross", "value": 20 },
                  "maxTradeSzs": ["22046.53864", "22099.95768"],
                  "availableToTrade": ["128889576.5241000056", "129201877.5867000073"],
                  "markPx": "116925.0"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
