{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (maxBuilderFee)",
        "operationId": "infoMaxBuilderFee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "maxBuilderFee",
                    "enum": ["maxBuilderFee"],
                    "description": "Request type to retrieve maximum builder fee approved by user"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x47fc45cebfc47cef07a09a98405b6ebaef00ef75",
                    "description": "User address in 42-character hexadecimal format"
                  },
                  "builder": {
                    "type": "string",
                    "default": "0x1922810825c90f4270048b96da7b1803cd8609ef",
                    "description": "Builder address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user",
                  "builder"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maximum builder fee approved by the user for the specified builder",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "description": "Maximum fee approved in tenths of a basis point (e.g., 1 means 0.001%)",
                  "example": 1
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}