{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userVaultEquities)",
        "operationId": "infoUserVaultEquities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userVaultEquities",
                    "enum": ["userVaultEquities"],
                    "description": "Request type to retrieve user's vault equity positions"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2b804617c6f63c040377e95bb276811747006f4b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's vault equity positions and investment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of user's vault investments with equity details",
                  "items": {
                    "type": "object",
                    "properties": {
                      "vaultAddress": {
                        "type": "string",
                        "description": "Contract address of the vault"
                      },
                      "equity": {
                        "type": "string",
                        "description": "Current equity value of user's position (USD)"
                      }
                    },
                    "required": ["vaultAddress", "equity"]
                  }
                },
                "example": [
                  {
                    "vaultAddress": "0xdfc24b077bc1425ad1dea75bcb6f8158e10df303",
                    "equity": "742500.082809"
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
