{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userFees)",
        "operationId": "infoUserFees",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userFees",
                    "enum": ["userFees"],
                    "description": "Request type to retrieve user's fee structure and trading costs"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's fee structure and trading cost information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "User fee information including daily volumes, fee schedule, effective rates, discounts, and staking link",
                  "properties": {
                    "dailyUserVlm": {
                      "type": "array",
                      "description": "Array of daily volume data",
                      "items": {
                        "type": "object",
                        "properties": {
                          "date": { "type": "string", "description": "YYYY-MM-DD" },
                          "userCross": { "type": "string" },
                          "userAdd": { "type": "string" },
                          "exchange": { "type": "string" }
                        }
                      }
                    },
                    "feeSchedule": {
                      "type": "object",
                      "properties": {
                        "cross": { "type": "string" },
                        "add": { "type": "string" },
                        "spotCross": { "type": "string" },
                        "spotAdd": { "type": "string" },
                        "tiers": {
                          "type": "object",
                          "properties": {
                            "vip": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "ntlCutoff": { "type": "string" },
                                  "cross": { "type": "string" },
                                  "add": { "type": "string" },
                                  "spotCross": { "type": "string" },
                                  "spotAdd": { "type": "string" }
                                }
                              }
                            },
                            "mm": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "makerFractionCutoff": { "type": "string" },
                                  "add": { "type": "string" }
                                }
                              }
                            }
                          }
                        },
                        "referralDiscount": { "type": "string" },
                        "stakingDiscountTiers": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bpsOfMaxSupply": { "type": "string" },
                              "discount": { "type": "string" }
                            }
                          }
                        }
                      }
                    },
                    "userCrossRate": { "type": "string" },
                    "userAddRate": { "type": "string" },
                    "userSpotCrossRate": { "type": "string" },
                    "userSpotAddRate": { "type": "string" },
                    "activeReferralDiscount": { "type": "string" },
                    "trial": { "type": "object", "nullable": true },
                    "feeTrialReward": { "type": "string" },
                    "nextTrialAvailableTimestamp": { "type": "integer", "nullable": true },
                    "stakingLink": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string" },
                        "stakingUser": { "type": "string" }
                      }
                    },
                    "activeStakingDiscount": {
                      "type": "object",
                      "properties": {
                        "bpsOfMaxSupply": { "type": "string" },
                        "discount": { "type": "string" }
                      }
                    }
                  }
                },
                "example": {
                  "dailyUserVlm": [
                    {
                      "date": "2025-05-23",
                      "userCross": "0.0",
                      "userAdd": "0.0",
                      "exchange": "2852367.0770729999"
                    }
                  ],
                  "feeSchedule": {
                    "cross": "0.00045",
                    "add": "0.00015",
                    "spotCross": "0.0007",
                    "spotAdd": "0.0004",
                    "tiers": {
                      "vip": [
                        {
                          "ntlCutoff": "5000000.0",
                          "cross": "0.0004",
                          "add": "0.00012",
                          "spotCross": "0.0006",
                          "spotAdd": "0.0003"
                        }
                      ],
                      "mm": [
                        {
                          "makerFractionCutoff": "0.005",
                          "add": "-0.00001"
                        }
                      ]
                    },
                    "referralDiscount": "0.04",
                    "stakingDiscountTiers": [
                      { "bpsOfMaxSupply": "0.0001", "discount": "0.05" }
                    ]
                  },
                  "userCrossRate": "0.000315",
                  "userAddRate": "0.000105",
                  "userSpotCrossRate": "0.00049",
                  "userSpotAddRate": "0.00028",
                  "activeReferralDiscount": "0.0",
                  "trial": null,
                  "feeTrialReward": "0.0",
                  "nextTrialAvailableTimestamp": null,
                  "stakingLink": {
                    "type": "tradingUser",
                    "stakingUser": "0x54c049d9c7d3c92c2462bf3d28e083f3d6805061"
                  },
                  "activeStakingDiscount": {
                    "bpsOfMaxSupply": "4.7577998927",
                    "discount": "0.3"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
