{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (tokenDetails)",
        "operationId": "infoTokenDetails",
        "description": "Retrieve comprehensive details for a specific token including supply metrics, pricing data, deployment information, and circulation details on the Hyperliquid exchange.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "tokenId"],
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "tokenDetails",
                    "description": "The request type for token details"
                  },
                  "tokenId": {
                    "type": "string",
                    "default": "0x6d1e7cde53ba9467b783cb7c530ce054",
                    "description": "The hexadecimal token identifier to retrieve details for"
                  }
                },
                "example": {
                  "type": "tokenDetails",
                  "tokenId": "0x6d1e7cde53ba9467b783cb7c530ce054"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved token details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Comprehensive token information including supply, pricing, and deployment data"
                },
                "example": {
                  "name": "USDC",
                  "maxSupply": "1000000000000.0",
                  "totalSupply": "4352925534.7421636581",
                  "circulatingSupply": "4352925534.7421636581",
                  "szDecimals": 8,
                  "weiDecimals": 0,
                  "midPx": "1.0",
                  "markPx": "1.0",
                  "prevDayPx": "1.0",
                  "genesis": null,
                  "deployer": null,
                  "deployGas": null,
                  "deployTime": null,
                  "seededUsdc": "0.0",
                  "nonCirculatingUserBalances": [],
                  "futureEmissions": "0.0"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
