{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (validatorL1Votes)",
        "operationId": "infoValidatorL1Votes",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "validatorL1Votes",
                    "enum": ["validatorL1Votes"],
                    "description": "Request type to retrieve validator L1 voting information"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validator L1 voting information and consensus data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of validator L1 votes and consensus participation",
                  "items": {
                    "type": "object",
                    "properties": {
                      "validator": {
                        "type": "string",
                        "description": "Validator address in hexadecimal format"
                      },
                      "votingPower": {
                        "type": "string",
                        "description": "Validator's voting power in the consensus"
                      },
                      "l1Votes": {
                        "type": "array",
                        "description": "List of L1 votes cast by the validator",
                        "items": {
                          "type": "object",
                          "properties": {
                            "proposalId": {
                              "type": "string",
                              "description": "Unique identifier for the proposal"
                            },
                            "vote": {
                              "type": "string",
                              "enum": ["yes", "no", "abstain"],
                              "description": "Vote cast by the validator"
                            },
                            "timestamp": {
                              "type": "integer",
                              "description": "Timestamp when the vote was cast"
                            },
                            "blockHeight": {
                              "type": "integer",
                              "description": "Block height at which the vote was recorded"
                            }
                          }
                        }
                      },
                      "participationRate": {
                        "type": "string",
                        "description": "Validator's participation rate in L1 governance"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}