{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (predictedFundings)",
        "operationId": "infoPredictedFundings",
        "description": "Retrieve predicted funding rates for all perpetual contracts across different exchanges, providing insight into upcoming funding costs and cross-exchange arbitrage opportunities.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "predictedFundings",
                    "description": "The request type for predicted funding rates"
                  }
                },
                "example": {
                  "type": "predictedFundings"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved predicted funding rates for all assets across exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of asset funding predictions containing rates across different perpetual exchanges"
                },
                "example": [
                  [
                    "BTC",
                    [
                      [
                        "BinPerp",
                        {
                          "fundingRate": "0.00008786",
                          "nextFundingTime": 1754496000000
                        }
                      ],
                      [
                        "HlPerp",
                        {
                          "fundingRate": "0.0000125",
                          "nextFundingTime": 1754470800000
                        }
                      ],
                      [
                        "BybitPerp",
                        {
                          "fundingRate": "0.0001",
                          "nextFundingTime": 1754496000000
                        }
                      ]
                    ]
                  ],
                  [
                    "ETH",
                    [
                      [
                        "BinPerp",
                        {
                          "fundingRate": "0.00008147",
                          "nextFundingTime": 1754496000000
                        }
                      ],
                      [
                        "HlPerp",
                        {
                          "fundingRate": "0.0000104019",
                          "nextFundingTime": 1754470800000
                        }
                      ],
                      [
                        "BybitPerp",
                        {
                          "fundingRate": "0.0001",
                          "nextFundingTime": 1754496000000
                        }
                      ]
                    ]
                  ]
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
