{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (spotMeta)",
        "operationId": "infoSpotMeta",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "spotMeta",
                    "enum": ["spotMeta"]
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot metadata including tokens and universe",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tokens": {
                      "type": "array",
                      "description": "Array of spot tokens with their metadata",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Token name"
                          },
                          "szDecimals": {
                            "type": "integer",
                            "description": "Number of decimal places for size"
                          },
                          "weiDecimals": {
                            "type": "integer",
                            "description": "Number of decimal places for wei representation"
                          },
                          "index": {
                            "type": "integer",
                            "description": "Token index"
                          },
                          "tokenId": {
                            "type": "string",
                            "description": "Unique token identifier"
                          },
                          "isCanonical": {
                            "type": "boolean",
                            "description": "Whether the token is canonical"
                          },
                          "evmContract": {
                            "type": "object",
                            "nullable": true,
                            "description": "EVM contract metadata if token has an L1 contract",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Contract address"
                              },
                              "evm_extra_wei_decimals": {
                                "type": "integer",
                                "description": "Extra wei decimals adjustment; may be negative"
                              }
                            }
                          },
                          "fullName": {
                            "type": "string",
                            "nullable": true,
                            "description": "Full descriptive token name"
                          },
                          "deployerTradingFeeShare": {
                            "type": "string",
                            "description": "Deployer trading fee share"
                          }
                        }
                      }
                    },
                    "universe": {
                      "type": "array",
                      "description": "Array of spot trading pairs",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Trading pair name"
                          },
                          "tokens": {
                            "type": "array",
                            "description": "Array of token indices for the pair",
                            "items": {
                              "type": "integer"
                            }
                          },
                          "index": {
                            "type": "integer",
                            "description": "Pair index"
                          },
                          "isCanonical": {
                            "type": "boolean",
                            "description": "Whether the pair is canonical"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
