{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (delegations)",
        "operationId": "infoDelegations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "delegations",
                    "enum": ["delegations"],
                    "description": "Request type to retrieve user's delegation information"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's delegation information and staking details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Comprehensive delegation and staking information for the user",
                  "properties": {
                    "userAddress": {
                      "type": "string",
                      "description": "Address of the user (matches the requested user)"
                    },
                    "totalDelegated": {
                      "type": "string",
                      "description": "Total amount delegated by the user across all validators"
                    },
                    "activeDelegations": {
                      "type": "array",
                      "description": "List of active delegations to validators",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validatorAddress": {
                            "type": "string",
                            "description": "Address of the validator"
                          },
                          "validatorName": {
                            "type": "string",
                            "description": "Human-readable name of the validator"
                          },
                          "delegatedAmount": {
                            "type": "string",
                            "description": "Amount delegated to this validator"
                          },
                          "delegationTime": {
                            "type": "integer",
                            "description": "Timestamp when delegation was made in milliseconds"
                          },
                          "rewards": {
                            "type": "object",
                            "description": "Reward information for this delegation",
                            "properties": {
                              "accumulatedRewards": {
                                "type": "string",
                                "description": "Total rewards accumulated from this delegation"
                              },
                              "pendingRewards": {
                                "type": "string",
                                "description": "Rewards pending to be claimed"
                              },
                              "lastRewardClaim": {
                                "type": "integer",
                                "description": "Timestamp of last reward claim in milliseconds"
                              }
                            }
                          },
                          "commissionRate": {
                            "type": "string",
                            "description": "Validator's commission rate as a decimal"
                          },
                          "isActive": {
                            "type": "boolean",
                            "description": "Whether the delegation is currently active"
                          }
                        },
                        "required": [
                          "validatorAddress",
                          "delegatedAmount"
                        ]
                      }
                    },
                    "pendingUndelegations": {
                      "type": "array",
                      "description": "List of pending undelegations (unbonding)",
                      "items": {
                        "type": "object",
                        "properties": {
                          "validatorAddress": {
                            "type": "string",
                            "description": "Address of the validator being undelegated from"
                          },
                          "undelegationAmount": {
                            "type": "string",
                            "description": "Amount being undelegated"
                          },
                          "initiationTime": {
                            "type": "integer",
                            "description": "When undelegation was initiated in milliseconds"
                          },
                          "completionTime": {
                            "type": "integer",
                            "description": "When undelegation will complete in milliseconds"
                          },
                          "timeRemaining": {
                            "type": "integer",
                            "description": "Time remaining for unbonding in milliseconds"
                          }
                        }
                      }
                    },
                    "totalRewards": {
                      "type": "string",
                      "description": "Total rewards earned across all delegations"
                    },
                    "claimableRewards": {
                      "type": "string",
                      "description": "Total rewards available to claim"
                    },
                    "delegationStats": {
                      "type": "object",
                      "description": "Summary statistics for user's delegations",
                      "properties": {
                        "averageCommissionRate": {
                          "type": "string",
                          "description": "Weighted average commission rate across delegations"
                        },
                        "totalValidators": {
                          "type": "integer",
                          "description": "Number of validators user has delegated to"
                        },
                        "oldestDelegation": {
                          "type": "integer",
                          "description": "Timestamp of the oldest active delegation"
                        }
                      }
                    }
                  },
                  "required": [
                    "userAddress"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
