{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (spotMetaAndAssetCtxs)",
        "operationId": "infoSpotMetaAndAssetCtxs",
        "description": "Retrieve comprehensive spot market metadata and asset contexts, including token details, trading pairs, market prices, volumes, and circulating supply information for all spot assets on Hyperliquid.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type"],
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "spotMetaAndAssetCtxs",
                    "description": "The request type for spot market metadata and asset contexts"
                  }
                },
                "example": {
                  "type": "spotMetaAndAssetCtxs"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved spot market metadata and asset contexts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array containing spot token metadata and market contexts"
                },
                "example": [
                  [
                    {
                      "name": "PURR",
                      "szDecimals": 1,
                      "weiDecimals": 6,
                      "index": 0,
                      "tokenId": "0x00000000000000000000000000000000",
                      "isCanonical": true,
                      "evmContract": null,
                      "fullName": "Hypurrfun",
                      "deployerTradingFeeShare": "0.0"
                    },
                    {
                      "name": "HYPE",
                      "szDecimals": 2,
                      "weiDecimals": 8,
                      "index": 150,
                      "tokenId": "0x0d01dc56dcaaca66ad901c959b4011ec",
                      "isCanonical": false,
                      "evmContract": null,
                      "fullName": "Hyperliquid",
                      "deployerTradingFeeShare": "0.0"
                    }
                  ],
                  [
                    {
                      "prevDayPx": "0.15719",
                      "dayNtlVlm": "3558163.5799899995",
                      "markPx": "0.14967",
                      "midPx": "0.14966",
                      "circulatingSupply": "596449455.7842600346",
                      "coin": "PURR/USDC",
                      "totalSupply": "596449462.3070399761",
                      "dayBaseVlm": "22964913.0"
                    },
                    {
                      "prevDayPx": "1.0011",
                      "dayNtlVlm": "1607716.7693469997",
                      "markPx": "1.0006",
                      "midPx": "1.00065",
                      "circulatingSupply": "99999929715.1255493164",
                      "coin": "@150",
                      "totalSupply": "99999929715.1255493164",
                      "dayBaseVlm": "1606605.0899999994"
                    }
                  ]
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
