{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (alignedQuoteTokenInfo)",
        "operationId": "infoAlignedQuoteTokenInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "alignedQuoteTokenInfo",
                    "enum": [
                      "alignedQuoteTokenInfo"
                    ]
                  },
                  "token": {
                    "type": "integer",
                    "description": "Spot token index from the spotMeta universe. Only tokens registered as aligned quote assets return data.",
                    "default": 1
                  }
                },
                "required": [
                  "type",
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aligned quote token information or null",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "type": "object",
                  "properties": {
                    "isAligned": {
                      "type": "boolean",
                      "description": "Whether the token is currently aligned"
                    },
                    "firstAlignedTime": {
                      "type": "integer",
                      "description": "Unix timestamp in milliseconds when the token was first aligned"
                    },
                    "evmMintedSupply": {
                      "type": "string",
                      "description": "Total EVM minted supply as reported by CoreWriter"
                    },
                    "dailyAmountOwed": {
                      "type": "array",
                      "description": "Array of [date, amount] tuples showing daily owed amounts",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "predictedRate": {
                      "type": "string",
                      "description": "Predicted alignment rate as a decimal string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
