{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpDexs)",
        "operationId": "infoPerpDexs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "perpDexs",
                    "enum": ["perpDexs"],
                    "description": "Request type to retrieve available perpetual DEXs information"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of available perpetual DEXs and their configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of perpetual DEXs. The first element is null to represent the default DEX.",
                  "items": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Short name of the perpetual DEX"
                      },
                      "full_name": {
                        "type": "string",
                        "description": "Full descriptive name of the DEX"
                      },
                      "deployer": {
                        "type": "string",
                        "description": "Address of the DEX deployer (42-char hex)"
                      },
                      "oracle_updater": {
                        "type": "string",
                        "nullable": true,
                        "description": "Address responsible for oracle updates, or null if not applicable"
                      }
                    }
                  }
                },
                "example": [
                  null,
                  {
                    "name": "test",
                    "full_name": "test dex",
                    "deployer": "0x5e89b26d8d66da9888c835c9bfcc2aa51813e152",
                    "oracle_updater": null
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
