{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (clearinghouseState)",
        "operationId": "infoClearinghouseState",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "clearinghouseState",
                    "enum": ["clearinghouseState"],
                    "description": "Request type to retrieve user's perpetuals account summary"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Onchain address in 42-character hexadecimal format"
                  },
                  "dex": {
                    "type": "string",
                    "default": "",
                    "description": "Perp dex name. Defaults to empty string which represents the first perp dex"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's perpetuals account summary including positions and margin information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetPositions": {
                      "type": "array",
                      "description": "Array of user's asset positions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "position": {
                            "type": "object",
                            "properties": {
                              "coin": {
                                "type": "string",
                                "description": "Asset symbol"
                              },
                              "cumFunding": {
                                "type": "object",
                                "description": "Cumulative funding information",
                                "properties": {
                                  "allTime": {
                                    "type": "string",
                                    "description": "All-time cumulative funding"
                                  },
                                  "sinceChange": {
                                    "type": "string",
                                    "description": "Funding since last position change"
                                  },
                                  "sinceOpen": {
                                    "type": "string",
                                    "description": "Funding since position opened"
                                  }
                                }
                              },
                              "entryPx": {
                                "type": "string",
                                "description": "Entry price"
                              },
                              "leverage": {
                                "type": "object",
                                "description": "Leverage information",
                                "properties": {
                                  "rawUsd": {
                                    "type": "string",
                                    "description": "Raw USD value"
                                  },
                                  "type": {
                                    "type": "string",
                                    "description": "Leverage type (isolated/cross)"
                                  },
                                  "value": {
                                    "type": "number",
                                    "description": "Leverage value"
                                  }
                                }
                              },
                              "liquidationPx": {
                                "type": "string",
                                "description": "Liquidation price"
                              },
                              "marginUsed": {
                                "type": "string",
                                "description": "Margin used for this position"
                              },
                              "maxLeverage": {
                                "type": "number",
                                "description": "Maximum leverage allowed"
                              },
                              "positionValue": {
                                "type": "string",
                                "description": "Current position value"
                              },
                              "returnOnEquity": {
                                "type": "string",
                                "description": "Return on equity"
                              },
                              "szi": {
                                "type": "string",
                                "description": "Position size"
                              },
                              "unrealizedPnl": {
                                "type": "string",
                                "description": "Unrealized profit and loss"
                              }
                            }
                          },
                          "type": {
                            "type": "string",
                            "description": "Position type"
                          }
                        }
                      }
                    },
                    "crossMaintenanceMarginUsed": {
                      "type": "string",
                      "description": "Cross maintenance margin used"
                    },
                    "crossMarginSummary": {
                      "type": "object",
                      "description": "Cross margin account summary",
                      "properties": {
                        "accountValue": {
                          "type": "string",
                          "description": "Total account value"
                        },
                        "totalMarginUsed": {
                          "type": "string",
                          "description": "Total margin used"
                        },
                        "totalNtlPos": {
                          "type": "string",
                          "description": "Total notional position"
                        },
                        "totalRawUsd": {
                          "type": "string",
                          "description": "Total raw USD"
                        }
                      }
                    },
                    "marginSummary": {
                      "type": "object",
                      "description": "Overall margin summary",
                      "properties": {
                        "accountValue": {
                          "type": "string",
                          "description": "Total account value"
                        },
                        "totalMarginUsed": {
                          "type": "string",
                          "description": "Total margin used"
                        },
                        "totalNtlPos": {
                          "type": "string",
                          "description": "Total notional position"
                        },
                        "totalRawUsd": {
                          "type": "string",
                          "description": "Total raw USD"
                        }
                      }
                    },
                    "time": {
                      "type": "number",
                      "description": "Timestamp of the data"
                    },
                    "withdrawable": {
                      "type": "string",
                      "description": "Amount available for withdrawal"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
