{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (fundingHistory)",
        "operationId": "infoFundingHistory",
        "description": "Retrieve historical funding rates and premiums for a specific perpetual contract, providing insight into market sentiment and carry costs over time.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "coin", "startTime"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["fundingHistory"],
                    "default": "fundingHistory",
                    "description": "The request type. Must be 'fundingHistory' to retrieve funding rate history."
                  },
                  "coin": {
                    "type": "string",
                    "default": "BTC",
                    "description": "Asset symbol to retrieve funding history for (e.g., 'BTC', 'ETH', 'SOL')"
                  },
                  "startTime": {
                    "type": "integer",
                    "default": 1681923833000,
                    "description": "Start timestamp in milliseconds, inclusive."
                  },
                  "endTime": {
                    "type": "integer",
                    "description": "End timestamp in milliseconds, inclusive. Defaults to current time if not provided."
                  }
                }
              },
              "example": {
                "type": "fundingHistory",
                "coin": "BTC",
              "startTime": 1681923833000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Historical funding rates and premiums data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of funding rate records for the specified asset",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coin": { "type": "string" },
                      "fundingRate": { "type": "string" },
                      "premium": { "type": "string" },
                      "time": { "type": "integer", "format": "int64" }
                    },
                    "required": ["coin", "fundingRate", "premium", "time"]
                  }
                },
                "example": [
                  {
                    "coin": "BTC",
                    "fundingRate": "-0.0006133368",
                    "premium": "-0.0009133368",
                    "time": 1683849600048
                  },
                  {
                    "coin": "BTC",
                    "fundingRate": "-0.000745027",
                    "premium": "-0.001045027",
                    "time": 1683878400388
                  },
                  {
                    "coin": "BTC",
                    "fundingRate": "0.0000125",
                    "premium": "0.0001068963",
                    "time": 1686204000106
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
