{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (subAccounts)",
        "operationId": "infoSubAccounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "subAccounts",
                    "enum": ["subAccounts"],
                    "description": "Request type to retrieve sub-accounts associated with a user"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of sub-accounts associated with the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of sub-account details and their configurations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "subAccount": {
                        "type": "string",
                        "description": "Address of the sub-account in 42-character hexadecimal format"
                      },
                      "name": {
                        "type": "string",
                        "description": "Human-readable name assigned to the sub-account"
                      },
                      "master": {
                        "type": "string",
                        "description": "Address of the master account (should match the requested user)"
                      },
                      "clearinghouseState": {
                        "type": "object",
                        "description": "Current state of the sub-account's clearinghouse data",
                        "properties": {
                          "accountValue": {
                            "type": "string",
                            "description": "Total account value including unrealized PnL"
                          },
                          "totalRawUsd": {
                            "type": "string",
                            "description": "Total raw USD value in the account"
                          },
                          "totalMarginUsed": {
                            "type": "string",
                            "description": "Total margin currently used by positions"
                          }
                        }
                      },
                      "positions": {
                        "type": "array",
                        "description": "List of open positions in the sub-account",
                        "items": {
                          "type": "object",
                          "properties": {
                            "coin": {
                              "type": "string",
                              "description": "Asset symbol"
                            },
                            "size": {
                              "type": "string",
                              "description": "Position size"
                            },
                            "unrealizedPnl": {
                              "type": "string",
                              "description": "Unrealized profit and loss"
                            }
                          }
                        }
                      },
                      "createdTime": {
                        "type": "integer",
                        "description": "Timestamp when the sub-account was created in milliseconds"
                      },
                      "isActive": {
                        "type": "boolean",
                        "description": "Whether the sub-account is currently active"
                      }
                    },
                    "required": [
                      "subAccount",
                      "master"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
