{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (liquidatable)",
        "operationId": "infoLiquidatable",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "liquidatable",
                    "enum": ["liquidatable"],
                    "description": "Request type to check if user positions are liquidatable"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Liquidation status information for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Information about user's liquidation status and risk metrics",
                  "properties": {
                    "liquidatable": {
                      "type": "boolean",
                      "description": "Whether the user's positions are currently liquidatable"
                    },
                    "leverage": {
                      "type": "string",
                      "description": "Current leverage ratio of the user's positions"
                    },
                    "marginUsed": {
                      "type": "string",
                      "description": "Amount of margin currently used"
                    },
                    "marginRemaining": {
                      "type": "string",
                      "description": "Amount of margin remaining before liquidation"
                    },
                    "accountValue": {
                      "type": "string",
                      "description": "Total account value including unrealized PnL"
                    },
                    "totalRawUsd": {
                      "type": "string",
                      "description": "Total raw USD value of the account"
                    },
                    "totalNtlPos": {
                      "type": "string",
                      "description": "Total notional position value"
                    }
                  },
                  "required": [
                    "liquidatable"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
