{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpAnnotation)",
        "operationId": "infoPerpAnnotation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "perpAnnotation",
                    "enum": [
                      "perpAnnotation"
                    ]
                  },
                  "coin": {
                    "type": "string",
                    "description": "HIP-3 asset symbol in deployer:TICKER format (e.g., \"xyz:GOLD\"). Native perps like \"BTC\" always return null.",
                    "default": "xyz:GOLD"
                  }
                },
                "required": [
                  "type",
                  "coin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Annotation metadata for the perpetual or null",
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "type": "object",
                  "properties": {
                    "category": {
                      "type": "string",
                      "description": "Category label, at most 15 characters"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description text, at most 400 characters"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
