{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (webData2)",
        "operationId": "infoWebData2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "webData2",
                    "enum": [
                      "webData2"
                    ],
                    "description": "Request type to retrieve web application data"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Web application data and interface configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Comprehensive web application data for frontend interfaces",
                  "properties": {
                    "marketData": {
                      "type": "object",
                      "description": "Market information and trading data",
                      "properties": {
                        "markets": {
                          "type": "array",
                          "description": "List of available markets",
                          "items": {
                            "type": "object",
                            "properties": {
                              "symbol": {
                                "type": "string",
                                "description": "Market symbol"
                              },
                              "price": {
                                "type": "string",
                                "description": "Current market price"
                              },
                              "volume24h": {
                                "type": "string",
                                "description": "24-hour trading volume"
                              },
                              "change24h": {
                                "type": "string",
                                "description": "24-hour price change percentage"
                              }
                            }
                          }
                        },
                        "totalVolume": {
                          "type": "string",
                          "description": "Total platform trading volume"
                        },
                        "totalOpenInterest": {
                          "type": "string",
                          "description": "Total open interest across all markets"
                        }
                      }
                    },
                    "networkStats": {
                      "type": "object",
                      "description": "Network statistics and health metrics",
                      "properties": {
                        "blockHeight": {
                          "type": "integer",
                          "description": "Current block height"
                        },
                        "activeUsers": {
                          "type": "integer",
                          "description": "Number of active users"
                        },
                        "totalTransactions": {
                          "type": "integer",
                          "description": "Total number of transactions"
                        }
                      }
                    },
                    "uiConfig": {
                      "type": "object",
                      "description": "User interface configuration settings",
                      "properties": {
                        "features": {
                          "type": "array",
                          "description": "Enabled features for the web interface",
                          "items": {
                            "type": "string"
                          }
                        },
                        "maintenance": {
                          "type": "boolean",
                          "description": "Whether the platform is in maintenance mode"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}