{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userRole)",
        "operationId": "infoUserRole",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userRole",
                    "enum": ["userRole"],
                    "description": "Request type to retrieve user's role information"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "User address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's role information and associated data",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Regular user role",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["user"],
                          "description": "User role type"
                        }
                      },
                      "required": ["role"]
                    },
                    {
                      "type": "object",
                      "description": "Agent role with associated user",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["agent"],
                          "description": "Agent role type"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "user": {
                              "type": "string",
                              "description": "Address of the user this agent represents"
                            }
                          },
                          "required": ["user"]
                        }
                      },
                      "required": ["role", "data"]
                    },
                    {
                      "type": "object",
                      "description": "Vault role",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["vault"],
                          "description": "Vault role type"
                        }
                      },
                      "required": ["role"]
                    },
                    {
                      "type": "object",
                      "description": "Sub-account role with master account",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["subAccount"],
                          "description": "Sub-account role type"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "master": {
                              "type": "string",
                              "description": "Address of the master account"
                            }
                          },
                          "required": ["master"]
                        }
                      },
                      "required": ["role", "data"]
                    },
                    {
                      "type": "object",
                      "description": "Missing or unrecognized role",
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": ["missing"],
                          "description": "Missing role type"
                        }
                      },
                      "required": ["role"]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}