{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpDeployAuctionStatus)",
        "operationId": "infoPerpDeployAuctionStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "perpDeployAuctionStatus",
                    "enum": ["perpDeployAuctionStatus"],
                    "description": "Request type to retrieve perpetual deployment auction status"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current status of perpetual deployment auctions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Perpetual deployment auction timing and gas information",
                  "properties": {
                    "startTimeSeconds": {
                      "type": "integer",
                      "description": "Auction start time in seconds since epoch"
                    },
                    "durationSeconds": {
                      "type": "integer",
                      "description": "Duration of the auction in seconds"
                    },
                    "startGas": {
                      "type": "string",
                      "description": "Starting gas amount for the auction"
                    },
                    "currentGas": {
                      "type": "string",
                      "description": "Current gas amount"
                    },
                    "endGas": {
                      "type": "string",
                      "nullable": true,
                      "description": "Ending gas amount (null if auction is ongoing)"
                    }
                  },
                  "required": [
                    "startTimeSeconds",
                    "durationSeconds",
                    "startGas",
                    "currentGas",
                    "endGas"
                  ]
                },
                "example": {
                  "startTimeSeconds": 1747656000,
                  "durationSeconds": 111600,
                  "startGas": "500.0",
                  "currentGas": "500.0",
                  "endGas": null
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
