{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userNonFundingLedgerUpdates)",
        "operationId": "infoUserNonFundingLedgerUpdates",
        "description": "Retrieve non-funding ledger updates for a specific user account, including deposits, withdrawals, transfers, liquidations, and other account activities excluding funding payments.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["userNonFundingLedgerUpdates"],
                    "default": "userNonFundingLedgerUpdates",
                    "description": "The request type. Must be 'userNonFundingLedgerUpdates' to retrieve user ledger updates."
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "User wallet address (0x...)"
                  },
                  "startTime": {
                    "type": "integer",
                    "default": 1681923833000,
                    "description": "Start timestamp in milliseconds. Optional parameter to filter ledger updates from a specific time."
                  }
                }
              },
              "example": {
                "type": "userNonFundingLedgerUpdates",
                "user": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                "startTime": 1681923833000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User non-funding ledger updates data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of ledger update events for the user"
                },
                "example": [
                  {
                    "time": 1731999196516,
                    "hash": "0x09ddd9f712b5df0945af34b055bbb3329c88ca001aff41bbfd4341d80bc760ce",
                    "delta": {
                      "type": "deposit",
                      "usdc": "2703997.4500000002"
                    }
                  },
                  {
                    "time": 1732834706761,
                    "hash": "0x1ddfe341d6a65a05392a0417f410fd014100a311417ccf11da13fcddea1429c9",
                    "delta": {
                      "type": "accountClassTransfer",
                      "usdc": "12.0",
                      "toPerp": false
                    }
                  },
                  {
                    "time": 1732834825313,
                    "hash": "0x2ceac78e94d15a1af8660417f418400175003b84f5f2d86615b352360e4d48ac",
                    "delta": {
                      "type": "spotTransfer",
                      "token": "USDC",
                      "amount": "10.5",
                      "usdcValue": "10.5",
                      "user": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                      "destination": "0xaaa0c2769cb990f4f37db951a9e48de2385c2733",
                      "fee": "1.0",
                      "nativeTokenFee": "0.0",
                      "nonce": null
                    }
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
