{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userFillsByTime)",
        "operationId": "infoUserFillsByTime",
        "description": "Returns at most 2000 fills per response and only the 10000 most recent fills are available",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user", "startTime"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["userFillsByTime"],
                    "default": "userFillsByTime",
                    "description": "The request type. Must be \"userFillsByTime\" to retrieve user fills by time range."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  },
                  "startTime": {
                    "type": "integer",
                    "default": 1754380000000,
                    "description": "Start time in milliseconds, inclusive"
                  },
                  "endTime": {
                    "type": "integer",
                    "default": 1754380200000,
                    "description": "End time in milliseconds, inclusive. Defaults to current time."
                  },
                  "aggregateByTime": {
                    "type": "boolean",
                    "description": "When true, partial fills are combined when a crossing order gets filled by multiple different resting orders. Resting orders filled by multiple crossing orders will not be aggregated."
                  }
                }
              },
              "example": {
                "type": "userFillsByTime",
                "user": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                "startTime": 1754380000000,
                "endTime": 1754380200000
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with user fills data within the specified time range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "closedPnl": {
                        "type": "string",
                        "description": "Closed profit and loss for the fill"
                      },
                      "coin": {
                        "type": "string",
                        "description": "Asset symbol (e.g., 'BTC', 'ETH') for perpetuals or spot format (e.g., '@107') for spot trades"
                      },
                      "crossed": {
                        "type": "boolean",
                        "description": "Whether this was a crossing order"
                      },
                      "dir": {
                        "type": "string",
                        "description": "Direction of the trade (e.g., 'Open Long', 'Close Short', 'Buy', 'Sell')"
                      },
                      "hash": {
                        "type": "string",
                        "description": "Transaction hash"
                      },
                      "oid": {
                        "type": "integer",
                        "description": "Order ID"
                      },
                      "px": {
                        "type": "string",
                        "description": "Fill price"
                      },
                      "side": {
                        "type": "string",
                        "enum": ["A", "B"],
                        "description": "Side of the trade: 'A' for Ask/Sell, 'B' for Bid/Buy"
                      },
                      "startPosition": {
                        "type": "string",
                        "description": "Position size before this fill"
                      },
                      "sz": {
                        "type": "string",
                        "description": "Fill size"
                      },
                      "time": {
                        "type": "integer",
                        "description": "Fill timestamp in milliseconds"
                      },
                      "fee": {
                        "type": "string",
                        "description": "Trading fee paid"
                      },
                      "feeToken": {
                        "type": "string",
                        "description": "Token used to pay the fee (typically 'USDC')"
                      },
                      "builderFee": {
                        "type": "string",
                        "description": "Builder fee (optional, only present if non-zero)"
                      },
                      "tid": {
                        "type": "integer",
                        "description": "Trade ID"
                      }
                    }
                  }
                },
                "examples": {
                  "perpFill": {
                    "summary": "Perpetual fill example",
                    "value": [
                      {
                        "closedPnl": "0.0",
                        "coin": "AVAX",
                        "crossed": false,
                        "dir": "Open Long",
                        "hash": "0xa166e3fa63c25663024b03f2e0da011a00307e4017465df020210d3d432e7cb8",
                        "oid": 90542681,
                        "px": "18.435",
                        "side": "B",
                        "startPosition": "26.86",
                        "sz": "93.53",
                        "time": 1681222254710,
                        "fee": "0.01",
                        "feeToken": "USDC",
                        "builderFee": "0.01",
                        "tid": 118906512037719
                      }
                    ]
                  },
                  "spotFill": {
                    "summary": "Spot fill example",
                    "value": [
                      {
                        "coin": "@107",
                        "px": "18.62041381",
                        "sz": "43.84",
                        "side": "A",
                        "time": 1735969713869,
                        "startPosition": "10659.65434798",
                        "dir": "Sell",
                        "closedPnl": "8722.988077",
                        "hash": "0x2222138cc516e3fe746c0411dd733f02e60086f43205af2ae37c93f6a792430b",
                        "oid": 59071663721,
                        "crossed": true,
                        "fee": "0.304521",
                        "tid": 907359904431134,
                        "feeToken": "USDC"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}