{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (spotClearinghouseState)",
        "operationId": "infoSpotClearinghouseState",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "spotClearinghouseState",
                    "enum": ["spotClearinghouseState"],
                    "description": "Request type to retrieve user's spot token balances"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Onchain address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's spot token balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balances": {
                      "type": "array",
                      "description": "Array of user's spot token balances",
                      "items": {
                        "type": "object",
                        "properties": {
                          "coin": {
                            "type": "string",
                            "description": "Token symbol (e.g., 'USDC', 'PURR')"
                          },
                          "token": {
                            "type": "integer",
                            "description": "Token index identifier"
                          },
                          "hold": {
                            "type": "string",
                            "description": "Amount on hold (locked in open orders)"
                          },
                          "total": {
                            "type": "string",
                            "description": "Total balance including held amount"
                          },
                          "entryNtl": {
                            "type": "string",
                            "description": "Entry notional value"
                          }
                        },
                        "required": [
                          "coin",
                          "token",
                          "hold",
                          "total",
                          "entryNtl"
                        ]
                      }
                    }
                  },
                  "required": [
                    "balances"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
