{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (extraAgents)",
        "operationId": "infoExtraAgents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "extraAgents",
                    "enum": ["extraAgents"],
                    "description": "Request type to retrieve extra agents associated with a user"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of extra agents associated with the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of extra agents associated with the user",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Label for the agent"
                      },
                      "address": {
                        "type": "string",
                        "description": "Agent address in 42-character hexadecimal format"
                      },
                      "validUntil": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Timestamp in milliseconds until which the agent is valid"
                      }
                    },
                    "required": [
                      "name",
                      "address",
                      "validUntil"
                    ]
                  },
                  "example": [
                    {
                      "name": "Mobile QR",
                      "address": "0x1715462edd45a87eea74e402428392ffc744eb20",
                      "validUntil": 1756349176478
                    },
                    {
                      "name": "p1",
                      "address": "0xd56a73c11336d712403d346c7502f5af29027cda",
                      "validUntil": 1766846919956
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
