{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (spotDeployState)",
        "operationId": "infoSpotDeployState",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "spotDeployState",
                    "enum": ["spotDeployState"],
                    "description": "Request type to retrieve spot token deployment state information"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x0000000000000000000000000000000000000000",
                    "description": "Address in 42-character hexadecimal format (can be zero address for global state)"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Spot token deployment state and configuration information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Current state of spot token deployment system",
                  "properties": {
                    "deploymentEnabled": {
                      "type": "boolean",
                      "description": "Whether new spot token deployments are currently enabled"
                    },
                    "totalDeployments": {
                      "type": "integer",
                      "description": "Total number of tokens deployed on the spot system"
                    },
                    "deploymentCost": {
                      "type": "string",
                      "description": "Cost to deploy a new spot token (in USD)"
                    },
                    "maxSupply": {
                      "type": "string",
                      "description": "Maximum token supply allowed for new deployments"
                    },
                    "minSupply": {
                      "type": "string",
                      "description": "Minimum token supply required for new deployments"
                    },
                    "deploymentQueue": {
                      "type": "array",
                      "description": "Queue of pending token deployments",
                      "items": {
                        "type": "object",
                        "properties": {
                          "deployer": {
                            "type": "string",
                            "description": "Address of the token deployer"
                          },
                          "tokenName": {
                            "type": "string",
                            "description": "Name of the token to be deployed"
                          },
                          "tokenSymbol": {
                            "type": "string",
                            "description": "Symbol of the token to be deployed"
                          },
                          "supply": {
                            "type": "string",
                            "description": "Initial supply of the token"
                          },
                          "queuePosition": {
                            "type": "integer",
                            "description": "Position in the deployment queue"
                          },
                          "estimatedDeployTime": {
                            "type": "integer",
                            "description": "Estimated deployment timestamp in milliseconds"
                          }
                        }
                      }
                    },
                    "recentDeployments": {
                      "type": "array",
                      "description": "Recently deployed tokens",
                      "items": {
                        "type": "object",
                        "properties": {
                          "tokenAddress": {
                            "type": "string",
                            "description": "Contract address of the deployed token"
                          },
                          "tokenName": {
                            "type": "string",
                            "description": "Name of the deployed token"
                          },
                          "tokenSymbol": {
                            "type": "string",
                            "description": "Symbol of the deployed token"
                          },
                          "deployer": {
                            "type": "string",
                            "description": "Address of the token deployer"
                          },
                          "deployTime": {
                            "type": "integer",
                            "description": "Deployment timestamp in milliseconds"
                          },
                          "initialSupply": {
                            "type": "string",
                            "description": "Initial supply of the deployed token"
                          }
                        }
                      }
                    },
                    "systemStatus": {
                      "type": "string",
                      "description": "Current status of the deployment system (e.g., 'active', 'maintenance', 'paused')"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
