{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Delegator Rewards",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Query a user's staking rewards",
        "description": "Retrieve comprehensive staking rewards history for a specific user, including delegation rewards and commission earnings with timestamps and reward sources.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["delegatorRewards"],
                    "default": "delegatorRewards",
                    "description": "The request type. Must be 'delegatorRewards' to retrieve staking rewards."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  }
                }
              },
              "example": {
                "type": "delegatorRewards",
                "user": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with staking rewards data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of staking reward events",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Timestamp of the reward event in milliseconds"
                      },
                      "source": {
                        "type": "string",
                        "enum": ["delegation", "commission"],
                        "description": "Source of the reward: 'delegation' for staking rewards or 'commission' for validator commission"
                      },
                      "totalAmount": {
                        "type": "string",
                        "description": "Total amount of rewards received"
                      }
                    },
                    "required": ["time", "source", "totalAmount"]
                  }
                },
                "example": [
                  {
                    "time": 1736726400073,
                    "source": "delegation",
                    "totalAmount": "0.73117184"
                  },
                  {
                    "time": 1736726400073,
                    "source": "commission",
                    "totalAmount": "130.76445876"
                  },
                  {
                    "time": 1736640000073,
                    "source": "delegation",
                    "totalAmount": "0.68234567"
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}