{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpDeployAuctionStatus)",
        "operationId": "infoPerpDeployAuctionStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "perpDeployAuctionStatus",
                    "enum": ["perpDeployAuctionStatus"],
                    "description": "Request type to retrieve perpetual deployment auction status"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current status of perpetual deployment auctions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Information about ongoing and upcoming perpetual deployment auctions",
                  "properties": {
                    "auctionActive": {
                      "type": "boolean",
                      "description": "Whether there is currently an active auction"
                    },
                    "currentAuction": {
                      "type": "object",
                      "description": "Details of the currently active auction",
                      "properties": {
                        "auctionId": {
                          "type": "string",
                          "description": "Unique identifier for the auction"
                        },
                        "assetName": {
                          "type": "string",
                          "description": "Name of the asset being auctioned for perpetual deployment"
                        },
                        "assetSymbol": {
                          "type": "string",
                          "description": "Symbol of the asset being auctioned"
                        },
                        "startTime": {
                          "type": "integer",
                          "description": "Auction start timestamp in milliseconds"
                        },
                        "endTime": {
                          "type": "integer",
                          "description": "Auction end timestamp in milliseconds"
                        },
                        "currentHighestBid": {
                          "type": "string",
                          "description": "Current highest bid amount in USD"
                        },
                        "highestBidder": {
                          "type": "string",
                          "description": "Address of the current highest bidder"
                        },
                        "minimumBid": {
                          "type": "string",
                          "description": "Minimum bid amount required"
                        },
                        "bidIncrement": {
                          "type": "string",
                          "description": "Minimum increment for new bids"
                        },
                        "totalBids": {
                          "type": "integer",
                          "description": "Total number of bids placed in this auction"
                        },
                        "timeRemaining": {
                          "type": "integer",
                          "description": "Time remaining in the auction in milliseconds"
                        }
                      }
                    },
                    "upcomingAuctions": {
                      "type": "array",
                      "description": "List of scheduled upcoming auctions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auctionId": {
                            "type": "string",
                            "description": "Unique identifier for the upcoming auction"
                          },
                          "assetName": {
                            "type": "string",
                            "description": "Name of the asset to be auctioned"
                          },
                          "assetSymbol": {
                            "type": "string",
                            "description": "Symbol of the asset to be auctioned"
                          },
                          "scheduledStartTime": {
                            "type": "integer",
                            "description": "Scheduled start timestamp in milliseconds"
                          },
                          "estimatedDuration": {
                            "type": "integer",
                            "description": "Estimated auction duration in milliseconds"
                          }
                        }
                      }
                    },
                    "recentCompletedAuctions": {
                      "type": "array",
                      "description": "List of recently completed auctions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "auctionId": {
                            "type": "string",
                            "description": "Unique identifier for the completed auction"
                          },
                          "assetName": {
                            "type": "string",
                            "description": "Name of the auctioned asset"
                          },
                          "assetSymbol": {
                            "type": "string",
                            "description": "Symbol of the auctioned asset"
                          },
                          "winningBid": {
                            "type": "string",
                            "description": "Final winning bid amount"
                          },
                          "winner": {
                            "type": "string",
                            "description": "Address of the auction winner"
                          },
                          "completionTime": {
                            "type": "integer",
                            "description": "Auction completion timestamp in milliseconds"
                          },
                          "deploymentStatus": {
                            "type": "string",
                            "description": "Status of the perpetual deployment (e.g., 'pending', 'deployed', 'live')"
                          }
                        }
                      }
                    },
                    "systemStatus": {
                      "type": "string",
                      "description": "Overall status of the auction system (e.g., 'active', 'paused', 'maintenance')"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
