{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (allMids)",
        "operationId": "infoAllMids",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "allMids",
                    "enum": ["allMids"],
                    "description": "Request type to retrieve mid prices for all coins"
                  },
                  "dex": {
                    "type": "string",
                    "default": "",
                    "description": "Perp dex name. Defaults to the empty string which represents the first perp dex. Spot mids are only included with the first perp dex."
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mid prices for all available coins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Object containing mid prices for all coins with coin symbols as keys and prices as values",
                  "additionalProperties": {
                    "type": "string",
                    "description": "Mid price for the coin as a string"
                  },
                  "example": {
                    "@142": "116849.5",
                    "BTC": "116845.5",
                    "ETH": "3915.35",
                    "HYPE": "40.7915"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
