{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userFees)",
        "operationId": "infoUserFees",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userFees",
                    "enum": ["userFees"],
                    "description": "Request type to retrieve user's fee structure and trading costs"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's fee structure and trading cost information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Detailed fee structure and trading costs for the user",
                  "properties": {
                    "userAddress": {
                      "type": "string",
                      "description": "Address of the user (matches the requested user)"
                    },
                    "makerRate": {
                      "type": "string",
                      "description": "Maker fee rate as a decimal (e.g., '0.0002' for 0.02%)"
                    },
                    "takerRate": {
                      "type": "string",
                      "description": "Taker fee rate as a decimal (e.g., '0.0005' for 0.05%)"
                    },
                    "vipLevel": {
                      "type": "integer",
                      "description": "VIP level of the user (0 for standard, higher numbers for VIP tiers)"
                    },
                    "feeTier": {
                      "type": "string",
                      "description": "Fee tier name or identifier"
                    },
                    "volume30d": {
                      "type": "string",
                      "description": "30-day trading volume in USD used for fee tier calculation"
                    },
                    "hlpBalance": {
                      "type": "string",
                      "description": "HLP (Hyperliquid Points) balance that may affect fee discounts"
                    },
                    "referralDiscount": {
                      "type": "string",
                      "description": "Additional discount from referral program as a decimal"
                    },
                    "effectiveMakerRate": {
                      "type": "string",
                      "description": "Final maker rate after all discounts applied"
                    },
                    "effectiveTakerRate": {
                      "type": "string",
                      "description": "Final taker rate after all discounts applied"
                    },
                    "lastUpdated": {
                      "type": "integer",
                      "description": "Timestamp of last fee calculation update in milliseconds"
                    }
                  },
                  "required": [
                    "userAddress",
                    "makerRate",
                    "takerRate"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
