{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpDexStatus)",
        "operationId": "infoPerpDexStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "perpDexStatus",
                    "enum": [
                      "perpDexStatus"
                    ]
                  },
                  "dex": {
                    "type": "string",
                    "description": "Perp DEX name",
                    "default": "xyz"
                  }
                },
                "required": [
                  "type",
                  "dex"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Status of the specified perp DEX",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
