{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (vaultSummaries)",
        "operationId": "infoVaultSummaries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "vaultSummaries",
                    "enum": ["vaultSummaries"],
                    "description": "Request type to retrieve vault summaries for all available vaults"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Summary information for all available vaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of vault summaries with performance and metadata",
                  "items": {
                    "type": "object",
                    "properties": {
                      "vaultAddress": {
                        "type": "string",
                        "description": "Contract address of the vault"
                      },
                      "name": {
                        "type": "string",
                        "description": "Human-readable name of the vault"
                      },
                      "leader": {
                        "type": "string",
                        "description": "Address of the vault leader/manager"
                      },
                      "totalShares": {
                        "type": "string",
                        "description": "Total number of shares issued by the vault"
                      },
                      "tvl": {
                        "type": "string",
                        "description": "Total value locked in the vault (USD)"
                      },
                      "sharePrice": {
                        "type": "string",
                        "description": "Current price per share"
                      },
                      "pnl1D": {
                        "type": "string",
                        "description": "1-day profit and loss percentage"
                      },
                      "pnl7D": {
                        "type": "string",
                        "description": "7-day profit and loss percentage"
                      },
                      "pnl30D": {
                        "type": "string",
                        "description": "30-day profit and loss percentage"
                      },
                      "pnlAllTime": {
                        "type": "string",
                        "description": "All-time profit and loss percentage"
                      },
                      "maxDD": {
                        "type": "string",
                        "description": "Maximum drawdown percentage"
                      },
                      "isOpen": {
                        "type": "boolean",
                        "description": "Whether the vault is open for new deposits"
                      },
                      "minDeposit": {
                        "type": "string",
                        "description": "Minimum deposit amount required"
                      }
                    },
                    "required": [
                      "vaultAddress",
                      "name",
                      "leader"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
