{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpDexs)",
        "operationId": "infoPerpDexs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "perpDexs",
                    "enum": ["perpDexs"],
                    "description": "Request type to retrieve available perpetual DEXs information"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of available perpetual DEXs and their configurations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of perpetual DEX configurations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dexId": {
                        "type": "string",
                        "description": "Unique identifier for the perpetual DEX"
                      },
                      "name": {
                        "type": "string",
                        "description": "Human-readable name of the perpetual DEX"
                      },
                      "description": {
                        "type": "string",
                        "description": "Description of the DEX and its purpose"
                      },
                      "isActive": {
                        "type": "boolean",
                        "description": "Whether the DEX is currently active and operational"
                      },
                      "createdTime": {
                        "type": "integer",
                        "description": "DEX creation timestamp in milliseconds"
                      },
                      "assets": {
                        "type": "array",
                        "description": "List of assets available on this DEX",
                        "items": {
                          "type": "object",
                          "properties": {
                            "assetId": {
                              "type": "integer",
                              "description": "Unique asset identifier within the DEX"
                            },
                            "symbol": {
                              "type": "string",
                              "description": "Asset symbol (e.g., 'BTC', 'ETH')"
                            },
                            "name": {
                              "type": "string",
                              "description": "Full name of the asset"
                            },
                            "maxLeverage": {
                              "type": "string",
                              "description": "Maximum leverage available for this asset"
                            },
                            "tickSize": {
                              "type": "string",
                              "description": "Minimum price increment for orders"
                            },
                            "lotSize": {
                              "type": "string",
                              "description": "Minimum order size increment"
                            },
                            "isActive": {
                              "type": "boolean",
                              "description": "Whether trading is active for this asset"
                            }
                          }
                        }
                      },
                      "tradingConfig": {
                        "type": "object",
                        "description": "Trading configuration for the DEX",
                        "properties": {
                          "makerFeeRate": {
                            "type": "string",
                            "description": "Base maker fee rate for this DEX"
                          },
                          "takerFeeRate": {
                            "type": "string",
                            "description": "Base taker fee rate for this DEX"
                          },
                          "minOrderValue": {
                            "type": "string",
                            "description": "Minimum order value in USD"
                          },
                          "maxOrderValue": {
                            "type": "string",
                            "description": "Maximum order value in USD"
                          }
                        }
                      },
                      "volumeStats": {
                        "type": "object",
                        "description": "Volume statistics for the DEX",
                        "properties": {
                          "volume24h": {
                            "type": "string",
                            "description": "24-hour trading volume in USD"
                          },
                          "volume7d": {
                            "type": "string",
                            "description": "7-day trading volume in USD"
                          },
                          "totalVolume": {
                            "type": "string",
                            "description": "All-time trading volume in USD"
                          },
                          "activeTraders24h": {
                            "type": "integer",
                            "description": "Number of active traders in the last 24 hours"
                          }
                        }
                      },
                      "website": {
                        "type": "string",
                        "description": "Official website URL for the DEX"
                      },
                      "contactInfo": {
                        "type": "object",
                        "description": "Contact information for the DEX",
                        "properties": {
                          "support": {
                            "type": "string",
                            "description": "Support contact or URL"
                          },
                          "documentation": {
                            "type": "string",
                            "description": "Documentation URL"
                          }
                        }
                      }
                    },
                    "required": [
                      "dexId",
                      "name"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
