{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (extraAgents)",
        "operationId": "infoExtraAgents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "extraAgents",
                    "enum": ["extraAgents"],
                    "description": "Request type to retrieve extra agents associated with a user"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of extra agents associated with the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of agent addresses and their permissions",
                  "items": {
                    "type": "object",
                    "properties": {
                      "agent": {
                        "type": "string",
                        "description": "Address of the agent in 42-character hexadecimal format"
                      },
                      "name": {
                        "type": "string",
                        "description": "Human-readable name or identifier for the agent"
                      },
                      "permissions": {
                        "type": "array",
                        "description": "List of permissions granted to the agent",
                        "items": {
                          "type": "string",
                          "description": "Permission type (e.g., 'trade', 'withdraw', 'vault_manage')"
                        }
                      },
                      "createdTime": {
                        "type": "integer",
                        "description": "Timestamp when the agent was added in milliseconds"
                      },
                      "lastActivity": {
                        "type": "integer",
                        "description": "Timestamp of last agent activity in milliseconds"
                      },
                      "isActive": {
                        "type": "boolean",
                        "description": "Whether the agent is currently active"
                      },
                      "description": {
                        "type": "string",
                        "description": "Optional description of the agent's purpose"
                      }
                    },
                    "required": [
                      "agent"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
