{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userRateLimit)",
        "operationId": "infoUserRateLimit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userRateLimit",
                    "enum": ["userRateLimit"],
                    "description": "Request type to retrieve user's API rate limit information"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's API rate limit information and current usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Rate limit usage summary",
                  "properties": {
                    "cumVlm": { "type": "string" },
                    "nRequestsUsed": { "type": "integer" },
                    "nRequestsCap": { "type": "integer" }
                  }
                },
                "example": {
                  "cumVlm": "2854574.593578",
                  "nRequestsUsed": 2890,
                  "nRequestsCap": 2864574
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
