{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userToMultiSigSigners)",
        "operationId": "infoUserToMultiSigSigners",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userToMultiSigSigners",
                    "enum": ["userToMultiSigSigners"],
                    "description": "Request type to retrieve multi-signature signers for a user"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x3710f20c8a8b2781D878105Fbd61CC0c20fE0411",
                    "description": "User address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Multi-signature signers associated with the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of signer addresses associated with the user's multi-signature setup",
                  "items": {
                    "type": "string",
                    "description": "Signer address in hexadecimal format"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}