{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (batchClearinghouseStates)",
        "operationId": "infoBatchClearinghouseStates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "batchClearinghouseStates",
                    "example": "batchClearinghouseStates",
                    "enum": ["batchClearinghouseStates"],
                    "description": "Request type to retrieve multiple users' perpetuals account summaries"
                  },
                  "users": {
                    "type": "array",
                    "description": "Array of onchain addresses in 42-character hexadecimal format",
                    "default": [
                      "0x5e9ee1089755c3435139848e47e6635505d5a13a",
                      "0xb7b6f3cea3f66bf525f5d8f965f6dbf6d9b017b2"
                    ],
                    "example": [
                      "0x5e9ee1089755c3435139848e47e6635505d5a13a",
                      "0xb7b6f3cea3f66bf525f5d8f965f6dbf6d9b017b2"
                    ],
                    "items": {
                      "type": "string",
                      "example": "0x0000000000000000000000000000000000000001"
                    },
                    "minItems": 1
                  },
                  "dex": {
                    "type": "string",
                    "default": "",
                    "example": "",
                    "description": "Perp dex name. Defaults to empty string which represents the first perp dex"
                  }
                },
                "required": [
                  "type",
                  "users"
                ],
                "default": {
                  "type": "batchClearinghouseStates",
                  "users": [
                    "0x5e9ee1089755c3435139848e47e6635505d5a13a",
                    "0xb7b6f3cea3f66bf525f5d8f965f6dbf6d9b017b2"
                  ],
                  "dex": ""
                }
              }
              ,
              "example": {
                "type": "batchClearinghouseStates",
                "users": [
                  "0x5e9ee1089755c3435139848e47e6635505d5a13a",
                  "0xb7b6f3cea3f66bf525f5d8f965f6dbf6d9b017b2"
                ],
                "dex": ""
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of users' perpetuals account summaries including positions and margin information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "assetPositions": {
                        "type": "array",
                        "description": "Array of user's asset positions",
                        "items": {
                          "type": "object",
                          "properties": {
                            "position": {
                              "type": "object",
                              "properties": {
                                "coin": { "type": "string", "description": "Asset symbol" },
                                "cumFunding": {
                                  "type": "object",
                                  "description": "Cumulative funding information",
                                  "properties": {
                                    "allTime": { "type": "string" },
                                    "sinceChange": { "type": "string" },
                                    "sinceOpen": { "type": "string" }
                                  }
                                },
                                "entryPx": { "type": "string", "description": "Entry price" },
                                "leverage": {
                                  "type": "object",
                                  "description": "Leverage information",
                                  "properties": {
                                    "rawUsd": { "type": "string" },
                                    "type": { "type": "string" },
                                    "value": { "type": "number" }
                                  }
                                },
                                "liquidationPx": { "type": "string" },
                                "marginUsed": { "type": "string" },
                                "maxLeverage": { "type": "number" },
                                "positionValue": { "type": "string" },
                                "returnOnEquity": { "type": "string" },
                                "szi": { "type": "string" },
                                "unrealizedPnl": { "type": "string" }
                              }
                            },
                            "type": { "type": "string", "description": "Position type" }
                          }
                        }
                      },
                      "crossMaintenanceMarginUsed": { "type": "string" },
                      "crossMarginSummary": {
                        "type": "object",
                        "properties": {
                          "accountValue": { "type": "string" },
                          "totalMarginUsed": { "type": "string" },
                          "totalNtlPos": { "type": "string" },
                          "totalRawUsd": { "type": "string" }
                        }
                      },
                      "marginSummary": {
                        "type": "object",
                        "properties": {
                          "accountValue": { "type": "string" },
                          "totalMarginUsed": { "type": "string" },
                          "totalNtlPos": { "type": "string" },
                          "totalRawUsd": { "type": "string" }
                        }
                      },
                      "time": { "type": "number" },
                      "withdrawable": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}


