{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpsAtOpenInterestCap)",
        "operationId": "infoPerpsAtOpenInterestCap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "perpsAtOpenInterestCap",
                    "enum": ["perpsAtOpenInterestCap"],
                    "description": "Request type to retrieve perpetuals at open interest cap"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of perpetual contracts currently at their open interest cap",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of perpetual contract symbols that have reached their open interest limit",
                  "items": {
                    "type": "string",
                    "description": "Symbol of the perpetual contract at open interest cap"
                  },
                  "example": ["BADGER", "CANTO", "FTM", "LOOM", "PURR"]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}