{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userRateLimit)",
        "operationId": "infoUserRateLimit",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userRateLimit",
                    "enum": ["userRateLimit"],
                    "description": "Request type to retrieve user's API rate limit information"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's API rate limit information and current usage",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Rate limit configuration and usage statistics for the user",
                  "properties": {
                    "userAddress": {
                      "type": "string",
                      "description": "Address of the user (matches the requested user)"
                    },
                    "rateLimitTier": {
                      "type": "string",
                      "description": "Rate limit tier assigned to the user (e.g., 'standard', 'premium', 'vip')"
                    },
                    "requestsPerSecond": {
                      "type": "integer",
                      "description": "Maximum allowed requests per second"
                    },
                    "requestsPerMinute": {
                      "type": "integer",
                      "description": "Maximum allowed requests per minute"
                    },
                    "requestsPerHour": {
                      "type": "integer",
                      "description": "Maximum allowed requests per hour"
                    },
                    "burstLimit": {
                      "type": "integer",
                      "description": "Maximum burst requests allowed in short periods"
                    },
                    "currentUsage": {
                      "type": "object",
                      "description": "Current API usage statistics",
                      "properties": {
                        "requestsLastSecond": {
                          "type": "integer",
                          "description": "Number of requests made in the last second"
                        },
                        "requestsLastMinute": {
                          "type": "integer",
                          "description": "Number of requests made in the last minute"
                        },
                        "requestsLastHour": {
                          "type": "integer",
                          "description": "Number of requests made in the last hour"
                        }
                      }
                    },
                    "resetTimes": {
                      "type": "object",
                      "description": "When rate limit counters reset",
                      "properties": {
                        "nextSecondReset": {
                          "type": "integer",
                          "description": "Timestamp when per-second counter resets (milliseconds)"
                        },
                        "nextMinuteReset": {
                          "type": "integer",
                          "description": "Timestamp when per-minute counter resets (milliseconds)"
                        },
                        "nextHourReset": {
                          "type": "integer",
                          "description": "Timestamp when per-hour counter resets (milliseconds)"
                        }
                      }
                    },
                    "isThrottled": {
                      "type": "boolean",
                      "description": "Whether the user is currently being rate limited"
                    },
                    "upgradeAvailable": {
                      "type": "boolean",
                      "description": "Whether higher rate limit tiers are available"
                    }
                  },
                  "required": [
                    "userAddress",
                    "rateLimitTier"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
