{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (vaultSummaries)",
        "operationId": "infoVaultSummaries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "vaultSummaries",
                    "enum": ["vaultSummaries"],
                    "description": "Request type to retrieve vault summaries for all available vaults"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Summary information for all available vaults",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of vault summaries",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Name of the vault"
                      },
                      "vaultAddress": {
                        "type": "string",
                        "description": "Vault's blockchain address"
                      },
                      "leader": {
                        "type": "string",
                        "description": "Address of the vault leader/manager"
                      },
                      "tvl": {
                        "type": "string",
                        "description": "Total Value Locked in the vault"
                      },
                      "isClosed": {
                        "type": "boolean",
                        "description": "Whether the vault is closed to new deposits"
                      },
                      "relationship": {
                        "type": "object",
                        "description": "Vault relationship information",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": ["normal", "child", "parent"],
                            "description": "Type of vault relationship"
                          },
                          "data": {
                            "type": "object",
                            "properties": {
                              "childAddresses": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Addresses of child vaults (if parent vault)"
                              }
                            }
                          }
                        },
                        "required": ["type"]
                      },
                      "createTimeMillis": {
                        "type": "number",
                        "description": "Timestamp when vault was created (in milliseconds)"
                      }
                    },
                    "required": [
                      "name",
                      "vaultAddress",
                      "leader",
                      "tvl",
                      "isClosed",
                      "relationship",
                      "createTimeMillis"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
