{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (delegatorSummary)",
        "operationId": "infoDelegatorSummary",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "delegatorSummary",
                    "enum": ["delegatorSummary"],
                    "description": "Request type to retrieve user's delegation summary"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's delegation summary with key staking metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Summary of user's delegation status and pending withdrawals",
                  "properties": {
                    "delegated": {
                      "type": "string",
                      "description": "Total amount currently delegated by the user"
                    },
                    "undelegated": {
                      "type": "string",
                      "description": "Total amount that has been undelegated"
                    },
                    "totalPendingWithdrawal": {
                      "type": "string",
                      "description": "Total amount pending withdrawal (unbonding)"
                    },
                    "nPendingWithdrawals": {
                      "type": "integer",
                      "description": "Number of pending withdrawal transactions"
                    }
                  },
                  "required": [
                    "delegated",
                    "undelegated",
                    "totalPendingWithdrawal",
                    "nPendingWithdrawals"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}