{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (maxMarketOrderNtls)",
        "operationId": "infoMaxMarketOrderNtls",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "maxMarketOrderNtls",
                    "enum": ["maxMarketOrderNtls"],
                    "description": "Request type to retrieve maximum market order notional values for all assets"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maximum market order notional values for all assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of maximum market order notional values by asset",
                  "items": {
                    "type": "object",
                    "properties": {
                      "coin": {
                        "type": "string",
                        "description": "Asset symbol (e.g., 'BTC', 'ETH', 'SOL')"
                      },
                      "maxNtl": {
                        "type": "string",
                        "description": "Maximum notional value allowed for market orders in USD"
                      },
                      "maxSz": {
                        "type": "string",
                        "description": "Maximum size allowed for market orders in asset units"
                      }
                    },
                    "required": [
                      "coin",
                      "maxNtl"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
