{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userVaultEquities)",
        "operationId": "infoUserVaultEquities",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "userVaultEquities",
                    "enum": ["userVaultEquities"],
                    "description": "Request type to retrieve user's vault equity positions"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2b804617c6f63c040377e95bb276811747006f4b",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User's vault equity positions and investment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of user's vault investments with equity details",
                  "items": {
                    "type": "object",
                    "properties": {
                      "vaultAddress": {
                        "type": "string",
                        "description": "Contract address of the vault"
                      },
                      "vaultName": {
                        "type": "string",
                        "description": "Human-readable name of the vault"
                      },
                      "leader": {
                        "type": "string",
                        "description": "Address of the vault leader/manager"
                      },
                      "shares": {
                        "type": "string",
                        "description": "Number of shares owned by the user"
                      },
                      "sharePrice": {
                        "type": "string",
                        "description": "Current price per share"
                      },
                      "equity": {
                        "type": "string",
                        "description": "Current equity value of user's position (USD)"
                      },
                      "pnl": {
                        "type": "string",
                        "description": "Profit and loss on the investment"
                      },
                      "pnlPercent": {
                        "type": "string",
                        "description": "Profit and loss percentage"
                      },
                      "depositValue": {
                        "type": "string",
                        "description": "Original deposit value (USD)"
                      },
                      "withdrawableValue": {
                        "type": "string",
                        "description": "Value available for withdrawal (USD)"
                      },
                      "lastUpdate": {
                        "type": "integer",
                        "description": "Timestamp of last equity update in milliseconds"
                      }
                    },
                    "required": [
                      "vaultAddress",
                      "shares",
                      "equity"
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
