{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (activeAssetData)",
        "operationId": "infoActiveAssetData",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "activeAssetData",
                    "enum": ["activeAssetData"],
                    "description": "Request type to retrieve active asset data for a specific user and coin"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format"
                  },
                  "coin": {
                    "type": "string",
                    "default": "BTC",
                    "description": "Asset symbol to retrieve data for (e.g., 'BTC', 'ETH', 'SOL')"
                  }
                },
                "required": [
                  "type",
                  "user",
                  "coin"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Active asset data for the specified user and coin",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Detailed active asset information for the user and specified coin",
                  "properties": {
                    "position": {
                      "type": "object",
                      "description": "Current position information for the asset",
                      "properties": {
                        "size": {
                          "type": "string",
                          "description": "Position size (positive for long, negative for short)"
                        },
                        "entryPx": {
                          "type": "string",
                          "description": "Average entry price for the position"
                        },
                        "unrealizedPnl": {
                          "type": "string",
                          "description": "Unrealized profit and loss"
                        },
                        "leverage": {
                          "type": "string",
                          "description": "Leverage used for this position"
                        },
                        "marginUsed": {
                          "type": "string",
                          "description": "Margin used for this position"
                        }
                      }
                    },
                    "maxLeverage": {
                      "type": "string",
                      "description": "Maximum leverage available for this asset"
                    },
                    "funding": {
                      "type": "object",
                      "description": "Funding rate information",
                      "properties": {
                        "fundingRate": {
                          "type": "string",
                          "description": "Current funding rate"
                        },
                        "nextFundingTime": {
                          "type": "integer",
                          "description": "Timestamp for next funding payment"
                        }
                      }
                    },
                    "dayPnl": {
                      "type": "string",
                      "description": "24-hour profit and loss for this asset"
                    },
                    "totalPnl": {
                      "type": "string",
                      "description": "Total cumulative profit and loss for this asset"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
