{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (exchangeStatus)",
        "operationId": "infoExchangeStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "exchangeStatus",
                    "enum": ["exchangeStatus"],
                    "description": "Request type to retrieve exchange status information"
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Exchange status information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Current status of the Hyperliquid exchange",
                  "properties": {
                    "universe": {
                      "type": "array",
                      "description": "List of available assets on the exchange",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Asset name (e.g., 'BTC', 'ETH')"
                          },
                          "szDecimals": {
                            "type": "integer",
                            "description": "Number of decimal places for size precision"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "universe"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
