{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (delegations)",
        "operationId": "infoDelegations",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "default": "delegations",
                    "enum": ["delegations"],
                    "description": "Request type to retrieve user's delegation information"
                  },
                  "user": {
                    "type": "string",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Active delegations for the user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of active delegations",
                  "items": {
                    "type": "object",
                    "properties": {
                      "validator": { "type": "string", "description": "Validator address" },
                      "amount": { "type": "string", "description": "Delegated amount" },
                      "lockedUntilTimestamp": { "type": "integer", "description": "Lock expiration timestamp (ms)" }
                    },
                    "required": ["validator", "amount", "lockedUntilTimestamp"]
                  }
                },
                "example": [
                  {
                    "validator": "0xb8f45222a3246a2b0104696a1df26842007c5bc5",
                    "amount": "100233.20588006",
                    "lockedUntilTimestamp": 1751468638782
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
