{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "debug_getRawReceipts",
                "operationId": "debug_getRawReceipts",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "debug_getRawReceipts"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x34808ff"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of debug_getRawReceipts.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": [
                                        "0xf904ec0183184b39b9010000000000000040000000002004000000400000000000000000800400000000008000000000000000000000000000000000000004000022000000000240000000000000011008000400000008000002000001000000000000000000000000000000000000020000002000000400000800000000800000000000000010000000400000000000000000000800000000000800012000000080000000000000800000000000200200000000000000000000008000000020000000000000000004000000000023001000001008000000000002000000000404084000000100000020400000000000000000000400001002000000000000000100000000000000000000f903e1f89b94fffffffffffffffffffffffffffffffffffffffef863a0ddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3efa00000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0a00000000000000000000000007798f2eb73c1dd8fa8086d780d5cf114a10f528ea0000000000000000000000000000000000000000000000000016345785d8a0000f89b94fffffffffffffffffffffffffffffffffffffffef863a0ddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3efa00000000000000000000000007798f2eb73c1dd8fa8086d780d5cf114a10f528ea0000000000000000000000000ad4c0bf78ce754d5d4d045e37783e95834b900fea0000000000000000000000000000000000000000000000000016345785d8a0000f89b94ad4c0bf78ce754d5d4d045e37783e95834b900fef863a05548c837ab068cf56a2c2479df0882a4922fd203edb7517321831d95078c5f62a00000000000000000000000007798f2eb73c1dd8fa8086d780d5cf114a10f528ea00000000000000000000000000a3111263a39fa77d1a931a2aeb028314b73fb7ea0000000000000000000000000000000000000000000000000016345785d8a0000f85a946c415c8567bf7c2761d623c41f57668ddbad939bf842a0bc7cd75a20ee27fd9adebab32041f755214dbc6bffa90cc0225b39da2e5c2d3ba00000000000000000000000006610cb88385996ca4e121954f07ee3a0c95e5aa880f87b942d40cdfaa7dacd3db2c1458641ca59cf3c577920f863a08be0079c531659141344cd1fd0a4f28419497f9722a3daafe3b4186f6b6457e0a00000000000000000000000000000000000000000000000000000000000000000a00000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f080f879946c415c8567bf7c2761d623c41f57668ddbad939be1a07e644d79422f17c01e4894b5f4f588d331ebfa28653d42ae832dc59e38c9798fb84000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002d40cdfaa7dacd3db2c1458641ca59cf3c577920f858946c415c8567bf7c2761d623c41f57668ddbad939be1a0c7f505b2f371ae2175ee4913f4499e1f2633a7b5936321eed1cdaeb6115181d2a00000000000000000000000000000000000000000000000000000000000000001f85a947798f2eb73c1dd8fa8086d780d5cf114a10f528ef842a01449abf21e49fd025f33495e77f7b1461caefdd3d4bb646424a3f445c4576a5ba00000000000000000000000006c415c8567bf7c2761d623c41f57668ddbad939b80"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}