{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "debug_traceCall",
                "operationId": "debug_traceCall",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "debug_traceCall"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            {
                                                "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                                "to": "0x3600000000000000000000000000000000000000",
                                                "gas": "0xf4240",
                                                "data": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0"
                                            },
                                            "latest",
                                            {
                                                "tracer": "callTracer"
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of debug_traceCall.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "from": {
                                                    "type": "string"
                                                },
                                                "gas": {
                                                    "type": "string"
                                                },
                                                "gasUsed": {
                                                    "type": "string"
                                                },
                                                "to": {
                                                    "type": "string"
                                                },
                                                "input": {
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "type": "string"
                                                },
                                                "value": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                        "gas": "0xf4240",
                                        "gasUsed": "0x7270",
                                        "to": "0x3600000000000000000000000000000000000000",
                                        "input": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0",
                                        "output": "0x0000000000000000000000000000000000000000000000000000000005f99204",
                                        "calls": [
                                            {
                                                "from": "0x3600000000000000000000000000000000000000",
                                                "gas": "0xe9756",
                                                "gasUsed": "0x2a7",
                                                "to": "0xc6ad664ac6679f4ce74e10e91449c93ec1ae3ca6",
                                                "input": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0",
                                                "output": "0x0000000000000000000000000000000000000000000000000000000005f99204",
                                                "value": "0x0",
                                                "type": "DELEGATECALL"
                                            }
                                        ],
                                        "value": "0x0",
                                        "type": "CALL"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}