{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "debug_getRawBlock",
                "operationId": "debug_getRawBlock",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "debug_getRawBlock"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x3480c62"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of debug_getRawBlock.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": "0xf90386f9026ea0d502d46445c23009c88599f754eb047c0479a403a3ba8ffc64f7e7e1a94d427ca01dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d4934794626fc1607b81e4e49b02f3f97d5109f4decc885da00f64272ff4e2e7a3af5c4e68df7a10db805233f2b35f998e3f37d6d195a1d17aa0b09df09cfd90973a925934b0507823ed77d6003e51b57d12595ad2caa2edf07ea0da3d120e348a1d268907e2ef73d74d0489334dbe89df3407595982372d268fe5b9010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000808403480c628401c9c38082c550846a70287a8800000004a817c800a000000000000000000000000000000000000000000000000000000000000000008800000000000000008504a817c800a056e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b4218080a0d502d46445c23009c88599f754eb047c0479a403a3ba8ffc64f7e7e1a94d427ca0e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855f90110f9010d0485053724e000830927c094d011948bd0d6d433d4ba6df9dc44eb9a2bfa555f80b8a4b61d27f60000000000000000000000001ff9c167b50d05910ffdadb82d3d2da4508330ca0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000040a617bee000000000000000000000000000000000000000000000000000000008399dec7a090ad8b5cd38ec2759cba501be2e953c738142f535800f8c1e9e25a97fec1a7d3a078c101e63dba589c48042e38bc3a458d2e4a01d0285a0ede2e114a9c690a3ebdc0c0"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}