{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "debug_getRawHeader",
                "operationId": "debug_getRawHeader",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "debug_getRawHeader"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x34808ff"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of debug_getRawHeader.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "string"
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": "0xf9026fa0fe1c06b10e6be606cad7b32b7da87bfba91fc1c45085b7ea12c69070e6cd3778a01dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d4934794a693cc18aa09d33dd388013b7a02e5ff863b8760a0fd095b710adcb8045a8904d02c000f25230b151ef3a4e4b4dbf84ab083c2b9dfa01df73587a490d0ae7e236905773748ef07ea63c1c22aa93659eb8fd4f77ef04da0968419399ee52ee3133e57e9111b513f941f269b5f7e83f358b5b894e8736362b901000000000000004000000010200400000040000010002000024080060400000000800000000000002200000000000000000040000402002201000000024000000011000401120800040000000900000200000100002000000100000000800000000000000006000000200a004400004800002000800000000000000010000000c0000000080000000010080000000000c8000120010008800000400000008000000000002002400000000080000000000080000000200000000000000000040000040000230010000010080000040000020000000804040840000801100000206000000000000200000004000010020000082004400001004000000000100000008084034808ff8401c9c380831db35b846a7026be8800000004a817c800a000000000000000000000000000000000000000000000000000000000000000008800000000000000008504a817c800a056e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b4218080a0fe1c06b10e6be606cad7b32b7da87bfba91fc1c45085b7ea12c69070e6cd3778a0e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855"
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}