{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "trace_callMany",
                "operationId": "trace_callMany",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "trace_callMany"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            [
                                                [
                                                    {
                                                        "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                                        "to": "0x3600000000000000000000000000000000000000",
                                                        "gas": "0xf4240",
                                                        "data": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0"
                                                    },
                                                    [
                                                        "trace"
                                                    ]
                                                ]
                                            ],
                                            "latest"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of trace_callMany.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "output": {
                                                        "type": "string"
                                                    },
                                                    "stateDiff": {
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "trace": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "action": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "from": {
                                                                            "type": "string"
                                                                        },
                                                                        "callType": {
                                                                            "type": "string"
                                                                        },
                                                                        "gas": {
                                                                            "type": "string"
                                                                        },
                                                                        "input": {
                                                                            "type": "string"
                                                                        },
                                                                        "to": {
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "error": {
                                                                    "type": "string"
                                                                },
                                                                "result": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "gasUsed": {
                                                                            "type": "string"
                                                                        },
                                                                        "output": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "subtraces": {
                                                                    "type": "integer"
                                                                },
                                                                "traceAddress": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "vmTrace": {
                                                        "type": "object",
                                                        "nullable": true
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": [
                                        {
                                            "output": "0x0000000000000000000000000000000000000000000000000000000005f99204",
                                            "stateDiff": null,
                                            "trace": [
                                                {
                                                    "type": "call",
                                                    "action": {
                                                        "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                                        "callType": "call",
                                                        "gas": "0xeee94",
                                                        "input": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0",
                                                        "to": "0x3600000000000000000000000000000000000000",
                                                        "value": "0x0"
                                                    },
                                                    "result": {
                                                        "gasUsed": "0x1ec4",
                                                        "output": "0x0000000000000000000000000000000000000000000000000000000005f99204"
                                                    },
                                                    "subtraces": 1,
                                                    "traceAddress": []
                                                },
                                                {
                                                    "type": "call",
                                                    "action": {
                                                        "from": "0x3600000000000000000000000000000000000000",
                                                        "callType": "delegatecall",
                                                        "gas": "0xe9756",
                                                        "input": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0",
                                                        "to": "0xc6ad664ac6679f4ce74e10e91449c93ec1ae3ca6",
                                                        "value": "0x0"
                                                    },
                                                    "result": {
                                                        "gasUsed": "0x2a7",
                                                        "output": "0x0000000000000000000000000000000000000000000000000000000005f99204"
                                                    },
                                                    "subtraces": 0,
                                                    "traceAddress": [
                                                        0
                                                    ]
                                                }
                                            ],
                                            "vmTrace": null
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}