{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "trace_get",
                "operationId": "trace_get",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "trace_get"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2",
                                            [
                                                "0x0"
                                            ]
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of trace_get.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "action": {
                                                    "type": "object",
                                                    "properties": {
                                                        "from": {
                                                            "type": "string"
                                                        },
                                                        "callType": {
                                                            "type": "string"
                                                        },
                                                        "gas": {
                                                            "type": "string"
                                                        },
                                                        "input": {
                                                            "type": "string"
                                                        },
                                                        "to": {
                                                            "type": "string"
                                                        },
                                                        "value": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "blockHash": {
                                                    "type": "string"
                                                },
                                                "blockNumber": {
                                                    "type": "integer"
                                                },
                                                "error": {
                                                    "type": "string"
                                                },
                                                "result": {
                                                    "type": "object",
                                                    "properties": {
                                                        "gasUsed": {
                                                            "type": "string"
                                                        },
                                                        "output": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "subtraces": {
                                                    "type": "integer"
                                                },
                                                "traceAddress": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "transactionHash": {
                                                    "type": "string"
                                                },
                                                "transactionPosition": {
                                                    "type": "integer"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "action": {
                                            "from": "0x19d7cf8ea0ce468417d1eda365a222a9dcbc7d27",
                                            "callType": "call",
                                            "gas": "0x8d1c0",
                                            "input": "0xb61d27f60000000000000000000000001ff9c167b50d05910ffdadb82d3d2da4508330ca0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000040a617bee00000000000000000000000000000000000000000000000000000000",
                                            "to": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                            "value": "0x0"
                                        },
                                        "blockHash": "0xa86891cc8ae2e3efe67b21e24f8f852e76a0875892e9e8c9a4c77aab8e2761cc",
                                        "blockNumber": 55053410,
                                        "error": "Reverted",
                                        "result": {
                                            "gasUsed": "0x6f50",
                                            "output": "0x4e487b710000000000000000000000000000000000000000000000000000000000000012"
                                        },
                                        "subtraces": 1,
                                        "traceAddress": [],
                                        "transactionHash": "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2",
                                        "transactionPosition": 0,
                                        "type": "call"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}