{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "trace_replayBlockTransactions",
                "operationId": "trace_replayBlockTransactions",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "trace_replayBlockTransactions"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x3480c62",
                                            [
                                                "trace"
                                            ]
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of trace_replayBlockTransactions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "output": {
                                                        "type": "string"
                                                    },
                                                    "stateDiff": {
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "trace": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                },
                                                                "action": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "from": {
                                                                            "type": "string"
                                                                        },
                                                                        "callType": {
                                                                            "type": "string"
                                                                        },
                                                                        "gas": {
                                                                            "type": "string"
                                                                        },
                                                                        "input": {
                                                                            "type": "string"
                                                                        },
                                                                        "to": {
                                                                            "type": "string"
                                                                        },
                                                                        "value": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "error": {
                                                                    "type": "string"
                                                                },
                                                                "result": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "gasUsed": {
                                                                            "type": "string"
                                                                        },
                                                                        "output": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                },
                                                                "subtraces": {
                                                                    "type": "integer"
                                                                },
                                                                "traceAddress": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "vmTrace": {
                                                        "type": "object",
                                                        "nullable": true
                                                    },
                                                    "transactionHash": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": [
                                        {
                                            "output": "0x4e487b710000000000000000000000000000000000000000000000000000000000000012",
                                            "stateDiff": null,
                                            "trace": [
                                                {
                                                    "type": "call",
                                                    "action": {
                                                        "from": "0x19d7cf8ea0ce468417d1eda365a222a9dcbc7d27",
                                                        "callType": "call",
                                                        "gas": "0x8d1c0",
                                                        "input": "0xb61d27f60000000000000000000000001ff9c167b50d05910ffdadb82d3d2da4508330ca0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000040a617bee00000000000000000000000000000000000000000000000000000000",
                                                        "to": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                                        "value": "0x0"
                                                    },
                                                    "error": "Reverted",
                                                    "result": {
                                                        "gasUsed": "0x6f50",
                                                        "output": "0x4e487b710000000000000000000000000000000000000000000000000000000000000012"
                                                    },
                                                    "subtraces": 1,
                                                    "traceAddress": []
                                                },
                                                {
                                                    "type": "call",
                                                    "action": {
                                                        "from": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                                        "callType": "delegatecall",
                                                        "gas": "0x89bee",
                                                        "input": "0xb61d27f60000000000000000000000001ff9c167b50d05910ffdadb82d3d2da4508330ca0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000000000000000000000000000000000000000000000000000000000000040a617bee00000000000000000000000000000000000000000000000000000000",
                                                        "to": "0xd206ac7fef53d83ed4563e770b28dba90d0d9ec8",
                                                        "value": "0x0"
                                                    },
                                                    "error": "Reverted",
                                                    "result": {
                                                        "gasUsed": "0x5c52",
                                                        "output": "0x4e487b710000000000000000000000000000000000000000000000000000000000000012"
                                                    },
                                                    "subtraces": 2,
                                                    "traceAddress": [
                                                        0
                                                    ]
                                                },
                                                {
                                                    "type": "call",
                                                    "action": {
                                                        "from": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                                        "callType": "staticcall",
                                                        "gas": "0x7530",
                                                        "input": "0x01ffc9a701ffc9a700000000000000000000000000000000000000000000000000000000",
                                                        "to": "0x1ff9c167b50d05910ffdadb82d3d2da4508330ca",
                                                        "value": "0x0"
                                                    },
                                                    "result": {
                                                        "gasUsed": "0xf1",
                                                        "output": "0x"
                                                    },
                                                    "subtraces": 0,
                                                    "traceAddress": [
                                                        0,
                                                        0
                                                    ]
                                                },
                                                {
                                                    "type": "call",
                                                    "action": {
                                                        "from": "0xd011948bd0d6d433d4ba6df9dc44eb9a2bfa555f",
                                                        "callType": "call",
                                                        "gas": "0x82a56",
                                                        "input": "0x0a617bee",
                                                        "to": "0x1ff9c167b50d05910ffdadb82d3d2da4508330ca",
                                                        "value": "0x0"
                                                    },
                                                    "error": "Reverted",
                                                    "result": {
                                                        "gasUsed": "0xb84",
                                                        "output": "0x4e487b710000000000000000000000000000000000000000000000000000000000000012"
                                                    },
                                                    "subtraces": 0,
                                                    "traceAddress": [
                                                        0,
                                                        1
                                                    ]
                                                }
                                            ],
                                            "vmTrace": null,
                                            "transactionHash": "0xfc48f7c70e8ffaa46b1110dc43f32e90f65434a0949edab384d066c820c57ee2"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}