{
  "openapi": "3.0.0",
  "info": {
    "title": "Upload",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://nd-500-249-268.p2pify.com"
    }
  ],
  "paths": {
    "/512e720763b369ed620657f84d38d2af": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_estimateGas",
        "operationId": "estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "byte"
                        },
                        "to": {
                          "type": "string",
                          "format": "byte"
                        }
                      }
                    },
                    "default": [
                      {
                        "from": "0x258197CEfAaACF343D390d7E04423B7F3c19D17E",
                        "to": "0xbe0eb53f46cd790cd13851d5eff43d12404d33e8"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated gas amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}