{
  "openapi": "3.0.0",
  "info": {
    "title": "Polygon Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Polygon node."
  },
  "servers": [
    {
      "url": "https://nd-828-700-214.p2pify.com"
    }
  ],
  "paths": {
    "/a9bca2f0f84b54086ceebe590316fff3": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceCall",
        "operationId": "traceCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "title": "Transaction call Object"
                        },
                        {
                          "type": "string",
                          "title": "Block Identifier"
                        }
                      ]
                    },
                    "default": [
                      {
                        "from": "0xe7e8569267c4a3278be75a2d86fd1a9e0a6818d8",
                        "to": "0xc2edad668740f1aa35e4d8f227fb8e17dca888cd",
                        "gas": "0x1E9EF",
                        "gasPrice": "0x72AC5BA54E",
                        "data": "0x441a3e70000000000000000000000000000000000000000000000000000000000000010300000000000000000000000000000000000000000000000000c6c3eca729cb9e"
                      },
                      "latest",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The call's trace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}