{
  "openapi": "3.0.0",
  "info": {
    "title": "Polygon Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Polygon node."
  },
  "servers": [
    {
      "url": "https://nd-828-700-214.p2pify.com"
    }
  ],
  "paths": {
    "/a9bca2f0f84b54086ceebe590316fff3": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceTransaction",
        "operationId": "traceTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Transaction hash",
                          "description": "The hash of the transaction to trace."
                        },
                        {
                          "type": "object",
                          "title": "Tracing options"
                        }
                      ]
                    },
                    "default": [
                      "0xc41f73f75ee878d71ac9b318304bc0218b8bdde60c82f9579ab94a8faa705ed4",
                      {
                        "disableStorage": false,
                        "disableStack": false,
                        "disableMemory": false,
                        "disableReturnData": false,
                        "timeout": "1m"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction's trace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}