{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_traceCall",
    "version": "1.0.0",
    "description": "Executes the given call and returns a number of traces specified by the call."
  },
  "servers": [
    {
      "url": "https://ronin-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/3997273fc956a67dc6982384500e669e": {
      "post": {
        "tags": [
          "debug"
        ],
        "summary": "Trace call execution",
        "operationId": "traceCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "string"
                            },
                            "data": {
                              "type": "string"
                            }
                          }
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "default": [
                      {
                        "to": "0x5a254c12ddeb86e2f5626d59c490eb3db1974944",
                        "data": "0x0d9160e7"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trace result of the call execution",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}