{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_traceBlockByHash",
    "version": "1.0.0",
    "description": "Traces a block by its hash, providing detailed execution traces of all transactions contained within the  block."
  },
  "servers": [
    {
      "url": "https://ronin-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/3997273fc956a67dc6982384500e669e": {
      "post": {
        "tags": [
          "debug"
        ],
        "summary": "Trace block by hash",
        "operationId": "traceBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0x66d67565dc84eb6e579ebe142683e4338498653ff6b7a6e2724e80a73aca4f20"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed execution traces of the block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}