{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_estimateGas",
    "version": "1.0.0",
    "description": "Generates an estimate of how much gas is necessary to allow the transaction to complete. The transaction  will not be added to the blockchain. Note that the estimate may be significantly more than the amount of gas actually used  by the transaction, for various reasons including EVM mechanics and node performance."
  },
  "servers": [
    {
      "url": "https://ronin-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/3997273fc956a67dc6982384500e669e": {
      "post": {
        "tags": [
          "blockchain"
        ],
        "summary": "Estimate gas needed for a transaction",
        "operationId": "estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string"
                            },
                            "to": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ]
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "default": [
                      {
                        "from": "0xa459322a949b97c1cbcf3c82dfc4de9fefc6fb7c",
                        "to": "0xbe0eb53f46cd790cd13851d5eff43d12404d33e8"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimated gas required for the transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}