{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_uninstallFilter",
    "version": "1.0.0",
    "description": "This API endpoint allows for the removal of a filter that was previously installed. This is useful for  cleaning up resources once a filter is no longer needed."
  },
  "servers": [
    {
      "url": "https://ronin-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/3997273fc956a67dc6982384500e669e": {
      "post": {
        "tags": [
          "filters"
        ],
        "summary": "eth_uninstallFilter",
        "operationId": "uninstallFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_uninstallFilter"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0x1fb7f4c4e3e6af9d892f657ccaa77a7c"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success status of filter removal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}