{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_newFilter example",
    "version": "1.0.0",
    "description": "This is an API example for eth_newFilter, a method to create a new filter object for monitoring log entries  matching the given criteria, using specified values."
  },
  "servers": [
    {
      "url": "https://ronin-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/3997273fc956a67dc6982384500e669e": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_newFilter",
        "operationId": "newFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newFilter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fromBlock": {
                          "type": "string",
                          "default": "latest"
                        },
                        "address": {
                          "type": "string",
                          "default": "0x0b7007c13325c48911f73a2dad5fa5dcbf808adc"
                        },
                        "topics": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "default": [
                            "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                          ]
                        }
                      }
                    },
                    "default": [
                      {
                        "fromBlock": "latest",
                        "address": "0x0b7007c13325c48911f73a2dad5fa5dcbf808adc",
                        "topics": [
                          "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The ID of the created filter",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}