{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getFilterChanges",
    "version": "1.0.0",
    "description": "This API endpoint returns an array of log objects for all logs that have occurred since the last poll."
  },
  "servers": [
    {
      "url": "https://ronin-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/3997273fc956a67dc6982384500e669e": {
      "post": {
        "tags": [
          "logs"
        ],
        "summary": "eth_getFilterChanges",
        "operationId": "getFilterChanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getFilterChanges"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0x1fb7f4c4e3e6af9d892f657ccaa77a7c"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of log objects since last poll",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "removed": {
                            "type": "boolean"
                          },
                          "logIndex": {
                            "type": "string"
                          },
                          "transactionIndex": {
                            "type": "string"
                          },
                          "transactionHash": {
                            "type": "string"
                          },
                          "blockHash": {
                            "type": "string"
                          },
                          "blockNumber": {
                            "type": "string"
                          },
                          "address": {
                            "type": "string"
                          },
                          "data": {
                            "type": "string"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}