{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_getRawHeader Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for debug_getRawHeader for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-mainnet.core.chainstack.com/c3ce2925b51f1ed18719fe8a23bbdccf"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "debug_getRawHeader",
        "operationId": "tempo-debug-getRawHeader",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_getRawHeader"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      "latest"
                    ],
                    "description": "Method parameters"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "description": "Method result"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}