{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_traceBlockByHash Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for debug_traceBlockByHash for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "debug_traceBlockByHash",
        "operationId": "tempo-debug-traceBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0x1c3830dd03a362ba82e82017a5f4e361c12fc43b64a1e4ebd2902f0c313cad7e", {"tracer": "callTracer"}],
                    "description": "Block hash and optional tracer config"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of transaction traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of trace objects for each transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
