{
  "openapi": "3.0.0",
  "info": {
    "title": "trace_replayTransaction Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for trace_replayTransaction for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-moderato.core.chainstack.com/a25a421add2280d53fdbc23417055501"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "trace_replayTransaction",
        "operationId": "tempo-trace-replayTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_replayTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0xb3e821e696897b02283b7b2d602941b1d3cb08448d3a204bab05955215fc2035", ["trace"]],
                    "description": "Transaction hash and trace types array"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Replayed transaction trace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "description": "Trace result object with output, trace, vmTrace, and stateDiff"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
