{
  "openapi": "3.0.0",
  "info": {
    "title": "trace_filter Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for trace_filter for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.testnet.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "trace_filter",
        "operationId": "tempo-trace-filter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_filter"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      {
                        "fromBlock": "0x564000",
                        "toBlock": "0x565000",
                        "toAddress": ["0x20c0000000000000000000000000000000000000"],
                        "count": 10
                      }
                    ],
                    "description": "Filter object with block range and address filters"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of matching traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of trace objects matching the filter"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
