{
  "openapi": "3.0.0",
  "info": {
    "title": "trace_transaction Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for trace_transaction for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-mainnet.core.chainstack.com/c3ce2925b51f1ed18719fe8a23bbdccf"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "trace_transaction",
        "operationId": "tempo-trace-transaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_transaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0xb3e821e696897b02283b7b2d602941b1d3cb08448d3a204bab05955215fc2035"],
                    "description": "Transaction hash"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of trace objects"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
