{
  "openapi": "3.0.0",
  "info": {
    "title": "trace_block Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for trace_block for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "trace_block",
        "operationId": "tempo-trace-block",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_block"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["latest"],
                    "description": "Block number (hex) or tag"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of trace objects for all transactions in the block"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
