{
  "openapi": "3.0.0",
  "info": {
    "title": "trace_replayBlockTransactions Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for trace_replayBlockTransactions for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-moderato.core.chainstack.com/a25a421add2280d53fdbc23417055501"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Debug and trace"
        ],
        "summary": "trace_replayBlockTransactions",
        "operationId": "tempo-trace-replayBlockTransactions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_replayBlockTransactions"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["latest", ["trace"]],
                    "description": "Block number/tag and trace types array"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of replayed transaction traces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "Array of trace result objects for each transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
