{
  "openapi": "3.0.0",
  "info": {
    "title": "debug_storageRangeAt example",
    "version": "1.0.0",
    "description": "This API example demonstrates how to use the debug_storageRangeAt method to retrieve storage at a specific  point in a block."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Debug Operations"
        ],
        "summary": "debug_storageRangeAt",
        "operationId": "getStorageRangeAt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_storageRangeAt"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ]
                    },
                    "default": [
                      "0xc40b7058b5b80e565dfb986fe852c047733291291c8de1be8888ae64b5457bbd",
                      25,
                      "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                      "0x00000000000000000000000000000000",
                      2
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Storage data for the specified range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "storage": {
                          "type": "object",
                          "additionalProperties": true
                        },
                        "complete": {
                          "type": "boolean"
                        }
                      },
                      "description": "The storage entries and a flag indicating if the storage is complete."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}