{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_callMany example",
    "version": "1.0.0",
    "description": "This is an API example for eth_callMany, a method to execute multiple calls in a single request. This can be  used to query the state of the blockchain at a specific block number without altering the blockchain state."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_callMany",
        "operationId": "callMany",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_callMany"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      [
                        {
                          "transactions": [
                            {
                              "from": "0x1985EA6E9c68E1C272d8209f3B478AC2Fdb25c87",
                              "to": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                              "gas": "0xf4240",
                              "gasPrice": "0x7896e72a",
                              "data": "0xa9059cbb000000000000000000000000bc0E63965946815d105E7591407704e6e1964E590000000000000000000000000000000000000000000000000000000005f5e100"
                            },
                            {
                              "to": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                              "gasPrice": "0x7896e72a",
                              "data": "0x70a08231000000000000000000000000bc0E63965946815d105E7591407704e6e1964E59"
                            }
                          ],
                          "blockOverride": {
                            "blockNumber": "0xbb5fe9"
                          }
                        }
                      ],
                      {
                        "blockNumber": "0xbb5fe9",
                        "transactionIndex": 1
                      },
                      {}
                    ],
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the multiple calls",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      },
                      "description": "The results of the executed calls."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}