{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getRawTransactionByBlockHashAndIndex example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getRawTransactionByBlockHashAndIndex, a method to get the raw transaction  data for a transaction in a specific block identified by block hash and transaction index."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getRawTransactionByBlockHashAndIndex",
        "operationId": "getRawTransactionByBlockHashAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getRawTransactionByBlockHashAndIndex"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x07fcc7d5f86839e12afa756e979de05812b5341f936b850c9409aa0938819b30",
                      "0x1"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Raw transaction data for the given block hash and index",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}