{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_feeHistory example",
    "version": "1.0.0",
    "description": "This is an API example for eth_feeHistory, a method to retrieve historical gas fee data."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_feeHistory",
        "operationId": "feeHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_feeHistory"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "integer"
                          }
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "default": [
                      1024,
                      "latest",
                      [
                        10,
                        20,
                        30
                      ]
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Historical gas fee data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "oldestBlock": {
                          "type": "string"
                        },
                        "baseFeePerGas": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "gasUsedRatio": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "reward": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}