{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getTransactionCount example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getTransactionCount, a method to get the number of transactions sent from an  address."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getTransactionCount",
        "operationId": "getTransactionCount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionCount"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x1985EA6E9c68E1C272d8209f3B478AC2Fdb25c87",
                      "latest"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The number of transactions sent from the address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}