{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getTransactionByHash example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getTransactionByHash, a method to get transaction information by its hash."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getTransactionByHash",
        "operationId": "getTransactionByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionByHash"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x1759c699e6e2b1f249fa0ed605c0de18998bc66556cd6ea3362f92f511aeb06a"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction information for the given hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "blockHash": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string"
                        },
                        "gas": {
                          "type": "string"
                        },
                        "gasPrice": {
                          "type": "string"
                        },
                        "hash": {
                          "type": "string"
                        },
                        "input": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "transactionIndex": {
                          "type": "string"
                        },
                        "value": {
                          "type": "string"
                        },
                        "v": {
                          "type": "string"
                        },
                        "r": {
                          "type": "string"
                        },
                        "s": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}