{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getBlockReceipts example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getBlockReceipts, a method to retrieve all transaction receipts in a  specified block."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getBlockReceipts",
        "operationId": "getBlockReceipts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockReceipts"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "default": "latest"
                        }
                      ]
                    },
                    "default": [
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction receipts of the block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transactionHash": {
                            "type": "string"
                          },
                          "transactionIndex": {
                            "type": "integer"
                          },
                          "blockHash": {
                            "type": "string"
                          },
                          "blockNumber": {
                            "type": "integer"
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "cumulativeGasUsed": {
                            "type": "integer"
                          },
                          "gasUsed": {
                            "type": "integer"
                          },
                          "contractAddress": {
                            "type": "string"
                          },
                          "logs": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "removed": {
                                  "type": "boolean"
                                },
                                "logIndex": {
                                  "type": "integer"
                                },
                                "transactionIndex": {
                                  "type": "integer"
                                },
                                "transactionHash": {
                                  "type": "string"
                                },
                                "blockHash": {
                                  "type": "string"
                                },
                                "blockNumber": {
                                  "type": "integer"
                                },
                                "address": {
                                  "type": "string"
                                },
                                "data": {
                                  "type": "string"
                                },
                                "topics": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}