{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getTransactionReceipt example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getTransactionReceipt, a method to get the receipt of a transaction by its  hash."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getTransactionReceipt",
        "operationId": "getTransactionReceipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionReceipt"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x1759c699e6e2b1f249fa0ed605c0de18998bc66556cd6ea3362f92f511aeb06a"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction receipt for the given transaction hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "transactionHash": {
                          "type": "string"
                        },
                        "transactionIndex": {
                          "type": "string"
                        },
                        "blockHash": {
                          "type": "string"
                        },
                        "blockNumber": {
                          "type": "string"
                        },
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "cumulativeGasUsed": {
                          "type": "string"
                        },
                        "gasUsed": {
                          "type": "string"
                        },
                        "contractAddress": {
                          "type": "string"
                        },
                        "logs": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "removed": {
                                "type": "boolean"
                              },
                              "logIndex": {
                                "type": "string"
                              },
                              "transactionIndex": {
                                "type": "string"
                              },
                              "transactionHash": {
                                "type": "string"
                              },
                              "blockHash": {
                                "type": "string"
                              },
                              "blockNumber": {
                                "type": "string"
                              },
                              "address": {
                                "type": "string"
                              },
                              "data": {
                                "type": "string"
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "logsBloom": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}