{
  "openapi": "3.0.0",
  "info": {
    "title": "trace_get",
    "description": "Replays transactions in a block individually, returning the trace data for each transaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "summary": "Replay transactions in a block",
        "operationId": "trace_get",
        "tags": [
          "Blockchain"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0",
                    "example": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_get",
                    "example": "trace_get"
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x1759c699e6e2b1f249fa0ed605c0de18998bc66556cd6ea3362f92f511aeb06a",
                      [
                        "0x0"
                      ]
                    ],
                    "example": [
                      "0x1759c699e6e2b1f249fa0ed605c0de18998bc66556cd6ea3362f92f511aeb06a",
                      [
                        "0x0"
                      ]
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "example": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Trace data for transactions in the specified block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "description": "Trace data for a single transaction."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}