{
  "openapi": "3.0.0",
  "info": {
    "title": "web3_sha3 example",
    "version": "1.0.0",
    "description": "This is an API example for web3_sha3, a method to compute the Keccak-256 hash of the given data."
  },
  "servers": [
    {
      "url": "https://base-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/2fc1de7f08c0465f6a28e3c355e0cb14": {
      "post": {
        "tags": [
          "Ethereum Utilities"
        ],
        "summary": "web3_sha3",
        "operationId": "sha3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "web3_sha3"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x436861696E737461636B"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The SHA3 result of the given data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The Keccak-256 hash of the input data."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}