{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://robinhood-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_feeHistory",
        "operationId": "eth_feeHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_feeHistory"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block count",
                          "description": "Number of blocks in the requested range."
                        },
                        {
                          "type": "string",
                          "title": "Newest block",
                          "description": "Block number or tag (latest, earliest, pending)."
                        },
                        {
                          "type": "array",
                          "title": "Reward percentiles",
                          "description": "Array of percentiles to sample from each block."
                        }
                      ]
                    },
                    "default": [
                      "0x5",
                      "latest",
                      [
                        25,
                        75
                      ]
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns historical gas information for a range of blocks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}