{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getProof example",
    "version": "1.0.0",
    "description": "Get the account and storage values of the specified account including the Merkle proof."
  },
  "servers": [
    {
      "url": "https://nd-828-700-214.p2pify.com"
    }
  ],
  "paths": {
    "/a9bca2f0f84b54086ceebe590316fff3": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_getProof",
        "operationId": "eth_getProof",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getProof"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x0d500B1d8E8eF31E21C99d1Db9A6444d3ADf1270",
                      [],
                      "latest"
                    ],
                    "items": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string"
                        },
                        "accountProof": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "balance": {
                          "type": "string"
                        },
                        "codeHash": {
                          "type": "string"
                        },
                        "nonce": {
                          "type": "string"
                        },
                        "storageHash": {
                          "type": "string"
                        },
                        "storageProof": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string"
                              },
                              "value": {
                                "type": "string"
                              },
                              "proof": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}