{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getStorageAt example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getStorageAt."
  },
  "servers": [
    {
      "url": "https://nd-828-700-214.p2pify.com"
    }
  ],
  "paths": {
    "/a9bca2f0f84b54086ceebe590316fff3": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getStorageAt",
        "operationId": "getStorageAt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "eth_getStorageAt"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "default": "0xAE975071Be8F8eE67addBC1A82488F1C24858067"
                        },
                        {
                          "type": "string",
                          "default": "0x0"
                        },
                        {
                          "type": "string",
                          "default": "latest"
                        }
                      ]
                    },
                    "default": [
                      "0xAE975071Be8F8eE67addBC1A82488F1C24858067",
                      "0x0",
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The storage information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}