{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://robinhood-mainnet.core.chainstack.com/23cf4479b299ab4835d76c05c468ca6e"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceBlockByNumber",
        "operationId": "debug_traceBlockByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceBlockByNumber"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block Number",
                          "description": "Block number in hex format or tag (latest, earliest, pending, safe, finalized)."
                        },
                        {
                          "type": "object",
                          "title": "Tracer type",
                          "properties": {
                            "tracer": {
                              "type": "string"
                            }
                          },
                          "description": "The type of tracer."
                        }
                      ]
                    },
                    "default": [
                      "0xc3007d",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block traces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}