{
  "openapi": "3.0.0",
  "info": {
    "title": "Aurora Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Aurora node."
  },
  "servers": [
    {
      "url": "https://aurora-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/6df1a1b3061097e66349993a96b8e535": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getStorageAt",
        "operationId": "getStorageAt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "eth_getStorageAt"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Smart contract address",
                          "description": "The address of the contract to query."
                        },
                        {
                          "type": "string",
                          "title": "Slot index",
                          "description": "The index of the storage position to query."
                        },
                        {
                          "type": "string",
                          "title": "Block ID",
                          "description": "The block number or tag to use as a reference."
                        }
                      ]
                    },
                    "default": [
                      "0xC9BdeEd33CD01541e1eeD10f90519d2C06Fe3feB",
                      "0x2",
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The value stored at the specified position.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}