{
  "openapi": "3.0.0",
  "info": {
    "title": "Aurora Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Aurora node."
  },
  "servers": [
    {
      "url": "https://aurora-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/6df1a1b3061097e66349993a96b8e535": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_estimateGas",
        "operationId": "estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "byte"
                        },
                        "to": {
                          "type": "string",
                          "format": "byte"
                        }
                      }
                    },
                    "default": [
                      {
                        "from": "0xE9217BC70B7ED1f598ddD3199e80b093fA71124F",
                        "to": "0x2A39319dB98A3982F7C363380b72C66Ab1FFe228"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated gas amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "format": "byte"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}