{
  "openapi": "3.0.0",
  "info": {
    "title": "Aurora Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Aurora node."
  },
  "servers": [
    {
      "url": "https://aurora-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/6df1a1b3061097e66349993a96b8e535": {
      "post": {
        "tags": [
          "logs"
        ],
        "summary": "eth_getLogs",
        "operationId": "getLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "method": {
                    "type": "string",
                    "default": "eth_getLogs"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "fromBlock": {
                          "type": "string",
                          "title": "from block",
                          "description": "The block number or tag to start searching for logs from.",
                          "default": "latest"
                        },
                        "address": {
                          "type": "string",
                          "title": "smart contract address",
                          "description": "The contract address to retrieve the logs for."
                        },
                        "topics": {
                          "type": "array",
                          "title": "topics",
                          "items": {
                            "type": "string"
                          },
                          "description": "An array of 32-byte topics to filter for. Each topic is treated as an OR condition."
                        }
                      }
                    },
                    "default": [
                      {
                        "fromBlock": "latest",
                        "address": "0xC9BdeEd33CD01541e1eeD10f90519d2C06Fe3feB",
                        "topics": [
                          "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef"
                        ]
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "An array of log objects matching the specified filter.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}