{
  "openapi": "3.0.0",
  "info": {
    "title": "Aurora Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Aurora node."
  },
  "servers": [
    {
      "url": "https://aurora-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/6df1a1b3061097e66349993a96b8e535": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_getTransactionReceipt",
        "operationId": "getTransactionReceipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionReceipt"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Transaction hash"
                    },
                    "default": [
                      "0xd33ef2f7c09daaa50fd9694e2782bee2a40840abcc5929af685489ed5ad5cfd0"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}