{
  "openapi": "3.0.0",
  "info": {
    "title": "Aurora Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Aurora node."
  },
  "servers": [
    {
      "url": "https://aurora-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/6df1a1b3061097e66349993a96b8e535": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getBalance",
        "operationId": "getBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBalance"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Address",
                          "description": "The address identifier."
                        },
                        {
                          "type": "string",
                          "title": "Block identifier",
                          "description": "The block identifier."
                        }
                      ]
                    },
                    "default": [
                      "0xf20BB5451591639A490aa65a6d08a13D420157b7",
                      "pending"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The account balance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}