{
  "openapi": "3.0.0",
  "info": {
    "title": "Aurora Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Aurora node."
  },
  "servers": [
    {
      "url": "https://aurora-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/6df1a1b3061097e66349993a96b8e535": {
      "post": {
        "tags": [
          "Syncing"
        ],
        "summary": "eth_syncing",
        "operationId": "syncing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_syncing"
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Syncing information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}