{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_syncing Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_syncing for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-moderato.core.chainstack.com/a25a421add2280d53fdbc23417055501"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Chain info"
        ],
        "summary": "eth_syncing",
        "operationId": "tempo-eth-syncing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_syncing"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "boolean",
                          "description": "false if the node is not syncing"
                        },
                        {
                          "type": "object",
                          "description": "Sync status object if syncing",
                          "properties": {
                            "startingBlock": {
                              "type": "string"
                            },
                            "currentBlock": {
                              "type": "string"
                            },
                            "highestBlock": {
                              "type": "string"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
