{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://nd-418-459-126.p2pify.com"
    }
  ],
  "paths": {
    "/8763cb5a211e1d4345acd51bde484c00/ext/bc/C/rpc": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceCall",
        "operationId": "traceCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "title": "Transaction call Object"
                        },
                        {
                          "type": "string",
                          "title": "Block Identifier"
                        }
                      ]
                    },
                    "default": [
                      {
                        "from": "0x9b15f13e0c3180aee2963b5fba6c0a1c71ddd1eb",
                        "to": "0x0000000000a39bb272e79075ade125fd351887ac",
                        "gas": "0x373AF",
                        "gasPrice": "0xBD32B2ABC",
                        "data": "0x638c06370000000000000000000000000000000000000000000000000000000000000001",
                        "value": "0x1D24B2DFAC520000"
                      },
                      "0x19FF919",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The call's trace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}