{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://testnet-rpc.monad.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Gas data"
        ],
        "summary": "eth_estimateGas",
        "operationId": "eth_estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string"
                        },
                        "data": {
                          "type": "string"
                        }
                      }
                    },
                    "default": [{"to": "0x760AfE86e5de5fa0Ee542fc7B7B713e1c5425701", "data": "0x06fdde03"}]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated gas amount.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
