{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_getBlockByHash",
                "operationId": "eth_getBlockByHash",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_getBlockByHash"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x6dabcf7ed4cf53e05054a4d671b19b7597740bce1042019ff31af68dde9c98a9",
                                            false
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_getBlockByHash.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "hash": {
                                                    "type": "string"
                                                },
                                                "parentHash": {
                                                    "type": "string"
                                                },
                                                "sha3Uncles": {
                                                    "type": "string"
                                                },
                                                "miner": {
                                                    "type": "string"
                                                },
                                                "stateRoot": {
                                                    "type": "string"
                                                },
                                                "transactionsRoot": {
                                                    "type": "string"
                                                },
                                                "receiptsRoot": {
                                                    "type": "string"
                                                },
                                                "logsBloom": {
                                                    "type": "string"
                                                },
                                                "difficulty": {
                                                    "type": "string"
                                                },
                                                "number": {
                                                    "type": "string"
                                                },
                                                "gasLimit": {
                                                    "type": "string"
                                                },
                                                "gasUsed": {
                                                    "type": "string"
                                                },
                                                "timestamp": {
                                                    "type": "string"
                                                },
                                                "extraData": {
                                                    "type": "string"
                                                },
                                                "mixHash": {
                                                    "type": "string"
                                                },
                                                "nonce": {
                                                    "type": "string"
                                                },
                                                "baseFeePerGas": {
                                                    "type": "string"
                                                },
                                                "withdrawalsRoot": {
                                                    "type": "string"
                                                },
                                                "blobGasUsed": {
                                                    "type": "string"
                                                },
                                                "excessBlobGas": {
                                                    "type": "string"
                                                },
                                                "parentBeaconBlockRoot": {
                                                    "type": "string"
                                                },
                                                "requestsHash": {
                                                    "type": "string"
                                                },
                                                "size": {
                                                    "type": "string"
                                                },
                                                "uncles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "transactions": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                },
                                                "withdrawals": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "hash": "0x6dabcf7ed4cf53e05054a4d671b19b7597740bce1042019ff31af68dde9c98a9",
                                        "parentHash": "0xfe1c06b10e6be606cad7b32b7da87bfba91fc1c45085b7ea12c69070e6cd3778",
                                        "sha3Uncles": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347",
                                        "miner": "0xa693cc18aa09d33dd388013b7a02e5ff863b8760",
                                        "stateRoot": "0xfd095b710adcb8045a8904d02c000f25230b151ef3a4e4b4dbf84ab083c2b9df",
                                        "transactionsRoot": "0x1df73587a490d0ae7e236905773748ef07ea63c1c22aa93659eb8fd4f77ef04d",
                                        "receiptsRoot": "0x968419399ee52ee3133e57e9111b513f941f269b5f7e83f358b5b894e8736362",
                                        "logsBloom": "0x0000000000004000000010200400000040000010002000024080060400000000800000000000002200000000000000000040000402002201000000024000000011000401120800040000000900000200000100002000000100000000800000000000000006000000200a004400004800002000800000000000000010000000c0000000080000000010080000000000c800012001000880000040000000800000000000200240000000008000000000008000000020000000000000000004000004000023001000001008000004000002000000080404084000080110000020600000000000020000000400001002000008200440000100400000000010000000",
                                        "difficulty": "0x0",
                                        "number": "0x34808ff",
                                        "gasLimit": "0x1c9c380",
                                        "gasUsed": "0x1db35b",
                                        "timestamp": "0x6a7026be",
                                        "extraData": "0x00000004a817c800",
                                        "mixHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                                        "nonce": "0x0000000000000000",
                                        "baseFeePerGas": "0x4a817c800",
                                        "withdrawalsRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421",
                                        "blobGasUsed": "0x0",
                                        "excessBlobGas": "0x0",
                                        "parentBeaconBlockRoot": "0xfe1c06b10e6be606cad7b32b7da87bfba91fc1c45085b7ea12c69070e6cd3778",
                                        "requestsHash": "0xe3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                                        "size": "0xbda",
                                        "uncles": [],
                                        "transactions": [
                                            "0x2ed866a63cf1fcc052779d3e3edc6bd6dc2e8378b23c23031f479c5fc0897313",
                                            "0xca1c2f3c8e19699bf316f5bc8ee090a55d866741d06a1e7ea5c7457c670b7c74",
                                            "0xb24c0683d79f5b670a429d2ac3044f104e98a216975ef9e383135b7b019bf917",
                                            "0xf2125bda829c91f399d8e70add4ef19b0fdfe28a6f8391e0b130ac284b591416",
                                            "0x4ca1f2715f8b3b146ddadd1d4acb1565bd44fef418241e70e46678c02daf011b",
                                            "0x3d91d1d198157d00eeb9619e8777e6c526afc3537888c81373ba934e415734e7"
                                        ],
                                        "withdrawals": []
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}