{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "arc_getCertificate",
                "operationId": "arc_getCertificate",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "arc_getCertificate"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            55000000
                                        ],
                                        "items": {
                                            "type": "integer",
                                            "title": "Height",
                                            "description": "The block height to get the consensus commit certificate for."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the consensus commit certificate for the given height.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "height": {
                                                    "type": "integer"
                                                },
                                                "round": {
                                                    "type": "integer"
                                                },
                                                "block_hash": {
                                                    "type": "string"
                                                },
                                                "signatures": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "address": {
                                                                "type": "string"
                                                            },
                                                            "signature": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "height": 55000000,
                                        "round": 0,
                                        "block_hash": "0x9a9ecf9348af3c128d63dcb4555b4586b9e9a503c67220029602a93aed14c76e",
                                        "signatures": [
                                            {
                                                "address": "0x2012459eddb529fcd8429ba73006a6340ff05232",
                                                "signature": "P3GaOsv6kJE9IyJtaBBjFvebQtAEttCGKalkwbk9VeVy7GxK1l3S/GhATET24iKbyY8SDmwvVMQjPaDOCz+nAQ=="
                                            },
                                            {
                                                "address": "0x66a99d2834cf369d900de5da88ad2944ccb12e70",
                                                "signature": "+UX4HW+dJaI0nAKB+3Ah3g6iR31jAYx62wFbufrNE7zttMYYaz6NBtXNX8Zc3kDaEWEO2T+IldaD927I865FCw=="
                                            },
                                            {
                                                "address": "0xfeb2b98d614701434ea6a12ccf29e0e40ae56941",
                                                "signature": "6C3dyx4Yoy1tU/sIKEGmcYWw7MGal2mZfFcLbz2qTQ7dfDvSC/Jq4vW3lVWRu7tzWMbmEcezAyw5bHABloKtAA=="
                                            },
                                            {
                                                "address": "0x602930d1ab44f1744f42e842b701c2b149c5da4f",
                                                "signature": "BDWeBNMhNypstuQwLlSbcQhjZVShr6F4K9d8Q4AG2PpRgFC9xoLDS+rrhPpUlZBi8EGZj3bR2dHntcjPv/rDAg=="
                                            },
                                            {
                                                "address": "0x6689a18548c978619d7c11698244eed76ae10856",
                                                "signature": "ZUOgt73xJ0gIBwshzPWguvNdMA8aWLDZS+PAmR4df17SJNsBciXfNCGHiFzlzQnUmPTlpLDHqhDH/51AG6BEBA=="
                                            },
                                            {
                                                "address": "0x2e78053671f707844a631bc907d4855894848fe3",
                                                "signature": "dcICOyPk2uBf+b0V02nVbE7qpy8LlUMo8NJOVKBz8NplXvViiPy8zPDFePloF20aJbiI52MfQ2DTDBZcaoHdAQ=="
                                            },
                                            {
                                                "address": "0x6791e002c8419e8a2fa5266e2951ed1780bc2295",
                                                "signature": "4JiWLZYCMVQkNVpj4E30m5UjOT/U6jTajr5CYrH9DgAxCEMhhBeYWk5Jiztw+A7qHNBH77qmHyybnjkl7MZFDw=="
                                            },
                                            {
                                                "address": "0xa3616c3a52e49facf1a0d59316dc87ce471e8129",
                                                "signature": "Ya45YNsjB9wuTY2RF/uHC+HSShGyXx6MR0SKYbc6crYYPp9hSE9G5RJo2pKADtKuAK3VDf5NnYnHiRFgIDWPAA=="
                                            },
                                            {
                                                "address": "0x6ea7bc8812a8837a861f4ca7acd83bca1684626a",
                                                "signature": "qz2RqUT5ZXN/QZVi0TJFS3qOHizWW9LBo+oCkg3COSo3JryURmVk2u3R1qSw5rxrxnPi81yCGamN0ccjE4IQAg=="
                                            },
                                            {
                                                "address": "0x643ad8ec952efa7d3060dcf94b92e9eba7baab19",
                                                "signature": "POIY1dMaCOP7uMksphmJjdp3XtU6ieKufBkDr/rflJAaOHhr/5RVnH6MZN3Z/UUBwnTtNRDbhmx+X98MU+IzAQ=="
                                            },
                                            {
                                                "address": "0x424ca01b5a849b7ce2e6e4d92a0443ce81f16fd2",
                                                "signature": "rgCm91C5n723hNuqj6oDd4Wf3yS3SsQloUoinWWzw7+7vKeBTbzUc1UbzFkc62rpZdoDjMOuihx+rTA21/OWDA=="
                                            },
                                            {
                                                "address": "0x68960d463d8a51095947a416fdb7973a87f675d0",
                                                "signature": "XNxfZUxxH8Ak6rSwDw9AoA7LVQWtBwnlcv4iWMz4rl3oCFhBPOu8drCi/tGQE3BhDNftJlBRdYZs2kZeeK+lCw=="
                                            },
                                            {
                                                "address": "0xfdc37d533f82159bf6c46da00db4faa379b941de",
                                                "signature": "/X2EWeitrkHQg/ubV36qk2fwaL3JrcCo954J/VEJqPqkdZIOCpnjx9GF9FS6WELApBmjhdkeV2zgJjH+Bd7OBQ=="
                                            },
                                            {
                                                "address": "0x7e4499718f868ff1f89fe5432e11c9f9f3e01fae",
                                                "signature": "82lZYmRk3duR1yUZIHi5QS1/BZEAHS6fg6t7a7EhwjRLf7/lSLH7iLaLZN46SiSNMiVIXS7hf/k/LCv9Grt4BQ=="
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}