{
  "openapi": "3.0.0",
  "info": {
    "title": "estimatesmartfee example",
    "version": "1.0.0",
    "description": "This is an API example for estimatesmartfee, a method to estimate the fee per kilobyte needed for a  transaction to begin confirmation within a certain number of blocks."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "estimatesmartfee",
        "operationId": "estimateSmartFee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "estimatesmartfee"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "The number of blocks within which the transaction is expected to be confirmed."
                    },
                    "default": [
                      6
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated fee per kilobyte for a transaction to be confirmed within the specified number of  blocks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "feerate": {
                          "type": "number",
                          "description": "The estimated fee per kilobyte."
                        },
                        "blocks": {
                          "type": "integer",
                          "description": "The number of blocks within which the transaction is expected to be confirmed."
                        }
                      },
                      "description": "Contains the estimated fee rate and the number of blocks."
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}