{
  "openapi": "3.0.0",
  "info": {
    "title": "getblockheader example",
    "version": "1.0.0",
    "description": "This is an API example for getblockheader."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "getblockheader",
        "operationId": "getblockheader",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getblockheader"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "string",
                          "description": "The block hash",
                          "example": "000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f"
                        },
                        {
                          "type": "boolean",
                          "description": "If true, returns the blockheader as a hex-encoded string",
                          "example": true
                        }
                      ]
                    },
                    "default": [
                      "000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26f",
                      true
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about the block header",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object"
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}