{
  "openapi": "3.0.0",
  "info": {
    "title": "getmempoolentry example",
    "version": "1.0.0",
    "description": "This is an API example for getmempoolentry, a method to get detailed information about a transaction in the  mempool."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "getmempoolentry",
        "operationId": "getMempoolEntry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getmempoolentry"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The transaction ID",
                      "example": "48b46e5905386ea21ff94d2be67dd7a75cc177c53e301d1ca29c5721d502793e"
                    },
                    "default": [
                      "48b46e5905386ea21ff94d2be67dd7a75cc177c53e301d1ca29c5721d502793e"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed information about the specified transaction in the mempool",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Detailed information about the transaction in the mempool"
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}