{
  "openapi": "3.0.0",
  "info": {
    "title": "getnetworkhashps example",
    "version": "1.0.0",
    "description": "This is an API example for getnetworkhashps, a method to get the estimated current or historical network  hashes per second based on the last n blocks."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "getnetworkhashps",
        "operationId": "getNetworkHashPs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getnetworkhashps"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "oneOf": [
                        {
                          "type": "integer",
                          "description": "The number of blocks to calculate the average hash rate over. Default is 120."
                        },
                        {
                          "type": "integer",
                          "description": "The block height at which to calculate the hash rate. Default is -1, meaning the  current height."
                        }
                      ]
                    },
                    "default": [
                      120,
                      -1
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated network hashes per second.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "number",
                      "description": "The estimated number of hashes per second based on the last n blocks."
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}