{
  "openapi": "3.0.0",
  "info": {
    "title": "getrawmempool example",
    "version": "1.0.0",
    "description": "This is an API example for getrawmempool, a method to get all transaction IDs in the mempool."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "getrawmempool",
        "operationId": "getRawMempool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getrawmempool"
                  },
                  "params": {},
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All transaction IDs in the mempool",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "description": "An array of transaction IDs in the mempool"
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}