{
  "openapi": "3.0.0",
  "info": {
    "title": "gettxout example",
    "version": "1.0.0",
    "description": "This is an API example for gettxout, a method to get a specific transaction output."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "gettxout",
        "operationId": "getTxOut",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "gettxout"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The transaction ID and index",
                      "example": "0bf82c1d62b73497de2d796636cb1ce64415d25982332436007c0f51b5a75a62, 1"
                    },
                    "default": [
                      "0bf82c1d62b73497de2d796636cb1ce64415d25982332436007c0f51b5a75a62",
                      1
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about the specified transaction output",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "description": "Information about the transaction output"
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}