{
  "openapi": "3.0.0",
  "info": {
    "title": "listbanned example",
    "version": "1.0.0",
    "description": "This is an API example for listbanned, a method to list all banned IP addresses and subnets."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "listbanned",
        "operationId": "listBanned",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "listbanned"
                  },
                  "params": {},
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A list of all banned IP addresses and subnets.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The banned IP address or subnet."
                          },
                          "banned_until": {
                            "type": "integer",
                            "description": "Timestamp in Unix time when the ban will be lifted."
                          },
                          "ban_created": {
                            "type": "integer",
                            "description": "Timestamp in Unix time when the ban was created."
                          },
                          "ban_reason": {
                            "type": "string",
                            "description": "Reason for the ban."
                          }
                        }
                      },
                      "description": "Details about each banned IP address or subnet."
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}