{
  "openapi": "3.0.0",
  "info": {
    "title": "preciousblock example",
    "version": "1.0.0",
    "description": "This is an API example for preciousblock, a method to treat a block as if it were received before others with the same work."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "preciousblock",
        "operationId": "preciousBlock",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "preciousblock"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The hash of the block to be treated as precious"
                    },
                    "example": "000000000000000000011cefb2db6b82b6ae69b4ec06eedc81fc85d16f97865d",
                    "default": [
                      "000000000000000000011cefb2db6b82b6ae69b4ec06eedc81fc85d16f97865d"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement that the block has been marked as precious",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "string",
                      "description": "The result is always null, indicating the request was processed. Actual type is 'null'.",
                      "nullable": true
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}