{
  "openapi": "3.0.0",
  "info": {
    "title": "verifychain example",
    "version": "1.0.0",
    "description": "This is an API example for verifychain, a method to verify the blockchain database."
  },
  "servers": [
    {
      "url": "https://nd-202-842-353.p2pify.com"
    }
  ],
  "paths": {
    "/788f110831fe13808302bd79796d55e8": {
      "post": {
        "tags": [
          "Blockchain Operations"
        ],
        "summary": "verifychain",
        "operationId": "verifyChain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "1.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "verifychain"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "description": "The check level (0-4, default: 3)",
                      "example": 3
                    },
                    "default": [
                      3
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the blockchain verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "The result of the verification"
                    },
                    "error": {
                      "type": "object"
                    },
                    "id": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}