{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange requiring authentication. ⚠️ WARNING: These endpoints require EIP-712 signatures for authentication. The example values provided will NOT work without proper cryptographic signing. You must implement EIP-712 signing to use these endpoints successfully."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": ["hyperliquid exchange"],
        "summary": "Bid in the gossip priority auction",
        "operationId": "gossipPriorityBid",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "default": "gossipPriorityBid", "enum": ["gossipPriorityBid"], "description": "Action type" },
                      "slotId": { "type": "integer", "enum": [0, 1], "description": "Auction slot identifier (0 or 1). Lower-indexed slots are strictly prioritized." },
                      "ip": { "type": "string", "description": "IP address (IPv4 or IPv6) to prioritize. Any address may bid on behalf of any IP." },
                      "maxGas": { "type": "integer", "description": "Max gas in wei (1 HYPE = 10^8 wei) charged from spot balance. Minimum auction price is 0.1 HYPE." }
                    },
                    "required": ["type", "slotId", "ip", "maxGas"]
                  },
                  "nonce": { "type": "integer", "description": "Current timestamp in milliseconds" },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": { "type": "string", "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef" },
                      "s": { "type": "string", "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321" },
                      "v": { "type": "integer", "example": 27 }
                    },
                    "required": ["r", "s", "v"]
                  },
                  "expiresAfter": { "type": "integer", "description": "Timestamp in milliseconds after which the request is rejected (optional)" }
                },
                "required": ["action", "nonce", "signature"]
              },
              "example": {
                "action": { "type": "gossipPriorityBid", "slotId": 0, "ip": "1.2.3.4", "maxGas": 10000000 },
                "nonce": 1705234567890,
                "signature": { "r": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef", "s": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321", "v": 27 }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Gossip priority bid result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "description": "Request status" },
                    "response": { "type": "object", "properties": { "type": { "type": "string", "default": "default" } } }
                  },
                  "example": { "status": "ok", "response": { "type": "default" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
