{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange requiring authentication. ⚠️ WARNING: These endpoints require EIP-712 signatures for authentication. The example values provided will NOT work without proper cryptographic signing. You must implement EIP-712 signing to use these endpoints successfully."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "Create vault",
        "operationId": "createVault",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "properties": {
                      "type": { "type": "string", "default": "createVault", "enum": ["createVault"], "description": "Action type" },
                      "name": { "type": "string", "description": "Vault name (3-50 characters)" },
                      "description": { "type": "string", "description": "Vault description (10-250 characters)" },
                      "initialUsd": { "type": "integer", "description": "Initial balance as USD float * 1e6 (minimum 100 USD = 100000000)" },
                      "nonce": { "type": "integer", "description": "Timestamp in milliseconds, equal to the envelope nonce" }
                    },
                    "required": ["type", "name", "description", "initialUsd", "nonce"]
                  },
                  "nonce": { "type": "integer", "description": "Current timestamp in milliseconds" },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": { "type": "string", "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef" },
                      "s": { "type": "string", "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321" },
                      "v": { "type": "integer", "example": 27 }
                    },
                    "required": ["r", "s", "v"]
                  },
                  "expiresAfter": { "type": "integer", "description": "Timestamp in milliseconds after which the request is rejected (optional)" }
                },
                "required": ["action", "nonce", "signature"]
              },
              "example": {
                "action": { "type": "createVault", "name": "My vault", "description": "A vault for copy trading", "initialUsd": 100000000, "nonce": 1705234567890 },
                "nonce": 1705234567890,
                "signature": { "r": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef", "s": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321", "v": 27 }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Create vault result, including the new vault address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "description": "Request status" },
                    "response": {
                      "type": "object",
                      "properties": {
                        "type": { "type": "string", "default": "createVault" },
                        "data": { "type": "string", "description": "Address of the newly created vault" }
                      }
                    }
                  },
                  "example": { "status": "ok", "response": { "type": "createVault", "data": "0x1719884eb866cb12b2287399b15f7db5e7d775ea" } }
                }
              }
            }
          }
        }
      }
    }
  }
}
