{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Exchange API",
    "version": "1.0.0",
    "description": "API for trading operations on Hyperliquid exchange requiring authentication. ⚠️ WARNING: These endpoints require EIP-712 signatures for authentication. The example values provided will NOT work without proper cryptographic signing. You must implement EIP-712 signing to use these endpoints successfully."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/exchange": {
      "post": {
        "tags": [
          "hyperliquid exchange"
        ],
        "summary": "User outcome (split / merge / negate outcome shares)",
        "operationId": "userOutcome",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "action": {
                    "type": "object",
                    "description": "User outcome action. Provide exactly one of splitOutcome, mergeOutcome, mergeQuestion, or negateOutcome alongside the type.",
                    "properties": {
                      "type": {
                        "type": "string",
                        "default": "userOutcome",
                        "enum": [
                          "userOutcome"
                        ],
                        "description": "Action type"
                      },
                      "splitOutcome": {
                        "type": "object",
                        "description": "Split X quote tokens into X Yes and X No shares of an outcome.",
                        "properties": {
                          "outcome": {
                            "type": "integer",
                            "description": "Outcome identifier."
                          },
                          "amount": {
                            "type": "string",
                            "description": "Amount of quote tokens to split."
                          }
                        }
                      }
                    },
                    "required": [
                      "type"
                    ]
                  },
                  "nonce": {
                    "type": "integer",
                    "description": "Current timestamp in milliseconds"
                  },
                  "signature": {
                    "type": "object",
                    "description": "EIP-712 signature of the action with r, s, v components",
                    "properties": {
                      "r": {
                        "type": "string",
                        "description": "ECDSA signature r component (hex string)",
                        "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                      },
                      "s": {
                        "type": "string",
                        "description": "ECDSA signature s component (hex string)",
                        "example": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321"
                      },
                      "v": {
                        "type": "integer",
                        "description": "ECDSA recovery id (27 or 28)",
                        "example": 27
                      }
                    },
                    "required": [
                      "r",
                      "s",
                      "v"
                    ]
                  },
                  "expiresAfter": {
                    "type": "integer",
                    "description": "Timestamp in milliseconds after which the request is rejected (optional)"
                  }
                },
                "required": [
                  "action",
                  "nonce",
                  "signature"
                ]
              },
              "example": {
                "action": {
                  "type": "userOutcome",
                  "splitOutcome": {
                    "outcome": 0,
                    "amount": "1"
                  }
                },
                "nonce": 1705234567890,
                "signature": {
                  "r": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                  "s": "0xfedcba0987654321fedcba0987654321fedcba0987654321fedcba0987654321",
                  "v": 27
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User outcome result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "Request status"
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "default": "default"
                        }
                      }
                    }
                  },
                  "example": {
                    "status": "ok",
                    "response": {
                      "type": "default"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
