{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Accounts info"
        ],
        "summary": "eth_getCode",
        "operationId": "eth_getCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getCode"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": ["0xAc586b65F3cd0627D2D05AdB8EF551C9d2D76E12", "latest"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The bytecode at the given address.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
