{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getProof Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getProof for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.testnet.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Account info"
        ],
        "summary": "eth_getProof",
        "operationId": "tempo-eth-getProof",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getProof"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      "0x20c0000000000000000000000000000000000000",
                      ["0x0"],
                      "latest"
                    ],
                    "description": "Address, storage keys array, and block parameter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account and storage proof",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "description": "Proof object with account proof and storage proofs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
