{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getBalance Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getBalance for Tempo. Note: Tempo has no native token, so this method returns a placeholder value. Use TIP-20 token balanceOf to check actual balances."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Account info"
        ],
        "summary": "eth_getBalance",
        "operationId": "tempo-eth-getBalance",
        "description": "Returns a placeholder value on Tempo since there is no native token. To check balances, query TIP-20 token contracts using balanceOf.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBalance"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0x9729187D9E8Bbefa8295F39f5634cA454dd9d294", "latest"],
                    "description": "Address and block parameter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Placeholder balance value (Tempo has no native token)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "Returns placeholder value 0x5e5de0bada3a8d... since Tempo has no native token"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
