{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getCode Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getCode for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Account info"
        ],
        "summary": "eth_getCode",
        "operationId": "tempo-eth-getCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getCode"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0x20c0000000000000000000000000000000000000", "latest"],
                    "description": "Contract address and block parameter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The contract bytecode",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The bytecode at the given address, or 0x if no code exists"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
