{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (settledOutcome)",
        "operationId": "infoSettledOutcome",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "settledOutcome",
                    "enum": [
                      "settledOutcome"
                    ]
                  },
                  "outcome": {
                    "type": "integer",
                    "description": "Outcome identifier.",
                    "default": 0
                  }
                },
                "required": [
                  "type",
                  "outcome"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information about a settled outcome, or null if the outcome is not settled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "spec": {
                      "type": "object",
                      "description": "Outcome specification.",
                      "properties": {
                        "outcome": {
                          "type": "integer",
                          "description": "Outcome identifier."
                        },
                        "name": {
                          "type": "string",
                          "description": "Name of the outcome."
                        },
                        "description": {
                          "type": "string",
                          "description": "Description of the outcome."
                        },
                        "sideSpecs": {
                          "type": "array",
                          "description": "Side specifications for this outcome.",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of the side."
                              },
                              "token": {
                                "type": "integer",
                                "description": "Token identifier for this side."
                              }
                            }
                          }
                        },
                        "quoteToken": {
                          "type": "string",
                          "description": "Quote token for this outcome."
                        }
                      }
                    },
                    "settleFraction": {
                      "type": "string",
                      "description": "Settlement fraction."
                    },
                    "details": {
                      "type": "string",
                      "description": "Settlement details."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
