{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userTwapSliceFillsByTime)",
        "operationId": "infoUserTwapSliceFillsByTime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "userTwapSliceFillsByTime",
                    "enum": [
                      "userTwapSliceFillsByTime"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  },
                  "startTime": {
                    "type": "integer",
                    "description": "Start time in milliseconds since epoch (inclusive).",
                    "default": 0
                  },
                  "endTime": {
                    "type": "integer",
                    "description": "End time in milliseconds since epoch (inclusive). Optional; defaults to now."
                  }
                },
                "required": [
                  "type",
                  "user",
                  "startTime"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user's TWAP slice fills within the time range.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Each item is a TWAP slice fill (a fill record paired with its TWAP order ID).",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
