{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - User TWAP Slice Fills",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Retrieve a user's TWAP slice fills",
        "description": "Retrieve the most recent TWAP (Time-Weighted Average Price) slice fills for a specific user. Returns at most 2000 most recent TWAP slice fills with detailed execution information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["userTwapSliceFills"],
                    "default": "userTwapSliceFills",
                    "description": "The request type. Must be 'userTwapSliceFills' to retrieve TWAP slice fills."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  }
                }
              },
              "example": {
                "type": "userTwapSliceFills",
                "user": "0x31ca8395cf837de08b24da3f660e77761dfb974b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with TWAP slice fills data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "fill": {
                        "type": "object",
                        "properties": {
                          "closedPnl": {
                            "type": "string",
                            "description": "Realized profit/loss from this fill"
                          },
                          "coin": {
                            "type": "string",
                            "description": "Asset identifier (simple names like 'BTC', 'ETH' for perpetuals; spot format like '@107' for spot trades)"
                          },
                          "crossed": {
                            "type": "boolean",
                            "description": "Boolean indicating if this was a crossing order"
                          },
                          "dir": {
                            "type": "string",
                            "description": "Trade direction (e.g., 'Open Long', 'Close Short', 'Buy', 'Sell')"
                          },
                          "hash": {
                            "type": "string",
                            "description": "Transaction hash (TWAP fills have a hash of 0x0000000000000000000000000000000000000000000000000000000000000000)"
                          },
                          "oid": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Order ID that generated this fill"
                          },
                          "px": {
                            "type": "string",
                            "description": "Fill price as a string for precision"
                          },
                          "side": {
                            "type": "string",
                            "enum": ["A", "B"],
                            "description": "Trade side: 'A' for Ask/Sell, 'B' for Bid/Buy"
                          },
                          "startPosition": {
                            "type": "string",
                            "description": "Position size before this fill"
                          },
                          "sz": {
                            "type": "string",
                            "description": "Fill size (quantity traded)"
                          },
                          "time": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Fill timestamp in milliseconds"
                          },
                          "fee": {
                            "type": "string",
                            "description": "Trading fee paid for this fill"
                          },
                          "feeToken": {
                            "type": "string",
                            "description": "Token used to pay the fee (typically 'USDC')"
                          },
                          "tid": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Unique trade ID"
                          }
                        },
                        "required": ["closedPnl", "coin", "crossed", "dir", "hash", "oid", "px", "side", "startPosition", "sz", "time", "fee", "feeToken", "tid"]
                      },
                      "twapId": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unique identifier for the TWAP order that generated this slice fill"
                      }
                    },
                    "required": ["fill", "twapId"]
                  }
                },
                "example": [
                  {
                    "fill": {
                      "closedPnl": "0.0",
                      "coin": "AVAX",
                      "crossed": true,
                      "dir": "Open Long",
                      "hash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                      "oid": 90542681,
                      "px": "18.435",
                      "side": "B",
                      "startPosition": "26.86",
                      "sz": "93.53",
                      "time": 1681222254710,
                      "fee": "0.01",
                      "feeToken": "USDC",
                      "tid": 118906512037719
                    },
                    "twapId": 3156
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}