{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (gossipPriorityAuctionStatus)",
        "operationId": "infoGossipPriorityAuctionStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "gossipPriorityAuctionStatus",
                    "enum": [
                      "gossipPriorityAuctionStatus"
                    ]
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current gossip priority auction status: the prioritized IPs and the per-slot auctions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Two-element array: [list of prioritized IP addresses, list of per-slot auction objects].",
                  "items": {}
                }
              }
            }
          }
        }
      }
    }
  }
}
