{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (userBorrowLendInterest)",
        "operationId": "infoUserBorrowLendInterest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "userBorrowLendInterest",
                    "enum": [
                      "userBorrowLendInterest"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user's borrow/lend interest accrual records.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Each item is a borrow/lend interest record for a token at a point in time.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "description": "Timestamp of the update (ms since epoch)."
                      },
                      "token": {
                        "type": "string",
                        "description": "Token symbol (e.g., USDC)."
                      },
                      "borrow": {
                        "type": "string",
                        "description": "Borrow interest amount."
                      },
                      "supply": {
                        "type": "string",
                        "description": "Supply interest amount."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
