{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (validatorSummaries)",
        "operationId": "infoValidatorSummaries",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "validatorSummaries",
                    "enum": [
                      "validatorSummaries"
                    ]
                  }
                },
                "required": [
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Summaries for all validators (stake, status, commission, uptime, and APR stats).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Each item summarizes one validator.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "validator": {
                        "type": "string",
                        "description": "Validator address."
                      },
                      "signer": {
                        "type": "string",
                        "description": "Validator signer address."
                      },
                      "name": {
                        "type": "string",
                        "description": "Validator name."
                      },
                      "description": {
                        "type": "string",
                        "description": "Validator description."
                      },
                      "stake": {
                        "type": "integer",
                        "description": "Total stake delegated to the validator (in wei)."
                      },
                      "isJailed": {
                        "type": "boolean",
                        "description": "Whether the validator is jailed."
                      },
                      "isActive": {
                        "type": "boolean",
                        "description": "Whether the validator is active."
                      },
                      "commission": {
                        "type": "string",
                        "description": "Validator commission rate."
                      },
                      "stats": {
                        "type": "array",
                        "description": "Per-period uptime and predicted APR stats.",
                        "items": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
