{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (perpDexLimits)",
        "operationId": "infoPerpDexLimits",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "perpDexLimits",
                    "enum": [
                      "perpDexLimits"
                    ]
                  },
                  "dex": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Name of the builder-deployed perp DEX. The empty string is not allowed.",
                    "default": "xyz"
                  }
                },
                "required": [
                  "type",
                  "dex"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Perp DEX limit configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "nullable": true,
                  "properties": {
                    "totalOiCap": {
                      "type": "string",
                      "description": "Total open interest cap across the DEX."
                    },
                    "oiSzCapPerPerp": {
                      "type": "string",
                      "description": "Open interest size cap per perpetual."
                    },
                    "maxTransferNtl": {
                      "type": "string",
                      "description": "Maximum transfer notional amount."
                    },
                    "coinToOiCap": {
                      "type": "array",
                      "description": "Array of [coin, oiCap] tuples giving the open interest cap per asset.",
                      "items": {
                        "type": "array",
                        "minItems": 2,
                        "maxItems": 2,
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
