{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (twapHistory)",
        "operationId": "infoTwapHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "twapHistory",
                    "enum": [
                      "twapHistory"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The user's TWAP order history.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Each item is a TWAP history record with its creation time, state, and status.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "description": "Creation time of the record (seconds since epoch)."
                      },
                      "state": {
                        "type": "object",
                        "description": "State of the TWAP order."
                      },
                      "status": {
                        "type": "object",
                        "description": "Current status of the TWAP order (e.g., finished, activated, terminated, error)."
                      },
                      "twapId": {
                        "type": "integer",
                        "description": "ID of the TWAP order."
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
