{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Candle Snapshot",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Candle snapshot",
        "description": "Retrieve historical candlestick (OHLCV) data for a specific asset within a time range. Only the most recent 5000 candles are available.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "req"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["candleSnapshot"],
                    "default": "candleSnapshot",
                    "description": "The request type. Must be 'candleSnapshot' to retrieve candle data."
                  },
                  "req": {
                    "type": "object",
                    "required": ["coin", "interval", "startTime", "endTime"],
                    "default": {
                      "coin": "BTC",
                      "interval": "1h",
                      "startTime": 1754300000000,
                      "endTime": 1754400000000
                    },
                    "properties": {
                      "coin": {
                        "type": "string",
                        "default": "BTC",
                        "description": "Asset identifier (simple names like 'BTC', 'ETH' for perpetuals; spot format like '@107' for spot trades)"
                      },
                      "interval": {
                        "type": "string",
                        "enum": ["1m", "3m", "5m", "15m", "30m", "1h", "2h", "4h", "8h", "12h", "1d", "3d", "1w", "1M"],
                        "default": "1h",
                        "description": "Candle interval/timeframe"
                      },
                      "startTime": {
                        "type": "integer",
                        "format": "int64",
                        "default": 1754300000000,
                        "description": "Start time in milliseconds (epoch timestamp)"
                      },
                      "endTime": {
                        "type": "integer",
                        "format": "int64",
                        "default": 1754400000000,
                        "description": "End time in milliseconds (epoch timestamp)"
                      }
                    },
                    "description": "Request parameters object containing coin, interval, and time range"
                  }
                }
              },
              "example": {
                "type": "candleSnapshot",
                "req": {
                  "coin": "BTC",
                  "interval": "1h",
                  "startTime": 1754300000000,
                  "endTime": 1754400000000
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with candlestick data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "T": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Close time timestamp in milliseconds"
                      },
                      "c": {
                        "type": "string",
                        "description": "Close price as a string for precision"
                      },
                      "h": {
                        "type": "string",
                        "description": "High price as a string for precision"
                      },
                      "i": {
                        "type": "string",
                        "description": "Interval/timeframe of the candle"
                      },
                      "l": {
                        "type": "string",
                        "description": "Low price as a string for precision"
                      },
                      "n": {
                        "type": "integer",
                        "description": "Number of trades during this candle period"
                      },
                      "o": {
                        "type": "string",
                        "description": "Open price as a string for precision"
                      },
                      "s": {
                        "type": "string",
                        "description": "Symbol/asset identifier"
                      },
                      "t": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Open time timestamp in milliseconds"
                      },
                      "v": {
                        "type": "string",
                        "description": "Volume traded during this candle period"
                      }
                    },
                    "required": ["T", "c", "h", "i", "l", "n", "o", "s", "t", "v"]
                  }
                },
                "example": [
                  {
                    "T": 1681924499999,
                    "c": "29258.0",
                    "h": "29309.0",
                    "i": "15m",
                    "l": "29250.0",
                    "n": 189,
                    "o": "29295.0",
                    "s": "BTC",
                    "t": 1681923600000,
                    "v": "0.98639"
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}