{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Recent Trades",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Retrieve recent trades",
        "description": "Retrieve the most recent public trades for a specific asset. This endpoint provides real-time trade data including price, size, and timing information for market analysis.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "coin"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["recentTrades"],
                    "default": "recentTrades",
                    "description": "The request type. Must be 'recentTrades' to retrieve recent trades."
                  },
                  "coin": {
                    "type": "string",
                    "default": "BTC",
                    "description": "Asset identifier (simple names like 'BTC', 'ETH' for perpetuals; spot format like '@107' for spot trades)"
                  }
                }
              },
              "example": {
                "type": "recentTrades",
                "coin": "BTC"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with recent trades data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "px": {
                        "type": "string",
                        "description": "Trade price as a string for precision"
                      },
                      "sz": {
                        "type": "string",
                        "description": "Trade size (quantity traded)"
                      },
                      "side": {
                        "type": "string",
                        "enum": ["A", "B"],
                        "description": "Trade side: 'A' for Ask/Sell, 'B' for Bid/Buy"
                      },
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Trade timestamp in milliseconds"
                      },
                      "tid": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Unique trade ID"
                      }
                    },
                    "required": ["px", "sz", "side", "time", "tid"]
                  }
                },
                "example": [
                  {
                    "px": "43250.5",
                    "sz": "0.1234",
                    "side": "B",
                    "time": 1681924499999,
                    "tid": 118906512037719
                  },
                  {
                    "px": "43248.0",
                    "sz": "0.5678",
                    "side": "A",
                    "time": 1681924489999,
                    "tid": 118906512037718
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}