{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Vault Details",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Retrieve vault details",
        "description": "Retrieve detailed information about a specific vault including portfolio performance, followers, leader information, and vault configuration settings.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "vaultAddress"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["vaultDetails"],
                    "default": "vaultDetails",
                    "description": "The request type. Must be 'vaultDetails' to retrieve vault details."
                  },
                  "vaultAddress": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0xdfc24b077bc1425ad1dea75bcb6f8158e10df303",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "description": "Optional user address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  }
                }
              },
              "example": {
                "type": "vaultDetails",
                "vaultAddress": "0xdfc24b077bc1425ad1dea75bcb6f8158e10df303"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with vault details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "The name of the vault"
                    },
                    "vaultAddress": {
                      "type": "string",
                      "description": "The vault's address"
                    },
                    "leader": {
                      "type": "string",
                      "description": "Address of the vault leader"
                    },
                    "description": {
                      "type": "string",
                      "description": "Description of the vault's strategy and purpose"
                    },
                    "portfolio": {
                      "type": "array",
                      "description": "Portfolio performance data across different time periods"
                    },
                    "apr": {
                      "type": "number",
                      "description": "Annual percentage return"
                    },
                    "followerState": {
                      "description": "State information for followers, null if not applicable"
                    },
                    "leaderFraction": {
                      "type": "number",
                      "description": "Fraction of the vault controlled by the leader"
                    },
                    "leaderCommission": {
                      "type": "number",
                      "description": "Commission rate charged by the leader"
                    },
                    "followers": {
                      "type": "array",
                      "description": "List of vault followers",
                      "items": {
                        "type": "object",
                        "properties": {
                          "user": {
                            "type": "string",
                            "description": "Follower's address"
                          },
                          "vaultEquity": {
                            "type": "string",
                            "description": "Follower's equity in the vault"
                          },
                          "pnl": {
                            "type": "string",
                            "description": "Current profit and loss"
                          },
                          "allTimePnl": {
                            "type": "string",
                            "description": "All-time profit and loss"
                          },
                          "daysFollowing": {
                            "type": "integer",
                            "description": "Number of days following the vault"
                          },
                          "vaultEntryTime": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Timestamp when the user entered the vault"
                          },
                          "lockupUntil": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Timestamp until which funds are locked"
                          }
                        }
                      }
                    },
                    "maxDistributable": {
                      "type": "number",
                      "description": "Maximum amount that can be distributed"
                    },
                    "maxWithdrawable": {
                      "type": "number",
                      "description": "Maximum amount that can be withdrawn"
                    },
                    "isClosed": {
                      "type": "boolean",
                      "description": "Whether the vault is closed to new deposits"
                    },
                    "relationship": {
                      "type": "object",
                      "description": "Vault relationship information",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["parent", "child"],
                          "description": "Type of relationship"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "childAddresses": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "Array of child vault addresses (for parent vaults)"
                            },
                            "parentAddress": {
                              "type": "string",
                              "description": "Parent vault address (for child vaults)"
                            }
                          }
                        }
                      }
                    },
                    "allowDeposits": {
                      "type": "boolean",
                      "description": "Whether the vault allows new deposits"
                    },
                    "alwaysCloseOnWithdraw": {
                      "type": "boolean",
                      "description": "Whether positions are always closed on withdrawal"
                    }
                  }
                },
                "example": {
                  "name": "Test",
                  "vaultAddress": "0xdfc24b077bc1425ad1dea75bcb6f8158e10df303",
                  "leader": "0x677d831aef5328190852e24f13c46cac05f984e7",
                  "description": "This community-owned vault provides liquidity to Hyperliquid through multiple market making strategies, performs liquidations, and accrues platform fees.",
                  "portfolio": [
                    [
                      "day",
                      {
                        "accountValueHistory": [
                          [
                            1734397526634,
                            "329265410.90790099"
                          ]
                        ],
                        "pnlHistory": [
                          [
                            1734397526634,
                            "0.0"
                          ]
                        ],
                        "vlm": "0.0"
                      }
                    ]
                  ],
                  "apr": 0.36387129259090006,
                  "followerState": null,
                  "leaderFraction": 0.0007904828725729887,
                  "leaderCommission": 0,
                  "followers": [
                    {
                      "user": "0x005844b2ffb2e122cf4244be7dbcb4f84924907c",
                      "vaultEquity": "714491.71026243",
                      "pnl": "3203.43026143",
                      "allTimePnl": "79843.74476743",
                      "daysFollowing": 388,
                      "vaultEntryTime": 1700926145201,
                      "lockupUntil": 1734824439201
                    }
                  ],
                  "maxDistributable": 94856870.164485,
                  "maxWithdrawable": 742557.680863,
                  "isClosed": false,
                  "relationship": {
                    "type": "parent",
                    "data": {
                      "childAddresses": [
                        "0x010461c14e146ac35fe42271bdc1134ee31c703a",
                        "0x2e3d94f0562703b25c83308a05046ddaf9a8dd14",
                        "0x31ca8395cf837de08b24da3f660e77761dfb974b"
                      ]
                    }
                  },
                  "allowDeposits": true,
                  "alwaysCloseOnWithdraw": false
                }
              }
            }
          }
        }
      }
    }
  }
}