{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4f8d8f4040bdacd1577bff8058438274/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (subAccounts2)",
        "operationId": "infoSubAccounts2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "subAccounts2",
                    "enum": [
                      "subAccounts2"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of the user's sub-accounts, or null if the user has none.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "nullable": true,
                  "description": "Each item describes a sub-account, including its name, address, master address, per-DEX clearinghouse state, and spot state.",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
