{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (legalCheck)",
        "operationId": "infoLegalCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "legalCheck",
                    "enum": [
                      "legalCheck"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Legal/compliance status for the user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "acceptedTerms": {
                      "type": "boolean",
                      "description": "Whether the user has accepted the terms."
                    },
                    "userAllowed": {
                      "type": "boolean",
                      "description": "Whether the user is allowed to trade."
                    },
                    "restrictions": {
                      "type": "string",
                      "description": "Restriction code applied to the user, if any."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
