{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (preTransferCheck)",
        "operationId": "infoPreTransferCheck",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "preTransferCheck",
                    "enum": [
                      "preTransferCheck"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "Destination address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  },
                  "source": {
                    "type": "string",
                    "description": "Source address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  }
                },
                "required": [
                  "type",
                  "user",
                  "source"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pre-transfer check result for the destination user.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isSanctioned": {
                      "type": "boolean",
                      "description": "Whether the address is sanctioned."
                    },
                    "userExists": {
                      "type": "boolean",
                      "description": "Whether the destination user already exists on Hyperliquid."
                    },
                    "fee": {
                      "type": "string",
                      "description": "Transfer fee that would apply."
                    },
                    "userHasSentTx": {
                      "type": "boolean",
                      "description": "Whether the user has previously sent a transaction."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
