{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Portfolio",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Query a user's portfolio",
        "description": "Retrieve comprehensive portfolio performance data for a specific user across different time periods, including account value history, PnL history, and volume metrics.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["portfolio"],
                    "default": "portfolio",
                    "description": "The request type. Must be 'portfolio' to retrieve portfolio data."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0x31ca8395cf837de08b24da3f660e77761dfb974b",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  }
                }
              },
              "example": {
                "type": "portfolio",
                "user": "0x31ca8395cf837de08b24da3f660e77761dfb974b"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with portfolio data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of portfolio performance data across different time periods",
                  "items": {
                    "type": "array",
                    "description": "Tuple containing period name and performance data",
                    "minItems": 2,
                    "maxItems": 2
                  }
                },
                "example": [
                  [
                    "day",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ],
                        [
                          1741895270493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ],
                        [
                          1741895270493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "week",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "month",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "allTime",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "perpDay",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "perpWeek",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "perpMonth",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ],
                  [
                    "perpAllTime",
                    {
                      "accountValueHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "pnlHistory": [
                        [
                          1741886630493,
                          "0.0"
                        ]
                      ],
                      "vlm": "0.0"
                    }
                  ]
                ]
              }
            }
          }
        }
      }
    }
  }
}