{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Delegator History",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Query a user's staking history",
        "description": "Retrieve comprehensive staking history for a specific user, including delegation and undelegation events with timestamps, transaction hashes, and detailed delta information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["delegatorHistory"],
                    "default": "delegatorHistory",
                    "description": "The request type. Must be 'delegatorHistory' to retrieve staking history."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  }
                }
              },
              "example": {
                "type": "delegatorHistory",
                "user": "0x2ba553d9f990a3b66b03b2dc0d030dfc1c061036"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with staking history data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Array of staking history events",
                  "items": {
                    "type": "object",
                    "properties": {
                      "time": {
                        "type": "integer",
                        "format": "int64",
                        "description": "Timestamp of the staking event in milliseconds"
                      },
                      "hash": {
                        "type": "string",
                        "description": "Transaction hash of the staking event"
                      },
                      "delta": {
                        "type": "object",
                        "description": "Details of the staking change",
                        "properties": {
                          "delegate": {
                            "type": "object",
                            "description": "Delegation event details",
                            "properties": {
                              "validator": {
                                "type": "string",
                                "description": "Address of the validator being delegated to or undelegated from"
                              },
                              "amount": {
                                "type": "string",
                                "description": "Amount being delegated or undelegated"
                              },
                              "isUndelegate": {
                                "type": "boolean",
                                "description": "Whether this is an undelegation event (true) or delegation event (false)"
                              }
                            }
                          }
                        }
                      }
                    },
                    "required": ["time", "hash", "delta"]
                  }
                },
                "example": [
                  {
                    "time": 1735380381353,
                    "hash": "0x55492465cb523f90815a041a226ba90147008d4b221a24ae8dc35a0dbede4ea4",
                    "delta": {
                      "delegate": {
                        "validator": "0x5ac99df645f3414876c816caa18b2d234024b487",
                        "amount": "10000.0",
                        "isUndelegate": false
                      }
                    }
                  },
                  {
                    "time": 1735380281353,
                    "hash": "0x44492465cb523f90815a041a226ba90147008d4b221a24ae8dc35a0dbede4ea3",
                    "delta": {
                      "delegate": {
                        "validator": "0x5ac99df645f3414876c816caa18b2d234024b487",
                        "amount": "5000.0",
                        "isUndelegate": true
                      }
                    }
                  }
                ]
              }
            }
          }
        }
      }
    }
  }
}