{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API - Referral",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "summary": "Query a user's referral information",
        "description": "Retrieve comprehensive referral information for a specific user, including referrer details, referral rewards, volume metrics, and referrer state with referred users data.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "user"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["referral"],
                    "default": "referral",
                    "description": "The request type. Must be 'referral' to retrieve referral information."
                  },
                  "user": {
                    "type": "string",
                    "pattern": "^0x[a-fA-F0-9]{40}$",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568",
                    "description": "Address in 42-character hexadecimal format; e.g. 0x0000000000000000000000000000000000000000."
                  }
                }
              },
              "example": {
                "type": "referral",
                "user": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with referral information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "referredBy": {
                      "type": "object",
                      "description": "Information about who referred this user",
                      "properties": {
                        "referrer": {
                          "type": "string",
                          "description": "Address of the user who made the referral"
                        },
                        "code": {
                          "type": "string",
                          "description": "Referral code used"
                        }
                      }
                    },
                    "cumVlm": {
                      "type": "string",
                      "description": "Cumulative volume traded by this user"
                    },
                    "unclaimedRewards": {
                      "type": "string",
                      "description": "Amount of unclaimed referral rewards"
                    },
                    "claimedRewards": {
                      "type": "string",
                      "description": "Amount of claimed referral rewards"
                    },
                    "builderRewards": {
                      "type": "string",
                      "description": "Builder rewards earned"
                    },
                    "referrerState": {
                      "type": "object",
                      "description": "State information if this user is a referrer",
                      "properties": {
                        "stage": {
                          "type": "string",
                          "description": "Current stage of the referrer (e.g., 'ready')"
                        },
                        "data": {
                          "type": "object",
                          "properties": {
                            "code": {
                              "type": "string",
                              "description": "This user's referral code"
                            },
                            "referralStates": {
                              "type": "array",
                              "description": "List of users referred by this user",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "cumVlm": {
                                    "type": "string",
                                    "description": "Cumulative volume traded by the referred user"
                                  },
                                  "cumRewardedFeesSinceReferred": {
                                    "type": "string",
                                    "description": "Total fees that generated rewards since referral"
                                  },
                                  "cumFeesRewardedToReferrer": {
                                    "type": "string",
                                    "description": "Total fees rewarded to the referrer from this user"
                                  },
                                  "timeJoined": {
                                    "type": "integer",
                                    "format": "int64",
                                    "description": "Timestamp when the user joined via referral"
                                  },
                                  "user": {
                                    "type": "string",
                                    "description": "Address of the referred user"
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "rewardHistory": {
                      "type": "array",
                      "description": "Legacy reward history (now returned in nonFundingLedgerUpdate)"
                    }
                  }
                },
                "example": {
                  "referredBy": {
                    "referrer": "0x5ac99df645f3414876c816caa18b2d234024b487",
                    "code": "TESTNET"
                  },
                  "cumVlm": "149428030.6628420055",
                  "unclaimedRewards": "11.047361",
                  "claimedRewards": "22.743781",
                  "builderRewards": "0.027802",
                  "referrerState": {
                    "stage": "ready",
                    "data": {
                      "code": "TEST",
                      "referralStates": [
                        {
                          "cumVlm": "960652.017122",
                          "cumRewardedFeesSinceReferred": "196.838825",
                          "cumFeesRewardedToReferrer": "19.683748",
                          "timeJoined": 1679425029416,
                          "user": "0x11af2b93dcb3568b7bf2b6bd6182d260a9495728"
                        },
                        {
                          "cumVlm": "438278.672653",
                          "cumRewardedFeesSinceReferred": "97.628107",
                          "cumFeesRewardedToReferrer": "9.762562",
                          "timeJoined": 1679423947882,
                          "user": "0x3f69d170055913103a034a418953b8695e4e42fa"
                        }
                      ]
                    }
                  },
                  "rewardHistory": []
                }
              }
            }
          }
        }
      }
    }
  }
}