{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with Chainstack Hyperliquid node."
  },
  "servers": [
    {
      "url": "https://api.hyperliquid.xyz"
    }
  ],
  "paths": {
    "/info": {
      "post": {
        "tags": [
          "hyperliquid operations"
        ],
        "summary": "info (isVip)",
        "operationId": "infoIsVip",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Request type",
                    "default": "isVip",
                    "enum": [
                      "isVip"
                    ]
                  },
                  "user": {
                    "type": "string",
                    "description": "User address in 42-character hexadecimal format.",
                    "default": "0x1442ad477ded1b0028b57621aa7b6f7eadb8f568"
                  }
                },
                "required": [
                  "type",
                  "user"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Whether the user currently has VIP status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean",
                  "nullable": true
                }
              }
            }
          }
        }
      }
    }
  }
}
