{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://robinhood-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getHeaderByHash",
        "operationId": "eth_getHeaderByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getHeaderByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block hash",
                          "description": "Hash of the block."
                        }
                      ]
                    },
                    "default": [
                      "0xf4aab7a559489b816aca197b9a9315b5363a9932c52c3e8bfcf4152588ee096a"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the block header by block hash.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}