{
  "openapi": "3.0.0",
  "info": {
    "title": "estimateFee example",
    "version": "1.0.0",
    "description": "This is an API example for estimateFee, a method to estimate the fee for sending a message to the TON blockchain."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/estimateFee": {
      "post": {
        "tags": [
          "TON Operations"
        ],
        "summary": "estimateFee",
        "operationId": "estimateFee",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The address to send the message from",
                    "default": "EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body of the message in base64 format",
                    "default": "te6cckEBAQEAAgAAAEysuc0="
                  },
                  "init_code": {
                    "type": "string",
                    "description": "Optional init code in base64 format for contract deployment"
                  },
                  "init_data": {
                    "type": "string",
                    "description": "Optional init data in base64 format for contract deployment"
                  },
                  "ignore_chksig": {
                    "type": "boolean",
                    "description": "Whether to ignore the signature check",
                    "default": true
                  }
                },
                "required": [
                  "address",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated fee for the message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the operation was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string",
                          "description": "The type of the result"
                        },
                        "source_fees": {
                          "type": "object",
                          "properties": {
                            "@type": {
                              "type": "string"
                            },
                            "in_fwd_fee": {
                              "type": "integer",
                              "description": "The incoming forward fee"
                            },
                            "storage_fee": {
                              "type": "integer",
                              "description": "The storage fee"
                            },
                            "gas_fee": {
                              "type": "integer",
                              "description": "The gas fee"
                            },
                            "fwd_fee": {
                              "type": "integer",
                              "description": "The forward fee"
                            }
                          }
                        },
                        "destination_fees": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          },
                          "description": "Array of destination fees"
                        },
                        "@extra": {
                          "type": "string",
                          "description": "Extra information"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
