{
  "openapi": "3.0.0",
  "info": {
    "title": "getAddressState example",
    "version": "1.0.0",
    "description": "This is an API example for getAddressState, a method to retrieve the current state of a specific address on the TON blockchain."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/getAddressState": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "getAddressState",
        "operationId": "getAddressState",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "The address to get the state for",
            "schema": {
              "type": "string",
              "default": "EQDtFpEwcFAEcRe5mLVh2N6C0x-_hJEM7W61_JLnSF74p4q2"
            },
            "example": "EQDtFpEwcFAEcRe5mLVh2N6C0x-_hJEM7W61_JLnSF74p4q2"
          }
        ],
        "responses": {
          "200": {
            "description": "The current state of the specified address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "state": {
                      "type": "string",
                      "description": "The current state of the address",
                      "enum": [
                        "active",
                        "uninitialized",
                        "frozen"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}