{
  "openapi": "3.0.0",
  "info": {
    "title": "getConsensusBlock example",
    "version": "1.0.0",
    "description": "This is an API example for getConsensusBlock, a method to retrieve information about the latest consensus block in the TON blockchain."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/getConsensusBlock": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "getConsensusBlock",
        "operationId": "getConsensusBlock",
        "responses": {
          "200": {
            "description": "Information about the latest consensus block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "consensus_block": {
                      "type": "integer",
                      "description": "The sequence number of the latest consensus block"
                    },
                    "timestamp": {
                      "type": "integer",
                      "description": "The Unix timestamp of the latest consensus block"
                    },
                    "timestamp_string": {
                      "type": "string",
                      "description": "The human-readable timestamp of the latest consensus block"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}