{
  "openapi": "3.0.0",
  "info": {
    "title": "getShardBlockProof example",
    "version": "1.0.0",
    "description": "This is an API example for getShardBlockProof, a method to retrieve the proof of a specific shard block in the TON blockchain."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/getShardBlockProof": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "getShardBlockProof",
        "operationId": "getShardBlockProof",
        "parameters": [
          {
            "name": "workchain",
            "in": "query",
            "required": true,
            "description": "The workchain ID",
            "schema": {
              "type": "integer",
              "default": -1
            },
            "example": -1
          },
          {
            "name": "shard",
            "in": "query",
            "required": true,
            "description": "The shard ID",
            "schema": {
              "type": "string",
              "default": "-9223372036854775808"
            },
            "example": "-9223372036854775808"
          },
          {
            "name": "seqno",
            "in": "query",
            "required": true,
            "description": "The sequence number of the block",
            "schema": {
              "type": "integer",
              "default": 39064874
            },
            "example": 39064874
          }
        ],
        "responses": {
          "200": {
            "description": "Proof of the specified shard block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "masterchain_block_root_hash": {
                      "type": "string",
                      "description": "The root hash of the masterchain block"
                    },
                    "masterchain_block_seq_no": {
                      "type": "integer",
                      "description": "The sequence number of the masterchain block"
                    },
                    "links": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "The source block hash"
                          },
                          "to": {
                            "type": "string",
                            "description": "The destination block hash"
                          },
                          "dest_proof": {
                            "type": "string",
                            "description": "The proof of the destination block"
                          },
                          "proof": {
                            "type": "string",
                            "description": "The proof of the link"
                          }
                        }
                      }
                    },
                    "block_header": {
                      "type": "string",
                      "description": "The header of the shard block"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}