{
  "openapi": "3.0.0",
  "info": {
    "title": "getWalletInformation example",
    "version": "1.0.0",
    "description": "This is an API example for getWalletInformation, a method to retrieve wallet-specific information about a TON address."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/getWalletInformation": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "getWalletInformation",
        "operationId": "getWalletInformation",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "The address to get wallet information for",
            "schema": {
              "type": "string",
              "default": "EQDtFpEwcFAEcRe5mLVh2N6C0x-_hJEM7W61_JLnSF74p4q2"
            },
            "example": "EQDtFpEwcFAEcRe5mLVh2N6C0x-_hJEM7W61_JLnSF74p4q2"
          }
        ],
        "responses": {
          "200": {
            "description": "Wallet information for the specified address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "wallet": {
                      "type": "boolean",
                      "description": "Indicates if the address is a wallet"
                    },
                    "balance": {
                      "type": "string",
                      "description": "The balance of the wallet in nanotons"
                    },
                    "account_state": {
                      "type": "string",
                      "description": "The state of the account (active, uninitialized, etc.)"
                    },
                    "wallet_type": {
                      "type": "string",
                      "description": "The type of the wallet contract"
                    },
                    "seqno": {
                      "type": "integer",
                      "description": "The current sequence number of the wallet"
                    },
                    "last_transaction_id": {
                      "type": "object",
                      "properties": {
                        "lt": {
                          "type": "string",
                          "description": "The logical time of the last transaction"
                        },
                        "hash": {
                          "type": "string",
                          "description": "The hash of the last transaction"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}