{
  "openapi": "3.0.0",
  "info": {
    "title": "lookupBlock example",
    "version": "1.0.0",
    "description": "This is an API example for lookupBlock, a method to retrieve information about a specific block in the TON blockchain."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/lookupBlock": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "lookupBlock",
        "operationId": "lookupBlock",
        "parameters": [
          {
            "name": "workchain",
            "in": "query",
            "required": true,
            "description": "The workchain ID",
            "schema": {
              "type": "integer",
              "default": -1
            },
            "example": -1
          },
          {
            "name": "shard",
            "in": "query",
            "required": true,
            "description": "The shard ID",
            "schema": {
              "type": "string",
              "default": "-9223372036854775808"
            },
            "example": "-9223372036854775808"
          },
          {
            "name": "seqno",
            "in": "query",
            "required": true,
            "description": "The sequence number of the block",
            "schema": {
              "type": "integer",
              "default": 39064874
            },
            "example": 39064874
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the specified block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "object",
                      "properties": {
                        "workchain": {
                          "type": "integer",
                          "description": "The workchain ID of the block"
                        },
                        "shard": {
                          "type": "string",
                          "description": "The shard ID of the block"
                        },
                        "seqno": {
                          "type": "integer",
                          "description": "The sequence number of the block"
                        },
                        "root_hash": {
                          "type": "string",
                          "description": "The root hash of the block"
                        },
                        "file_hash": {
                          "type": "string",
                          "description": "The file hash of the block"
                        }
                      }
                    },
                    "status": {
                      "type": "integer",
                      "description": "The status of the block"
                    },
                    "global_id": {
                      "type": "integer",
                      "description": "The global ID of the block"
                    },
                    "version": {
                      "type": "integer",
                      "description": "The version of the block"
                    },
                    "after_merge": {
                      "type": "boolean",
                      "description": "Whether the block was created after a merge"
                    },
                    "before_split": {
                      "type": "boolean",
                      "description": "Whether the block was created before a split"
                    },
                    "want_merge": {
                      "type": "boolean",
                      "description": "Whether the block wants to merge"
                    },
                    "want_split": {
                      "type": "boolean",
                      "description": "Whether the block wants to split"
                    },
                    "gen_utime": {
                      "type": "integer",
                      "description": "The generation time of the block"
                    },
                    "start_lt": {
                      "type": "string",
                      "description": "The start logical time of the block"
                    },
                    "end_lt": {
                      "type": "string",
                      "description": "The end logical time of the block"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}