{
  "openapi": "3.0.0",
  "info": {
    "title": "packAddress example",
    "version": "1.0.0",
    "description": "This is an API example for packAddress, a method to convert a raw TON address to a user-friendly format."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/packAddress": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "packAddress",
        "operationId": "packAddress",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "description": "The raw address to pack",
            "schema": {
              "type": "string",
              "default": "0:ed1691307050047117b998b561d8de82d31fbf84910ced6eb5fc92e7485ef8a7"
            },
            "example": "0:ed1691307050047117b998b561d8de82d31fbf84910ced6eb5fc92e7485ef8a7"
          }
        ],
        "responses": {
          "200": {
            "description": "The packed (user-friendly) address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "string",
                      "description": "The packed address in user-friendly format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}