{
  "openapi": "3.0.0",
  "info": {
    "title": "sendBocReturnHash example",
    "version": "1.0.0",
    "description": "This is an API example for sendBocReturnHash, a method to send a serialized bag-of-cells to the TON blockchain and receive the message hash."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/sendBocReturnHash": {
      "post": {
        "tags": [
          "TON Operations"
        ],
        "summary": "sendBocReturnHash",
        "operationId": "sendBocReturnHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "boc": {
                    "type": "string",
                    "description": "The serialized bag-of-cells in base64 format",
                    "default": "te6ccgEBAgEAqwAB4YgBVbC7Hu+g3htYXzst8L5ucV76NMzeBK3URJKebN2Y1kwADRfFu/r0HxgrOp/Iml8Li5x4gR10J5XYFS8z0fMWJ6JPeUF5xNSLrSDGFIqhJqkW1SEYQF8Dw5p4dI3oaFs4LCmpoxdkfKw0AAAAGAAcAQBoQgAwwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAL68="
                  }
                },
                "required": [
                  "boc"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of sending the BoC with the message hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the operation was successful"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "@type": {
                          "type": "string",
                          "description": "The type of the result"
                        },
                        "hash": {
                          "type": "string",
                          "description": "The hash of the sent message"
                        },
                        "@extra": {
                          "type": "string",
                          "description": "Extra information"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
