{
  "openapi": "3.0.0",
  "info": {
    "title": "sendQuery example",
    "version": "1.0.0",
    "description": "This is an API example for sendQuery, a method to send an unpacked external message to the TON blockchain."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/sendQuery": {
      "post": {
        "tags": [
          "TON Operations"
        ],
        "summary": "sendQuery",
        "operationId": "sendQuery",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "The destination address for the message",
                    "default": "EQCxE6mUtQJKFnGfaROTKOt1lZbDiiX1kCixRv7Nw2Id_sDs"
                  },
                  "body": {
                    "type": "string",
                    "description": "The body of the message in base64 format",
                    "default": "te6cckEBAQEAAgAAAEysuc0="
                  },
                  "init_code": {
                    "type": "string",
                    "description": "Optional init code in base64 format for contract deployment"
                  },
                  "init_data": {
                    "type": "string",
                    "description": "Optional init data in base64 format for contract deployment"
                  }
                },
                "required": [
                  "address",
                  "body"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of sending the query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "Whether the operation was successful"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true,
                      "properties": {
                        "@type": {
                          "type": "string",
                          "description": "The type of the result"
                        },
                        "@extra": {
                          "type": "string",
                          "description": "Extra information"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
