{
  "openapi": "3.0.0",
  "info": {
    "title": "tryLocateTx example",
    "version": "1.0.0",
    "description": "This is an API example for tryLocateTx, a method to locate a transaction in the TON blockchain based on source, destination, and logical time."
  },
  "servers": [
    {
      "url": "https://ton-mainnet.core.chainstack.com/f2a2411bce1e54a2658f2710cd7969c3/api/v2"
    }
  ],
  "paths": {
    "/tryLocateTx": {
      "get": {
        "tags": [
          "TON Operations"
        ],
        "summary": "tryLocateTx",
        "operationId": "tryLocateTx",
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "required": true,
            "description": "The source address of the transaction",
            "schema": {
              "type": "string",
              "default": "UQAX2d4C2d48JeA-0y2_peGabRVumnKY22xPvkuEayC3zTI1"
            },
            "example": "UQAX2d4C2d48JeA-0y2_peGabRVumnKY22xPvkuEayC3zTI1"
          },
          {
            "name": "destination",
            "in": "query",
            "required": true,
            "description": "The destination address of the transaction",
            "schema": {
              "type": "string",
              "default": "UQBP4mzpDIywL1SV-Wp9ZuBBlzprR9eXQgSYGEXiUEHm73vA"
            },
            "example": "UQBP4mzpDIywL1SV-Wp9ZuBBlzprR9eXQgSYGEXiUEHm73vA"
          },
          {
            "name": "created_lt",
            "in": "query",
            "required": true,
            "description": "The logical time when the transaction was created",
            "schema": {
              "type": "string",
              "default": "47597573000002"
            },
            "example": "47597573000002"
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the located transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block": {
                      "type": "object",
                      "properties": {
                        "workchain": {
                          "type": "integer",
                          "description": "The workchain ID of the block containing the transaction"
                        },
                        "shard": {
                          "type": "string",
                          "description": "The shard ID of the block containing the transaction"
                        },
                        "seqno": {
                          "type": "integer",
                          "description": "The sequence number of the block containing the transaction"
                        },
                        "root_hash": {
                          "type": "string",
                          "description": "The root hash of the block containing the transaction"
                        },
                        "file_hash": {
                          "type": "string",
                          "description": "The file hash of the block containing the transaction"
                        }
                      }
                    },
                    "transaction_id": {
                      "type": "object",
                      "properties": {
                        "lt": {
                          "type": "string",
                          "description": "The logical time of the transaction"
                        },
                        "hash": {
                          "type": "string",
                          "description": "The hash of the transaction"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}