{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_feeHistory Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_feeHistory for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Gas data"
        ],
        "summary": "eth_feeHistory",
        "operationId": "tempo-eth-feeHistory",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_feeHistory"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [4, "latest", [25, 75]],
                    "description": "Block count, newest block, and reward percentiles"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fee history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "baseFeePerGas": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "gasUsedRatio": {
                          "type": "array",
                          "items": {
                            "type": "number"
                          }
                        },
                        "oldestBlock": {
                          "type": "string"
                        },
                        "reward": {
                          "type": "array",
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
