{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_estimateGas Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_estimateGas for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.testnet.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Gas data"
        ],
        "summary": "eth_estimateGas",
        "operationId": "tempo-eth-estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [
                      {
                        "from": "0x9729187D9E8Bbefa8295F39f5634cA454dd9d294",
                        "to": "0x20c0000000000000000000000000000000000000",
                        "data": "0x70a082310000000000000000000000009729187d9e8bbefa8295f39f5634ca454dd9d294"
                      }
                    ],
                    "description": "Transaction call object"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The estimated gas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The estimated gas amount encoded as hexadecimal"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
