{
  "openapi": "3.0.0",
  "info": {
    "title": "getGenesisHash example",
    "version": "1.0.0",
    "description": "This is an API example for Solana's getGenesisHash."
  },
  "servers": [
    {
      "url": "https://nd-326-444-187.p2pify.com"
    }
  ],
  "paths": {
    "/9de47db917d4f69168e3fed02217d15b": {
      "post": {
        "tags": [
          "query"
        ],
        "summary": "getGenesisHash",
        "operationId": "getGenesisHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getGenesisHash"
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Genesis hash details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}