{
  "openapi": "3.0.0",
  "info": {
    "title": "getTransaction example",
    "version": "1.0.0",
    "description": "This is an API example for Solana's getTransaction."
  },
  "servers": [
    {
      "url": "https://nd-326-444-187.p2pify.com"
    }
  ],
  "paths": {
    "/9de47db917d4f69168e3fed02217d15b": {
      "post": {
        "tags": [
          "query"
        ],
        "summary": "getTransaction",
        "operationId": "getTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "Transaction signature",
                          "default": "4VAGET7z5g7ogVGmbmZ6KBtF6DS8ftLWzD65BXZWQJjwASUqLod7LhGB6mqThcqo97QcC7r7uNmBY8GwsnLAA52n"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "encoding": {
                              "type": "string",
                              "default": "jsonParsed"
                            },
                            "maxSupportedTransactionVersion": {
                              "type": "integer",
                              "default": 0
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      "4VAGET7z5g7ogVGmbmZ6KBtF6DS8ftLWzD65BXZWQJjwASUqLod7LhGB6mqThcqo97QcC7r7uNmBY8GwsnLAA52n",
                      {
                        "encoding": "jsonParsed",
                        "maxSupportedTransactionVersion": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}