{
  "openapi": "3.0.0",
  "info": {
    "title": "getTokenAccountsByDelegate example",
    "version": "1.0.0",
    "description": "This is an API example for Solana's getTokenAccountsByDelegate."
  },
  "servers": [
    {
      "url": "https://nd-326-444-187.p2pify.com"
    }
  ],
  "paths": {
    "/9de47db917d4f69168e3fed02217d15b": {
      "post": {
        "tags": [
          "query"
        ],
        "summary": "getTokenAccountsByDelegate",
        "operationId": "getTokenAccountsByDelegate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "getTokenAccountsByDelegate"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "Pubkey of the delegate to query, as base58 encoded string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "mint": {
                              "type": "string",
                              "description": "Pubkey of the specific token mint to limit accounts to"
                            }
                          }
                        },
                        {
                          "type": "object",
                          "properties": {
                            "encoding": {
                              "type": "string",
                              "default": "jsonParsed"
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      "4Nd1mBQtrMJVYVfKf2PJy9NZUZdTAsp7D4xWLs4gDB4T",
                      {
                        "mint": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                      },
                      {
                        "encoding": "jsonParsed"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token accounts by delegate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
