{
  "openapi": "3.0.0",
  "info": {
    "title": "isBlockhashValid example",
    "version": "1.0.0",
    "description": "This is an API example for Solana's isBlockhashValid."
  },
  "servers": [
    {
      "url": "https://solana-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/83e0d6661ee0488e22e167c18818cb38": {
      "post": {
        "tags": [
          "query"
        ],
        "summary": "isBlockhashValid",
        "operationId": "isBlockhashValid",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 45
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "isBlockhashValid"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "The blockhash to validate, as a base-58 encoded string",
                          "default": "AspJzsEukGPuLYsebpUSSeS79GtYVVh6Bn4478qWXqBK"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "commitment": {
                              "type": "string",
                              "default": "processed"
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      "AspJzsEukGPuLYsebpUSSeS79GtYVVh6Bn4478qWXqBK",
                      {
                        "commitment": "processed"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blockhash validity status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}