{
  "openapi": "3.0.0",
  "info": {
    "title": "simulateTransaction example",
    "version": "1.0.0",
    "description": "This is an API example for Solana's simulateTransaction."
  },
  "servers": [
    {
      "url": "https://nd-326-444-187.p2pify.com"
    }
  ],
  "paths": {
    "/9de47db917d4f69168e3fed02217d15b": {
      "post": {
        "tags": [
          "query"
        ],
        "summary": "simulateTransaction",
        "operationId": "simulateTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "simulateTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "Transaction, as an encoded string"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "encoding": {
                              "type": "string",
                              "default": "base64"
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia1tLmq7zz4DinMNN0pJ1JtLdqIJPUw3YrGCzYAMHBsgN27lcgB6H2WQvFgyZuJYHa46puOQo9yQ8CVQbd9uHXZaGT2cvhRs7reawctIXtX1s3kTqM9YV+/wCp20C7Wj2aiuk5TReAXo+VTVg8QTHjs0UjNMMKCvpzZ+ABAgEBARU=",
                      {
                        "encoding": "base64"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Simulated transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}