{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON-RPC API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nd-995-911-243.p2pify.com"
    }
  ],
  "paths": {
    "/afb8312f3710a5bc469f4c87cad3a2e4": {
      "post": {
        "summary": "zks_getRawBlockTransactions | zkSync Era",
        "operationId": "zks_getRawBlockTransactions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequestForRawBlockTransactions"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponseForRawBlockTransactions"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequestForRawBlockTransactions": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "zks_getRawBlockTransactions",
            "default": "zks_getRawBlockTransactions"
          },
          "params": {
            "type": "array",
            "default": [
              27221521
            ],
            "items": {
              "type": "integer",
              "example": 27221521,
              "default": 27221521
            }
          }
        }
      },
      "JsonRpcResponseForRawBlockTransactions": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "default": 1
          },
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transactions_details": {
                  "type": "object",
                  "description": "The details of transactions in the block."
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}