{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON-RPC API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nd-995-911-243.p2pify.com"
    }
  ],
  "paths": {
    "/afb8312f3710a5bc469f4c87cad3a2e4": {
      "post": {
        "summary": "zks_getL1BatchDetails | zkSync Era",
        "operationId": "zks_getL1BatchDetails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequestForL1BatchDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponseForL1BatchDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequestForL1BatchDetails": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "zks_getL1BatchDetails",
            "default": "zks_getL1BatchDetails"
          },
          "params": {
            "type": "array",
            "default": [
              443314
            ],
            "items": {
              "type": "integer",
              "example": 443314,
              "default": 443314
            }
          }
        }
      },
      "JsonRpcResponseForL1BatchDetails": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "default": 1
          },
          "result": {
            "type": "object",
            "properties": {
              "batchId": {
                "type": "integer",
                "description": "The ID of the L1 batch."
              },
              "transactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "txHash": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "gasUsed": {
                      "type": "integer"
                    }
                  }
                }
              },
              "status": {
                "type": "string",
                "description": "The status of the L1 batch."
              },
              "submissionTime": {
                "type": "string",
                "format": "date-time",
                "description": "The submission time of the L1 batch."
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}