{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON-RPC API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nd-995-911-243.p2pify.com"
    }
  ],
  "paths": {
    "/afb8312f3710a5bc469f4c87cad3a2e4": {
      "post": {
        "summary": "zks_getBridgeContracts | zkSync Era",
        "operationId": "zks_getBridgeContracts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequestForBridgeContracts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponseForBridgeContracts"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequestForBridgeContracts": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "zks_getBridgeContracts",
            "default": "zks_getBridgeContracts"
          },
          "params": {
            "type": "array",
            "default": [],
            "items": {}
          }
        }
      },
      "JsonRpcResponseForBridgeContracts": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "default": 1
          },
          "result": {
            "type": "object",
            "properties": {
              "bridgeContractAddresses": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}