{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON-RPC API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nd-995-911-243.p2pify.com"
    }
  ],
  "paths": {
    "/afb8312f3710a5bc469f4c87cad3a2e4": {
      "post": {
        "summary": "zks_getMainContract | zkSync Era",
        "operationId": "zks_getMainContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequestForMainContract"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponseForMainContract"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequestForMainContract": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "zks_getMainContract",
            "default": "zks_getMainContract"
          },
          "params": {
            "type": "array",
            "default": []
          }
        }
      },
      "JsonRpcResponseForMainContract": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "default": 1
          },
          "result": {
            "type": "object",
            "properties": {
              "contractAddress": {
                "type": "string",
                "description": "The address of zkSync main contract on L1."
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}