{
  "openapi": "3.0.0",
  "info": {
    "title": "JSON-RPC API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://nd-995-911-243.p2pify.com"
    }
  ],
  "paths": {
    "/afb8312f3710a5bc469f4c87cad3a2e4": {
      "post": {
        "summary": "zks_getBlockDetails | zkSync Era",
        "operationId": "zks_getBlockDetails",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonRpcRequestForBlockDetails"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonRpcResponseForBlockDetails"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JsonRpcRequestForBlockDetails": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "method",
          "params"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "example": 1,
            "default": 1
          },
          "method": {
            "type": "string",
            "example": "zks_getBlockDetails",
            "default": "zks_getBlockDetails"
          },
          "params": {
            "type": "array",
            "default": [
              27163792
            ],
            "items": {
              "type": "integer",
              "example": 27163792,
              "default": 27163792
            }
          }
        }
      },
      "JsonRpcResponseForBlockDetails": {
        "type": "object",
        "required": [
          "jsonrpc",
          "id",
          "result"
        ],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "example": "2.0",
            "default": "2.0"
          },
          "id": {
            "type": "integer",
            "default": 1
          },
          "result": {
            "type": "object",
            "properties": {
              "blockNumber": {
                "type": "integer"
              },
              "blockHash": {
                "type": "string"
              },
              "parentHash": {
                "type": "string"
              },
              "transactions": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "txHash": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string"
                    },
                    "to": {
                      "type": "string"
                    },
                    "value": {
                      "type": "string"
                    },
                    "gasUsed": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}