{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Ethereum node."
  },
  "servers": [
    {
      "url": "https://nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "debug_traceCall",
        "operationId": "traceCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "default": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045"
                            },
                            "to": {
                              "type": "string",
                              "default": "0x0000000000a39bb272e79075ade125fd351887ac"
                            },
                            "gas": {
                              "type": "string",
                              "default": "0x1E9EF"
                            },
                            "gasPrice": {
                              "type": "string",
                              "default": "0xBD32B2ABC"
                            },
                            "data": {
                              "type": "string",
                              "default": "0xd0e30db0"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "default": "latest"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "tracer": {
                              "type": "string",
                              "default": "callTracer"
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      {
                        "from": "0xd8dA6BF26964aF9D7eEd9e03E53415D37aA96045",
                        "to": "0x0000000000a39bb272e79075ade125fd351887ac",
                        "gas": "0x1E9EF",
                        "gasPrice": "0xBD32B2ABC",
                        "data": "0xd0e30db0"
                      },
                      "latest",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the debug trace call",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}