{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an Ethereum node."
  },
  "servers": [
    {
      "url": "https://nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "debug_traceCallMany",
        "operationId": "traceCallMany",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCallMany"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "description": "An array with three elements: the bundles to execute, the simulation context, and the trace configuration. The trace configuration below uses muxTracer to run callTracer and prestateTracer in a single pass.",
                    "default": [
                      [
                        {
                          "transactions": [
                            {
                              "from": "0x1985EA6E9c68E1C272d8209f3B478AC2Fdb25c87",
                              "to": "0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48",
                              "gas": "0xf4240",
                              "gasPrice": "0x7896e72a",
                              "data": "0xa9059cbb000000000000000000000000bc0E63965946815d105E7591407704e6e1964E590000000000000000000000000000000000000000000000000000000005f5e100"
                            }
                          ]
                        }
                      ],
                      {
                        "blockNumber": "latest"
                      },
                      {
                        "tracer": "muxTracer",
                        "tracerConfig": {
                          "callTracer": {
                            "onlyTopCall": true,
                            "withLog": false
                          },
                          "prestateTracer": {
                            "diffMode": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed execution traces for each call in each bundle. With muxTracer, every trace object is keyed by the name of each sub-tracer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "description": "One array per bundle; each inner array holds one trace object per transaction. With muxTracer, each trace object is keyed by tracer name (for example, callTracer and prestateTracer).",
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
