{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getTransactionReceipt Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getTransactionReceipt for Tempo. Tempo receipts include additional fields: feeToken and feePayer."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Transaction info"
        ],
        "summary": "eth_getTransactionReceipt",
        "operationId": "tempo-eth-getTransactionReceipt",
        "description": "Returns the receipt of a transaction. Tempo receipts include additional fields: feeToken (the TIP-20 token used for fees) and feePayer (the address that paid fees).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionReceipt"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0xb3e821e696897b02283b7b2d602941b1d3cb08448d3a204bab05955215fc2035"],
                    "description": "Transaction hash"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction receipt with Tempo-specific fields",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true,
                      "description": "Receipt object with feeToken and feePayer fields, or null if not found"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
