{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_sendRawTransaction Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for eth_sendRawTransaction for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-moderato.core.chainstack.com/a25a421add2280d53fdbc23417055501"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Transaction info"
        ],
        "summary": "eth_sendRawTransaction",
        "operationId": "tempo-eth-sendRawTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_sendRawTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0xf867808502540e841e825208949729187d9e8bbefa8295f39f5634ca454dd9d294808083014b9da00602a6c9850068ac6667c098f65cf061e5e90d7030a63d13396dc6d0522fe517a07a0f9c9455612fcacfce60fba7c6e305728148f3ec345661535d0230f872f224"],
                    "description": "Signed transaction data"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The transaction hash"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
