{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Pool Attester Slashings API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/pool/attester_slashings": {
      "get": {
        "summary": "Get attester slashings",
        "operationId": "getBeaconPoolAttesterSlashings",
        "responses": {
          "200": {
            "description": "Beacon pool attester slashings successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconPoolAttesterSlashingsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BeaconPoolAttesterSlashingsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BeaconPoolAttesterSlashingItem"
        }
      },
      "BeaconPoolAttesterSlashingItem": {
        "type": "object",
        "properties": {
          "attestation_1": {
            "$ref": "#/components/schemas/IndexedAttestation"
          },
          "attestation_2": {
            "$ref": "#/components/schemas/IndexedAttestation"
          }
        },
        "required": [
          "attestation_1",
          "attestation_2"
        ]
      },
      "IndexedAttestation": {
        "type": "object",
        "properties": {
          "attesting_indices": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "data": {
            "$ref": "#/components/schemas/AttestationData"
          },
          "signature": {
            "type": "string"
          }
        },
        "required": [
          "attesting_indices",
          "data",
          "signature"
        ]
      },
      "AttestationData": {
        "type": "object",
        "properties": {
          "slot": {
            "type": "integer",
            "format": "int64"
          },
          "index": {
            "type": "integer",
            "format": "int64"
          },
          "beacon_block_root": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/Checkpoint"
          },
          "target": {
            "$ref": "#/components/schemas/Checkpoint"
          }
        },
        "required": [
          "slot",
          "index",
          "beacon_block_root",
          "source",
          "target"
        ]
      },
      "Checkpoint": {
        "type": "object",
        "properties": {
          "epoch": {
            "type": "integer",
            "format": "int64"
          },
          "root": {
            "type": "string"
          }
        },
        "required": [
          "epoch",
          "root"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}