{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Pool Attestations API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/pool/attestations": {
      "get": {
        "summary": "Get attestations from the beacon pool",
        "operationId": "getBeaconPoolAttestationsBySlotAndCommitteeIndex",
        "parameters": [
          {
            "name": "slot",
            "in": "query",
            "description": "The slot number to filter attestations",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 6243475
            }
          },
          {
            "name": "committee_index",
            "in": "query",
            "description": "The committee index to filter attestations",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beacon pool attestations successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconPoolAttestationsList"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BeaconPoolAttestationsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BeaconPoolAttestationItem"
        }
      },
      "BeaconPoolAttestationItem": {
        "type": "object",
        "properties": {
          "aggregation_bits": {
            "type": "string"
          },
          "data": {
            "$ref": "#/components/schemas/AttestationData"
          },
          "signature": {
            "type": "string"
          }
        },
        "required": [
          "aggregation_bits",
          "data",
          "signature"
        ]
      },
      "AttestationData": {
        "type": "object",
        "properties": {
          "slot": {
            "type": "integer",
            "format": "int64"
          },
          "index": {
            "type": "integer",
            "format": "int64"
          },
          "beacon_block_root": {
            "type": "string"
          },
          "source": {
            "$ref": "#/components/schemas/Checkpoint"
          },
          "target": {
            "$ref": "#/components/schemas/Checkpoint"
          }
        },
        "required": [
          "slot",
          "index",
          "beacon_block_root",
          "source",
          "target"
        ]
      },
      "Checkpoint": {
        "type": "object",
        "properties": {
          "epoch": {
            "type": "integer",
            "format": "int64"
          },
          "root": {
            "type": "string"
          }
        },
        "required": [
          "epoch",
          "root"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}