{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Validator Produce Blinded Block API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"
    }
  ],
  "paths": {
    "/validator/blinded_blocks/{slot}": {
      "get": {
        "summary": "Produce an unsigned blinded block",
        "operationId": "produceBlindedBlock",
        "parameters": [
          {
            "name": "slot",
            "in": "path",
            "description": "Slot for which to produce a new blinded block",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 6244411
            }
          },
          {
            "name": "randao_reveal",
            "in": "query",
            "description": "RANDAO reveal for the block",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]+$",
              "default": "0x8363f30516d67556dae486c64535e2641293e794ddf21631fe06a32903648e70b606f5461c5f37c13c23f545c1d13e5401ea6a48526e01c9d94ea028e02fec5edc42034fc22b23f3a9dd90621173b2a1141a6ecf409d8bb61c82440e87a5bb25"
            }
          },
          {
            "name": "graffiti",
            "in": "query",
            "description": "Graffiti for the block",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[0-9a-fA-F]+$",
              "example": "0x5374616b65576973650000000000000000000000000000000000000000000000"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully produced a new blinded block",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Block"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Block": {
        "type": "object",
        "properties": {
          "slot": {
            "type": "integer",
            "format": "int64"
          },
          "parent_root": {
            "type": "string"
          },
          "state_root": {
            "type": "string"
          },
          "body": {
            "type": "object"
          }
        },
        "required": [
          "slot",
          "parent_root",
          "state_root",
          "body"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}