{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Validator Proposer Duties API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"
    }
  ],
  "paths": {
    "/validator/duties/proposer/{epoch}": {
      "get": {
        "summary": "Get proposer duties",
        "operationId": "getProposerDuties",
        "parameters": [
          {
            "name": "epoch",
            "in": "path",
            "description": "Epoch for which to get the proposer duties",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved proposer duties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProposerDuties"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ProposerDuties": {
        "type": "array",
        "items": {
          "type": "object",
          "properties": {
            "pubkey": {
              "type": "string"
            },
            "validator_index": {
              "type": "integer",
              "format": "int64"
            },
            "slot": {
              "type": "integer",
              "format": "int64"
            }
          },
          "required": [
            "pubkey",
            "validator_index",
            "slot"
          ]
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}