{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Pool Proposer Slashings API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/pool/proposer_slashings": {
      "get": {
        "summary": "Get proposer slashings from the beacon pool",
        "operationId": "getBeaconPoolProposerSlashings",
        "responses": {
          "200": {
            "description": "Beacon pool proposer slashings successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconPoolProposerSlashingsList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BeaconPoolProposerSlashingsList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/BeaconPoolProposerSlashingItem"
        }
      },
      "BeaconPoolProposerSlashingItem": {
        "type": "object",
        "properties": {
          "signed_header_1": {
            "$ref": "#/components/schemas/SignedBeaconBlockHeader"
          },
          "signed_header_2": {
            "$ref": "#/components/schemas/SignedBeaconBlockHeader"
          }
        },
        "required": [
          "signed_header_1",
          "signed_header_2"
        ]
      },
      "SignedBeaconBlockHeader": {
        "type": "object",
        "properties": {
          "message": {
            "$ref": "#/components/schemas/BeaconBlockHeader"
          },
          "signature": {
            "type": "string"
          }
        },
        "required": [
          "message",
          "signature"
        ]
      },
      "BeaconBlockHeader": {
        "type": "object",
        "properties": {
          "slot": {
            "type": "integer",
            "format": "int64"
          },
          "proposer_index": {
            "type": "integer",
            "format": "int64"
          },
          "parent_root": {
            "type": "string"
          },
          "state_root": {
            "type": "string"
          },
          "body_root": {
            "type": "string"
          }
        },
        "required": [
          "slot",
          "proposer_index",
          "parent_root",
          "state_root",
          "body_root"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}