{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Validator Balances API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"
    }
  ],
  "paths": {
    "/beacon/states/{state_id}/validator_balances": {
      "get": {
        "summary": "Get validator balances by state and ID",
        "operationId": "getValidatorBalancesByStateIdAndValidatorId",
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "description": "State identifier, e.g., 'head', 'finalized', 'genesis', or a specific slot number.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "head"
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Validator ID",
            "required": true,
            "schema": {
              "type": "string",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Validator balances successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatorBalances"
                }
              }
            }
          },
          "404": {
            "description": "Validator balances not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ValidatorBalances": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BalanceItem"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "BalanceItem": {
        "type": "object",
        "properties": {
          "index": {
            "type": "string"
          },
          "balance": {
            "type": "string"
          }
        },
        "required": [
          "index",
          "balance"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}