{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://nd-418-459-126.p2pify.com"
    }
  ],
  "paths": {
    "/8763cb5a211e1d4345acd51bde484c00/ext/bc/C/rpc": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_getTransactionByBlockNumberAndIndex",
        "operationId": "getTransactionByBlockNumberAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionByBlockNumberAndIndex"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block number"
                        },
                        {
                          "type": "string",
                          "title": "Transaction index"
                        }
                      ]
                    },
                    "default": [
                      "0x19FEE31",
                      "0x4"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}