{
  "openapi": "3.0.0",
  "info": {
    "title": "web3_sha3 Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for web3_sha3 for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Client info"
        ],
        "summary": "web3_sha3",
        "operationId": "tempo-web3-sha3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "web3_sha3"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0x68656c6c6f"],
                    "description": "Data to hash (hex encoded)"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keccak-256 hash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The Keccak-256 hash of the given data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
