{
  "openapi": "3.0.0",
  "info": {
    "title": "web3_clientVersion Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for web3_clientVersion for Tempo."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Client info"
        ],
        "summary": "web3_clientVersion",
        "operationId": "tempo-web3-clientVersion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "web3_clientVersion"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The client version",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The Tempo client version string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
