{
  "openapi": "3.0.0",
  "info": {
    "title": "BNB Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an BNB node."
  },
  "servers": [
    {
      "url": "https://bsc-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/35848e183f3e3303c8cfeacbea831cab": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceCall",
        "operationId": "traceCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "title": "Transaction call Object"
                        },
                        {
                          "type": "string",
                          "title": "Block Identifier"
                        }
                      ]
                    },
                    "default": [
                      {
                        "from": "0xA936fC19a00162AbE0e40323b64C2afE1c7f88Ff",
                        "to": "0x0000000000a39bb272e79075ade125fd351887ac",
                        "gas": "0x1E9EF",
                        "gasPrice": "0xBD32B2ABC",
                        "data": "0xd0e30db0"
                      },
                      "latest",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The call's trace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}