{
  "openapi": "3.0.0",
  "info": {
    "title": "BNB Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an BNB node."
  },
  "servers": [
    {
      "url": "https://bsc-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/35848e183f3e3303c8cfeacbea831cab": {
      "post": {
        "tags": [
          "transactions info"
        ],
        "summary": "eth_call",
        "operationId": "ethCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "title": "Call object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "description": "The address of the contract to call."
                        },
                        "data": {
                          "type": "string",
                          "description": "The data to send with the call."
                        }
                      }
                    },
                    "default": [
                      {
                        "to": "0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82",
                        "data": "0x893d20e8"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}