{
  "openapi": "3.0.0",
  "info": {
    "title": "BNB Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with an BNB node."
  },
  "servers": [
    {
      "url": "https://bsc-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/35848e183f3e3303c8cfeacbea831cab": {
      "post": {
        "tags": [
          "Blocks info"
        ],
        "summary": "eth_getBlockTransactionCountByHash",
        "operationId": "getBlockTransactionCountByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Block hash",
                      "description": "The block hash identifier."
                    },
                    "default": [
                      "0x06edbf31479cd7452a1d579ec7990a631068b670de89c06822ceaef58f3729d4"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}