{
  "openapi": "3.0.0",
  "info": {
    "title": "BNB Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a BNB node."
  },
  "servers": [
    {
      "url": "https://bsc-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/35848e183f3e3303c8cfeacbea831cab": {
      "post": {
        "tags": [
          "trace"
        ],
        "summary": "trace_callMany",
        "operationId": "traceCallMany",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "trace_callMany"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "array",
                          "items": {
                            "anyOf": [
                              {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "object",
                                      "properties": {
                                        "from": {
                                          "type": "string",
                                          "nullable": true
                                        },
                                        "to": {
                                          "type": "string"
                                        },
                                        "data": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  ]
                                }
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        }
                      ]
                    },
                    "default": [
                      [
                        [
                          {
                            "from": "0x407d73d8a49eeb85d32cf465507dd71d507100c1",
                            "to": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
                            "data": "0xa9059cbb000000000000000000000000bc0E63965946815d105E7591407704e6e1964E590000000000000000000000000000000000000000000000000000000005f5e100"
                          },
                          [
                            "trace",
                            "vmTrace"
                          ]
                        ],
                        [
                          {
                            "from": null,
                            "to": "0x8965349fb649A33a30cbFDa057D8eC2C48AbE2A2",
                            "data": "0x70a08231000000000000000000000000bc0E63965946815d105E7591407704e6e1964E59"
                          },
                          [
                            "trace",
                            "vmTrace"
                          ]
                        ]
                      ],
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The call's traces.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}