{
  "openapi": "3.0.0",
  "info": {
    "title": "Polygon Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Polygon node."
  },
  "servers": [
    {
      "url": "https://polygon-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/0615fdf3c9eaf0681469e61a4308ea09": {
      "post": {
        "summary": "eth_newPendingTransactionFilter",
        "operationId": "newPendingTransactionFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newPendingTransactionFilter"
                  },
                  "params": {
                    "type": "array",
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The new filter ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}