{
  "openapi": "3.0.0",
  "info": {"title": "Monad Node API", "version": "1.0.0", "description": "This is an API for interacting with a Monad node."},
  "servers": [{"url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"}],
  "paths": {
    "/": {
      "post": {
        "tags": ["Debug and Trace"],
        "summary": "debug_traceBlockByHash",
        "operationId": "debug_traceBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {"type": "integer", "default": 1},
                  "jsonrpc": {"type": "string", "default": "2.0"},
                  "method": {"type": "string", "default": "debug_traceBlockByHash"},
                  "params": {
                    "type": "array",
                    "default": ["0x1229782398dacbea4db9c732db74aacbc7f919800ab82c79daefbbcee07a86de", {"tracer": "callTracer"}]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of trace results for each transaction.",
            "content": {"application/json": {"schema": {"type": "object", "properties": {"jsonrpc": {"type": "string"}, "id": {"type": "integer"}, "result": {"type": "array", "items": {"type": "object"}}}}}}
          }
        }
      }
    }
  },
  "x-readme": {"explorer-enabled": true, "proxy-enabled": true}
}
