{
  "openapi": "3.0.0",
  "info": {
    "title": "tempo_fundAddress Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for tempo_fundAddress for Tempo. This method funds an address with testnet stablecoins."
  },
  "servers": [
    {
      "url": "https://rpc.moderato.tempo.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Tempo specific"
        ],
        "summary": "tempo_fundAddress",
        "operationId": "tempo-tempo-fundAddress",
        "description": "Funds an address with testnet stablecoins (pathUSD, AlphaUSD, BetaUSD, ThetaUSD). Testnet only.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "tempo_fundAddress"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": ["0xc2F695613de0885dA3bdd18E8c317B9fAf7d4eba"],
                    "description": "The address to fund with testnet tokens"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of transaction hashes for each funded token",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of transaction hashes (one per funded token)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
