{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Headers API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/headers": {
      "get": {
        "summary": "Get beacon headers by slot and parent root",
        "operationId": "getBeaconHeadersBySlotAndParentRoot",
        "parameters": [
          {
            "name": "slot",
            "in": "query",
            "description": "Slot number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 6215071
            }
          },
          {
            "name": "parent_root",
            "in": "query",
            "description": "Parent root hash",
            "required": false,
            "schema": {
              "type": "string",
              "format": "byte"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Beacon headers successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BeaconHeaders"
                }
              }
            }
          },
          "404": {
            "description": "Beacon headers not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BeaconHeaders": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BeaconHeader"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "BeaconHeader": {
        "type": "object",
        "properties": {
          "root": {
            "type": "string"
          },
          "canonical": {
            "type": "boolean"
          },
          "header": {
            "$ref": "#/components/schemas/Header"
          }
        },
        "required": [
          "root",
          "canonical",
          "header"
        ]
      },
      "Header": {
        "type": "object",
        "properties": {
          "slot": {
            "type": "integer",
            "format": "int64"
          },
          "parent_root": {
            "type": "string"
          },
          "state_root": {
            "type": "string"
          },
          "body_root": {
            "type": "string"
          }
        },
        "required": [
          "slot",
          "parent_root",
          "state_root",
          "body_root"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}