{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Blobs API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/blobs/{block_id}": {
      "get": {
        "summary": "Get blobs by block_id",
        "operationId": "getBlobsByBlockId",
        "parameters": [
          {
            "name": "block_id",
            "in": "path",
            "description": "Block identifier, e.g., 'head', 'genesis', 'finalized', or a specific slot number.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "head"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Blobs successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlobsResponse"
                }
              }
            }
          },
          "404": {
            "description": "Block not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "BlobsResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BlobItem"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "BlobItem": {
        "type": "object",
        "properties": {
          "index": {
            "type": "string"
          },
          "blob": {
            "type": "string"
          },
          "kzg_commitment": {
            "type": "string"
          },
          "kzg_proof": {
            "type": "string"
          },
          "signed_block_header": {
            "type": "object"
          }
        },
        "required": [
          "index",
          "blob",
          "kzg_commitment",
          "kzg_proof"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
