{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Chain API",
    "version": "1.0.0",
    "description": "API for interacting with the Ethereum 2.0 Beacon Chain"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/states/{state_id}/finality_checkpoints": {
      "get": {
        "summary": "Get finality checkpoints for a given state",
        "operationId": "getFinalityCheckpoints",
        "tags": [
          "Beacon"
        ],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "description": "State identifier which can be a slot number, an epoch number, a block root, or 'genesis', 'head'  (default is 'head').",
            "schema": {
              "type": "string",
              "default": "head"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with finality checkpoints information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FinalityCheckpoints"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "FinalityCheckpoints": {
        "type": "object",
        "properties": {
          "previous_justified": {
            "type": "object",
            "properties": {
              "epoch": {
                "type": "integer",
                "description": "Epoch number of the previous justified checkpoint."
              },
              "root": {
                "type": "string",
                "format": "byte",
                "description": "Root of the previous justified checkpoint."
              }
            }
          },
          "current_justified": {
            "type": "object",
            "properties": {
              "epoch": {
                "type": "integer",
                "description": "Epoch number of the current justified checkpoint."
              },
              "root": {
                "type": "string",
                "format": "byte",
                "description": "Root of the current justified checkpoint."
              }
            }
          },
          "finalized": {
            "type": "object",
            "properties": {
              "epoch": {
                "type": "integer",
                "description": "Epoch number of the finalized checkpoint."
              },
              "root": {
                "type": "string",
                "format": "byte",
                "description": "Root of the finalized checkpoint."
              }
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}