{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Sync Committee API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"
    }
  ],
  "paths": {
    "/beacon/states/{state_id}/sync_committees": {
      "get": {
        "summary": "Get sync committees by state and epoch",
        "operationId": "getSyncCommitteesByStateIdAndEpoch",
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "description": "State identifier, e.g., 'head', 'finalized', 'genesis', or a specific slot number.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "head"
            }
          },
          {
            "name": "epoch",
            "in": "query",
            "description": "Epoch number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "example": 194213
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Sync committee data successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncCommitteeData"
                }
              }
            }
          },
          "404": {
            "description": "Sync committee data not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SyncCommitteeData": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/SyncCommittee"
          }
        },
        "required": [
          "data"
        ]
      },
      "SyncCommittee": {
        "type": "object",
        "properties": {
          "validators": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          },
          "validator_aggregates": {
            "type": "string"
          }
        },
        "required": [
          "validators",
          "validator_aggregates"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}