{
  "openapi": "3.0.0",
  "info": {
    "title": "Polygon Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Polygon node."
  },
  "servers": [
    {
      "url": "https://polygon-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/0615fdf3c9eaf0681469e61a4308ea09": {
      "post": {
        "tags": [
          "Blocks info"
        ],
        "summary": "eth_getBlockTransactionCountByHash",
        "operationId": "getBlockTransactionCountByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "The block hash identifier."
                    },
                    "default": [
                      "0x7709b7cacb9a3d647afe557d51891c00ad0c00e01d5bffdbcfe6c1730d36290c"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}