{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://robinhood-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_sendRawTransactionSync",
        "operationId": "eth_sendRawTransactionSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_sendRawTransactionSync"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x02"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 2
                  }
                }
              },
              "examples": {
                "example1": {
                  "summary": "Submit raw transaction with hex-encoded timeout",
                  "value": {
                    "jsonrpc": "2.0",
                    "method": "eth_sendRawTransactionSync",
                    "params": [
                      "0x02f86c82a4b1808398968084026b52e08307a1209468ba9f225b431dd66fdb0ad96a03c6a2f9a8124e8080c001a0f60d47b1eb93369d93a3b8ee1031a006ba23f1a247267f03e8b1c3140d6659f0a00d9af7a27561b62cd8155e4ad5be797b8e8e66b99a6ec476768980547dd8a9af",
                      "0x1388"
                    ],
                    "id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful transaction submission with receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "transactionHash": {
                          "type": "string",
                          "example": "0x6d72fa49665671891a9ca899e09e8b8032638b2e18a1519f571e4fcff42bcbe1"
                        },
                        "blockHash": {
                          "type": "string",
                          "example": "0xed81ff21dc9e8fcfa128f878466207c577fbdf8e4d1558c8db21082a9fb0dea6"
                        },
                        "blockNumber": {
                          "type": "string",
                          "example": "0x1c3d930c"
                        },
                        "gasUsed": {
                          "type": "string",
                          "example": "0x57af"
                        },
                        "gasUsedForL1": {
                          "type": "string",
                          "example": "0x5a7"
                        },
                        "l1BlockNumber": {
                          "type": "string",
                          "example": "0x182699e"
                        },
                        "status": {
                          "type": "string",
                          "example": "0x1"
                        },
                        "timeboosted": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}