{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://robinhood-mainnet.core.chainstack.com/23cf4479b299ab4835d76c05c468ca6e"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_call",
        "operationId": "eth_call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "title": "Transaction",
                          "description": "The transaction call object."
                        },
                        {
                          "type": "string",
                          "title": "Block",
                          "description": "Block number or tag (latest, earliest, pending)."
                        }
                      ]
                    },
                    "default": [
                      {
                        "to": "0x00000000000000000000000000000000000a4b05",
                        "data": "0x"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Executes a new message call immediately without creating a transaction on the blockchain.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}