{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://testnet-rpc.monad.xyz"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_getTransactionReceipt",
        "operationId": "eth_getTransactionReceipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionReceipt"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": ["0xffc7cdc354942338ee028ab1c54ef395b908d6e062ef57821e2869ef37945221"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
