{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": ["Transactions info"],
        "summary": "eth_getTransactionByBlockHashAndIndex",
        "operationId": "eth_getTransactionByBlockHashAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {"type": "integer", "default": 1},
                  "jsonrpc": {"type": "string", "default": "2.0"},
                  "method": {"type": "string", "default": "eth_getTransactionByBlockHashAndIndex"},
                  "params": {
                    "type": "array",
                    "items": {"type": "string"},
                    "default": ["0xf3cf930f1b4d9637134d09f126c57c30c3f4f40edf10ba502486b26d14b4f944", "0x0"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction object.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {"type": "string"},
                    "id": {"type": "integer"},
                    "result": {"type": "object", "nullable": true}
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {"explorer-enabled": true, "proxy-enabled": true}
}
