{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_sendRawTransactionSync example",
    "version": "1.0.0",
    "description": "Submits a pre-signed transaction and waits synchronously for the transaction receipt or until the timeout expires. Polygon's Bor client predates EIP-7966 and expects the timeout as a hex-encoded uint64 (e.g., \"0x1388\" for 5000 ms)."
  },
  "servers": [
    {
      "url": "https://polygon-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/0615fdf3c9eaf0681469e61a4308ea09": {
      "post": {
        "tags": [
          "Ethereum Operations"
        ],
        "summary": "eth_sendRawTransactionSync",
        "operationId": "sendRawTransactionSync",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_sendRawTransactionSync"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0xf86c808504a817c80082520894ab5db0e98b8ea6b7f9d8ad8e8ed0bc8fba0d1a2f870de0b6b3a764000080821b9f"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "maxItems": 2
                  }
                }
              },
              "examples": {
                "example1": {
                  "summary": "Submit raw transaction with hex-encoded timeout",
                  "value": {
                    "jsonrpc": "2.0",
                    "method": "eth_sendRawTransactionSync",
                    "params": [
                      "0xf86c808504a817c80082520894ab5db0e98b8ea6b7f9d8ad8e8ed0bc8fba0d1a2f870de0b6b3a764000080821b9f",
                      "0x1388"
                    ],
                    "id": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful transaction submission with receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "transactionHash": {
                          "type": "string",
                          "example": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                        },
                        "blockHash": {
                          "type": "string",
                          "example": "0xabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcdefabcd"
                        },
                        "blockNumber": {
                          "type": "string",
                          "example": "0x12345"
                        },
                        "gasUsed": {
                          "type": "string",
                          "example": "0x5208"
                        },
                        "status": {
                          "type": "string",
                          "example": "0x1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
