{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_call example",
    "version": "1.0.0",
    "description": "This is an API example for eth_call."
  },
  "servers": [
    {
      "url": "https://polygon-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/0615fdf3c9eaf0681469e61a4308ea09": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_call",
        "operationId": "ethCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "string",
                              "default": "0x0769fd68dFb93167989C6f7254cd0D766Fb2841F"
                            },
                            "data": {
                              "type": "string",
                              "default": "0x78ed5d1f0000000000000000000000000000000000000000000000000000000000000001"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "default": "latest"
                        }
                      ]
                    },
                    "default": [
                      {
                        "to": "0x0769fd68dFb93167989C6f7254cd0D766Fb2841F",
                        "data": "0x78ed5d1f0000000000000000000000000000000000000000000000000000000000000001"
                      },
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The call information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}