{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getTransactionByBlockHashAndIndex",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getTransactionByBlockHashAndIndex",
        "description": "Returns transaction information by block hash and transaction index.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getTransactionByBlockHashAndIndex"],
                    "default": "eth_getTransactionByBlockHashAndIndex",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [blockHash, transactionIndex]",
                    "default": [
                      "0x53e84f299e6893680383c6a53329574122a7292e5bb9397bb6a0b51b4db5957a",
                      "0x0"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getTransactionByBlockHashAndIndex",
                "params": [
                  "0x53e84f299e6893680383c6a53329574122a7292e5bb9397bb6a0b51b4db5957a",
                  "0x0"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with transaction information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string",
                          "description": "Transaction hash"
                        },
                        "nonce": {
                          "type": "string",
                          "description": "Transaction nonce"
                        },
                        "blockHash": {
                          "type": "string",
                          "description": "Hash of the block containing the transaction"
                        },
                        "blockNumber": {
                          "type": "string",
                          "description": "Number of the block containing the transaction"
                        },
                        "transactionIndex": {
                          "type": "string",
                          "description": "Index of the transaction in the block"
                        },
                        "from": {
                          "type": "string",
                          "description": "Address of the sender"
                        },
                        "to": {
                          "type": "string",
                          "description": "Address of the receiver"
                        },
                        "value": {
                          "type": "string",
                          "description": "Value transferred in wei"
                        },
                        "gas": {
                          "type": "string",
                          "description": "Gas limit provided by the sender"
                        },
                        "gasPrice": {
                          "type": "string",
                          "description": "Gas price provided by the sender in wei"
                        },
                        "input": {
                          "type": "string",
                          "description": "Data sent along with the transaction"
                        },
                        "v": {
                          "type": "string",
                          "description": "ECDSA recovery id"
                        },
                        "r": {
                          "type": "string",
                          "description": "ECDSA signature r"
                        },
                        "s": {
                          "type": "string",
                          "description": "ECDSA signature s"
                        },
                        "type": {
                          "type": "string",
                          "description": "Transaction type"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "hash": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                    "nonce": "0x1",
                    "blockHash": "0x53e84f299e6893680383c6a53329574122a7292e5bb9397bb6a0b51b4db5957a",
                    "blockNumber": "0x9d0c37",
                    "transactionIndex": "0x0",
                    "from": "0xFC1286EeddF81d6955eDAd5C8D99B8Aa32F3D2AA",
                    "to": "0x5555555555555555555555555555555555555555",
                    "value": "0xde0b6b3a7640000",
                    "gas": "0x5208",
                    "gasPrice": "0x3b9aca00",
                    "input": "0x",
                    "v": "0x1c",
                    "r": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                    "s": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890",
                    "type": "0x0"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}