{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - debug_traceTransaction",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "debug_traceTransaction",
        "description": "Returns detailed trace information for a specific transaction. This method provides comprehensive debugging information including call traces, state changes, and execution details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["debug_traceTransaction"],
                    "default": "debug_traceTransaction",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [transactionHash, tracerConfig]",
                    "default": [
                      "0x07712544ce8f50091c6c3b227921f763b342bf9465a22f0226d651a3246adb31",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "debug_traceTransaction",
                "params": [
                  "0x07712544ce8f50091c6c3b227921f763b342bf9465a22f0226d651a3246adb31",
                  {
                    "tracer": "callTracer"
                  }
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with transaction trace data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Transaction trace data containing call information, gas usage, and state changes"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "type": "CALL",
                    "from": "0x...",
                    "to": "0x...",
                    "value": "0x0",
                    "gas": "0x...",
                    "gasUsed": "0x...",
                    "input": "0x...",
                    "output": "0x..."
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}