{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_call",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_call",
        "description": "Executes a new message call immediately without creating a transaction on the blockchain. This method is used to call smart contract functions and retrieve data without modifying the blockchain state.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_call"],
                    "default": "eth_call",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [transaction object, block parameter]",
                    "default": [
                      {
                        "to": "0x5555555555555555555555555555555555555555",
                        "data": "0x18160ddd"
                      },
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_call",
                "params": [
                  {
                    "to": "0x5555555555555555555555555555555555555555",
                    "data": "0x18160ddd"
                  },
                  "latest"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with the call result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "string",
                      "description": "The return value of the executed contract method as a hexadecimal string"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x0000000000000000000000000000000000000000000000000de0b6b3a7640000"
                }
              }
            }
          }
        }
      }
    }
  }
}