{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - debug_getRawReceipts",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "debug_getRawReceipts",
        "description": "Returns the raw receipt data for all transactions in a specific block. This method provides complete receipt information in raw encoded format for all transactions in a block.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["debug_getRawReceipts"],
                    "default": "debug_getRawReceipts",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [block identifier (block number, hash, or 'latest'/'earliest'/'pending')]",
                    "default": ["latest"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "debug_getRawReceipts",
                "params": [
                  "latest"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with raw receipts data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of raw receipt data for all transactions in the block"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    "0xf90111a0...",
                    "0xf90112a1..."
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}