{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - debug_traceBlockByNumber",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "debug_traceBlockByNumber",
        "description": "Returns detailed trace information for all transactions in a specific block identified by block number. This method provides comprehensive debugging information for an entire block, including call traces, gas usage, and execution details for each transaction.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "debug_traceBlockByNumber"
                    ],
                    "default": "debug_traceBlockByNumber",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "default": [
                      "0x1",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "debug_traceBlockByNumber",
                "params": [
                  "0x1",
                  {
                    "tracer": "callTracer"
                  }
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "description": "Trace results"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
