{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_callMany",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_callMany",
        "description": "Executes multiple call transactions in sequence without creating transactions on the blockchain.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_callMany"],
                    "default": "eth_callMany",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [callContextArray, blockState]",
                    "default": [
                      [
                        {
                          "transactions": [
                            {
                              "to": "0x5555555555555555555555555555555555555555",
                              "data": "0x70a082310000000000000000000000008D25Fb438C6efCD08679ffA82766869B50E24608"
                            },
                            {
                              "to": "0xb8ce59fc3717ada4c02eadf9682a9e934f625ebb",
                              "data": "0x70a082310000000000000000000000008D25Fb438C6efCD08679ffA82766869B50E24608"
                            }
                          ]
                        }
                      ],
                      {
                        "blockNumber": "latest"
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_callMany",
                "params": [
                  [
                    {
                      "transactions": [
                        {
                          "to": "0x5555555555555555555555555555555555555555",
                          "data": "0x70a082310000000000000000000000008D25Fb438C6efCD08679ffA82766869B50E24608"
                        },
                        {
                          "to": "0xb8ce59fc3717ada4c02eadf9682a9e934f625ebb",
                          "data": "0x70a082310000000000000000000000008D25Fb438C6efCD08679ffA82766869B50E24608"
                        }
                      ]
                    }
                  ],
                  {
                    "blockNumber": "latest"
                  }
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with call results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of call results",
                      "items": {
                        "type": "string",
                        "description": "Hexadecimal result data"
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    "0x",
                    "0x0000000000000000000000000000000000000000000000000000000000000000",
                    "0x"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}