{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - debug_traceCall",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "debug_traceCall",
        "description": "Executes a call and returns detailed trace information without creating a transaction. This method simulates transaction execution and provides debugging information including call traces and state changes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["debug_traceCall"],
                    "default": "debug_traceCall",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [callObject, block, tracerConfig]",
                    "default": [
                      {
                        "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                        "to": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                        "gas": "0x76c0",
                        "gasPrice": "0x9184e72a000",
                        "value": "0xde0b6b3a7640000",
                        "data": "0x"
                      },
                      "latest",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "debug_traceCall",
                "params": [
                  {
                    "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                    "to": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                    "gas": "0x76c0",
                    "gasPrice": "0x9184e72a000",
                    "value": "0xde0b6b3a7640000",
                    "data": "0x"
                  },
                  "latest",
                  {
                    "tracer": "callTracer"
                  }
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with call trace data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Call trace data containing execution information, gas usage, and state changes"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "type": "CALL",
                    "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                    "to": "0xB7C609cFfa0e47DB2467ea03fF3e598bf59361A5",
                    "value": "0xde0b6b3a7640000",
                    "gas": "0x76c0",
                    "gasUsed": "0x5208",
                    "input": "0x",
                    "output": "0x"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}