{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - ots_getContractCreator",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "ots_getContractCreator",
        "description": "Get the creator address and transaction hash for a contract on Hyperliquid EVM. Identifies who deployed a smart contract.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["ots_getContractCreator"],
                    "default": "ots_getContractCreator",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [contract address]",
                    "default": ["0x5555555555555555555555555555555555555555"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "ots_getContractCreator",
                "params": ["0x5555555555555555555555555555555555555555"],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with contract creator information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Creator information or null if not a contract"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "creator": "0x6666666666666666666666666666666666666666",
                    "hash": "0xf94f3d2ed5b59aefb6a0e566af8e86552014d84f6ed2f38a1366dedffe723381"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}