{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getProof",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getProof",
        "description": "Returns the Merkle proof for an account and optionally some storage keys.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getProof"],
                    "default": "eth_getProof",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [address, storageKeys, block]",
                    "default": [
                      "0x69835D480110e4919B7899f465aAB101e21c8A87",
                      [],
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getProof",
                "params": [
                  "0x69835D480110e4919B7899f465aAB101e21c8A87",
                  [],
                  "latest"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "result": {
                      "type": "object",
                      "description": "The account and storage proofs",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "The account address",
                          "example": "0x69835D480110e4919B7899f465aAB101e21c8A87"
                        },
                        "accountProof": {
                          "type": "array",
                          "description": "Array of RLP-encoded Merkle tree nodes",
                          "items": {
                            "type": "string"
                          }
                        },
                        "balance": {
                          "type": "string",
                          "description": "The account balance in wei",
                          "example": "0x0"
                        },
                        "codeHash": {
                          "type": "string",
                          "description": "The hash of the account code",
                          "example": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                        },
                        "nonce": {
                          "type": "string",
                          "description": "The account nonce",
                          "example": "0x0"
                        },
                        "storageHash": {
                          "type": "string",
                          "description": "The hash of the storage trie root",
                          "example": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421"
                        },
                        "storageProof": {
                          "type": "array",
                          "description": "Array of storage proof objects",
                          "items": {
                            "type": "object",
                            "properties": {
                              "key": {
                                "type": "string",
                                "description": "The storage key"
                              },
                              "value": {
                                "type": "string",
                                "description": "The storage value"
                              },
                              "proof": {
                                "type": "array",
                                "description": "Array of RLP-encoded nodes",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32602
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid params"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}