{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getTransactionReceipt",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getTransactionReceipt",
        "description": "Returns the receipt of a transaction by its hash, containing execution results and event logs.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getTransactionReceipt"],
                    "default": "eth_getTransactionReceipt",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [transactionHash]",
                    "default": [
                      "0x33c3321b162edac1fdbb53af2962b2940c07e334a4f5ff758f1d5ef1235e55d0"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getTransactionReceipt",
                "params": [
                  "0x33c3321b162edac1fdbb53af2962b2940c07e334a4f5ff758f1d5ef1235e55d0"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with transaction receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "transactionHash": {
                          "type": "string",
                          "description": "Hash of the transaction"
                        },
                        "transactionIndex": {
                          "type": "string",
                          "description": "Index of the transaction in the block"
                        },
                        "blockHash": {
                          "type": "string",
                          "description": "Hash of the block containing the transaction"
                        },
                        "blockNumber": {
                          "type": "string",
                          "description": "Number of the block containing the transaction"
                        },
                        "from": {
                          "type": "string",
                          "description": "Address of the sender"
                        },
                        "to": {
                          "type": "string",
                          "description": "Address of the receiver"
                        },
                        "gasUsed": {
                          "type": "string",
                          "description": "Amount of gas used by the transaction"
                        },
                        "cumulativeGasUsed": {
                          "type": "string",
                          "description": "Total gas used in the block up to this transaction"
                        },
                        "contractAddress": {
                          "type": "string",
                          "description": "Contract address created, if the transaction was a contract creation"
                        },
                        "logs": {
                          "type": "array",
                          "description": "Array of log objects generated by the transaction",
                          "items": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "Contract address that emitted the log"
                              },
                              "topics": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "description": "Array of indexed event parameters"
                              },
                              "data": {
                                "type": "string",
                                "description": "Non-indexed event parameters"
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "description": "Transaction status (0x0 for failure, 0x1 for success)"
                        },
                        "effectiveGasPrice": {
                          "type": "string",
                          "description": "Actual gas price paid by the transaction"
                        },
                        "type": {
                          "type": "string",
                          "description": "Transaction type"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "transactionHash": "0x33c3321b162edac1fdbb53af2962b2940c07e334a4f5ff758f1d5ef1235e55d0",
                    "transactionIndex": "0x0",
                    "blockHash": "0xabcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890",
                    "blockNumber": "0x9d0c37",
                    "from": "0xFC1286EeddF81d6955eDAd5C8D99B8Aa32F3D2AA",
                    "to": "0x5555555555555555555555555555555555555555",
                    "gasUsed": "0x5208",
                    "cumulativeGasUsed": "0x5208",
                    "contractAddress": null,
                    "logs": [],
                    "status": "0x1",
                    "effectiveGasPrice": "0x3b9aca00",
                    "type": "0x0"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}