{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_blobBaseFee",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_blobBaseFee",
        "description": "Returns the current base fee for blob transactions. This method provides the current pricing information needed for EIP-4844 blob transactions, essential for cost estimation and blob data submission.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_blobBaseFee"],
                    "default": "eth_blobBaseFee",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "default": [],
                    "description": "Parameters for the method (empty array for eth_blobBaseFee)"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_blobBaseFee",
                "params": [],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with the current blob base fee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "string",
                      "description": "The current blob base fee as a hexadecimal string (in wei)"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0x1"
                }
              }
            }
          }
        }
      }
    }
  }
}