{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - ots_getBlockDetailsByHash",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "ots_getBlockDetailsByHash",
        "description": "Get detailed block information by block hash on Hyperliquid EVM. Includes transaction summaries and block metadata.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["ots_getBlockDetailsByHash"],
                    "default": "ots_getBlockDetailsByHash",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [block hash]",
                    "default": ["0xe8399bf41516f5ca663c79bc30db02b4989385c2f3a96f42958dea5753cbf4a9"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "ots_getBlockDetailsByHash",
                "params": ["0xe8399bf41516f5ca663c79bc30db02b4989385c2f3a96f42958dea5753cbf4a9"],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with detailed block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Detailed block information"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "block": {
                      "number": "0x3e8",
                      "hash": "0xe8399bf41516f5ca663c79bc30db02b4989385c2f3a96f42958dea5753cbf4a9"
                    },
                    "transactions": []
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}