{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - trace_replayTransaction",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "trace_replayTransaction",
        "description": "Replays a specific transaction and returns trace information. This method provides detailed execution traces for a single transaction by replaying its execution.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["trace_replayTransaction"],
                    "default": "trace_replayTransaction",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [transaction hash, trace types array]",
                    "default": ["0x07712544ce8f50091c6c3b227921f763b342bf9465a22f0226d651a3246adb31", ["trace"]]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "trace_replayTransaction",
                "params": [
                  "0x07712544ce8f50091c6c3b227921f763b342bf9465a22f0226d651a3246adb31",
                  ["trace"]
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with trace data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "Trace data for the replayed transaction"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "trace": [
                      {
                        "action": {
                          "from": "0x...",
                          "to": "0x...",
                          "value": "0x0",
                          "gas": "0x...",
                          "input": "0x...",
                          "callType": "call"
                        },
                        "result": {
                          "gasUsed": "0x5208",
                          "output": "0x"
                        },
                        "traceAddress": [],
                        "type": "call"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}