{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_createAccessList",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_createAccessList",
        "description": "Generates an access list for a transaction to optimize gas usage.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_createAccessList"],
                    "default": "eth_createAccessList",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [transactionObject, block]",
                    "default": [
                      {
                        "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                        "to": "0xb4DcFE4590adBd275aC3Ef1A3dd10e819d11648c",
                        "gas": "0x76c0",
                        "gasPrice": "0x9184e72a000",
                        "value": "0xde0b6b3a7640000",
                        "data": "0x"
                      },
                      "latest"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_createAccessList",
                "params": [
                  {
                    "from": "0x69835D480110e4919B7899f465aAB101e21c8A87",
                    "to": "0xb4DcFE4590adBd275aC3Ef1A3dd10e819d11648c",
                    "gas": "0x76c0",
                    "gasPrice": "0x9184e72a000",
                    "value": "0xde0b6b3a7640000",
                    "data": "0x"
                  },
                  "latest"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with the generated access list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "object",
                      "description": "The access list and gas information",
                      "properties": {
                        "accessList": {
                          "type": "array",
                          "description": "Array of access list entries",
                          "items": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "The accessed contract address"
                              },
                              "storageKeys": {
                                "type": "array",
                                "description": "Array of accessed storage keys",
                                "items": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "gasUsed": {
                          "type": "string",
                          "description": "The estimated gas used with the access list"
                        },
                        "error": {
                          "type": "string",
                          "description": "Error message if transaction would fail"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": {
                    "accessList": [
                      {
                        "address": "0xb4DcFE4590adBd275aC3Ef1A3dd10e819d11648c",
                        "storageKeys": [
                          "0x0000000000000000000000000000000000000000000000000000000000000000",
                          "0x0000000000000000000000000000000000000000000000000000000000000001"
                        ]
                      }
                    ],
                    "gasUsed": "0x5208"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "type": "integer",
                      "example": 1
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer",
                          "example": -32602
                        },
                        "message": {
                          "type": "string",
                          "example": "Invalid params"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}