{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - trace_replayBlockTransactions",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "trace_replayBlockTransactions",
        "description": "Replays all transactions in a block and returns trace information for each transaction. This method provides detailed execution traces for all transactions in a specific block.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["trace_replayBlockTransactions"],
                    "default": "trace_replayBlockTransactions",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [block identifier, trace types array]",
                    "default": ["latest", ["trace"]]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "trace_replayBlockTransactions",
                "params": [
                  "latest",
                  ["trace"]
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with trace data for all transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of trace results for each transaction in the block"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    {
                      "trace": [
                        {
                          "action": {
                            "from": "0x...",
                            "to": "0x...",
                            "value": "0x0",
                            "gas": "0x...",
                            "input": "0x...",
                            "callType": "call"
                          },
                          "result": {
                            "gasUsed": "0x5208",
                            "output": "0x"
                          },
                          "traceAddress": [],
                          "type": "call"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}