{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - debug_getRawTransaction",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "debug_getRawTransaction",
        "description": "Returns the raw transaction data for a specific transaction. This method provides the complete transaction in its raw encoded format, useful for low-level analysis and debugging.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["debug_getRawTransaction"],
                    "default": "debug_getRawTransaction",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [transaction hash]",
                    "default": ["0x07712544ce8f50091c6c3b227921f763b342bf9465a22f0226d651a3246adb31"]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "debug_getRawTransaction",
                "params": [
                  "0x07712544ce8f50091c6c3b227921f763b342bf9465a22f0226d651a3246adb31"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with raw transaction data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "string",
                      "description": "Raw transaction data in hexadecimal format"
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": "0xf86d80843b9aca0082520894..."
                }
              }
            }
          }
        }
      }
    }
  }
}