{
  "openapi": "3.0.0",
  "info": {
    "title": "Hyperliquid EVM API - eth_getSystemTxsByBlockHash",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hyperliquid-mainnet.core.chainstack.com/4f8d8f4040bdacd1577bff8058438274"
    }
  ],
  "paths": {
    "/evm": {
      "post": {
        "summary": "eth_getSystemTxsByBlockHash",
        "description": "Returns system transactions for a given block hash on Hyperliquid EVM.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method", "params", "id"],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": ["2.0"],
                    "default": "2.0",
                    "description": "JSON-RPC version"
                  },
                  "method": {
                    "type": "string",
                    "enum": ["eth_getSystemTxsByBlockHash"],
                    "default": "eth_getSystemTxsByBlockHash",
                    "description": "The RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Parameters: [blockHash]",
                    "default": [
                      "0x1970d9c7ce6f00a982b421610ad400a79522c102a26db24ef3ec1f2bd621c399"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1,
                    "description": "Request identifier"
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "method": "eth_getSystemTxsByBlockHash",
                "params": [
                  "0x1970d9c7ce6f00a982b421610ad400a79522c102a26db24ef3ec1f2bd621c399"
                ],
                "id": 1
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with system transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "description": "JSON-RPC version"
                    },
                    "id": {
                      "type": "integer",
                      "description": "Request identifier"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of system transaction objects",
                      "items": {
                        "type": "object",
                        "properties": {
                          "hash": {
                            "type": "string",
                            "description": "System transaction hash"
                          },
                          "type": {
                            "type": "string",
                            "description": "System transaction type"
                          },
                          "blockNumber": {
                            "type": "string",
                            "description": "Block number containing the system transaction"
                          },
                          "blockHash": {
                            "type": "string",
                            "description": "Hash of the block containing the system transaction"
                          },
                          "transactionIndex": {
                            "type": "string",
                            "description": "Index of the system transaction in the block"
                          },
                          "from": {
                            "type": "string",
                            "description": "System address that initiated the transaction"
                          },
                          "to": {
                            "type": "string",
                            "description": "Target address of the system transaction"
                          },
                          "value": {
                            "type": "string",
                            "description": "Value transferred in the system transaction"
                          },
                          "gasUsed": {
                            "type": "string",
                            "description": "Gas used by the system transaction"
                          },
                          "gasPrice": {
                            "type": "string",
                            "description": "Gas price for the system transaction"
                          },
                          "input": {
                            "type": "string",
                            "description": "Input data for the system transaction"
                          },
                          "status": {
                            "type": "string",
                            "description": "System transaction status"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "jsonrpc": "2.0",
                  "id": 1,
                  "result": [
                    {
                      "hash": "0x1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef",
                      "type": "0x7e",
                      "blockNumber": "0x9d16cf",
                      "blockHash": "0x1970d9c7ce6f00a982b421610ad400a79522c102a26db24ef3ec1f2bd621c399",
                      "transactionIndex": "0x0",
                      "from": "0x0000000000000000000000000000000000000000",
                      "to": "0x1111111111111111111111111111111111111111",
                      "value": "0x0",
                      "gasUsed": "0x5208",
                      "gasPrice": "0x0",
                      "input": "0x",
                      "status": "0x1"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}