{
  "openapi": "3.0.0",
  "info": {
    "title": "Upload",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://nd-500-249-268.p2pify.com"
    }
  ],
  "paths": {
    "/512e720763b369ed620657f84d38d2af": {
      "post": {
        "summary": "eth_uninstallFilter",
        "operationId": "uninstallFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_uninstallFilter"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Filter ID"
                    },
                    "default": [
                      "0x5"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Boolean value indicating if the filter was removed or not.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}