{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_simulateV1",
                "operationId": "eth_simulateV1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_simulateV1"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            {
                                                "blockStateCalls": [
                                                    {
                                                        "calls": [
                                                            {
                                                                "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                                                "to": "0x3600000000000000000000000000000000000000",
                                                                "gas": "0xf4240",
                                                                "data": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            "latest"
                                        ],
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "object",
                                                    "title": "Simulation config",
                                                    "description": "The simulation configuration."
                                                },
                                                {
                                                    "type": "string",
                                                    "title": "Block",
                                                    "description": "Block number or tag (latest, earliest, pending)."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_simulateV1.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "hash": {
                                                        "type": "string"
                                                    },
                                                    "parentHash": {
                                                        "type": "string"
                                                    },
                                                    "sha3Uncles": {
                                                        "type": "string"
                                                    },
                                                    "miner": {
                                                        "type": "string"
                                                    },
                                                    "stateRoot": {
                                                        "type": "string"
                                                    },
                                                    "transactionsRoot": {
                                                        "type": "string"
                                                    },
                                                    "receiptsRoot": {
                                                        "type": "string"
                                                    },
                                                    "logsBloom": {
                                                        "type": "string"
                                                    },
                                                    "difficulty": {
                                                        "type": "string"
                                                    },
                                                    "number": {
                                                        "type": "string"
                                                    },
                                                    "gasLimit": {
                                                        "type": "string"
                                                    },
                                                    "gasUsed": {
                                                        "type": "string"
                                                    },
                                                    "timestamp": {
                                                        "type": "string"
                                                    },
                                                    "extraData": {
                                                        "type": "string"
                                                    },
                                                    "mixHash": {
                                                        "type": "string"
                                                    },
                                                    "nonce": {
                                                        "type": "string"
                                                    },
                                                    "baseFeePerGas": {
                                                        "type": "string"
                                                    },
                                                    "withdrawalsRoot": {
                                                        "type": "string"
                                                    },
                                                    "blobGasUsed": {
                                                        "type": "string"
                                                    },
                                                    "excessBlobGas": {
                                                        "type": "string"
                                                    },
                                                    "parentBeaconBlockRoot": {
                                                        "type": "string"
                                                    },
                                                    "requestsHash": {
                                                        "type": "string"
                                                    },
                                                    "size": {
                                                        "type": "string"
                                                    },
                                                    "uncles": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "transactions": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "withdrawals": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "calls": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "returnData": {
                                                                    "type": "string"
                                                                },
                                                                "logs": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "gasUsed": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "error": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "code": {
                                                                            "type": "integer"
                                                                        },
                                                                        "message": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": [
                                        {
                                            "hash": "0xac2f42dc986d8dbabebd1ed97006452d3695600bdf1a5238d87da58b54649b36",
                                            "parentHash": "0x5e2b9c7121af600a29df0c99aa4e40292282e8363941da255bffd15e07a98f9f",
                                            "sha3Uncles": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347",
                                            "miner": "0xbec1493ca18c6e5653c674466e8e08a4b9b723b3",
                                            "stateRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                                            "transactionsRoot": "0x32127433cbdc3aed3a76d3d04ee400c358c7d0b249a5b8cbfde3c1998b3f4106",
                                            "receiptsRoot": "0xe65203fadd2bb0ab5bfb3627fcf94c2d7c72bfd41614ee2250cadf610612879c",
                                            "logsBloom": "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                                            "difficulty": "0x0",
                                            "number": "0x3b84d24",
                                            "gasLimit": "0x1c9c380",
                                            "gasUsed": "0x7270",
                                            "timestamp": "0x6aaa9ad6",
                                            "extraData": "0x",
                                            "mixHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                                            "nonce": "0x0000000000000000",
                                            "baseFeePerGas": "0x0",
                                            "withdrawalsRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421",
                                            "blobGasUsed": "0x0",
                                            "excessBlobGas": "0x0",
                                            "parentBeaconBlockRoot": "0x4cb49f2c99193a0a611bd97050a4c9f403cdd2fa3cc532d75574e5c90e607352",
                                            "requestsHash": "0xe3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                                            "size": "0x2bc",
                                            "uncles": [],
                                            "transactions": [
                                                "0x53b53f2cc28907d5cb96b8e3852f3bd3f67f3c26f712abe2d6079a6c2eecb9b5"
                                            ],
                                            "withdrawals": [],
                                            "calls": [
                                                {
                                                    "returnData": "0x0000000000000000000000000000000000000000000000000000000005f99204",
                                                    "logs": [],
                                                    "gasUsed": "0x7270",
                                                    "status": "0x1"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}