{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_simulateV1",
                "operationId": "eth_simulateV1",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_simulateV1"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            {
                                                "blockStateCalls": [
                                                    {
                                                        "calls": [
                                                            {
                                                                "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                                                "to": "0x7798f2eb73c1dd8fa8086d780d5cf114a10f528e",
                                                                "gas": "0xf4240",
                                                                "data": "0x"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            "latest"
                                        ],
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "object",
                                                    "title": "Simulation config",
                                                    "description": "The simulation configuration."
                                                },
                                                {
                                                    "type": "string",
                                                    "title": "Block",
                                                    "description": "Block number or tag (latest, earliest, pending)."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_simulateV1.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "hash": {
                                                        "type": "string"
                                                    },
                                                    "parentHash": {
                                                        "type": "string"
                                                    },
                                                    "sha3Uncles": {
                                                        "type": "string"
                                                    },
                                                    "miner": {
                                                        "type": "string"
                                                    },
                                                    "stateRoot": {
                                                        "type": "string"
                                                    },
                                                    "transactionsRoot": {
                                                        "type": "string"
                                                    },
                                                    "receiptsRoot": {
                                                        "type": "string"
                                                    },
                                                    "logsBloom": {
                                                        "type": "string"
                                                    },
                                                    "difficulty": {
                                                        "type": "string"
                                                    },
                                                    "number": {
                                                        "type": "string"
                                                    },
                                                    "gasLimit": {
                                                        "type": "string"
                                                    },
                                                    "gasUsed": {
                                                        "type": "string"
                                                    },
                                                    "timestamp": {
                                                        "type": "string"
                                                    },
                                                    "extraData": {
                                                        "type": "string"
                                                    },
                                                    "mixHash": {
                                                        "type": "string"
                                                    },
                                                    "nonce": {
                                                        "type": "string"
                                                    },
                                                    "baseFeePerGas": {
                                                        "type": "string"
                                                    },
                                                    "withdrawalsRoot": {
                                                        "type": "string"
                                                    },
                                                    "blobGasUsed": {
                                                        "type": "string"
                                                    },
                                                    "excessBlobGas": {
                                                        "type": "string"
                                                    },
                                                    "parentBeaconBlockRoot": {
                                                        "type": "string"
                                                    },
                                                    "requestsHash": {
                                                        "type": "string"
                                                    },
                                                    "size": {
                                                        "type": "string"
                                                    },
                                                    "uncles": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "transactions": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "withdrawals": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object"
                                                        }
                                                    },
                                                    "calls": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "returnData": {
                                                                    "type": "string"
                                                                },
                                                                "logs": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object"
                                                                    }
                                                                },
                                                                "gasUsed": {
                                                                    "type": "string"
                                                                },
                                                                "status": {
                                                                    "type": "string"
                                                                },
                                                                "error": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "code": {
                                                                            "type": "integer"
                                                                        },
                                                                        "message": {
                                                                            "type": "string"
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": [
                                        {
                                            "hash": "0x2d68a7d9b7cd4747f742ed311b93595aa3c613bafd5e441b9ff9b26da169b0f2",
                                            "parentHash": "0x1ac3d7b3d5a9c8b39641580624e3783d041446735013ae918f5139c6b0f1fb78",
                                            "sha3Uncles": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347",
                                            "miner": "0xa693cc18aa09d33dd388013b7a02e5ff863b8760",
                                            "stateRoot": "0x0000000000000000000000000000000000000000000000000000000000000000",
                                            "transactionsRoot": "0xfea7da14cf7037ac8e4b20c038fa9d93b1a51fb4bdfd6ec2212175b684a908aa",
                                            "receiptsRoot": "0xc7a57f698d342d0f90491a495520639818bd4110ee16a4ef11f5f433ab20601a",
                                            "logsBloom": "0x00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000",
                                            "difficulty": "0x0",
                                            "number": "0x3480a68",
                                            "gasLimit": "0x1c9c380",
                                            "gasUsed": "0x5236",
                                            "timestamp": "0x6a702783",
                                            "extraData": "0x",
                                            "mixHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
                                            "nonce": "0x0000000000000000",
                                            "baseFeePerGas": "0x0",
                                            "withdrawalsRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421",
                                            "blobGasUsed": "0x0",
                                            "excessBlobGas": "0x0",
                                            "parentBeaconBlockRoot": "0x4088e4603f9832b1f4876bd42c12cf141096c3d8db904451b5532b46babab5f7",
                                            "requestsHash": "0xe3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855",
                                            "size": "0x295",
                                            "uncles": [],
                                            "transactions": [
                                                "0x9a674de476c786d3770740755eeb06f8c9f457f55df21f73be40cb7b11f5996e"
                                            ],
                                            "withdrawals": [],
                                            "calls": [
                                                {
                                                    "returnData": "0x",
                                                    "logs": [],
                                                    "gasUsed": "0x5236",
                                                    "status": "0x0",
                                                    "error": {
                                                        "code": -32000,
                                                        "message": "execution reverted"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}