{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_createAccessList",
                "operationId": "eth_createAccessList",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_createAccessList"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            {
                                                "from": "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                                "to": "0x3600000000000000000000000000000000000000",
                                                "gas": "0xf4240",
                                                "data": "0x70a082310000000000000000000000005d20879655df3c1e04ab111af0009ad650e762f0"
                                            },
                                            "latest"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_createAccessList.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "accessList": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object"
                                                    }
                                                },
                                                "gasUsed": {
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "accessList": [
                                            {
                                                "address": "0xc6ad664ac6679f4ce74e10e91449c93ec1ae3ca6",
                                                "storageKeys": []
                                            },
                                            {
                                                "address": "0x3600000000000000000000000000000000000000",
                                                "storageKeys": [
                                                    "0x10d6a54a4754c8869d6886b5f5d7fbfa5b4522237ea5c60d11bc4e7a1ff9390b",
                                                    "0x7050c9e0f4ca769c69bd3a8ef740bc37934f8e2c036e5a723fd8ee048ed3f8c3"
                                                ]
                                            }
                                        ],
                                        "gasUsed": "0x7aa4"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}