{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.4",
    "description": "This is an API for interacting with a Chainstack node using the arbtrace_replayTransaction method."
  },
  "servers": [
    {
      "url": "https://nd-954-882-037.p2pify.com"
    }
  ],
  "paths": {
    "/66f812de2a6724a75a51f60dd6f2a154": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "arbtrace_replayTransaction",
        "operationId": "arbtraceReplayTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "arbtrace_replayTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Transaction Hash"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          },
                          "title": "Options Array"
                        }
                      ]
                    },
                    "default": [
                      "0xe8648e3ad982a3d67ef0880d6631343cffff364786994b34e5fa292cfef0e680",
                      [
                        "trace"
                      ]
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The replayed transaction's trace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}