{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.6",
    "description": "This is an API for interacting with a Chainstack node using the debug_traceTransaction method."
  },
  "servers": [
    {
      "url": "https://nd-954-882-037.p2pify.com"
    }
  ],
  "paths": {
    "/66f812de2a6724a75a51f60dd6f2a154": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceTransaction",
        "operationId": "arbitrumTraceTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceTransaction"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Transaction hash",
                          "description": "The hash of the transaction to trace."
                        },
                        {
                          "type": "object",
                          "title": "Tracing options"
                        }
                      ]
                    },
                    "default": [
                      "0x2cb57e963111cf4d231ec8f66f0eb7a964f10625c2749bf8571d35332fd326c0",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction's trace.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
