{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.6",
    "description": "This is an API for interacting with a Chainstack node using the debug_getRawHeader method."
  },
  "servers": [
    {
      "url": "https://nd-954-882-037.p2pify.com"
    }
  ],
  "paths": {
    "/66f812de2a6724a75a51f60dd6f2a154": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_getRawHeader",
        "operationId": "debugGetRawHeader",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_getRawHeader"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Block",
                      "description": "Block number in hex format or tag (latest, earliest, pending, safe, finalized)."
                    },
                    "default": [
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the RLP-encoded block header.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
