{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.6",
    "description": "This is an API for interacting with a Chainstack node using the debug_traceCall method."
  },
  "servers": [
    {
      "url": "https://nd-954-882-037.p2pify.com"
    }
  ],
  "paths": {
    "/66f812de2a6724a75a51f60dd6f2a154": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_traceCall",
        "operationId": "arbitrumTraceCall",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_traceCall"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "to": {
                              "type": "string",
                              "default": "0xfd086bc7cd5c481dcc9c85ebe478a1c0b69fcbb9"
                            },
                            "data": {
                              "type": "string",
                              "default": "0x70a08231000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa96045"
                            }
                          }
                        },
                        {
                          "type": "string",
                          "default": "latest"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "tracer": {
                              "type": "string",
                              "default": "callTracer"
                            }
                          }
                        }
                      ]
                    },
                    "default": [
                      {
                        "to": "0xfd086bc7cd5c481dcc9c85ebe478a1c0b69fcbb9",
                        "data": "0x70a08231000000000000000000000000d8da6bf26964af9d7eed9e03e53415d37aa96045"
                      },
                      "latest",
                      {
                        "tracer": "callTracer"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The result of the debug trace call.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
