{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.6",
    "description": "This is an API for interacting with a Chainstack node using the debug_accountRange method."
  },
  "servers": [
    {
      "url": "https://nd-954-882-037.p2pify.com"
    }
  ],
  "paths": {
    "/66f812de2a6724a75a51f60dd6f2a154": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "debug_accountRange",
        "operationId": "debugAccountRange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "debug_accountRange"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block",
                          "description": "Block number or tag (latest, earliest, pending, safe, finalized)."
                        },
                        {
                          "type": "string",
                          "title": "Start",
                          "description": "The start key hash for pagination, as hex bytes."
                        },
                        {
                          "type": "integer",
                          "title": "Max Results",
                          "description": "Maximum number of accounts to return (max 256)."
                        },
                        {
                          "type": "boolean",
                          "title": "No Code",
                          "description": "If true, excludes contract code from the result."
                        },
                        {
                          "type": "boolean",
                          "title": "No Storage",
                          "description": "If true, excludes storage from the result."
                        },
                        {
                          "type": "boolean",
                          "title": "Incompletes",
                          "description": "If true, includes accounts without addresses."
                        }
                      ]
                    },
                    "default": [
                      "latest",
                      "0x0000000000000000000000000000000000000000000000000000000000000000",
                      10,
                      true,
                      true,
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the account range dump.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
