{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_uninstallFilter example",
    "version": "1.0.0",
    "description": "This is an API example for eth_uninstallFilter."
  },
  "servers": [
    {
      "url": "https://polygon-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/0615fdf3c9eaf0681469e61a4308ea09": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_uninstallFilter",
        "operationId": "uninstallFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_uninstallFilter"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "default": "0xbdc5b4b99ca699e1d734fc4202afee79"
                    },
                    "default": [
                      "0xbdc5b4b99ca699e1d734fc4202afee79"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The uninstall filter response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}