{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getFilterChanges example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getFilterChanges."
  },
  "servers": [
    {
      "url": "https://nd-828-700-214.p2pify.com"
    }
  ],
  "paths": {
    "/a9bca2f0f84b54086ceebe590316fff3": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getFilterChanges",
        "operationId": "getFilterChanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getFilterChanges"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "default": "0xf98b6d31fa61124b2a0ba3b83660cd26"
                    },
                    "default": [
                      "0xf98b6d31fa61124b2a0ba3b83660cd26"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The filter changes information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}