{
  "openapi": "3.0.0",
  "info": {
    "title": "Fantom Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Fantom node."
  },
  "servers": [
    {
      "url": "https://fantom-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4ab982aa70a7baead515ffdb5915df3f": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getCode",
        "operationId": "getCode",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getCode"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Smart contract address",
                          "description": "The address identifier."
                        },
                        {
                          "type": "string",
                          "title": "Block identifier",
                          "description": "The block identifier."
                        }
                      ]
                    },
                    "default": [
                      "0x21be370D5312f44cB42ce377BC9b8a0cEF1A4C83",
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The smart contract code.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}