{
  "openapi": "3.0.0",
  "info": {
    "title": "Fantom Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Fantom node."
  },
  "servers": [
    {
      "url": "https://fantom-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4ab982aa70a7baead515ffdb5915df3f": {
      "post": {
        "tags": [
          "Blocks info"
        ],
        "summary": "eth_getBlockTransactionCountByHash",
        "operationId": "getBlockTransactionCountByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockTransactionCountByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Block hash",
                      "description": "The block hash identifier."
                    },
                    "default": [
                      "0x0004344d0000028b41ba91f2221f809b62389befbfe00e9f62c6c238336a32cd"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}