{
  "openapi": "3.0.0",
  "info": {
    "title": "Fantom Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Fantom node."
  },
  "servers": [
    {
      "url": "https://fantom-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/4ab982aa70a7baead515ffdb5915df3f": {
      "post": {
        "tags": [
          "Transactions info"
        ],
        "summary": "eth_getTransactionReceipt",
        "operationId": "getTransactionReceipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getTransactionReceipt"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "Transaction hash"
                    },
                    "default": [
                      "0x58e61f99a15aa3cd76162037225287a574d9eda91d2a9d35ff0fcde1cccda4a0"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction receipt",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}