{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getProof",
    "version": "1.0.0",
    "description": "Get Merkle proof for account, contract storage,."
  },
  "servers": [
    {
      "url": "https://nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7": {
      "post": {
        "summary": "eth_getProof",
        "operationId": "getProof",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string"
                  },
                  "id": {
                    "type": "integer"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getProof"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      ]
                    },
                    "default": [
                      "0x548Da0F6b0AFD0094F735503D44e79a3769980Fd",
                      [
                        "0xf6e506a9cbe7546a796b187c40609a170ea8073e047129a3cae1c38e6d7559b7"
                      ],
                      "latest"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The proof information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}