{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_getAccount",
                "operationId": "eth_getAccount",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_getAccount"
                                    },
                                    "params": {
                                        "type": "array",
                                        "default": [
                                            "0x5d20879655df3c1e04ab111af0009ad650e762f0",
                                            "latest"
                                        ],
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "string",
                                                    "title": "Address",
                                                    "description": "The address of the account."
                                                },
                                                {
                                                    "type": "string",
                                                    "title": "Block",
                                                    "description": "Block number or tag (latest, earliest, pending)."
                                                }
                                            ]
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the result of eth_getAccount.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "properties": {
                                                "nonce": {
                                                    "type": "string"
                                                },
                                                "balance": {
                                                    "type": "string"
                                                },
                                                "storageRoot": {
                                                    "type": "string"
                                                },
                                                "codeHash": {
                                                    "type": "string"
                                                }
                                            }
                                        }
                                    }
                                },
                                "example": {
                                    "jsonrpc": "2.0",
                                    "id": 1,
                                    "result": {
                                        "nonce": "0x1ef",
                                        "balance": "0x7e95defb1a447e2c6",
                                        "storageRoot": "0x56e81f171bcc55a6ff8345e692c0f86e5b48e01b996cadc001622fb5e363b421",
                                        "codeHash": "0xc5d2460186f7233c927e7db2dcc703c0e500b653ca82273b7bfad8045d85a470"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}