{
    "openapi": "3.0.0",
    "info": {
        "title": "Chainstack Node API",
        "version": "1.0.0",
        "description": "This is an API for interacting with a Chainstack node."
    },
    "servers": [
        {
            "url": "https://arc-testnet.core.chainstack.com/6caa7fd90475ac9214f7521dd460fa7c"
        }
    ],
    "paths": {
        "/": {
            "post": {
                "tags": [
                    "upload"
                ],
                "summary": "eth_getBalance",
                "operationId": "eth_getBalance",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "default": 1
                                    },
                                    "jsonrpc": {
                                        "type": "string",
                                        "default": "2.0"
                                    },
                                    "method": {
                                        "type": "string",
                                        "default": "eth_getBalance"
                                    },
                                    "params": {
                                        "type": "array",
                                        "items": {
                                            "anyOf": [
                                                {
                                                    "type": "string",
                                                    "title": "Address",
                                                    "description": "The address to check for balance."
                                                },
                                                {
                                                    "type": "string",
                                                    "title": "Block",
                                                    "description": "Block number or tag (latest, earliest, pending)."
                                                }
                                            ]
                                        },
                                        "default": [
                                            "0x40c4431d0a6a183a2f1e604744f4cf25d2aea8e6",
                                            "latest"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Returns the balance of the account of given address.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "jsonrpc": {
                                            "type": "string"
                                        },
                                        "id": {
                                            "type": "integer"
                                        },
                                        "result": {
                                            "type": "object",
                                            "nullable": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}