{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Config Deposit Contract API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"
    }
  ],
  "paths": {
    "/config/deposit_contract": {
      "get": {
        "summary": "Get the Ethereum deposit contract configuration",
        "operationId": "getConfigDepositContract",
        "responses": {
          "200": {
            "description": "Deposit contract configuration successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositContractConfig"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "DepositContractConfig": {
        "type": "object",
        "properties": {
          "chain_id": {
            "type": "integer",
            "format": "int64"
          },
          "address": {
            "type": "string",
            "pattern": "^0x[0-9a-fA-F]{40}$"
          }
        },
        "required": [
          "chain_id",
          "address"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}