{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Beacon Chain API",
    "version": "1.0.0",
    "description": "API for interacting with the Ethereum 2.0 Beacon Chain"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com"
    }
  ],
  "paths": {
    "/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1/beacon/states/{state_id}/fork": {
      "get": {
        "summary": "Get fork information for a specific state",
        "operationId": "getForkInformation",
        "tags": [
          "Beacon"
        ],
        "parameters": [
          {
            "name": "state_id",
            "in": "path",
            "required": true,
            "description": "State identifier which can be a slot number, an epoch number, a block root, or special values like  'genesis' or 'head'.",
            "schema": {
              "type": "string",
              "default": "head"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with fork information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkInformation"
                }
              }
            }
          },
          "400": {
            "description": "Invalid state identifier value",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ForkInformation": {
        "type": "object",
        "properties": {
          "epoch": {
            "type": "string",
            "description": "The epoch number at which the current version was applied."
          },
          "previous_version": {
            "type": "string",
            "description": "The previous fork version."
          },
          "current_version": {
            "type": "string",
            "description": "The current fork version."
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          },
          "stacktraces": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}