{
  "openapi": "3.0.0",
  "info": {
    "title": "Ethereum Config Fork Schedule API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://beacon-nd-422-757-666.p2pify.com/0a9d79d93fb2f4a4b1e04695da2b77a7/eth/v1"
    }
  ],
  "paths": {
    "/config/fork_schedule": {
      "get": {
        "summary": "Get the Ethereum fork schedule",
        "operationId": "getConfigForkSchedule",
        "responses": {
          "200": {
            "description": "Fork schedule successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkScheduleList"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ForkScheduleList": {
        "type": "array",
        "items": {
          "$ref": "#/components/schemas/ForkScheduleItem"
        }
      },
      "ForkScheduleItem": {
        "type": "object",
        "properties": {
          "epoch": {
            "type": "integer",
            "format": "int64"
          },
          "version": {
            "type": "string",
            "pattern": "^[0-9a-fA-F]{8}$"
          }
        },
        "required": [
          "epoch",
          "version"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}