{
  "openapi": "3.0.0",
  "info": {
    "title": "txpool_status Tempo example",
    "version": "1.0.0",
    "description": "This is an API example for txpool_status for Tempo."
  },
  "servers": [
    {
      "url": "https://tempo-moderato.core.chainstack.com/a25a421add2280d53fdbc23417055501"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Txpool"
        ],
        "summary": "txpool_status",
        "operationId": "tempo-txpool-status",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "txpool_status"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": []
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction pool status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "pending": {
                          "type": "string",
                          "description": "Number of pending transactions"
                        },
                        "queued": {
                          "type": "string",
                          "description": "Number of queued transactions"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
