{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/accountpermissionupdate TRON API",
    "version": "1.0.0",
    "description": "Update account permissions on the TRON blockchain"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/accountpermissionupdate": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "wallet/accountpermissionupdate",
        "operationId": "accountPermissionUpdate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "owner": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "integer",
                        "default": 0
                      },
                      "permission_name": {
                        "type": "string",
                        "default": "owner"
                      },
                      "threshold": {
                        "type": "integer",
                        "default": 1
                      },
                      "keys": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  },
                  "witness": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "integer",
                        "default": 1
                      },
                      "permission_name": {
                        "type": "string",
                        "default": "witness"
                      },
                      "threshold": {
                        "type": "integer",
                        "default": 1
                      },
                      "keys": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  },
                  "actives": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "integer",
                          "default": 2
                        },
                        "permission_name": {
                          "type": "string",
                          "default": "active"
                        },
                        "threshold": {
                          "type": "integer",
                          "default": 1
                        },
                        "operations": {
                          "type": "string"
                        },
                        "keys": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned account permission update transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean"
                    },
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object"
                    },
                    "raw_data_hex": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}