{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/broadcasttransaction TRON API",
    "version": "1.0.0",
    "description": "Broadcast a signed transaction to the TRON network"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/broadcasttransaction": {
      "post": {
        "tags": [
          "Transaction Operations"
        ],
        "summary": "wallet/broadcasttransaction",
        "operationId": "broadcastTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "raw_data",
                  "raw_data_hex"
                ],
                "properties": {
                  "raw_data": {
                    "type": "object",
                    "default": {
                      "contract": [
                        {
                          "parameter": {
                            "value": {
                              "amount": 1000,
                              "owner_address": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e",
                              "to_address": "41e9d79cc47518930bc322d9bf7cddd260a0260a8d"
                            },
                            "type_url": "type.googleapis.com/protocol.TransferContract"
                          },
                          "type": "TransferContract"
                        }
                      ],
                      "ref_block_bytes": "5e4b",
                      "ref_block_hash": "47c9dc89341b300d",
                      "expiration": 1591089627000,
                      "timestamp": 1591089567635
                    }
                  },
                  "raw_data_hex": {
                    "type": "string",
                    "default": "0a025e4b220847c9dc89341b300d40f8fed3a2a72e5a66080112620a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412310a1541608f8da72479edc7dd921e4c30bb7e7cddbe722e121541e9d79cc47518930bc322d9bf7cddd260a0260a8d18e8077093afd0a2a72e"
                  },
                  "signature": {
                    "type": "array",
                    "description": "Array of hex-encoded signatures (65-byte secp256k1).",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "deadbeefcafebabefacec0011234abcd0badf00d9999777755553333222211114321dcba0f0ff0f013579bdf2468ace0987654321a2b3c4d5e6f7a8b9c0deeff1b"
                    ]
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction broadcast result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean"
                    },
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "txid": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
