{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/broadcasthex TRON API",
    "version": "1.0.0",
    "description": "Broadcast a transaction in hex format to the TRON network"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/broadcasthex": {
      "post": {
        "tags": [
          "Transaction Operations"
        ],
        "summary": "wallet/broadcasthex",
        "operationId": "broadcastHex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "The transaction data in hexadecimal format"
                  }
                },
                "required": ["transaction"],
                "example": {
                  "transaction": "0a84010a025e4b220847c9dc89341b300d40f8fed3a2a72e5a66080112620a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412310a1541608f8da72479edc7dd921e4c30bb7e7cddbe722e121541e9d79cc47518930bc322d9bf7cddd260a0260a8d18e8077093afd0a2a72e1241deadbeefcafebabefacec0011234abcd0badf00d9999777755553333222211114321dcba0f0ff0f013579bdf2468ace0987654321a2b3c4d5e6f7a8b9c0deeff1b"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction broadcast result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Whether the broadcast was successful"
                    },
                    "txid": {
                      "type": "string",
                      "description": "Transaction ID if successful"
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
