{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/broadcasthex TRON API",
    "version": "1.0.0",
    "description": "Broadcast a transaction in hex format to the TRON network"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/broadcasthex": {
      "post": {
        "tags": [
          "Transaction Operations"
        ],
        "summary": "wallet/broadcasthex",
        "operationId": "broadcastHex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "The transaction data in hexadecimal format"
                  }
                },
                "required": ["transaction"],
                "example": {
                  "transaction": "0a02db6f22084b7eed791f4e8e9340c8b9e2ebc62d5a68080112640a2d747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e5472616e73666572436f6e747261637412330a1541b487cdb2d8dc7b2a8e5e7e7b4e3e8b8b8b8b8b121541a09e6c7cd7b9c7a3c0b1b2c2c2c2c2c2c18c0843d7012418e02bf39ad269a2db1a6ba2b48a90d64ec14dfab89a2e5e7e7b4e3e8b8b8b8b8b40af7b8"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction broadcast result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "boolean",
                      "description": "Whether the broadcast was successful"
                    },
                    "txid": {
                      "type": "string",
                      "description": "Transaction ID if successful"
                    },
                    "message": {
                      "type": "string",
                      "description": "Status message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}