{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/clearabi TRON API",
    "version": "1.0.0",
    "description": "Clear contract ABI"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/clearabi": {
      "post": {
        "tags": [
          "Smart Contracts"
        ],
        "summary": "wallet/clearabi",
        "operationId": "clearAbi",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address of the contract owner"
                  },
                  "contract_address": {
                    "type": "string",
                    "description": "Address of the smart contract"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to use visible (Base58) address format"
                  }
                },
                "required": ["owner_address", "contract_address"],
                "example": {
                  "owner_address": "TSNEe5Tf4rnc9zPMNXfaTF5fZfHDDH8oyW",
                  "contract_address": "TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract ABI clearing transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for the ABI clearing"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract ABI clearing details"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}