{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createshieldedcontractparameterswithoutask TRON API", 
    "version": "1.0.0",
    "description": "Create shielded contract parameters without authentication secret key"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createshieldedcontractparameterswithoutask": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createshieldedcontractparameterswithoutask",
        "operationId": "createShieldedContractParametersWithoutAsk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ovk",
                  "from_address", 
                  "to_address",
                  "amount"
                ],
                "properties": {
                  "ovk": {
                    "type": "string",
                    "description": "Outgoing viewing key (64 hex characters, no 0x prefix)",
                    "example": "09b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1"
                  },
                  "from_address": {
                    "type": "string",
                    "description": "Sender's shielded address",
                    "example": "ztron1a2b3c4d5e6f7g8h9j0k1l2m3n4p5q6r7s8t9u0v1w2x3y4z5a6b7c8d9e0f1g2h3j4k5l6m7n8p9"
                  },
                  "to_address": {
                    "type": "string",
                    "description": "Recipient's shielded address",
                    "example": "ztron1z9y8x7w6v5u4t3s2r1q0p9n8m7l6k5j4h3g2f1e0d9c8b7a6z5y4x3w2v1u0t9s8r7q6p5n4m3"
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to transfer",
                    "example": "1000000"
                  },
                  "transparent_from_address": {
                    "type": "string",
                    "description": "Optional transparent sender address",
                    "example": "TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE"
                  },
                  "transparent_to_address": {
                    "type": "string",
                    "description": "Optional transparent recipient address",
                    "example": "TXYZoPYKcJJvXWc2WqJcqWvHqCqvqP5h3X"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created shielded contract parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receive_description": {
                      "type": "object",
                      "description": "Receive description for shielded transaction"
                    },
                    "spend_description": {
                      "type": "object",
                      "description": "Spend description for shielded transaction"
                    },
                    "binding_signature": {
                      "type": "string",
                      "description": "Binding signature for transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}