{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createassetissue TRON API",
    "version": "1.0.0",
    "description": "Create a new TRC10 token"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createassetissue": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/createassetissue",
        "operationId": "createAssetIssue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "name",
                  "abbr",
                  "total_supply",
                  "trx_num",
                  "num",
                  "start_time",
                  "end_time",
                  "description",
                  "url"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address that will issue the token",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "name": {
                    "type": "string",
                    "description": "Token name",
                    "default": "MyToken"
                  },
                  "abbr": {
                    "type": "string",
                    "description": "Token symbol/abbreviation",
                    "default": "MTK"
                  },
                  "total_supply": {
                    "type": "integer",
                    "description": "Total supply of tokens",
                    "default": 1000000000000
                  },
                  "trx_num": {
                    "type": "integer",
                    "description": "TRX amount for exchange rate",
                    "default": 1
                  },
                  "num": {
                    "type": "integer",
                    "description": "Token amount for exchange rate",
                    "default": 1000
                  },
                  "precision": {
                    "type": "integer",
                    "description": "Token decimal places (0-6)",
                    "default": 6
                  },
                  "start_time": {
                    "type": "integer",
                    "description": "ICO start time (timestamp)",
                    "default": 1640995200000
                  },
                  "end_time": {
                    "type": "integer",
                    "description": "ICO end time (timestamp)",
                    "default": 1672531200000
                  },
                  "description": {
                    "type": "string",
                    "description": "Token description",
                    "default": "A new TRC10 token for the TRON ecosystem"
                  },
                  "url": {
                    "type": "string",
                    "description": "Token project website",
                    "default": "https://example.com"
                  },
                  "free_asset_net_limit": {
                    "type": "integer",
                    "description": "Free bandwidth for token operations",
                    "default": 1000000
                  },
                  "public_free_asset_net_limit": {
                    "type": "integer",
                    "description": "Public free bandwidth limit",
                    "default": 1000000
                  },
                  "frozen_supply": {
                    "type": "array",
                    "description": "Frozen supply configurations",
                    "items": {
                      "type": "object",
                      "properties": {
                        "frozen_amount": {
                          "type": "integer"
                        },
                        "frozen_days": {
                          "type": "integer"
                        }
                      }
                    }
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Use base58 address format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned TRC10 asset issue transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Address format indicator"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction hash"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Raw transaction data",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract array"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        },
                        "fee_limit": {
                          "type": "number",
                          "description": "Maximum fee allowed"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Hexadecimal raw transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}