{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createshieldedcontractparameters TRON API",
    "version": "1.0.0",
    "description": "Create parameters for shielded TRC20 contract transaction"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createshieldedcontractparameters": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createshieldedcontractparameters",
        "operationId": "createShieldedContractParameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "spend_authority_signature",
                  "view_signature",
                  "proof_generation_key",
                  "payment_address",
                  "rcm",
                  "ar",
                  "alpha",
                  "rsk",
                  "ask"
                ],
                "properties": {
                  "spend_authority_signature": {
                    "type": "string",
                    "description": "Spending authority signature",
                    "example": "0x08a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890123456"
                  },
                  "view_signature": {
                    "type": "string",
                    "description": "View signature component"
                  },
                  "proof_generation_key": {
                    "type": "string",
                    "description": "Proof generation key"
                  },
                  "payment_address": {
                    "type": "string",
                    "description": "Recipient's shielded payment address"
                  },
                  "rcm": {
                    "type": "string",
                    "description": "Randomness commitment value"
                  },
                  "ar": {
                    "type": "string",
                    "description": "Authentication randomness value"
                  },
                  "alpha": {
                    "type": "string",
                    "description": "Alpha parameter for proof generation"
                  },
                  "rsk": {
                    "type": "string",
                    "description": "Randomness for spending key"
                  },
                  "ask": {
                    "type": "string",
                    "description": "Authentication secret key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created shielded contract parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receive_description": {
                      "type": "object",
                      "description": "Receive description for shielded transaction"
                    },
                    "spend_description": {
                      "type": "object", 
                      "description": "Spend description for shielded transaction"
                    },
                    "binding_signature": {
                      "type": "string",
                      "description": "Binding signature for transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}