{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createshieldedcontractparameters TRON API",
    "version": "1.0.0",
    "description": "Create parameters for shielded TRC20 contract transaction"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createshieldedcontractparameters": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createshieldedcontractparameters",
        "operationId": "createShieldedContractParameters",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "spend_authority_signature",
                  "view_signature",
                  "proof_generation_key",
                  "payment_address",
                  "rcm",
                  "ar",
                  "alpha",
                  "rsk",
                  "ask"
                ],
                "properties": {
                  "spend_authority_signature": {
                    "type": "string",
                    "description": "Spending authority signature (128 hex characters, no 0x prefix)",
                    "example": "08a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890"
                  },
                  "view_signature": {
                    "type": "string",
                    "description": "View signature component (64 hex characters, no 0x prefix)",
                    "example": "1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b"
                  },
                  "proof_generation_key": {
                    "type": "string",
                    "description": "Proof generation key (64 hex characters, no 0x prefix)",
                    "example": "2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3"
                  },
                  "payment_address": {
                    "type": "string",
                    "description": "Recipient's shielded payment address (ztron1 format, 78 characters)",
                    "example": "ztron1768kf7dy4qquefp46szk978d65eeua66yhr4zv260c0uzj68t3tfjl3en9lhyyfxalv4jus30xs"
                  },
                  "rcm": {
                    "type": "string",
                    "description": "Randomness commitment value (64 hex characters, no 0x prefix)",
                    "example": "3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4"
                  },
                  "ar": {
                    "type": "string",
                    "description": "Authentication randomness value (64 hex characters, no 0x prefix)",
                    "example": "4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5"
                  },
                  "alpha": {
                    "type": "string",
                    "description": "Alpha parameter for proof generation (64 hex characters, no 0x prefix)",
                    "example": "5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6"
                  },
                  "rsk": {
                    "type": "string",
                    "description": "Randomness for spending key (64 hex characters, no 0x prefix)",
                    "example": "6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7"
                  },
                  "ask": {
                    "type": "string",
                    "description": "Authentication secret key (64 hex characters, no 0x prefix)",
                    "example": "7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created shielded contract parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receive_description": {
                      "type": "object",
                      "description": "Receive description for shielded transaction"
                    },
                    "spend_description": {
                      "type": "object", 
                      "description": "Spend description for shielded transaction"
                    },
                    "binding_signature": {
                      "type": "string",
                      "description": "Binding signature for transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}