{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createspendauthsig TRON API",
    "version": "1.0.0", 
    "description": "Create spending authorization signature for shielded transactions"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createspendauthsig": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createspendauthsig",
        "operationId": "createSpendAuthSig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ask",
                  "alpha", 
                  "tx_hash",
                  "sighash_type"
                ],
                "properties": {
                  "ask": {
                    "type": "string",
                    "description": "Authentication secret key for signing",
                    "example": "0x0aa1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                  },
                  "alpha": {
                    "type": "string",
                    "description": "Alpha parameter for randomization",
                    "example": "0x0bb2c3d4e5f6789012345678901234567890123456789012345678901234567890ab"
                  },
                  "tx_hash": {
                    "type": "string",
                    "description": "Transaction hash being authorized",
                    "example": "0x0cc3d4e5f6789012345678901234567890123456789012345678901234567890abcd"
                  },
                  "sighash_type": {
                    "type": "string",
                    "description": "Signature hash type",
                    "example": "0x01"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created spending authorization signature",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "signature": {
                      "type": "string",
                      "description": "Generated spending authorization signature",
                      "example": "0x0dd4e5f6789012345678901234567890123456789012345678901234567890abcdef"
                    },
                    "randomized_pk": {
                      "type": "string", 
                      "description": "Randomized public key used in signature",
                      "example": "0x0ee5f6789012345678901234567890123456789012345678901234567890abcdef01"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}