{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createshieldedcontractparameterswithoutask TRON API", 
    "version": "1.0.0",
    "description": "Create shielded contract parameters without authentication secret key"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createshieldedcontractparameterswithoutask": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createshieldedcontractparameterswithoutask",
        "operationId": "createShieldedContractParametersWithoutAsk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ovk",
                  "from_address", 
                  "to_address",
                  "amount"
                ],
                "properties": {
                  "ovk": {
                    "type": "string",
                    "description": "Outgoing viewing key",
                    "example": "0x09b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2"
                  },
                  "from_address": {
                    "type": "string",
                    "description": "Sender's shielded address",
                    "example": "ztron1sender123456789abcdef..."
                  },
                  "to_address": {
                    "type": "string", 
                    "description": "Recipient's shielded address",
                    "example": "ztron1recipient123456789abcdef..."
                  },
                  "amount": {
                    "type": "string",
                    "description": "Amount to transfer",
                    "example": "1000000"
                  },
                  "transparent_from_address": {
                    "type": "string",
                    "description": "Optional transparent sender address"
                  },
                  "transparent_to_address": {
                    "type": "string",
                    "description": "Optional transparent recipient address"  
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created shielded contract parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "receive_description": {
                      "type": "object",
                      "description": "Receive description for shielded transaction"
                    },
                    "spend_description": {
                      "type": "object",
                      "description": "Spend description for shielded transaction"
                    },
                    "binding_signature": {
                      "type": "string",
                      "description": "Binding signature for transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}