{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createspendauthsig TRON API",
    "version": "1.0.0", 
    "description": "Create spending authorization signature for shielded transactions"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createspendauthsig": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createspendauthsig",
        "operationId": "createSpendAuthSig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ask",
                  "alpha",
                  "tx_hash"
                ],
                "properties": {
                  "ask": {
                    "type": "string",
                    "description": "Authentication secret key for signing (32 bytes, hex without 0x prefix)",
                    "example": "0f63eabdfe2bbfe08012f6bb2db024e6809c16e8ed055aa41a6095424f192005"
                  },
                  "alpha": {
                    "type": "string",
                    "description": "Alpha parameter for randomization (32 bytes, hex without 0x prefix)",
                    "example": "d0f0768664f5c807f9e70d05993f029c71da529afaa5c037b44c63d6e13bc907"
                  },
                  "tx_hash": {
                    "type": "string",
                    "description": "Transaction hash being authorized (32 bytes, hex without 0x prefix)",
                    "example": "7fb99e66df052f430d50e80a3f197c319a4e35184ed48a433d6219e025741337"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created spending authorization signature",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "Generated spending authorization signature (hex string without 0x prefix)",
                      "example": "66c806bc592a7599e65833bf25c3c7005c8b21b7895dd835a84c97d7bec49d0f1493d2c73a68eeb9b9699b92cae42406f9e44ebe19acaea3d5febfe28de57109"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}