{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createwitness TRON API",
    "version": "1.0.0",
    "description": "Create a witness (validator) account on the TRON network"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createwitness": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/createwitness",
        "operationId": "createWitness",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address that will become a witness. Use base58 with `visible: true`, or hex with `visible: false`."
                  },
                  "url": {
                    "type": "string",
                    "description": "Witness website URL (must be a valid URL)"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "When true, addresses are base58; when false, hex.",
                    "default": true
                  }
                },
                "required": ["owner_address", "url"],
                "example": {
                  "owner_address": "THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC",
                  "url": "https://mywitness.example.com",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Witness creation transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for witness creation"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for witness creation"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
