{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createaccount TRON API",
    "version": "1.0.0",
    "description": "Create a new account on the TRON blockchain"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createaccount": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "wallet/createaccount",
        "operationId": "createAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "account_address"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "The existing account that pays the account creation fee. Must have sufficient TRX.",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "account_address": {
                    "type": "string",
                    "description": "The new account address to be activated.",
                    "default": "TFgY1uN8buRxAtV2r6Zy5sG3ACko6pJT1y"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "When true, addresses are base58; when false, hex.",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned account creation transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean"
                    },
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object"
                    },
                    "raw_data_hex": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
          ,
          "400": {
            "description": "Validation error (e.g., insufficient fee)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "Error": "class org.tron.core.exception.ContractValidateException : Validate CreateAccountActuator error, insufficient fee."
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
