{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/delegateresource TRON API",
    "version": "1.0.0",
    "description": "Delegate resources to another account"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/delegateresource": {
      "post": {
        "tags": [
          "Resource Management"
        ],
        "summary": "wallet/delegateresource",
        "operationId": "delegateResource",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "receiver_address",
                  "balance",
                  "resource"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e"
                  },
                  "receiver_address": {
                    "type": "string",
                    "default": "41e9d79cc47518930bc322d9bf7cddd260a0260a8d"
                  },
                  "balance": {
                    "type": "integer",
                    "default": 1000000
                  },
                  "resource": {
                    "type": "string",
                    "enum": ["BANDWIDTH", "ENERGY"],
                    "default": "BANDWIDTH"
                  },
                  "lock": {
                    "type": "boolean",
                    "default": false
                  },
                  "lock_period": {
                    "type": "integer",
                    "default": 0
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resource delegation transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean"
                    },
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array"
                        },
                        "ref_block_bytes": {
                          "type": "string"
                        },
                        "ref_block_hash": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}