{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/estimateenergy TRON API",
    "version": "1.0.0",
    "description": "Estimate energy consumption for contract call"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/estimateenergy": {
      "post": {
        "tags": [
          "Smart Contracts"
        ],
        "summary": "wallet/estimateenergy",
        "operationId": "estimateEnergy",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address executing the contract call"
                  },
                  "contract_address": {
                    "type": "string",
                    "description": "Address of the smart contract"
                  },
                  "function_selector": {
                    "type": "string",
                    "description": "Function signature to call"
                  },
                  "parameter": {
                    "type": "string",
                    "description": "Hex-encoded parameters for the function"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to use visible (Base58) address format"
                  }
                },
                "required": ["owner_address", "contract_address", "function_selector", "parameter"],
                "example": {
                  "owner_address": "TSNEe5Tf4rnc9zPMNXfaTF5fZfHDDH8oyW",
                  "contract_address": "TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs",
                  "function_selector": "balanceOf(address)",
                  "parameter": "000000000000000000000000a614f803b6fd780986a42c78ec9c7f77e6ded13c",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Energy consumption estimation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "description": "Whether estimation was successful"
                        },
                        "energy_required": {
                          "type": "number",
                          "description": "Estimated energy consumption"
                        }
                      }
                    },
                    "energy_used": {
                      "type": "number",
                      "description": "Total energy that would be consumed"
                    },
                    "constant_result": {
                      "type": "array",
                      "description": "Return values for view/pure functions"
                    },
                    "transaction": {
                      "type": "object",
                      "description": "Transaction object with estimated costs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}