{
  "openapi": "3.0.0",
  "info": {
    "title": "TRON API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/exchangetransaction": {
      "post": {
        "summary": "Execute a token swap transaction",
        "description": "Executes a token swap transaction on the TRON decentralized exchange",
        "operationId": "exchangeTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["owner_address", "exchange_id", "token_id", "quant", "expected"],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "The address performing the token swap transaction"
                  },
                  "exchange_id": {
                    "type": "integer",
                    "description": "Unique identifier of the exchange pair to trade on"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "Token ID being sold in the swap transaction"
                  },
                  "quant": {
                    "type": "string",
                    "description": "Amount of tokens being sold"
                  },
                  "expected": {
                    "type": "string",
                    "description": "Minimum expected amount of tokens to receive"
                  },
                  "permission_id": {
                    "type": "integer",
                    "description": "Optional permission ID for multi-signature accounts"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to return human-readable addresses",
                    "default": false
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Swap TRC20 tokens for TRX",
                  "value": {
                    "owner_address": "TLyqzVGLV1srkB7dToTAEqgDSfPtXRJZYH",
                    "exchange_id": 1,
                    "token_id": "1000001",
                    "quant": "100000000000",
                    "expected": "95000000",
                    "visible": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txID": {
                      "type": "string",
                      "description": "Unique transaction identifier"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Raw transaction data including contract details",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "owner_address": {
                                        "type": "string"
                                      },
                                      "exchange_id": {
                                        "type": "integer"
                                      },
                                      "token_id": {
                                        "type": "string"
                                      },
                                      "quant": {
                                        "type": "string"
                                      },
                                      "expected": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "type_url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "ref_block_bytes": {
                          "type": "string"
                        },
                        "ref_block_hash": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Hexadecimal representation of raw transaction data"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "txID": "c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2c3d4",
                      "raw_data": {
                        "contract": [
                          {
                            "parameter": {
                              "value": {
                                "owner_address": "TLyqzVGLV1srkB7dToTAEqgDSfPtXRJZYH",
                                "exchange_id": 1,
                                "token_id": "1000001",
                                "quant": "100000000000",
                                "expected": "95000000"
                              },
                              "type_url": "type.googleapis.com/protocol.ExchangeTransactionContract"
                            },
                            "type": "ExchangeTransactionContract"
                          }
                        ],
                        "ref_block_bytes": "ab93",
                        "ref_block_hash": "f5d4c3b2a4",
                        "expiration": 1672531440000,
                        "timestamp": 1672531380000
                      },
                      "raw_data_hex": "0a02ab931220f5d4c3b2a440a0fee2f6e30f5a68081112620a32747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e45786368616e67655472616e73616374696f6e436f6e747261637412280a154c7971797a56474c5631737266b7dd4afc8eagg61535422083931303030303030303030"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Error response",
                    "value": {
                      "Error": "Insufficient liquidity or slippage exceeded expected amount"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}