{
  "openapi": "3.0.0",
  "info": {
    "title": "TRON API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/exchangeinject": {
      "post": {
        "summary": "Add liquidity to an exchange pair",
        "description": "Adds liquidity to an existing exchange trading pair on the TRON decentralized exchange",
        "operationId": "exchangeInject",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["owner_address", "exchange_id", "token_id", "quant"],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "The address providing liquidity to the exchange pair"
                  },
                  "exchange_id": {
                    "type": "integer",
                    "description": "Unique identifier of the exchange pair to add liquidity to"
                  },
                  "token_id": {
                    "type": "string",
                    "description": "Token ID being added to the liquidity pool"
                  },
                  "quant": {
                    "type": "string",
                    "description": "Amount of tokens to add to the liquidity pool"
                  },
                  "permission_id": {
                    "type": "integer",
                    "description": "Optional permission ID for multi-signature accounts"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to return human-readable addresses",
                    "default": false
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Add TRC20 tokens to liquidity pool",
                  "value": {
                    "owner_address": "TLyqzVGLV1srkB7dToTAEqgDSfPtXRJZYH",
                    "exchange_id": 1,
                    "token_id": "1000001",
                    "quant": "500000000000",
                    "visible": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txID": {
                      "type": "string",
                      "description": "Unique transaction identifier"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Raw transaction data including contract details",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "parameter": {
                                "type": "object",
                                "properties": {
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "owner_address": {
                                        "type": "string"
                                      },
                                      "exchange_id": {
                                        "type": "integer"
                                      },
                                      "token_id": {
                                        "type": "string"
                                      },
                                      "quant": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "type_url": {
                                    "type": "string"
                                  }
                                }
                              },
                              "type": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "ref_block_bytes": {
                          "type": "string"
                        },
                        "ref_block_hash": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Hexadecimal representation of raw transaction data"
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "txID": "a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9f0a1b2",
                      "raw_data": {
                        "contract": [
                          {
                            "parameter": {
                              "value": {
                                "owner_address": "TLyqzVGLV1srkB7dToTAEqgDSfPtXRJZYH",
                                "exchange_id": 1,
                                "token_id": "1000001",
                                "quant": "500000000000"
                              },
                              "type_url": "type.googleapis.com/protocol.ExchangeInjectContract"
                            },
                            "type": "ExchangeInjectContract"
                          }
                        ],
                        "ref_block_bytes": "ab91",
                        "ref_block_hash": "f5d4c3b2a2",
                        "expiration": 1672531320000,
                        "timestamp": 1672531260000
                      },
                      "raw_data_hex": "0a02ab911220f5d4c3b2a240a0c9e2f6e30f5a68081112620a32747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e45786368616e6765496e6a656374436f6e747261637412280a154c7971797a56474c5631737266b7dd4afc8eagg615349220831310313530303031"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Error response",
                    "value": {
                      "Error": "Exchange not found or insufficient token balance"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}