{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/freezebalance TRON API",
    "version": "1.0.0",
    "description": "Stake TRX for bandwidth or energy (deprecated method)"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/freezebalance": {
      "post": {
        "tags": [
          "Resource Management"
        ],
        "summary": "wallet/freezebalance",
        "operationId": "freezeBalance",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "frozen_balance",
                  "frozen_duration",
                  "resource"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e"
                  },
                  "frozen_balance": {
                    "type": "integer",
                    "default": 1000000
                  },
                  "frozen_duration": {
                    "type": "integer",
                    "default": 3
                  },
                  "resource": {
                    "type": "string",
                    "enum": ["BANDWIDTH", "ENERGY"],
                    "default": "BANDWIDTH"
                  },
                  "receiver_address": {
                    "type": "string",
                    "description": "Optional. Address to receive the resources. Omit to freeze for yourself. Must not equal `owner_address`."
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
                }
              ,
              "example": {
                "owner_address": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e",
                "frozen_balance": 1000000,
                "frozen_duration": 3,
                "resource": "BANDWIDTH",
                "visible": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Freeze balance transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean"
                    },
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array"
                        },
                        "ref_block_bytes": {
                          "type": "string"
                        },
                        "ref_block_hash": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (legacy freeze disabled)",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "Error": { "type": "string" } } },
                "example": {
                  "Error": "class org.tron.core.exception.ContractValidateException : freeze v2 is open, old freeze is closed"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
