{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getassetissuebyid TRON API",
    "version": "1.0.0",
    "description": "Get TRC10 token information by asset ID"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getassetissuebyid": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/getassetissuebyid",
        "operationId": "getAssetIssueById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "TRC10 token ID to query"
                  }
                },
                "required": ["value"],
                "example": {
                  "value": "1000001"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TRC10 token information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owner_address": {
                      "type": "string",
                      "description": "Address that issued the token"
                    },
                    "name": {
                      "type": "string",
                      "description": "Token name"
                    },
                    "abbr": {
                      "type": "string",
                      "description": "Token symbol/abbreviation"
                    },
                    "total_supply": {
                      "type": "number",
                      "description": "Total supply of tokens"
                    },
                    "trx_num": {
                      "type": "number",
                      "description": "TRX amount for exchange rate"
                    },
                    "precision": {
                      "type": "number",
                      "description": "Token decimal places"
                    },
                    "num": {
                      "type": "number",
                      "description": "Token amount for exchange rate"
                    },
                    "start_time": {
                      "type": "number",
                      "description": "ICO start time (timestamp)"
                    },
                    "end_time": {
                      "type": "number",
                      "description": "ICO end time (timestamp)"
                    },
                    "description": {
                      "type": "string",
                      "description": "Token description"
                    },
                    "url": {
                      "type": "string",
                      "description": "Token project website"
                    },
                    "id": {
                      "type": "string",
                      "description": "Unique token ID"
                    },
                    "free_asset_net_limit": {
                      "type": "number",
                      "description": "Free bandwidth for token operations"
                    },
                    "public_free_asset_net_limit": {
                      "type": "number",
                      "description": "Public free bandwidth limit"
                    },
                    "public_free_asset_net_usage": {
                      "type": "number",
                      "description": "Used public bandwidth"
                    },
                    "public_latest_free_net_time": {
                      "type": "number",
                      "description": "Latest free bandwidth usage time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}