{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getassetissuelist TRON API",
    "version": "1.0.0",
    "description": "Get list of all issued TRC10 tokens"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getassetissuelist": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/getassetissuelist",
        "operationId": "getAssetIssueList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of all TRC10 tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetIssue": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "owner_address": {
                            "type": "string",
                            "description": "Address that issued the token"
                          },
                          "name": {
                            "type": "string",
                            "description": "Token name"
                          },
                          "abbr": {
                            "type": "string",
                            "description": "Token symbol/abbreviation"
                          },
                          "total_supply": {
                            "type": "number",
                            "description": "Total supply of tokens"
                          },
                          "trx_num": {
                            "type": "number",
                            "description": "TRX amount for exchange rate"
                          },
                          "precision": {
                            "type": "number",
                            "description": "Token decimal places"
                          },
                          "num": {
                            "type": "number",
                            "description": "Token amount for exchange rate"
                          },
                          "start_time": {
                            "type": "number",
                            "description": "ICO start time (timestamp)"
                          },
                          "end_time": {
                            "type": "number",
                            "description": "ICO end time (timestamp)"
                          },
                          "description": {
                            "type": "string",
                            "description": "Token description"
                          },
                          "url": {
                            "type": "string",
                            "description": "Token project website"
                          },
                          "id": {
                            "type": "string",
                            "description": "Unique token ID"
                          },
                          "free_asset_net_limit": {
                            "type": "number",
                            "description": "Free bandwidth for token operations"
                          },
                          "public_free_asset_net_limit": {
                            "type": "number",
                            "description": "Public free bandwidth limit"
                          },
                          "public_free_asset_net_usage": {
                            "type": "number",
                            "description": "Used public bandwidth"
                          },
                          "public_latest_free_net_time": {
                            "type": "number",
                            "description": "Latest free bandwidth usage time"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}