{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getapprovedlist TRON API",
    "version": "1.0.0",
    "description": "Get list of approved Super Representatives"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getapprovedlist": {
      "post": {
        "tags": [
          "Transaction Operations"
        ],
        "summary": "wallet/getapprovedlist",
        "operationId": "getApprovedList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["txID", "raw_data", "raw_data_hex", "signature"],
                "properties": {
                  "txID": { "type": "string", "description": "Transaction ID (hash)" },
                  "raw_data": { "type": "object", "description": "Raw transaction data" },
                  "raw_data_hex": { "type": "string", "description": "Raw transaction data in hex" },
                  "signature": { "type": "array", "items": { "type": "string" }, "description": "Array of 65-byte hex signatures" },
                  "visible": { "type": "boolean", "default": false }
                },
                "example": {
                  "txID": "4ad97d49409cfff338d2f9e71d4019c70e82030b52e15e208b1808f2f3ea782e",
                  "raw_data": {
                    "contract": [
                      {
                        "parameter": {
                          "value": {
                            "data": "a9059cbb0000000000000000000000415d4a41a3b0cdda5c03df72b38a20aa1b88777c7500000000000000000000000000000000000000000000000000000000f9cd95c0",
                            "owner_address": "41cf2e99409d2a9a9190197ab0bff35ca87818c41e",
                            "contract_address": "41a614f803b6fd780986a42c78ec9c7f77e6ded13c"
                          },
                          "type_url": "type.googleapis.com/protocol.TriggerSmartContract"
                        },
                        "type": "TriggerSmartContract"
                      }
                    ],
                    "ref_block_bytes": "68bd",
                    "ref_block_hash": "bc830d2c09fa23d1",
                    "expiration": 1761952567698,
                    "fee_limit": 225000000,
                    "timestamp": 1761952507695
                  },
                  "raw_data_hex": "0a0268bd2208bc830d2c09fa23d14092a3bae4a3335aae01081f12a9010a31747970652e676f6f676c65617069732e636f6d2f70726f746f636f6c2e54726967676572536d617274436f6e747261637412740a1541cf2e99409d2a9a9190197ab0bff35ca87818c41e121541a614f803b6fd780986a42c78ec9c7f77e6ded13c2244a9059cbb0000000000000000000000415d4a41a3b0cdda5c03df72b38a20aa1b88777c7500000000000000000000000000000000000000000000000000000000f9cd95c070afceb6e4a3339001c0f4a46b",
                  "signature": [
                    "c99cdc8af6f47dc65a75aa0c6da1c5be8510736e581043162c3e8525c6e0ed8f592adaa74ba250136ea6e1fb125b3d3d024ac6abd3e24c28097d66a8e2a0c0aa01"
                  ],
                  "visible": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved addresses (derived from signatures) and the echoed transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": { "type": "object" },
                    "approved_list": { "type": "array", "items": { "type": "string" } },
                    "transaction": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
