{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getaccountresource TRON API",
    "version": "1.0.0",
    "description": "Query the resource information of a TRON account"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getaccountresource": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "wallet/getaccountresource",
        "operationId": "getAccountResource",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account address in hex or base58check format",
                    "example": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether the address is in readable format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account resource information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "freeNetUsed": {
                      "type": "integer",
                      "description": "Free bandwidth used by the account",
                      "example": 0
                    },
                    "freeNetLimit": {
                      "type": "integer",
                      "description": "Total free bandwidth",
                      "example": 5000
                    },
                    "NetUsed": {
                      "type": "integer",
                      "description": "Used amount of bandwidth obtained by staking",
                      "example": 0
                    },
                    "NetLimit": {
                      "type": "integer",
                      "description": "Total bandwidth obtained by staking",
                      "example": 0
                    },
                    "TotalNetLimit": {
                      "type": "integer",
                      "description": "Total network bandwidth limit",
                      "example": 43200000000
                    },
                    "TotalNetWeight": {
                      "type": "integer",
                      "description": "Total network weight",
                      "example": 84687233463517
                    },
                    "EnergyUsed": {
                      "type": "integer",
                      "description": "Energy used by the account",
                      "example": 0
                    },
                    "EnergyLimit": {
                      "type": "integer",
                      "description": "Total energy obtained by staking",
                      "example": 0
                    },
                    "TotalEnergyLimit": {
                      "type": "integer",
                      "description": "Total energy limit on network",
                      "example": 90000000000
                    },
                    "TotalEnergyWeight": {
                      "type": "integer",
                      "description": "Total energy weight on network",
                      "example": 13369831825062
                    },
                    "tronPowerLimit": {
                      "type": "integer",
                      "description": "TRON Power (voting power)",
                      "example": 0
                    },
                    "tronPowerUsed": {
                      "type": "integer",
                      "description": "TRON Power used for voting",
                      "example": 0
                    },
                    "totalTronPowerWeight": {
                      "type": "integer",
                      "description": "Total TRON Power weight on network",
                      "example": 0
                    },
                    "assetNetUsed": {
                      "type": "array",
                      "description": "Bandwidth used for TRC10 assets",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Asset ID"
                          },
                          "value": {
                            "type": "integer",
                            "description": "Bandwidth used for this asset"
                          }
                        }
                      }
                    },
                    "assetNetLimit": {
                      "type": "array",
                      "description": "Bandwidth limit for TRC10 assets",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Asset ID"
                          },
                          "value": {
                            "type": "integer",
                            "description": "Bandwidth limit for this asset"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
