{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getaccountbalance TRON API",
    "version": "1.0.0",
    "description": "Get account balance and frozen balance information"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getaccountbalance": {
      "post": {
        "tags": [
          "Account Information"
        ],
        "summary": "wallet/getaccountbalance",
        "operationId": "getAccountBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "account_identifier",
                  "block_identifier"
                ],
                "properties": {
                  "account_identifier": {
                    "type": "object",
                    "required": ["address"],
                    "properties": {
                      "address": {
                        "type": "string",
                        "description": "Account address. Use hex when `visible` is false, or base58 when `visible` is true.",
                        "default": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e"
                      }
                    }
                  },
                  "block_identifier": {
                    "type": "object",
                    "properties": {
                      "hash": {
                        "type": "string",
                        "description": "Optional 32-byte block hash as 64 hex characters.",
                        "pattern": "^[0-9a-fA-F]{64}$"
                      },
                      "number": {
                        "type": "integer"
                      }
                    },
                    "required": ["hash", "number"],
                    "description": "Block to query the balance at. Provide both the 32-byte block hash (64 hex chars) and its number; the node validates they match."
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "example": {
                  "account_identifier": { "address": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e" },
                  "block_identifier": { "hash": "0000000004986736812cbf15ffbcdd229bd3d76a595db895719867cc2da3a5bd", "number": 77096758 },
                  "visible": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account balance information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance": {
                      "type": "integer",
                      "description": "Available TRX balance in sun"
                    },
                    "frozen": {
                      "type": "array",
                      "description": "Frozen balance information",
                      "items": {
                        "type": "object",
                        "properties": {
                          "frozen_balance": {
                            "type": "integer"
                          },
                          "expire_time": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "delegated_frozenV2": {
                      "type": "array",
                      "description": "Delegated frozen balance v2",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "frozen_balance": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "undelegated_frozenV2": {
                      "type": "array",
                      "description": "Undelegated frozen balance v2",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "unfreeze_amount": {
                            "type": "integer"
                          },
                          "unfreeze_expire_time": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
