{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getassetissuebyname TRON API",
    "version": "1.0.0",
    "description": "Get TRC10 token information by name"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getassetissuebyname": {
      "post": {
        "tags": [
          "TRC10 Assets"
        ],
        "summary": "wallet/getassetissuebyname",
        "operationId": "getAssetIssueByName",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Token name. When `visible` is true, provide the plain UTF‑8 name. When `visible` is false, provide the UTF‑8 name hex‑encoded.",
                    "default": "TOKEN_NAME"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "When true, `value` is plain text. When false, `value` is hex‑encoded UTF‑8.",
                    "default": false
                  }
                },
                "example": {
                  "value": "54525854657374436f696e",
                  "visible": false
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "TRC10 token information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetIssue": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "owner_address": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "abbr": {
                            "type": "string"
                          },
                          "total_supply": {
                            "type": "integer"
                          },
                          "trx_num": {
                            "type": "integer"
                          },
                          "num": {
                            "type": "integer"
                          },
                          "start_time": {
                            "type": "integer"
                          },
                          "end_time": {
                            "type": "integer"
                          },
                          "description": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
