{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getaccountnet TRON API",
    "version": "1.0.0",
    "description": "Get account network resource information"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getaccountnet": {
      "post": {
        "tags": [
          "Account Information"
        ],
        "summary": "wallet/getaccountnet",
        "operationId": "getAccountNet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "default": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account network resource information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "freeNetUsed": {
                      "type": "integer",
                      "description": "Free bandwidth used"
                    },
                    "freeNetLimit": {
                      "type": "integer",
                      "description": "Free bandwidth limit"
                    },
                    "NetUsed": {
                      "type": "integer",
                      "description": "Staked bandwidth used"
                    },
                    "NetLimit": {
                      "type": "integer",
                      "description": "Staked bandwidth limit"
                    },
                    "TotalNetLimit": {
                      "type": "integer",
                      "description": "Total network bandwidth limit"
                    },
                    "TotalNetWeight": {
                      "type": "integer",
                      "description": "Total network weight"
                    },
                    "netUsed": {
                      "type": "integer",
                      "description": "Current bandwidth usage"
                    },
                    "netLimit": {
                      "type": "integer",
                      "description": "Current bandwidth limit"
                    },
                    "TotalEnergyLimit": {
                      "type": "integer",
                      "description": "Total energy limit"
                    },
                    "TotalEnergyWeight": {
                      "type": "integer",
                      "description": "Total energy weight"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}