{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblockbynum TRON API",
    "version": "1.0.0",
    "description": "Get a block by its number"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblockbynum": {
      "post": {
        "tags": [
          "Block Operations"
        ],
        "summary": "wallet/getblockbynum",
        "operationId": "getBlockByNum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num"
                ],
                "properties": {
                  "num": {
                    "type": "integer",
                    "default": 1000
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer"
                            },
                            "timestamp": {
                              "type": "integer"
                            },
                            "parentHash": {
                              "type": "string"
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string"
                        }
                      }
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "visible": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}