{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblockbalance TRON API",
    "version": "1.0.0",
    "description": "Get balance changes within a specific block"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblockbalance": {
      "post": {
        "tags": [
          "Blockchain Info"
        ],
        "summary": "wallet/getblockbalance",
        "operationId": "getBlockBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hash": {
                    "type": "string",
                    "description": "Block hash"
                  },
                  "number": {
                    "type": "integer",
                    "default": 66677878,
                    "description": "Block number"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block balance changes information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer"
                    },
                    "block_identifier": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string"
                        },
                        "number": {
                          "type": "integer"
                        }
                      }
                    },
                    "balance_changes": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}