{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblockbalance TRON API",
    "version": "1.0.0",
    "description": "Get balance changes within a specific block"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblockbalance": {
      "post": {
        "tags": [
          "Blockchain Info"
        ],
        "summary": "wallet/getblockbalance",
        "operationId": "getBlockBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["hash", "number"],
                "properties": {
                  "hash": {
                    "type": "string",
                    "description": "Block hash (64 hex chars)",
                    "pattern": "^[0-9a-fA-F]{64}$"
                  },
                  "number": {
                    "type": "integer",
                    "description": "Block number (must match the hash)"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                },
                "example": {
                  "hash": "0000000004986736812cbf15ffbcdd229bd3d76a595db895719867cc2da3a5bd",
                  "number": 77096758,
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block balance changes information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "timestamp": {
                      "type": "integer"
                    },
                    "block_identifier": {
                      "type": "object",
                      "properties": {
                        "hash": {
                          "type": "string"
                        },
                        "number": {
                          "type": "integer"
                        }
                      }
                    },
                    "transaction_balance_trace": {
                      "type": "array",
                      "description": "Per-transaction balance deltas within the block",
                      "items": {
                        "type": "object",
                        "properties": {
                          "transaction_identifier": { "type": "string" },
                          "operation": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "operation_identifier": { "type": "integer" },
                                "address": { "type": "string" },
                                "amount": { "type": "integer", "description": "Delta in sun; negative for debits, positive for credits" }
                              }
                            }
                          },
                          "type": { "type": "string" },
                          "status": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
