{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblockbylimitnext TRON API",
    "version": "1.0.0",
    "description": "Get blocks within a specified range"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblockbylimitnext": {
      "post": {
        "tags": [
          "Blockchain Info"
        ],
        "summary": "wallet/getblockbylimitnext",
        "operationId": "getBlockByLimitNext",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "startNum",
                  "endNum"
                ],
                "properties": {
                  "startNum": {
                    "type": "integer",
                    "default": 66677870
                  },
                  "endNum": {
                    "type": "integer",
                    "default": 66677880
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Blocks within specified range",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockID": {
                            "type": "string"
                          },
                          "block_header": {
                            "type": "object"
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}