{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getbrokerage TRON API",
    "version": "1.0.0",
    "description": "Get brokerage percentage for witness rewards"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getBrokerage": {
      "get": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/getBrokerage",
        "operationId": "getBrokerage",
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Witness address in hex format (21-byte, starts with 41)"
            },
            "example": "41928c9af0651632157ef27a2cf17ca72c575a4d21"
          }
        ],
        "responses": {
          "200": {
            "description": "Brokerage percentage for witness rewards",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "brokerage": {
                      "type": "number",
                      "description": "Brokerage percentage (0-100)"
                    }
                  }
                },
                "example": {
                  "brokerage": 20
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
