{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblock TRON API",
    "version": "1.0.0",
    "description": "Get block information by block number or hash"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblock": {
      "post": {
        "tags": [
          "Blockchain Info"
        ],
        "summary": "wallet/getblock",
        "operationId": "getBlock",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id_or_num"
                ],
                "properties": {
                  "id_or_num": {
                    "type": "string",
                    "default": "66677878",
                    "description": "Block number or block hash"
                  },
                  "detail": {
                    "type": "boolean",
                    "default": true
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object"
                        },
                        "witness_signature": {
                          "type": "string"
                        }
                      }
                    },
                    "transactions": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}