{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblockbylatestnum TRON API",
    "version": "1.0.0",
    "description": "Get latest blocks from the blockchain"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblockbylatestnum": {
      "post": {
        "tags": [
          "Blockchain Info"
        ],
        "summary": "wallet/getblockbylatestnum",
        "operationId": "getBlockByLatestNum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num"
                ],
                "properties": {
                  "num": {
                    "type": "integer",
                    "default": 5,
                    "description": "Number of latest blocks to retrieve (max 100)"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Latest blocks information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockID": {
                            "type": "string"
                          },
                          "block_header": {
                            "type": "object"
                          },
                          "transactions": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}