{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getblockbyid TRON API",
    "version": "1.0.0",
    "description": "Get a specific block from the TRON blockchain by its ID/hash"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getblockbyid": {
      "post": {
        "tags": [
          "Block Operations"
        ],
        "summary": "wallet/getblockbyid",
        "operationId": "getBlockById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The block ID (hash) in hexadecimal format"
                  }
                },
                "required": ["value"],
                "example": {
                  "value": "0000000000f4245300b88ffeb9bdb95b88c66b5ce6bb0ee79d85d5ce14b6a2a7ca"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "description": "Block ID (hash)"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "timestamp": {
                              "type": "number",
                              "description": "Block timestamp in milliseconds"
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "description": "Transaction trie root hash"
                            },
                            "parentHash": {
                              "type": "string",
                              "description": "Hash of the parent block"
                            },
                            "number": {
                              "type": "number",
                              "description": "Block height/number"
                            },
                            "witness_address": {
                              "type": "string",
                              "description": "Address of the block producer"
                            },
                            "version": {
                              "type": "number",
                              "description": "Block version"
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "description": "Block producer's signature"
                        }
                      }
                    },
                    "transactions": {
                      "type": "array",
                      "description": "Array of transactions in the block",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}