{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getcandelegatedmaxsize TRON API",
    "version": "1.0.0",
    "description": "Get maximum delegatable amount for resources"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getcandelegatedmaxsize": {
      "post": {
        "tags": [
          "Resource Management"
        ],
        "summary": "wallet/getcandelegatedmaxsize",
        "operationId": "getCanDelegatedMaxSize",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "type"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "type": {
                    "type": "integer",
                    "default": 0,
                    "description": "0 for bandwidth, 1 for energy"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Maximum delegatable amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "max_size": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}