{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getcontract TRON API",
    "version": "1.0.0",
    "description": "Get smart contract information by contract address"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getcontract": {
      "post": {
        "tags": [
          "Smart Contracts"
        ],
        "summary": "wallet/getcontract",
        "operationId": "getContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Contract address in hex format"
                  }
                },
                "required": ["value"],
                "example": {
                  "value": "41a614f803b6fd780986a42c78ec9c7f77e6ded13c"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Smart contract information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bytecode": {
                      "type": "string",
                      "description": "Contract bytecode in hex format"
                    },
                    "name": {
                      "type": "string",
                      "description": "Contract name"
                    },
                    "origin_address": {
                      "type": "string",
                      "description": "Address that deployed the contract"
                    },
                    "contract_address": {
                      "type": "string",
                      "description": "Contract address in hex format"
                    },
                    "abi": {
                      "type": "object",
                      "description": "Contract ABI (Application Binary Interface)"
                    },
                    "origin_energy_limit": {
                      "type": "number",
                      "description": "Original energy limit set for the contract"
                    },
                    "consume_user_resource_percent": {
                      "type": "number",
                      "description": "Percentage of user resources consumed by contract calls"
                    },
                    "code_hash": {
                      "type": "string",
                      "description": "Hash of the contract code"
                    },
                    "trx_hash": {
                      "type": "string",
                      "description": "Transaction hash of the contract deployment"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}