{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getcanwithdrawunfreezeamount TRON API",
    "version": "1.0.0",
    "description": "Get withdrawable amount from unfrozen resources"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getcanwithdrawunfreezeamount": {
      "post": {
        "tags": [
          "Staking"
        ],
        "summary": "wallet/getcanwithdrawunfreezeamount",
        "operationId": "getCanWithdrawUnfreezeAmount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Timestamp in milliseconds"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawable unfreeze amount",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "amount": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}