{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getchainparameters TRON API",
    "version": "1.0.0",
    "description": "Get blockchain parameters and configuration settings"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getchainparameters": {
      "get": {
        "tags": [
          "Network Information"
        ],
        "summary": "wallet/getchainparameters",
        "operationId": "getChainParameters",
        "responses": {
          "200": {
            "description": "Blockchain parameters and configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chainParameter": {
                      "type": "array",
                      "description": "Array of blockchain parameters",
                      "items": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "string",
                            "description": "Parameter name"
                          },
                          "value": {
                            "type": "integer",
                            "description": "Parameter value"
                          }
                        }
                      },
                      "example": [
                        {
                          "key": "getMaintenanceTimeInterval",
                          "value": 21600000
                        },
                        {
                          "key": "getAccountUpgradeCost",
                          "value": 9999000000
                        },
                        {
                          "key": "getCreateAccountFee",
                          "value": 100000
                        },
                        {
                          "key": "getTransactionFee",
                          "value": 10
                        },
                        {
                          "key": "getAssetIssueFee",
                          "value": 1024000000
                        },
                        {
                          "key": "getWitnessPayPerBlock",
                          "value": 16000000
                        },
                        {
                          "key": "getWitnessStandbyAllowance",
                          "value": 115200000000
                        },
                        {
                          "key": "getCreateNewAccountFeeInSystemContract",
                          "value": 1000000
                        },
                        {
                          "key": "getCreateNewAccountBandwidthRate",
                          "value": 1
                        },
                        {
                          "key": "getAllowCreationOfContracts",
                          "value": 1
                        },
                        {
                          "key": "getRemoveThePowerOfTheGr",
                          "value": 1
                        },
                        {
                          "key": "getEnergyFee",
                          "value": 140
                        },
                        {
                          "key": "getExchangeCreateFee",
                          "value": 1024000000
                        },
                        {
                          "key": "getMaxCpuTimeOfOneTx",
                          "value": 80
                        },
                        {
                          "key": "getAllowUpdateAccountName",
                          "value": 0
                        },
                        {
                          "key": "getAllowSameTokenName",
                          "value": 1
                        },
                        {
                          "key": "getAllowDelegateResource",
                          "value": 1
                        },
                        {
                          "key": "getTotalEnergyLimit",
                          "value": 90000000000
                        },
                        {
                          "key": "getAllowTvmTransferTrc10",
                          "value": 1
                        },
                        {
                          "key": "getTotalEnergyCurrentLimit",
                          "value": 90000000000
                        },
                        {
                          "key": "getAllowMultiSign",
                          "value": 1
                        },
                        {
                          "key": "getAllowAdaptiveEnergy",
                          "value": 1
                        },
                        {
                          "key": "getUpdateAccountPermissionFee",
                          "value": 100000000
                        },
                        {
                          "key": "getMultiSignFee",
                          "value": 1000000
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}