{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getcontractinfo TRON API",
    "version": "1.0.0",
    "description": "Get detailed contract information including ABI"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getcontractinfo": {
      "post": {
        "tags": [
          "Smart Contracts"
        ],
        "summary": "wallet/getcontractinfo",
        "operationId": "getContractInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Contract address to get information for"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to use visible (Base58) address format"
                  }
                },
                "required": ["value"],
                "example": {
                  "value": "TG3XXyExBkPp9nzdajDZsozEu4BkaSJozs",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Detailed contract information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "contract_address": {
                      "type": "string",
                      "description": "The contract address"
                    },
                    "bytecode": {
                      "type": "string",
                      "description": "Contract bytecode in hex format"
                    },
                    "name": {
                      "type": "string",
                      "description": "Contract name if available"
                    },
                    "abi": {
                      "type": "object",
                      "description": "Application Binary Interface"
                    },
                    "source_map": {
                      "type": "string",
                      "description": "Source code mapping for debugging"
                    },
                    "source_code": {
                      "type": "string",
                      "description": "Original contract source code"
                    },
                    "compiler_version": {
                      "type": "string",
                      "description": "Solidity compiler version used"
                    },
                    "consume_user_resource_percent": {
                      "type": "number",
                      "description": "Percentage of user resources consumed"
                    },
                    "origin_address": {
                      "type": "string",
                      "description": "Address that deployed the contract"
                    },
                    "origin_energy_limit": {
                      "type": "number",
                      "description": "Energy limit set by contract creator"
                    },
                    "contract_state": {
                      "type": "string",
                      "description": "Current state of the contract"
                    },
                    "code_hash": {
                      "type": "string",
                      "description": "Hash of the contract code"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}