{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getdelegatedresourcev2 TRON API",
    "version": "1.0.0",
    "description": "Get delegated resource information using Stake 2.0"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getdelegatedresourcev2": {
      "post": {
        "tags": [
          "Resource Management"
        ],
        "summary": "wallet/getdelegatedresourcev2",
        "operationId": "getDelegatedResourceV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fromAddress",
                  "toAddress"
                ],
                "properties": {
                  "fromAddress": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "toAddress": {
                    "type": "string",
                    "default": "TFgY1uN8buRxAtV2r6Zy5sG3ACko6pJT1y"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delegated resource information (Stake 2.0)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "delegatedResource": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "frozen_balance_for_bandwidth": {
                            "type": "integer"
                          },
                          "frozen_balance_for_energy": {
                            "type": "integer"
                          },
                          "expire_time_for_bandwidth": {
                            "type": "integer"
                          },
                          "expire_time_for_energy": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}