{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getdelegatedresourceaccountindexv2 TRON API",
    "version": "1.0.0",
    "description": "Get delegated resource account index using Stake 2.0"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getdelegatedresourceaccountindexv2": {
      "post": {
        "tags": [
          "Resource Management"
        ],
        "summary": "wallet/getdelegatedresourceaccountindexv2",
        "operationId": "getDelegatedResourceAccountIndexV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Delegated resource account index (Stake 2.0)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account": {
                      "type": "string"
                    },
                    "fromAccounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "toAccounts": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}