{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getmarketorderlistbypair TRON API",
    "version": "1.0.0",
    "description": "List market orders by trading pair"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getmarketorderlistbypair": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/getmarketorderlistbypair",
        "operationId": "getMarketOrderListByPair",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sell_token_id": {
                    "type": "string",
                    "description": "TRC10 token ID being sold, as a numeric string (for example, '1000006')."
                  },
                  "buy_token_id": {
                    "type": "string",
                    "description": "TRC10 token ID being purchased, as a numeric string."
                  },
                  "offset": {
                    "type": "number",
                    "description": "Starting position for pagination (default: 0)"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of orders to return (default: 20, max: 100)"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Some node builds require `visible: true` for this endpoint.",
                    "default": true
                  }
                },
                "required": ["sell_token_id", "buy_token_id"],
                "example": {
                  "sell_token_id": "1000006",
                  "buy_token_id": "1000001",
                  "offset": 0,
                  "limit": 20,
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market orders for trading pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orders": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "order_id": {
                            "type": "string",
                            "description": "Unique identifier for the market order"
                          },
                          "owner_address": {
                            "type": "string",
                            "description": "Order creator address"
                          },
                          "create_time": {
                            "type": "number",
                            "description": "Order creation timestamp"
                          },
                          "sell_token_id": {
                            "type": "string",
                            "description": "Token ID being sold"
                          },
                          "sell_token_quantity": {
                            "type": "string",
                            "description": "Quantity of tokens being sold"
                          },
                          "buy_token_id": {
                            "type": "string",
                            "description": "Token ID being purchased"
                          },
                          "buy_token_quantity": {
                            "type": "string",
                            "description": "Quantity of tokens being purchased"
                          },
                          "sell_token_quantity_remain": {
                            "type": "string",
                            "description": "Remaining quantity for sale"
                          },
                          "buy_token_quantity_remain": {
                            "type": "string",
                            "description": "Remaining quantity to purchase"
                          },
                          "state": {
                            "type": "string",
                            "description": "Order status"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
