{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getmarketpricebypair TRON API",
    "version": "1.0.0",
    "description": "Get market price for trading pair"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getmarketpricebypair": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/getmarketpricebypair",
        "operationId": "getMarketPriceByPair",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sell_token_id": {
                    "type": "string",
                    "description": "Token ID being sold (empty string for TRX)"
                  },
                  "buy_token_id": {
                    "type": "string",
                    "description": "Token ID being purchased (empty string for TRX)"
                  }
                },
                "required": ["sell_token_id", "buy_token_id"],
                "example": {
                  "sell_token_id": "",
                  "buy_token_id": "1002000"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market price for trading pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sell_token_id": {
                      "type": "string",
                      "description": "Token ID being sold"
                    },
                    "buy_token_id": {
                      "type": "string",
                      "description": "Token ID being purchased"
                    },
                    "prices": {
                      "type": "array",
                      "description": "Array of recent price points",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sell_token_quantity": {
                            "type": "string",
                            "description": "Quantity of sell token"
                          },
                          "buy_token_quantity": {
                            "type": "string",
                            "description": "Quantity of buy token"
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Price point timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}