{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getmarketpricebypair TRON API",
    "version": "1.0.0",
    "description": "Get market price for trading pair"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getmarketpricebypair": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/getmarketpricebypair",
        "operationId": "getMarketPriceByPair",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sell_token_id": {
                    "type": "string",
                    "description": "TRC10 token ID being sold, as a numeric string (e.g., '1000006')."
                  },
                  "buy_token_id": {
                    "type": "string",
                    "description": "TRC10 token ID being purchased, as a numeric string."
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Optional. Some node builds require `visible: true` for this endpoint.",
                    "default": true
                  }
                },
                "required": ["sell_token_id", "buy_token_id"],
                "example": {
                  "sell_token_id": "1000006",
                  "buy_token_id": "1000001",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market price for trading pair",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sell_token_id": {
                      "type": "string",
                      "description": "Token ID being sold"
                    },
                    "buy_token_id": {
                      "type": "string",
                      "description": "Token ID being purchased"
                    },
                    "prices": {
                      "type": "array",
                      "description": "Array of recent price points",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sell_token_quantity": {
                            "type": "string",
                            "description": "Quantity of sell token"
                          },
                          "buy_token_quantity": {
                            "type": "string",
                            "description": "Quantity of buy token"
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "Price point timestamp"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          ,
          "400": {
            "description": "Validation error or unsupported pair",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "Error": { "type": "string" } } },
                "example": {
                  "Error": "class org.tron.core.exception.BadItemException : sellTokenId is not a valid number"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
