{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getmerkletreevoucherinfo TRON API",
    "version": "1.0.0",
    "description": "Get merkle tree voucher information for cryptographic proof verification"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getmerkletreevoucherinfo": {
      "post": {
        "tags": [
          "Privacy Operations"
        ],
        "summary": "wallet/getmerkletreevoucherinfo",
        "operationId": "getMerkleTreeVoucherInfo",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "output_point",
                  "ak",
                  "nk",
                  "position"
                ],
                "properties": {
                  "output_point": {
                    "type": "string",
                    "description": "The output point for the merkle tree voucher",
                    "default": "030c8c2bc59fb3eb8c12157b4d7ddd4b2d6cf2c5b3f1a2c3d4e5f6071819202122"
                  },
                  "ak": {
                    "type": "string",
                    "description": "Authentication key for the voucher",
                    "default": "1a2b3c4d5e6f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b"
                  },
                  "nk": {
                    "type": "string",
                    "description": "Nullifier key for the voucher",
                    "default": "9f8e7d6c5b4a39281706f5e4d3c2b1a09f8e7d6c5b4a39281706f5e4d3c2b1a0"
                  },
                  "position": {
                    "type": "integer",
                    "description": "Position in the merkle tree",
                    "default": 12345
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Merkle tree voucher information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voucher_info": {
                      "type": "object",
                      "description": "Voucher information object"
                    },
                    "paths": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of merkle tree path elements"
                    },
                    "anchors": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of anchor values for the merkle tree"
                    },
                    "rt": {
                      "type": "string",
                      "description": "Merkle tree root"
                    },
                    "output_point_info": {
                      "type": "object",
                      "description": "Detailed information about the output point"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}