{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getmarketpairlist TRON API",
    "version": "1.0.0",
    "description": "List all market trading pairs"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getmarketpairlist": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/getmarketpairlist",
        "operationId": "getMarketPairList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All available trading pairs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "orderPair": {
                      "type": "array",
                      "description": "Array of trading pair objects",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sell_token_id": {
                            "type": "string",
                            "description": "Token ID for sell side (empty for TRX)"
                          },
                          "buy_token_id": {
                            "type": "string",
                            "description": "Token ID for buy side (empty for TRX)"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}