{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getmarketorderbyid TRON API",
    "version": "1.0.0",
    "description": "Get market order details by ID"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getmarketorderbyid": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/getmarketorderbyid",
        "operationId": "getMarketOrderById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "order_id": {
                    "type": "string",
                    "description": "Unique identifier of the market order (hex string)"
                  }
                },
                "required": ["order_id"],
                "example": {
                  "order_id": "0x1234567890abcdef1234567890abcdef12345678"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "order_id": {
                      "type": "string",
                      "description": "Unique identifier for the market order"
                    },
                    "owner_address": {
                      "type": "string",
                      "description": "Order creator address"
                    },
                    "create_time": {
                      "type": "number",
                      "description": "Order creation timestamp"
                    },
                    "sell_token_id": {
                      "type": "string",
                      "description": "Token ID being sold (empty for TRX)"
                    },
                    "sell_token_quantity": {
                      "type": "string",
                      "description": "Original quantity of tokens being sold"
                    },
                    "buy_token_id": {
                      "type": "string",
                      "description": "Token ID being purchased (empty for TRX)"
                    },
                    "buy_token_quantity": {
                      "type": "string",
                      "description": "Original quantity of tokens being purchased"
                    },
                    "sell_token_quantity_remain": {
                      "type": "string",
                      "description": "Remaining quantity for sale"
                    },
                    "buy_token_quantity_remain": {
                      "type": "string",
                      "description": "Remaining quantity to purchase"
                    },
                    "state": {
                      "type": "string",
                      "description": "Order status"
                    },
                    "prev": {
                      "type": "string",
                      "description": "Previous order ID in order book"
                    },
                    "next": {
                      "type": "string",
                      "description": "Next order ID in order book"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}