{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getnextmaintenancetime TRON API",
    "version": "1.0.0",
    "description": "Get next maintenance window time"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getnextmaintenancetime": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/getnextmaintenancetime",
        "operationId": "getNextMaintenanceTime",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Next maintenance window time",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "num": {
                      "type": "number",
                      "description": "Timestamp of next maintenance window in milliseconds"
                    }
                  }
                },
                "example": {
                  "num": 1693468800000
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}