{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getnowblock TRON API",
    "version": "1.0.0",
    "description": "Get the current latest block from the TRON blockchain"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getnowblock": {
      "post": {
        "tags": [
          "Block Operations"
        ],
        "summary": "wallet/getnowblock",
        "operationId": "getNowBlock",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Current block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object"
                        },
                        "witness_signature": {
                          "type": "string"
                        }
                      }
                    },
                    "transactions": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}