{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getnewshieldedaddress TRON API",
    "version": "1.0.0",
    "description": "Generate a complete new shielded address with all necessary keys"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getnewshieldedaddress": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getnewshieldedaddress",
        "operationId": "getNewShieldedAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated new shielded address with full key set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sk": {
                      "type": "string",
                      "description": "Spending key (private key, 64 hex characters, no 0x prefix)",
                      "example": "02a1b2c3d4e5f67890123456789012345678901234567890123456789012345678"
                    },
                    "ask": {
                      "type": "string",
                      "description": "Authentication secret key (64 hex characters, no 0x prefix)",
                      "example": "0f63eabdfe2bbfe08012f6bb2db024e6809c16e8ed055aa41a6095424f192005"
                    },
                    "nsk": {
                      "type": "string",
                      "description": "Nullifier secret key (64 hex characters, no 0x prefix)",
                      "example": "590bf33f93f792be659fd404df91e75c3b08d38d4e08ee226c3f5219cf598f14"
                    },
                    "ovk": {
                      "type": "string",
                      "description": "Outgoing viewing key (64 hex characters, no 0x prefix)",
                      "example": "0ff58efd75e083fe4fd759c8701e1c8cb6961c4297a12b2c800bdb7b2bcab889"
                    },
                    "ak": {
                      "type": "string",
                      "description": "Authentication key (64 hex characters, no 0x prefix)",
                      "example": "8072d9110c9de9d9ade33d5d0f5890a7aa65b0cde42af7816d187297caf2fd64"
                    },
                    "nk": {
                      "type": "string",
                      "description": "Nullifier key (64 hex characters, no 0x prefix)",
                      "example": "590bf33f93f792be659fd404df91e75c3b08d38d4e08ee226c3f5219cf598f14"
                    },
                    "ivk": {
                      "type": "string",
                      "description": "Incoming viewing key (64 hex characters, no 0x prefix)",
                      "example": "9f8e74bb3d7188a2781dc1db38810c6914eef4570a79e8ec8404480948e4e305"
                    },
                    "d": {
                      "type": "string",
                      "description": "Diversifier (22 hex characters, no 0x prefix)",
                      "example": "06e5f678901234567890ab"
                    },
                    "pkD": {
                      "type": "string",
                      "description": "Payment address public key (64 hex characters, no 0x prefix)",
                      "example": "a1b2c3d4e5f6789012345678901234567890123456789012345678901234abcd"
                    },
                    "payment_address": {
                      "type": "string",
                      "description": "Complete shielded payment address (ztron1 format, 78 characters)",
                      "example": "ztron1768kf7dy4qquefp46szk978d65eeua66yhr4zv260c0uzj68t3tfjl3en9lhyyfxalv4jus30xs"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}