{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getnewshieldedaddress TRON API",
    "version": "1.0.0",
    "description": "Generate a complete new shielded address with all necessary keys"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getnewshieldedaddress": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getnewshieldedaddress",
        "operationId": "getNewShieldedAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated new shielded address with full key set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sk": {
                      "type": "string",
                      "description": "Spending key (private key)",
                      "example": "0x02a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                    },
                    "ask": {
                      "type": "string",
                      "description": "Authentication secret key"
                    },
                    "nsk": {
                      "type": "string",
                      "description": "Nullifier secret key"
                    },
                    "ovk": {
                      "type": "string",
                      "description": "Outgoing viewing key"
                    },
                    "ak": {
                      "type": "string",
                      "description": "Authentication key"
                    },
                    "nk": {
                      "type": "string",
                      "description": "Nullifier key"
                    },
                    "ivk": {
                      "type": "string",
                      "description": "Incoming viewing key"
                    },
                    "d": {
                      "type": "string",
                      "description": "Diversifier"
                    },
                    "pkD": {
                      "type": "string",
                      "description": "Payment address public key"
                    },
                    "payment_address": {
                      "type": "string",
                      "description": "Complete shielded payment address",
                      "example": "ztron1abcdefghijk123456789..."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}