{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getproposalbyid TRON API",
    "version": "1.0.0",
    "description": "Get detailed information about a specific governance proposal"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getproposalbyid": {
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "wallet/getproposalbyid",
        "operationId": "getProposalById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proposal information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "proposal_id": {
                      "type": "integer"
                    },
                    "proposer_address": {
                      "type": "string"
                    },
                    "parameters": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "integer"
                      }
                    },
                    "expiration_time": {
                      "type": "integer"
                    },
                    "create_time": {
                      "type": "integer"
                    },
                    "approvals": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "state": {
                      "type": "string",
                      "enum": ["PENDING", "DISAPPROVED", "APPROVED", "CANCELED"]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}