{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getpaginatedproposallist TRON API",
    "version": "1.0.0",
    "description": "Get paginated list of governance proposals"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getpaginatedproposallist": {
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "wallet/getpaginatedproposallist",
        "operationId": "getPaginatedProposalList",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "integer",
                    "default": 0,
                    "minimum": 0
                  },
                  "limit": {
                    "type": "integer",
                    "default": 10,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of proposals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "proposals": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "proposal_id": {
                            "type": "integer"
                          },
                          "proposer_address": {
                            "type": "string"
                          },
                          "parameters": {
                            "type": "object",
                            "additionalProperties": {
                              "type": "integer"
                            }
                          },
                          "expiration_time": {
                            "type": "integer"
                          },
                          "create_time": {
                            "type": "integer"
                          },
                          "approvals": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "state": {
                            "type": "string",
                            "enum": ["PENDING", "DISAPPROVED", "APPROVED", "CANCELED"]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}