{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getpaginatedassetissuelist TRON API",
    "version": "1.0.0",
    "description": "Get paginated list of all TRC10 tokens"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getpaginatedassetissuelist": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/getpaginatedassetissuelist",
        "operationId": "getPaginatedAssetIssueList",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "offset": {
                    "type": "number",
                    "description": "Number of records to skip from the beginning"
                  },
                  "limit": {
                    "type": "number",
                    "description": "Maximum number of tokens to return"
                  }
                },
                "required": ["offset", "limit"],
                "example": {
                  "offset": 0,
                  "limit": 20
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paginated list of TRC10 tokens",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "assetIssue": {
                      "type": "array",
                      "description": "Array of TRC10 token information",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique token ID"
                          },
                          "owner_address": {
                            "type": "string",
                            "description": "Address of token issuer"
                          },
                          "name": {
                            "type": "string",
                            "description": "Token name in hex format"
                          },
                          "abbr": {
                            "type": "string",
                            "description": "Token abbreviation in hex format"
                          },
                          "total_supply": {
                            "type": "number",
                            "description": "Total supply of the token"
                          },
                          "trx_num": {
                            "type": "number",
                            "description": "TRX amount in exchange ratio"
                          },
                          "precision": {
                            "type": "number",
                            "description": "Token decimal places"
                          },
                          "num": {
                            "type": "number",
                            "description": "Token amount in exchange ratio"
                          },
                          "start_time": {
                            "type": "number",
                            "description": "Token sale start timestamp"
                          },
                          "end_time": {
                            "type": "number",
                            "description": "Token sale end timestamp"
                          },
                          "description": {
                            "type": "string",
                            "description": "Token description in hex format"
                          },
                          "url": {
                            "type": "string",
                            "description": "Token website URL in hex format"
                          },
                          "free_asset_net_limit": {
                            "type": "number",
                            "description": "Free bandwidth allocation per account"
                          },
                          "public_free_asset_net_limit": {
                            "type": "number",
                            "description": "Total public free bandwidth limit"
                          },
                          "frozen_supply": {
                            "type": "array",
                            "description": "Frozen token supply details"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}