{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getreward TRON API",
    "version": "1.0.0",
    "description": "Get witness rewards information"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getreward": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/getreward",
        "operationId": "getReward",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account address in hex format"
                  }
                },
                "required": ["address"],
                "example": {
                  "address": "41b487cdb2d8dc7b2a8e5e7e7b4e3e8b8b8b8b8b"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Witness rewards information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reward": {
                      "type": "number",
                      "description": "Total reward amount in sun (1 TRX = 1,000,000 sun)"
                    }
                  }
                },
                "example": {
                  "reward": 1500000000
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}