{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/gettransactionlistfrompending TRON API",
    "version": "1.0.0",
    "description": "Get list of all pending transactions from mempool"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/gettransactionlistfrompending": {
      "get": {
        "tags": [
          "Pending Transactions"
        ],
        "summary": "wallet/gettransactionlistfrompending",
        "operationId": "getTransactionListFromPending",
        "responses": {
          "200": {
            "description": "List of all pending transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactions": {
                      "type": "array",
                      "description": "Array of pending transaction objects",
                      "items": {
                        "type": "object",
                        "properties": {
                          "txID": {
                            "type": "string",
                            "description": "Unique transaction identifier hash",
                            "example": "f34f1c799700a9d83b67fdcadd7be697010a8dbbcd520de4ac46a648e3e7ae3d"
                          },
                          "raw_data": {
                            "type": "object",
                            "properties": {
                              "contract": {
                                "type": "array",
                                "description": "Transaction contract details",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "type": {
                                      "type": "string",
                                      "example": "TransferContract"
                                    },
                                    "parameter": {
                                      "type": "object"
                                    }
                                  }
                                }
                              },
                              "ref_block_bytes": {
                                "type": "string",
                                "description": "Reference block bytes for validation",
                                "example": "6f80"
                              },
                              "ref_block_hash": {
                                "type": "string",
                                "description": "Hash of the reference block",
                                "example": "1c9c4b8c43c5e0b1"
                              },
                              "expiration": {
                                "type": "integer",
                                "description": "Transaction expiration timestamp",
                                "example": 1704067260000
                              },
                              "timestamp": {
                                "type": "integer",
                                "description": "Transaction creation timestamp",
                                "example": 1704067200000
                              },
                              "fee_limit": {
                                "type": "integer",
                                "description": "Maximum fee allowed for this transaction",
                                "example": 100000000
                              }
                            }
                          },
                          "signature": {
                            "type": "array",
                            "description": "Array of transaction signatures",
                            "items": {
                              "type": "string"
                            }
                          },
                          "ret": {
                            "type": "array",
                            "description": "Transaction result information",
                            "items": {
                              "type": "object",
                              "properties": {
                                "contractRet": {
                                  "type": "string",
                                  "example": "SUCCESS"
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}