{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/gettransactionbyid TRON API",
    "version": "1.0.0",
    "description": "Get transaction details by transaction ID"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/gettransactionbyid": {
      "post": {
        "tags": [
          "Transaction Operations"
        ],
        "summary": "wallet/gettransactionbyid",
        "operationId": "getTransactionById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "default": "d5ec749ecc2a615399d6573b3550650b4e6606d9ff0d123cd5bdc0bc6a33b0a2"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ret": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contractRet": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "signature": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "txID": {
                      "type": "string"
                    },
                    "net_usage": {
                      "type": "integer"
                    },
                    "raw_data_hex": {
                      "type": "string"
                    },
                    "net_fee": {
                      "type": "integer"
                    },
                    "energy_usage": {
                      "type": "integer"
                    },
                    "blockNumber": {
                      "type": "integer"
                    },
                    "block_timestamp": {
                      "type": "integer"
                    },
                    "contract_result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}