{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/gettransactioninfobyblocknum TRON API",
    "version": "1.0.0",
    "description": "Get transaction info for all transactions in a block"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/gettransactioninfobyblocknum": {
      "post": {
        "tags": [
          "Transaction Info"
        ],
        "summary": "wallet/gettransactioninfobyblocknum",
        "operationId": "getTransactionInfoByBlockNum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num"
                ],
                "properties": {
                  "num": {
                    "type": "integer",
                    "default": 66677878
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction information for all transactions in the block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "fee": {
                        "type": "integer"
                      },
                      "blockNumber": {
                        "type": "integer"
                      },
                      "blockTimeStamp": {
                        "type": "integer"
                      },
                      "contractResult": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "receipt": {
                        "type": "object"
                      },
                      "log": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}