{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/gettransactioninfobyid TRON API",
    "version": "1.0.0",
    "description": "Get transaction receipt and execution information by transaction ID"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/gettransactioninfobyid": {
      "post": {
        "tags": [
          "Transaction Operations"
        ],
        "summary": "wallet/gettransactioninfobyid",
        "operationId": "getTransactionInfoById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "The transaction ID (hash) in hexadecimal format"
                  }
                },
                "required": ["value"],
                "example": {
                  "value": "4c85b7a5c6e1d5f6e1d5c6f7e1d5c6f7e1d5c6f7e1d5c6f7e1d5c6f7e1d5c6f7"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction receipt and execution information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Transaction ID"
                    },
                    "blockNumber": {
                      "type": "number",
                      "description": "Block number where transaction was included"
                    },
                    "blockTimeStamp": {
                      "type": "number",
                      "description": "Block timestamp in milliseconds"
                    },
                    "contractResult": {
                      "type": "array",
                      "description": "Smart contract execution results",
                      "items": {
                        "type": "string"
                      }
                    },
                    "contract_address": {
                      "type": "string",
                      "description": "Contract address if contract creation transaction"
                    },
                    "receipt": {
                      "type": "object",
                      "properties": {
                        "energy_usage": {
                          "type": "number",
                          "description": "Energy consumed by the transaction"
                        },
                        "energy_fee": {
                          "type": "number",
                          "description": "Energy fee in SUN"
                        },
                        "origin_energy_usage": {
                          "type": "number",
                          "description": "Original energy usage"
                        },
                        "energy_usage_total": {
                          "type": "number",
                          "description": "Total energy usage"
                        },
                        "net_usage": {
                          "type": "number",
                          "description": "Bandwidth consumed"
                        },
                        "net_fee": {
                          "type": "number",
                          "description": "Bandwidth fee in SUN"
                        },
                        "result": {
                          "type": "string",
                          "description": "Transaction execution result"
                        }
                      }
                    },
                    "log": {
                      "type": "array",
                      "description": "Event logs from smart contract execution",
                      "items": {
                        "type": "object"
                      }
                    },
                    "result": {
                      "type": "string",
                      "description": "Overall transaction result status"
                    },
                    "resMessage": {
                      "type": "string",
                      "description": "Result message if transaction failed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}