{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/isshieldedtrc20contractnotespent TRON API",
    "version": "1.0.0",
    "description": "Check if shielded TRC20 contract notes have been spent"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/isshieldedtrc20contractnotespent": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/isshieldedtrc20contractnotespent",
        "operationId": "isShieldedTRC20ContractNoteSpent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "note",
                  "ak",
                  "nk",
                  "position",
                  "shielded_TRC20_contract_address"
                ],
                "properties": {
                  "note": {
                    "type": "object",
                    "description": "The note to check for spending status",
                    "required": ["value", "payment_address", "rcm"],
                    "properties": {
                      "value": {
                        "type": "integer",
                        "description": "Scaled value (multiplied by contract's scalingFactor)",
                        "example": 40
                      },
                      "payment_address": {
                        "type": "string",
                        "description": "Shielded payment address",
                        "example": "ztron1768kf7dy4qquefp46szk978d65eeua66yhr4zv260c0uzj68t3tfjl3en9lhyyfxalv4jus30xs"
                      },
                      "rcm": {
                        "type": "string",
                        "description": "Random commitment trapdoor (64 hex characters, no 0x prefix)",
                        "example": "296070782a94c6936b0b4f6daf8d7c7605a4374fe595b96148dc0f4b59015d0d"
                      }
                    }
                  },
                  "ak": {
                    "type": "string",
                    "description": "Authorization key (64 hex characters, no 0x prefix)",
                    "example": "8072d9110c9de9d9ade33d5d0f5890a7aa65b0cde42af7816d187297caf2fd64"
                  },
                  "nk": {
                    "type": "string",
                    "description": "Nullifier key (64 hex characters, no 0x prefix)",
                    "example": "590bf33f93f792be659fd404df91e75c3b08d38d4e08ee226c3f5219cf598f14"
                  },
                  "position": {
                    "type": "integer",
                    "description": "Leaf position index in Merkle tree",
                    "example": 272
                  },
                  "shielded_TRC20_contract_address": {
                    "type": "string",
                    "description": "Shielded TRC20 contract address (hex format, no 0x prefix)",
                    "example": "41274fc7464fadac5c00c893c58bce6c39bf59e4c7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully checked nullifier spending status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "is_spent": {
                      "type": "boolean",
                      "description": "Whether the note has been spent (true = spent, false = unspent)",
                      "example": false
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}