{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/isshieldedtrc20contractnotespent TRON API",
    "version": "1.0.0",
    "description": "Check if shielded TRC20 contract notes have been spent"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/isshieldedtrc20contractnotespent": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/isshieldedtrc20contractnotespent",
        "operationId": "isShieldedTRC20ContractNoteSpent",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "nullifiers",
                  "shielded_TRC20_contract_address"
                ],
                "properties": {
                  "nullifiers": {
                    "type": "array",
                    "description": "Array of nullifiers to check for spending status",
                    "items": {
                      "type": "string",
                      "example": "0x1446f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7"
                    }
                  },
                  "shielded_TRC20_contract_address": {
                    "type": "string",
                    "description": "Shielded TRC20 contract address",
                    "example": "TGzz8gjYiYRqpfmDwnLxfgPuLVNmpCswVp"
                  },
                  "block_num": {
                    "type": "integer",
                    "description": "Optional block number to check status at specific height",
                    "example": 10001000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully checked nullifier spending status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "spent_status": {
                      "type": "array",
                      "description": "Array indicating spending status of each nullifier",
                      "items": {
                        "type": "object",
                        "properties": {
                          "nullifier": {
                            "type": "string",
                            "description": "The nullifier that was checked",
                            "example": "0x1446f7a8b9c0d1e2f3a4b5c6d7e8f9a0b1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7"
                          },
                          "spent": {
                            "type": "boolean",
                            "description": "Whether the nullifier has been used (true = spent, false = unspent)",
                            "example": false
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}