{
  "openapi": "3.0.0",
  "info": {
    "title": "web3_sha3 example",
    "version": "1.0.0",
    "description": "This is an API example for web3_sha3, a method to compute Keccak-256 hash of the given data on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "web3_sha3",
        "operationId": "web3Sha3",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "web3_sha3"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x68656c6c6f20776f726c64"
                    ],
                    "items": {
                      "type": "string",
                      "description": "Hex-encoded data to be hashed"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keccak-256 hash of the input data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "Hex-encoded Keccak-256 hash of the input data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}