{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getLogs example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getLogs, a method to get event logs matching specified filter criteria on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_getLogs": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_getLogs",
        "operationId": "getLogs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getLogs"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "fromBlock": "0x1",
                        "toBlock": "0x2",
                        "address": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
                        "topics": [
                          "0x000000000000000000000000a94f5374fce5edbc8e2a8697c15331677e6ebf0b"
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "description": "Filter object with fromBlock, toBlock, address, and topics"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of log objects matching the filter criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of log objects matching the filter criteria"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}