{
  "openapi": "3.0.0",
  "info": {
    "title": "jsonrpc eth_getTransactionByBlockNumberAndIndex TRON API",
    "version": "1.0.0",
    "description": "Get transaction by block number and index using Ethereum-compatible JSON-RPC"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc": {
      "post": {
        "tags": [
          "JSON-RPC Compatibility"
        ],
        "summary": "eth_getTransactionByBlockNumberAndIndex",
        "operationId": "ethGetTransactionByBlockNumberAndIndex",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_getTransactionByBlockNumberAndIndex"
                    ],
                    "default": "eth_getTransactionByBlockNumberAndIndex"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0xfb82f0",
                      "0x0"
                    ],
                    "minItems": 2,
                    "maxItems": 2
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "default": 64
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction object or null if not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ],
                      "example": 64
                    },
                    "result": {
                      "type": "object",
                      "nullable": true,
                      "description": "Transaction object with Ethereum-compatible fields or null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}