{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_uninstallFilter example",
    "version": "1.0.0",
    "description": "This is an API example for eth_uninstallFilter, a method to uninstall a previously created filter on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_uninstallFilter",
        "operationId": "uninstallFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_uninstallFilter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 71
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0xc11a84d5e906ecb9f5c1eb65ee940b154ad37dce8f5ac29c80764508b901d996"
                    ],
                    "items": {
                      "type": "string",
                      "description": "The filter ID returned by eth_newFilter or eth_newBlockFilter"
                    },
                    "minItems": 1,
                    "maxItems": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Boolean indicating whether the filter was successfully uninstalled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "boolean",
                      "description": "True if the filter was successfully uninstalled, false otherwise"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}