{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_call example",
    "version": "1.0.0",
    "description": "This is an API example for eth_call, a method to execute a contract call without creating a transaction on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_call",
        "operationId": "call",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_call"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "to": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
                        "data": "0x70a08231000000000000000000000000a94f5374fce5edbc8e2a8697c15331677e6ebf0b"
                      },
                      "latest"
                    ],
                    "items": {
                      "oneOf": [
                        { "type": "object", "description": "Transaction object with to, from, gas, gasPrice, value, data fields" },
                        { "type": "string", "description": "Block parameter (latest, earliest, pending, or hex block number)" }
                      ]
                    },
                    "minItems": 2,
                    "maxItems": 2
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return value of the executed contract function",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The return value of the executed contract function as hex string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}