{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getStorageAt example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getStorageAt, a method to get storage value at a specific position for a contract on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_getStorageAt": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_getStorageAt",
        "operationId": "getStorageAt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getStorageAt"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "0x407d73d8a49eeb85d32cf465507dd71d507100c1",
                      "0x0",
                      "latest"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "minItems": 3,
                    "maxItems": 3
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Storage value at the specified position",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The value at the storage position as hex string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}