{
  "openapi": "3.0.0",
  "info": {
    "title": "jsonrpc eth_getBlockTransactionCountByHash TRON API",
    "version": "1.0.0",
    "description": "Get number of transactions in a block by hash using Ethereum-compatible JSON-RPC"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_getBlockTransactionCountByHash": {
      "post": {
        "tags": [
          "JSON-RPC Compatibility"
        ],
        "summary": "eth_getBlockTransactionCountByHash",
        "operationId": "ethGetBlockTransactionCountByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_getBlockTransactionCountByHash"
                    ],
                    "default": "eth_getBlockTransactionCountByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0x00000000020ef11c87517739090601aa0a7be1de6faebf35ddb14e7ab7d1cc5b"
                    ]
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Number of transactions in the specified block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ],
                      "example": 1
                    },
                    "result": {
                      "type": "string",
                      "description": "Number of transactions in the block as hexadecimal",
                      "example": "0x1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}