{
  "openapi": "3.0.0",
  "info": {
    "title": "net_peerCount example",
    "version": "1.0.0",
    "description": "This is an API example for net_peerCount, a method to get the number of peers connected to the client on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/net_peerCount": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "net_peerCount",
        "operationId": "netPeerCount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "net_peerCount"
                  },
                  "id": {
                    "type": "integer",
                    "default": 64
                  },
                  "params": {
                    "type": "array",
                    "default": [],
                    "items": {},
                    "description": "Empty array - no parameters required"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Hex-encoded number of connected peers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "Hex-encoded string representing the number of connected peers"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}