{
  "openapi": "3.0.0",
  "info": {
    "title": "jsonrpc eth_syncing TRON API",
    "version": "1.0.0",
    "description": "Get blockchain synchronization status using Ethereum-compatible JSON-RPC"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc": {
      "post": {
        "tags": [
          "JSON-RPC Compatibility"
        ],
        "summary": "eth_syncing",
        "operationId": "ethSyncing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_syncing"
                    ],
                    "default": "eth_syncing"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": []
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "default": 64
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sync status object or false if not syncing",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ],
                      "example": 64
                    },
                    "result": {
                      "oneOf": [
                        {
                          "type": "boolean",
                          "description": "False if not syncing",
                          "example": false
                        },
                        {
                          "type": "object",
                          "description": "Sync status object",
                          "properties": {
                            "startingBlock": {
                              "type": "string",
                              "description": "Block at which sync started"
                            },
                            "currentBlock": {
                              "type": "string",
                              "description": "Current block being processed"
                            },
                            "highestBlock": {
                              "type": "string",
                              "description": "Highest known block"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}