{
  "openapi": "3.0.0",
  "info": {
    "title": "jsonrpc eth_getWork TRON API",
    "version": "1.0.0",
    "description": "Get work data including block hash, seed hash and boundary condition using Ethereum-compatible JSON-RPC"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_getWork": {
      "post": {
        "tags": [
          "JSON-RPC Compatibility"
        ],
        "summary": "eth_getWork",
        "operationId": "ethGetWork",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_getWork"
                    ],
                    "default": "eth_getWork"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": [],
                    "minItems": 0,
                    "maxItems": 0
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "default": 73
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Work data or null if not available",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ],
                      "example": 73
                    },
                    "result": {
                      "type": "array",
                      "nullable": true,
                      "description": "Array containing [current block hash, seed hash, boundary condition] or null",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}