{
  "openapi": "3.0.0",
  "info": {
    "title": "jsonrpc eth_accounts TRON API",
    "version": "1.0.0",
    "description": "Get list of addresses owned by client using Ethereum-compatible JSON-RPC"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc": {
      "post": {
        "tags": [
          "JSON-RPC Compatibility"
        ],
        "summary": "eth_accounts",
        "operationId": "ethAccounts",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "params",
                  "id"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "eth_accounts"
                    ],
                    "default": "eth_accounts"
                  },
                  "params": {
                    "type": "array",
                    "items": {},
                    "default": []
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "integer"
                      }
                    ],
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of addresses owned by the client",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "integer"
                        }
                      ],
                      "example": 1
                    },
                    "result": {
                      "type": "array",
                      "description": "Array of addresses owned by the client",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "0x407d73d8a49eeb85d32cf465507dd71d507100c1"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}