{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_getBlockByNumber example",
    "version": "1.0.0",
    "description": "This is an API example for eth_getBlockByNumber, a method to get block information by block number on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_getBlockByNumber": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_getBlockByNumber",
        "operationId": "getBlockByNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockByNumber"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      "latest",
                      true
                    ],
                    "items": [
                      {
                        "type": "string",
                        "description": "Block number in hex format or 'latest', 'earliest', 'pending'"
                      },
                      {
                        "type": "boolean",
                        "description": "If true, return full transaction objects; if false, only hashes"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Block information including transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "Block object containing block information"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}