{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_estimateGas example",
    "version": "1.0.0",
    "description": "This is an API example for eth_estimateGas, a method to estimate gas needed to execute a transaction on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_estimateGas": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_estimateGas",
        "operationId": "estimateGas",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_estimateGas"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "to": "0xa94f5374fce5edbc8e2a8697c15331677e6ebf0b",
                        "from": "0xb60e8dd61c5d32be8058bb8eb970870f07233155",
                        "value": "0x9184e72a"
                      }
                    ],
                    "items": {
                      "type": "object",
                      "description": "Transaction object with to, from, gas, gasPrice, value, data fields"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimated gas amount needed for the transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "The estimated gas amount as hex string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}