{
  "openapi": "3.0.0",
  "info": {
    "title": "eth_newFilter example",
    "version": "1.0.0",
    "description": "This is an API example for eth_newFilter, a method to create a filter object for event log notifications on the TRON network through Ethereum-compatible JSON-RPC interface."
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/jsonrpc/eth_newFilter": {
      "post": {
        "tags": [
          "TRON JSON-RPC Operations"
        ],
        "summary": "eth_newFilter",
        "operationId": "newFilter",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "method",
                  "id",
                  "params"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_newFilter"
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "params": {
                    "type": "array",
                    "default": [
                      {
                        "address": [
                          "cc2e32f2388f0096fae9b055acffd76d4b3e5532",
                          "E518C608A37E2A262050E10BE0C9D03C7A0877F3"
                        ],
                        "fromBlock": "0x989680",
                        "toBlock": "0x9959d0",
                        "topics": [
                          "0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef",
                          null,
                          [
                            "0x0000000000000000000000001806c11be0f9b9af9e626a58904f3e5827b67be7",
                            "0x0000000000000000000000003c8fb6d064ceffc0f045f7b4aee6b3a4cefb4758"
                          ]
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "description": "Filter object with address, fromBlock, toBlock, and topics"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Filter ID for use with other filter methods",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "string",
                      "description": "A filter ID (hex-encoded string) for use with other filter methods"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}