{
  "openapi": "3.0.0",
  "info": {
    "title": "TRON API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/listexchanges": {
      "post": {
        "summary": "List all trading pairs on the decentralized exchange",
        "description": "Retrieves a list of all trading pairs available on the TRON decentralized exchange",
        "operationId": "listExchanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to return human-readable addresses",
                    "default": false
                  }
                }
              },
              "examples": {
                "default": {
                  "summary": "Default request",
                  "value": {
                    "visible": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with list of exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exchanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "exchange_id": {
                            "type": "integer",
                            "description": "Unique identifier for the exchange pair"
                          },
                          "creator_address": {
                            "type": "string",
                            "description": "Address that created the exchange pair"
                          },
                          "create_time": {
                            "type": "integer",
                            "description": "Timestamp when the exchange was created"
                          },
                          "first_token_id": {
                            "type": "string",
                            "description": "Token ID of the first token in the pair"
                          },
                          "first_token_balance": {
                            "type": "string",
                            "description": "Current balance of the first token"
                          },
                          "second_token_id": {
                            "type": "string",
                            "description": "Token ID of the second token in the pair"
                          },
                          "second_token_balance": {
                            "type": "string",
                            "description": "Current balance of the second token"
                          }
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "exchanges": [
                        {
                          "exchange_id": 1,
                          "creator_address": "TLyqzVGLV1srkB7dToTAEqgDSfPtXRJZYH",
                          "create_time": 1672531200000,
                          "first_token_id": "1000001",
                          "first_token_balance": "1000000000000",
                          "second_token_id": "_",
                          "second_token_balance": "5000000000"
                        },
                        {
                          "exchange_id": 2,
                          "creator_address": "TKcEU8ekq2ZoFzLSGBSC2xps5c4yssLYVB",
                          "create_time": 1672617600000,
                          "first_token_id": "1000002",
                          "first_token_balance": "500000000000",
                          "second_token_id": "1000001",
                          "second_token_balance": "2000000000000"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Error": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Error response",
                    "value": {
                      "Error": "Invalid request format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}