{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/listwitnesses TRON API",
    "version": "1.0.0",
    "description": "Get a list of all witnesses (validators) on the TRON network"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/listwitnesses": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/listwitnesses",
        "operationId": "listWitnesses",
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of all witnesses on the network",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "witnesses": {
                      "type": "array",
                      "description": "Array of witness information",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "Witness address in hex format"
                          },
                          "voteCount": {
                            "type": "number",
                            "description": "Total votes received by this witness"
                          },
                          "pubKey": {
                            "type": "string",
                            "description": "Public key of the witness"
                          },
                          "url": {
                            "type": "string",
                            "description": "Witness website URL"
                          },
                          "totalProduced": {
                            "type": "number",
                            "description": "Total blocks produced by this witness"
                          },
                          "totalMissed": {
                            "type": "number",
                            "description": "Total blocks missed by this witness"
                          },
                          "latestBlockNum": {
                            "type": "number",
                            "description": "Latest block number produced"
                          },
                          "latestSlotNum": {
                            "type": "number",
                            "description": "Latest slot number assigned"
                          },
                          "isJobs": {
                            "type": "boolean",
                            "description": "Whether witness is currently active"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}