{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/marketbuyasset TRON API",
    "version": "1.0.0",
    "description": "Create market buy order"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/marketbuyasset": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/marketbuyasset",
        "operationId": "marketBuyAsset",
        "deprecated": true,
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Account address placing the buy order"
                  },
                  "sell_token_id": {
                    "type": "string",
                    "description": "TRC10 token ID being offered, as a numeric string."
                  },
                  "sell_token_quantity": {
                    "type": "integer",
                    "description": "Amount to offer as an integer (token base units; if TRX, sun)."
                  },
                  "buy_token_id": {
                    "type": "string",
                    "description": "TRC10 token ID desired to purchase, as a numeric string."
                  },
                  "buy_token_quantity": {
                    "type": "integer",
                    "description": "Desired amount as an integer (token base units; if TRX, sun)."
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "When true, addresses are base58; when false, hex.",
                    "default": true
                  }
                },
                "required": ["owner_address", "sell_token_id", "sell_token_quantity", "buy_token_id", "buy_token_quantity"],
                "example": {
                  "owner_address": "THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC",
                  "sell_token_id": "1000006",
                  "sell_token_quantity": 100000000,
                  "buy_token_id": "1002000",
                  "buy_token_quantity": 1000000,
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market buy order transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for buy order"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for market buy order"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
