{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/marketcancelorder TRON API",
    "version": "1.0.0",
    "description": "Cancel a market order"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/marketcancelorder": {
      "post": {
        "tags": [
          "Market and DEX"
        ],
        "summary": "wallet/marketcancelorder",
        "operationId": "marketCancelOrder",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Account address that created the order"
                  },
                  "order_id": {
                    "type": "string",
                    "description": "Unique identifier of the order to cancel (hex string)"
                  }
                },
                "required": ["owner_address", "order_id"],
                "example": {
                  "owner_address": "41b487cdb2d8dc7b2a8e5e7e7b4e3e8b8b8b8b8b",
                  "order_id": "0x1234567890abcdef1234567890abcdef12345678"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order cancellation transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for order cancellation"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for order cancellation"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}