{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/participateassetissue TRON API",
    "version": "1.0.0",
    "description": "Participate in a TRC10 token offering"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/participateassetissue": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/participateassetissue",
        "operationId": "participateAssetIssue",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "to_address",
                  "asset_name",
                  "amount"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address participating in token offering",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "to_address": {
                    "type": "string",
                    "description": "Token issuer address",
                    "default": "TFgY1uN8buRxAtV2r6Zy5sG3ACko6pJT1y"
                  },
                  "asset_name": {
                    "type": "string",
                    "description": "Name or ID of the TRC10 token",
                    "default": "MyToken"
                  },
                  "amount": {
                    "type": "integer",
                    "description": "Amount of TRX to spend on tokens",
                    "default": 1000000
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Use base58 address format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned participate asset issue transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Address format indicator"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction hash"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Raw transaction data",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract array"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Hexadecimal raw transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}