{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/proposaldelete TRON API",
    "version": "1.0.0",
    "description": "Delete or cancel a governance proposal"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/proposaldelete": {
      "post": {
        "tags": [
          "Governance"
        ],
        "summary": "wallet/proposaldelete",
        "operationId": "proposalDelete",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "proposal_id"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "proposal_id": {
                    "type": "integer",
                    "default": 1
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Proposal deletion transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array"
                        },
                        "ref_block_bytes": {
                          "type": "string"
                        },
                        "ref_block_hash": {
                          "type": "string"
                        },
                        "expiration": {
                          "type": "integer"
                        },
                        "timestamp": {
                          "type": "integer"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string"
                    },
                    "signature": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}