{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getshieldedpaymentaddress TRON API",
    "version": "1.0.0",
    "description": "Generate shielded payment address from incoming viewing key and diversifier"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getShieldedPaymentAddress": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getshieldedpaymentaddress",
        "operationId": "getShieldedPaymentAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ivk",
                  "d"
                ],
                "properties": {
                  "ivk": {
                    "type": "string",
                    "description": "Incoming viewing key (ivk) as a 32‑byte (64‑hex) string without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{64}$",
                    "example": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
                  },
                  "d": {
                    "type": "string",
                    "description": "Diversifier as 11 bytes (22 hex) without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{22}$",
                    "example": "06a1b2c3d4e5f6789012ab"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated shielded payment address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pkd": {
                      "type": "string",
                      "description": "The payment address public key in hexadecimal format (no 0x prefix)",
                      "example": "07a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                    },
                    "payment_address": {
                      "type": "string",
                      "description": "The complete shielded payment address",
                      "example": "ztron1a2b3c4d5e6f7g8h9j0k1l2m3n4p5q6r7s8t9u0v1w2x3y4z5a6b7c8d9e0f1g2h3j4k5l6m7n8p9"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
