{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/scanshieldedtrc20notesbyivk TRON API",
    "version": "1.0.0",
    "description": "Scan for shielded TRC20 notes using incoming viewing key"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/scanshieldedtrc20notesbyivk": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/scanshieldedtrc20notesbyivk",
        "operationId": "scanShieldedTRC20NotesByIvk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start_block_index",
                  "end_block_index",
                  "ivk",
                  "ak",
                  "nk",
                  "shielded_TRC20_contract_address"
                ],
                "properties": {
                  "start_block_index": {
                    "type": "integer",
                    "description": "Starting block number for scanning",
                    "example": 10000000
                  },
                  "end_block_index": {
                    "type": "integer",
                    "description": "Ending block number for scanning",
                    "example": 10000001
                  },
                  "ivk": {
                    "type": "string",
                    "description": "Incoming viewing key for decrypting notes (64 hex characters, no 0x prefix)",
                    "example": "9f8e74bb3d7188a2781dc1db38810c6914eef4570a79e8ec8404480948e4e305"
                  },
                  "ak": {
                    "type": "string",
                    "description": "Authentication key for verification (64 hex characters, no 0x prefix)",
                    "example": "8072d9110c9de9d9ade33d5d0f5890a7aa65b0cde42af7816d187297caf2fd64"
                  },
                  "nk": {
                    "type": "string",
                    "description": "Nullifier key for note identification (64 hex characters, no 0x prefix)",
                    "example": "590bf33f93f792be659fd404df91e75c3b08d38d4e08ee226c3f5219cf598f14"
                  },
                  "shielded_TRC20_contract_address": {
                    "type": "string",
                    "description": "Shielded TRC20 contract address to scan (hex format, no 0x prefix)",
                    "example": "41274fc7464fadac5c00c893c58bce6c39bf59e4c7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully scanned for shielded notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "noteTxs": {
                      "type": "array",
                      "description": "Array of found shielded note transactions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "txid": {
                            "type": "string",
                            "description": "Transaction ID containing the note"
                          },
                          "index": {
                            "type": "integer",
                            "description": "Index of note within transaction"
                          },
                          "note": {
                            "type": "object",
                            "description": "Decrypted note details",
                            "properties": {
                              "value": {
                                "type": "integer",
                                "description": "Note value"
                              },
                              "payment_address": {
                                "type": "string",
                                "description": "Shielded payment address"
                              },
                              "rcm": {
                                "type": "string",
                                "description": "Randomness commitment"
                              },
                              "memo": {
                                "type": "string",
                                "description": "Optional memo field"
                              }
                            }
                          },
                          "position": {
                            "type": "integer",
                            "description": "Position in the merkle tree"
                          },
                          "is_spent": {
                            "type": "boolean",
                            "description": "Whether the note has been spent"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}