{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getspendingkey TRON API",
    "version": "1.0.0",
    "description": "Generate a new spending key for shielded TRC20 transactions"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getspendingkey": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getspendingkey",
        "operationId": "getSpendingKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated spending key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The generated spending key in hexadecimal format",
                      "example": "0x02a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}