{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/scanshieldedtrc20notesbyovk TRON API",
    "version": "1.0.0",
    "description": "Scan for shielded TRC20 notes using outgoing viewing key"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/scanshieldedtrc20notesbyovk": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/scanshieldedtrc20notesbyovk",
        "operationId": "scanShieldedTRC20NotesByOvk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start_block_index",
                  "end_block_index", 
                  "ovk",
                  "shielded_TRC20_contract_address"
                ],
                "properties": {
                  "start_block_index": {
                    "type": "integer",
                    "description": "Starting block number for scanning",
                    "example": 10000000
                  },
                  "end_block_index": {
                    "type": "integer",
                    "description": "Ending block number for scanning", 
                    "example": 10001000
                  },
                  "ovk": {
                    "type": "string",
                    "description": "Outgoing viewing key for decrypting sent notes",
                    "example": "0x06e5f6789012345678901234567890123456789012345678901234567890abcdef12"
                  },
                  "shielded_TRC20_contract_address": {
                    "type": "string",
                    "description": "Shielded TRC20 contract address to scan",
                    "example": "TGzz8gjYiYRqpfmDwnLxfgPuLVNmpCswVp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully scanned for outgoing shielded notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object", 
                  "properties": {
                    "note_txs": {
                      "type": "array",
                      "description": "Array of found outgoing shielded note transactions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "integer",
                            "description": "Block number where note was found"
                          },
                          "tx_id": {
                            "type": "string",
                            "description": "Transaction ID containing the note"
                          },
                          "index": {
                            "type": "integer", 
                            "description": "Index of note within transaction"
                          },
                          "note": {
                            "type": "object",
                            "description": "Decrypted note details including recipient info"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}