{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createshieldedtransactionwithoutspendauthsig TRON API",
    "version": "1.0.0",
    "description": "Create an unsigned shielded TRX transaction"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createshieldedtransactionwithoutspendauthsig": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createshieldedtransactionwithoutspendauthsig",
        "operationId": "createShieldedTransactionWithoutSpendAuthSig",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to_address",
                  "to_amount"
                ],
                "properties": {
                  "transparent_from_address": {
                    "type": "string",
                    "description": "Transparent TRX address sending funds",
                    "example": "TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE"
                  },
                  "from_amount": {
                    "type": "integer",
                    "description": "Amount to send from transparent address in sun",
                    "example": 1000000
                  },
                  "shielded_spends": {
                    "type": "array",
                    "description": "Array of shielded input specifications",
                    "items": {
                      "type": "object"
                    }
                  },
                  "shielded_receives": {
                    "type": "array",
                    "description": "Array of shielded output specifications",
                    "items": {
                      "type": "object"
                    }
                  },
                  "to_address": {
                    "type": "string",
                    "description": "Recipient shielded address",
                    "example": "ztron1a2b3c4d5e6f7g8h9j0k1l2m3n4p5q6r7s8t9u0v1w2x3y4z5a6b7c8d9e0f1g2h3j4k5l6m7n8p9"
                  },
                  "to_amount": {
                    "type": "integer",
                    "description": "Amount to send to shielded address in sun",
                    "example": 1000000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created unsigned shielded transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw unsigned transaction data in hexadecimal"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Structured raw unsigned transaction data"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Preliminary transaction ID (will change after signing, 64 hex characters, no 0x prefix)",
                      "example": "1a2b3c4d5e6f7890abcdef1234567890abcdef1234567890abcdef1234567890"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": false,
    "proxy-enabled": false
  }
}