{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/createshieldedtransaction TRON API",
    "version": "1.0.0",
    "description": "Create a fully signed shielded TRX transaction"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/createshieldedtransaction": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/createshieldedtransaction",
        "operationId": "createShieldedTransaction",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "to_address",
                  "to_amount"
                ],
                "properties": {
                  "transparent_from_address": {
                    "type": "string",
                    "description": "Transparent TRX address sending funds",
                    "example": "TQn9Y2khEsLJW1ChVWFMSMeRDow5KcbLSE"
                  },
                  "from_amount": {
                    "type": "integer",
                    "description": "Amount to send from transparent address in sun",
                    "example": 1000000
                  },
                  "spend_authority_signature": {
                    "type": "array",
                    "description": "Array of spending authority signatures",
                    "items": {
                      "type": "string"
                    }
                  },
                  "ask": {
                    "type": "string",
                    "description": "Authentication secret key",
                    "example": "0x08a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                  },
                  "nsk": {
                    "type": "string",
                    "description": "Nullifier secret key",
                    "example": "0x09a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                  },
                  "ovk": {
                    "type": "string",
                    "description": "Outgoing viewing key",
                    "example": "0x0aa1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                  },
                  "to_address": {
                    "type": "string",
                    "description": "Recipient shielded address",
                    "example": "ztron1abc123def456ghi789jklmno012pqr345stu678vwx90"
                  },
                  "to_amount": {
                    "type": "integer",
                    "description": "Amount to send to shielded address in sun",
                    "example": 1000000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created shielded transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID hash",
                      "example": "0x1a2b3c4d5e6f7890abcdef1234567890abcdef1234567890abcdef1234567890"
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hexadecimal"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Structured raw transaction data"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}