{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/scanshieldedtrc20notesbyivk TRON API",
    "version": "1.0.0",
    "description": "Scan for shielded TRC20 notes using incoming viewing key"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/scanshieldedtrc20notesbyivk": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/scanshieldedtrc20notesbyivk",
        "operationId": "scanShieldedTRC20NotesByIvk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start_block_index",
                  "end_block_index",
                  "ivk",
                  "ak",
                  "nk",
                  "shielded_TRC20_contract_address"
                ],
                "properties": {
                  "start_block_index": {
                    "type": "integer",
                    "description": "Starting block number for scanning",
                    "example": 10000000
                  },
                  "end_block_index": {
                    "type": "integer", 
                    "description": "Ending block number for scanning",
                    "example": 10001000
                  },
                  "ivk": {
                    "type": "string",
                    "description": "Incoming viewing key for decrypting notes",
                    "example": "0x05d4e5f6789012345678901234567890123456789012345678901234567890abcdef"
                  },
                  "ak": {
                    "type": "string",
                    "description": "Authentication key for verification", 
                    "example": "0x03b2c3d4e5f6789012345678901234567890123456789012345678901234567890ab"
                  },
                  "nk": {
                    "type": "string",
                    "description": "Nullifier key for note identification",
                    "example": "0x04c3d4e5f6789012345678901234567890123456789012345678901234567890abcd"
                  },
                  "shielded_TRC20_contract_address": {
                    "type": "string",
                    "description": "Shielded TRC20 contract address to scan",
                    "example": "TGzz8gjYiYRqpfmDwnLxfgPuLVNmpCswVp"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully scanned for shielded notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "note_txs": {
                      "type": "array",
                      "description": "Array of found shielded note transactions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "block_num": {
                            "type": "integer",
                            "description": "Block number where note was found"
                          },
                          "tx_id": {
                            "type": "string", 
                            "description": "Transaction ID containing the note"
                          },
                          "index": {
                            "type": "integer",
                            "description": "Index of note within transaction"
                          },
                          "note": {
                            "type": "object",
                            "description": "Decrypted note details"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}