{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getdiversifier TRON API",
    "version": "1.0.0",
    "description": "Generate a random diversifier for shielded address creation"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getdiversifier": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getdiversifier",
        "operationId": "getDiversifier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated diversifier",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "string",
                      "description": "The generated diversifier in hexadecimal format (22 hex characters, no 0x prefix)",
                      "example": "06e5f678901234567890ab"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}