{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getzenpaymentaddress TRON API",
    "version": "1.0.0",
    "description": "Generate shielded payment address from incoming viewing key and diversifier"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getzenpaymentaddress": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getzenpaymentaddress",
        "operationId": "getZenPaymentAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ivk",
                  "d"
                ],
                "properties": {
                  "ivk": {
                    "type": "string",
                    "description": "Incoming viewing key (ivk) as a 32‑byte (64‑hex) string without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{64}$",
                    "example": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
                  },
                  "d": {
                    "type": "string",
                    "description": "Diversifier as 11 bytes (22 hex) without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{22}$",
                    "example": "06e5f67890123456789012"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated shielded payment address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pkD": {
                      "type": "string",
                      "description": "Payment address public key component in hex (no 0x)",
                      "example": "07f6789012345678901234567890123456789012345678901234567890abcdef01"
                    },
                    "payment_address": {
                      "type": "string",
                      "description": "Complete shielded payment address",
                      "example": "ztron1abcdefghijk123456789..."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
