{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getakfromask TRON API",
    "version": "1.0.0",
    "description": "Derive authentication key from authentication secret key for shielded transactions"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getakfromask": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getakfromask",
        "operationId": "getAkFromAsk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Authentication secret key (ask) as a 32‑byte (64‑hex) string without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{64}$",
                    "example": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully derived authentication key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "string",
                      "description": "The derived authentication key (ak) in hexadecimal format (no 0x prefix)",
                      "example": "03b2c3d4e5f6789012345678901234567890123456789abcdef0123456789abcd"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
