{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/scanshieldedtrc20notesbyovk TRON API",
    "version": "1.0.0",
    "description": "Scan for shielded TRC20 notes using outgoing viewing key"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/scanshieldedtrc20notesbyovk": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/scanshieldedtrc20notesbyovk",
        "operationId": "scanShieldedTRC20NotesByOvk",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "start_block_index",
                  "end_block_index", 
                  "ovk",
                  "shielded_TRC20_contract_address"
                ],
                "properties": {
                  "start_block_index": {
                    "type": "integer",
                    "description": "Starting block number for scanning",
                    "example": 10000000
                  },
                  "end_block_index": {
                    "type": "integer",
                    "description": "Ending block number for scanning",
                    "example": 10000001
                  },
                  "ovk": {
                    "type": "string",
                    "description": "Outgoing viewing key for decrypting sent notes (64 hex characters, no 0x prefix)",
                    "example": "0ff58efd75e083fe4fd759c8701e1c8cb6961c4297a12b2c800bdb7b2bcab889"
                  },
                  "shielded_TRC20_contract_address": {
                    "type": "string",
                    "description": "Shielded TRC20 contract address to scan (hex format, no 0x prefix)",
                    "example": "41274fc7464fadac5c00c893c58bce6c39bf59e4c7"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully scanned for outgoing shielded notes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "noteTxs": {
                      "type": "array",
                      "description": "Array of found outgoing shielded note transactions",
                      "items": {
                        "type": "object",
                        "properties": {
                          "txid": {
                            "type": "string",
                            "description": "Transaction ID containing the note"
                          },
                          "index": {
                            "type": "integer",
                            "description": "Index of note within transaction"
                          },
                          "note": {
                            "type": "object",
                            "description": "Decrypted note details",
                            "properties": {
                              "value": {
                                "type": "integer",
                                "description": "Note value"
                              },
                              "payment_address": {
                                "type": "string",
                                "description": "Recipient shielded payment address"
                              },
                              "rcm": {
                                "type": "string",
                                "description": "Randomness commitment"
                              },
                              "memo": {
                                "type": "string",
                                "description": "Optional memo field"
                              }
                            }
                          },
                          "position": {
                            "type": "integer",
                            "description": "Position in the merkle tree"
                          },
                          "is_spent": {
                            "type": "boolean",
                            "description": "Whether the note has been spent"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}