{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getexpandedspendingkey TRON API",
    "version": "1.0.0",
    "description": "Derive expanded spending key from spending key for shielded transactions"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getexpandedspendingkey": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getexpandedspendingkey",
        "operationId": "getExpandedSpendingKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Spending key as a 32‑byte (64‑hex) string without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{64}$",
                    "example": "0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully derived expanded spending key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ask": {
                      "type": "string",
                      "description": "Authentication secret key component"
                    },
                    "nsk": {
                      "type": "string",
                      "description": "Nullifier secret key component"
                    },
                    "ovk": {
                      "type": "string",
                      "description": "Outgoing viewing key component"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
