{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getincomingviewingkey TRON API",
    "version": "1.0.0",
    "description": "Derive incoming viewing key from authentication and nullifier keys"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getincomingviewingkey": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getincomingviewingkey",
        "operationId": "getIncomingViewingKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ak",
                  "nk"
                ],
                "properties": {
                  "ak": {
                    "type": "string",
                    "description": "Authentication key (ak) as a 32‑byte (64‑hex) string without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{64}$",
                    "example": "03b2c3d4e5f67890123456789012345678901234567890123456789012345678"
                  },
                  "nk": {
                    "type": "string",
                    "description": "Nullifier key (nk) as a 32‑byte (64‑hex) string without 0x prefix.",
                    "pattern": "^[0-9a-fA-F]{64}$",
                    "example": "04c3d4e5f6789012345678901234567890123456789012345678901234567890"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully derived incoming viewing key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ivk": {
                      "type": "string",
                      "description": "The derived incoming viewing key (ivk) in hexadecimal format (no 0x prefix)",
                      "example": "05d4e5f6789012345678901234567890123456789012345678901234567890abcdef"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
