{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/getshieldedpaymentaddress TRON API",
    "version": "1.0.0",
    "description": "Generate shielded payment address from incoming viewing key and diversifier"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/getshieldedpaymentaddress": {
      "post": {
        "tags": [
          "Shielded Contract Methods"
        ],
        "summary": "wallet/getshieldedpaymentaddress",
        "operationId": "getShieldedPaymentAddress",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "ivk",
                  "d"
                ],
                "properties": {
                  "ivk": {
                    "type": "string",
                    "description": "Incoming viewing key in hexadecimal format",
                    "example": "0x05a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                  },
                  "d": {
                    "type": "string",
                    "description": "Diversifier in hexadecimal format",
                    "example": "0x06a1b2c3d4e5f6789012"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated shielded payment address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "pkd": {
                      "type": "string",
                      "description": "The payment address public key in hexadecimal format",
                      "example": "0x07a1b2c3d4e5f6789012345678901234567890123456789012345678901234567890"
                    },
                    "payment_address": {
                      "type": "string",
                      "description": "The complete shielded payment address",
                      "example": "ztron1abc123def456ghi789jklmno012pqr345stu678vwx90"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}