{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/transferasset TRON API",
    "version": "1.0.0",
    "description": "Transfer TRC10 tokens between accounts"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/transferasset": {
      "post": {
        "tags": [
          "TRC10 Assets"
        ],
        "summary": "wallet/transferasset",
        "operationId": "transferAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "to_address",
                  "asset_name",
                  "amount"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "to_address": {
                    "type": "string",
                    "default": "TFgY1uN8buRxAtV2r6Zy5sG3ACko6pJT1y"
                  },
                  "asset_name": {
                    "type": "string",
                    "default": "TOKEN_NAME"
                  },
                  "amount": {
                    "type": "integer",
                    "default": 1000000
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned TRC10 asset transfer transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean"
                    },
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object"
                    },
                    "raw_data_hex": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}