{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/triggerconstantcontract TRON API",
    "version": "1.0.0",
    "description": "Call a constant contract method without consuming resources (read-only)"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/triggerconstantcontract": {
      "post": {
        "tags": [
          "Smart Contracts"
        ],
        "summary": "wallet/triggerconstantcontract",
        "operationId": "triggerConstantContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address calling the contract method in hex format"
                  },
                  "contract_address": {
                    "type": "string",
                    "description": "Smart contract address in hex format"
                  },
                  "function_selector": {
                    "type": "string",
                    "description": "Function selector (method signature) to call"
                  },
                  "parameter": {
                    "type": "string",
                    "description": "Encoded parameters for the function call"
                  }
                },
                "required": ["contract_address", "function_selector"],
                "example": {
                  "owner_address": "41b487cdb2d8dc7b2a8e5e7e7b4e3e8b8b8b8b8b",
                  "contract_address": "41a614f803b6fd780986a42c78ec9c7f77e6ded13c",
                  "function_selector": "balanceOf(address)",
                  "parameter": "000000000000000000000000b487cdb2d8dc7b2a8e5e7e7b4e3e8b8b8b8b8b"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract call result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "description": "Whether the call was successful"
                        }
                      }
                    },
                    "energy_used": {
                      "type": "number",
                      "description": "Energy that would be consumed (for estimation)"
                    },
                    "constant_result": {
                      "type": "array",
                      "description": "Return values from the contract method call",
                      "items": {
                        "type": "string"
                      }
                    },
                    "transaction": {
                      "type": "object",
                      "description": "Transaction object that would be created (not executed)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}