{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/triggersmartcontract TRON API",
    "version": "1.0.0",
    "description": "Trigger a smart contract function call"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/triggersmartcontract": {
      "post": {
        "tags": [
          "Smart Contract Operations"
        ],
        "summary": "wallet/triggersmartcontract",
        "operationId": "triggerSmartContract",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contract_address",
                  "function_selector",
                  "parameter",
                  "owner_address"
                ],
                "properties": {
                  "contract_address": {
                    "type": "string",
                    "default": "41a614f803b6fd780986a42c78ec9c7f77e6ded13c"
                  },
                  "function_selector": {
                    "type": "string",
                    "default": "transfer(address,uint256)"
                  },
                  "parameter": {
                    "type": "string",
                    "default": "000000000000000000000000e9d79cc47518930bc322d9bf7cddd260a0260a8d00000000000000000000000000000000000000000000000000000000000003e8"
                  },
                  "owner_address": {
                    "type": "string",
                    "default": "41608f8da72479edc7dd921e4c30bb7e7cddbe722e"
                  },
                  "call_value": {
                    "type": "integer",
                    "default": 0
                  },
                  "fee_limit": {
                    "type": "integer",
                    "default": 10000000
                  },
                  "visible": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Smart contract execution result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "result": {
                      "type": "object",
                      "properties": {
                        "result": {
                          "type": "boolean"
                        },
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      }
                    },
                    "energy_used": {
                      "type": "integer"
                    },
                    "constant_result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "transaction": {
                      "type": "object"
                    },
                    "logs": {
                      "type": "array"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}