{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/unfreezeasset TRON API",
    "version": "1.0.0",
    "description": "Unfreeze TRC10 tokens"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/unfreezeasset": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/unfreezeasset",
        "operationId": "unfreezeAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address that issued the token",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Use base58 address format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned unfreeze asset transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Address format indicator"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction hash"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Raw transaction data",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract array"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Hexadecimal raw transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}