{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/updateasset TRON API",
    "version": "1.0.0",
    "description": "Update TRC10 token information"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/updateasset": {
      "post": {
        "tags": [
          "Assets and Tokens"
        ],
        "summary": "wallet/updateasset",
        "operationId": "updateAsset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "owner_address",
                  "description",
                  "url"
                ],
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address that issued the token",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "description": {
                    "type": "string",
                    "description": "New token description",
                    "default": "Updated description for the TRC10 token"
                  },
                  "url": {
                    "type": "string",
                    "description": "New token project website",
                    "default": "https://updated-example.com"
                  },
                  "new_limit": {
                    "type": "integer",
                    "description": "New bandwidth limit for token operations",
                    "default": 2000000
                  },
                  "new_public_limit": {
                    "type": "integer",
                    "description": "New public bandwidth limit",
                    "default": 2000000
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Use base58 address format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Unsigned update asset transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Address format indicator"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction hash"
                    },
                    "raw_data": {
                      "type": "object",
                      "description": "Raw transaction data",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract array"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Hexadecimal raw transaction"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}