{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/updatebrokerage TRON API",
    "version": "1.0.0",
    "description": "Update witness brokerage rate"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/updatebrokerage": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/updatebrokerage",
        "operationId": "updateBrokerage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Witness account address in hex format"
                  },
                  "brokerage": {
                    "type": "number",
                    "description": "New brokerage percentage (0-100)"
                  }
                },
                "required": ["owner_address", "brokerage"],
                "example": {
                  "owner_address": "41928c9af0651632157ef27a2cf17ca72c575a4d21",
                  "brokerage": 15
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Brokerage update transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for the brokerage update"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for brokerage update"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}