{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/updatesetting TRON API",
    "version": "1.0.0",
    "description": "Update contract consume user resource percentage"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/updatesetting": {
      "post": {
        "tags": [
          "Smart Contracts"
        ],
        "summary": "wallet/updatesetting",
        "operationId": "updateSetting",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address of the contract owner"
                  },
                  "contract_address": {
                    "type": "string",
                    "description": "Address of the smart contract"
                  },
                  "consume_user_resource_percent": {
                    "type": "number",
                    "description": "Percentage (0-100) of caller's resources to consume",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to use visible (Base58) address format"
                  }
                },
                "required": ["owner_address", "contract_address", "consume_user_resource_percent"],
                "example": {
                  "owner_address": "THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC",
                  "contract_address": "TR7NHqjeKQxGTCi8q8ZY4pL8otSzgjLj6t",
                  "consume_user_resource_percent": 10,
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contract setting update transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for the setting update"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract update details"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation error (e.g., account not found or not owner)",
            "content": {
              "application/json": {
                "schema": { "type": "object", "properties": { "Error": { "type": "string" } } },
                "example": {
                  "Error": "class org.tron.core.exception.ContractValidateException : Account[41b3dcf27c251da9363f1a4888257c16676cf54edf] does not exist"
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
