{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/updatewitness TRON API",
    "version": "1.0.0",
    "description": "Update witness URL and information"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/updatewitness": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/updatewitness",
        "operationId": "updateWitness",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Hexadecimal address of the witness account to update"
                  },
                  "update_url": {
                    "type": "string",
                    "description": "New URL string for the witness (maximum 256 bytes)"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether addresses should be in visible format (Base58Check)"
                  }
                },
                "required": ["owner_address"],
                "example": {
                  "owner_address": "TPswDDCAWhJAZGdHPidFg5nEf8TkNToDX1",
                  "update_url": "https://example.com/witness",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Witness update transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for witness update transaction"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for witness update",
                          "items": {
                            "type": "object",
                            "properties": {
                              "type": {
                                "type": "string",
                                "example": "UpdateWitnessContract"
                              },
                              "parameter": {
                                "type": "object",
                                "properties": {
                                  "type_url": {
                                    "type": "string",
                                    "example": "type.googleapis.com/protocol.UpdateWitnessContract"
                                  },
                                  "value": {
                                    "type": "object",
                                    "properties": {
                                      "owner_address": {
                                        "type": "string"
                                      },
                                      "update_url": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes for validation"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Hash of the reference block"
                        },
                        "expiration": {
                          "type": "integer",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "integer",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}