{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/votewitnessaccount TRON API",
    "version": "1.0.0",
    "description": "Vote for witnesses (validators) using frozen TRX balance"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/votewitnessaccount": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/votewitnessaccount",
        "operationId": "voteWitnessAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Voting account address. Use base58 with `visible: true`, or hex with `visible: false`."
                  },
                  "votes": {
                    "type": "array",
                    "description": "Array of vote allocations",
                    "items": {
                      "type": "object",
                      "properties": {
                        "vote_address": {
                          "type": "string",
                          "description": "Witness address to vote for (base58 with `visible: true`, or hex with `visible: false`)."
                        },
                        "vote_count": {
                          "type": "number",
                          "description": "Number of votes to allocate"
                        }
                      },
                      "required": ["vote_address", "vote_count"]
                    }
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "When true, addresses are base58; when false, hex.",
                    "default": true
                  }
                },
                "required": ["owner_address", "votes"],
                "example": {
                  "owner_address": "THPvaUhoh2Qn2y9THCZML3H815hhFhn5YC",
                  "votes": [
                    { "vote_address": "TDdeM7G4HSxhn2MfovsiMWwXZkiFaHhjMB", "vote_count": 1000000 },
                    { "vote_address": "TAybtvPZCSj5kumiU4myD28xBy6WFtkgCu", "vote_count": 500000 }
                  ],
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote transaction for witnesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for the vote"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for witness voting"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
