{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/votewitnessaccount TRON API",
    "version": "1.0.0",
    "description": "Vote for witnesses (validators) using frozen TRX balance"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/votewitnessaccount": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/votewitnessaccount",
        "operationId": "voteWitnessAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Voting account address in hex format"
                  },
                  "votes": {
                    "type": "array",
                    "description": "Array of vote allocations",
                    "items": {
                      "type": "object",
                      "properties": {
                        "vote_address": {
                          "type": "string",
                          "description": "Address of witness to vote for"
                        },
                        "vote_count": {
                          "type": "number",
                          "description": "Number of votes to allocate"
                        }
                      },
                      "required": ["vote_address", "vote_count"]
                    }
                  }
                },
                "required": ["owner_address", "votes"],
                "example": {
                  "owner_address": "41b487cdb2d8dc7b2a8e5e7e7b4e3e8b8b8b8b8b",
                  "votes": [
                    {
                      "vote_address": "41928c9af0651632157ef27a2cf17ca72c575a4d21",
                      "vote_count": 1000000
                    },
                    {
                      "vote_address": "4154ca0d507e9e54dc60f9c02aea441ffb2b4f82cd",
                      "vote_count": 500000
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Vote transaction for witnesses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for the vote"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Contract details for witness voting"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}