{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/getblockbynum TRON API",
    "version": "1.0.0",
    "description": "Get solidified block by block number"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/getblockbynum": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/getblockbynum",
        "operationId": "getSolidityBlockByNum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num"
                ],
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "Block number to retrieve",
                    "example": 70000000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Solidified block information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "blockID": {
                      "type": "string",
                      "description": "Block hash identifier",
                      "example": "0000000004326f801c9c4b8c43c5e0b1f5e7b4c4a8ff6d02ab53a26d2344a5c1"
                    },
                    "block_header": {
                      "type": "object",
                      "properties": {
                        "raw_data": {
                          "type": "object",
                          "properties": {
                            "number": {
                              "type": "integer",
                              "example": 70000000
                            },
                            "txTrieRoot": {
                              "type": "string",
                              "example": "d41c56e7e8b4a9d4e7c8c7b4f3e6d5a2b1c9d8e7f6a5b4c3d2e1f0e9d8c7b6"
                            },
                            "parentHash": {
                              "type": "string",
                              "example": "0000000004326f7f2c9c4b8c43c5e0b1f5e7b4c4a8ff6d02ab53a26d2344a5c0"
                            },
                            "timestamp": {
                              "type": "integer",
                              "example": 1704067200000
                            },
                            "witness_address": {
                              "type": "string",
                              "example": "41e38c95e0d7e9b68f7c8f7b4d3e6a5c2b1f9e8d7c6b5a4f3e2d1c0b9a8"
                            }
                          }
                        },
                        "witness_signature": {
                          "type": "string",
                          "description": "Witness signature for the block"
                        }
                      }
                    },
                    "transactions": {
                      "type": "array",
                      "description": "Array of transactions in the block",
                      "items": {
                        "type": "object",
                        "properties": {
                          "txID": {
                            "type": "string"
                          },
                          "raw_data": {
                            "type": "object"
                          },
                          "signature": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "blockSize": {
                      "type": "integer",
                      "description": "Size of the block in bytes",
                      "example": 1024
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}