{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/getaccount TRON API",
    "version": "1.0.0",
    "description": "Get account information from solidified database"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/getaccount": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/getaccount",
        "operationId": "getSolidityAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "default": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account information from solidified database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "account_name": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "balance": {
                      "type": "integer"
                    },
                    "create_time": {
                      "type": "integer"
                    },
                    "latest_opration_time": {
                      "type": "integer"
                    },
                    "asset": {
                      "type": "object"
                    },
                    "assetV2": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "frozen": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "net_usage": {
                      "type": "object"
                    },
                    "energy_usage": {
                      "type": "object"
                    },
                    "owner_permission": {
                      "type": "object"
                    },
                    "witness_permission": {
                      "type": "object"
                    },
                    "active_permission": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}