{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/getaccountresource TRON API",
    "version": "1.0.0",
    "description": "Get account resource information from solidified blocks"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/getaccountresource": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/getaccountresource",
        "operationId": "getSolidityAccountResource",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "address"
                ],
                "properties": {
                  "address": {
                    "type": "string",
                    "description": "Account address in hex or base58check format",
                    "example": "TZ4UXDV5ZhNW7fb2AMSbgfAEZ7hWsnYS2g"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether the address is in readable format",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account resource information from solidified blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "freeNetUsed": {
                      "type": "integer",
                      "description": "Free bandwidth used by the account",
                      "example": 0
                    },
                    "freeNetLimit": {
                      "type": "integer",
                      "description": "Free bandwidth limit for the account",
                      "example": 5000
                    },
                    "NetUsed": {
                      "type": "integer",
                      "description": "Bandwidth used from frozen TRX",
                      "example": 0
                    },
                    "NetLimit": {
                      "type": "integer",
                      "description": "Bandwidth limit from frozen TRX",
                      "example": 0
                    },
                    "EnergyUsed": {
                      "type": "integer",
                      "description": "Energy used by the account",
                      "example": 0
                    },
                    "EnergyLimit": {
                      "type": "integer",
                      "description": "Energy limit from frozen TRX",
                      "example": 0
                    },
                    "TotalNetLimit": {
                      "type": "integer",
                      "description": "Total network bandwidth limit",
                      "example": 43200000000
                    },
                    "TotalNetWeight": {
                      "type": "integer",
                      "description": "Total network weight",
                      "example": 84687233463517
                    },
                    "TotalEnergyLimit": {
                      "type": "integer",
                      "description": "Total energy limit on network",
                      "example": 90000000000
                    },
                    "TotalEnergyWeight": {
                      "type": "integer",
                      "description": "Total energy weight on network",
                      "example": 13369831825062
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}