{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/getblockbylatestnum TRON API",
    "version": "1.0.0",
    "description": "Get latest solidified blocks by count"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/getblockbylatestnum": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/getblockbylatestnum",
        "operationId": "getSolidityBlockByLatestNum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num"
                ],
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "Number of latest blocks to retrieve",
                    "example": 5,
                    "minimum": 1,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of the latest solidified blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "block": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockID": {
                            "type": "string",
                            "description": "Block hash identifier"
                          },
                          "block_header": {
                            "type": "object",
                            "properties": {
                              "raw_data": {
                                "type": "object",
                                "properties": {
                                  "number": {
                                    "type": "integer"
                                  },
                                  "timestamp": {
                                    "type": "integer"
                                  },
                                  "parentHash": {
                                    "type": "string"
                                  },
                                  "witness_address": {
                                    "type": "string"
                                  }
                                }
                              },
                              "witness_signature": {
                                "type": "string"
                              }
                            }
                          },
                          "transactions": {
                            "type": "array",
                            "description": "Transactions in the block",
                            "items": {
                              "type": "object"
                            }
                          },
                          "blockSize": {
                            "type": "integer",
                            "description": "Size of the block in bytes"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}