{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/gettransactioncountbyblocknum TRON API",
    "version": "1.0.0",
    "description": "Get transaction count in a solidified block by block number"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/gettransactioncountbyblocknum": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/gettransactioncountbyblocknum",
        "operationId": "getSolidityTransactionCountByBlockNum",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "num"
                ],
                "properties": {
                  "num": {
                    "type": "integer",
                    "description": "Block number to get transaction count for",
                    "example": 70000000,
                    "minimum": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction count in the specified solidified block",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "description": "Number of transactions in the block",
                      "example": 42
                    },
                    "blockNumber": {
                      "type": "integer",
                      "description": "Block number queried",
                      "example": 70000000
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}