{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/gettransactioninfobyid TRON API",
    "version": "1.0.0",
    "description": "Get transaction execution information by ID from solidified blocks"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/gettransactioninfobyid": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/gettransactioninfobyid",
        "operationId": "getSolidityTransactionInfoById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "description": "Transaction ID (hash) in hexadecimal format",
                    "example": "7c2d4206c59cc541d4b7eb7a0001bce8a7a77d1a2e3b5c4f7a8b9c0d1e2f3a4b"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction execution information from solidified blocks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Transaction hash identifier",
                      "example": "7c2d4206c59cc541d4b7eb7a0001bce8a7a77d1a2e3b5c4f7a8b9c0d1e2f3a4b"
                    },
                    "blockNumber": {
                      "type": "integer",
                      "description": "Block number containing the transaction",
                      "example": 70000000
                    },
                    "blockTimeStamp": {
                      "type": "integer",
                      "description": "Block timestamp",
                      "example": 1704067200000
                    },
                    "contractResult": {
                      "type": "array",
                      "description": "Contract execution results",
                      "items": {
                        "type": "string"
                      }
                    },
                    "fee": {
                      "type": "integer",
                      "description": "Transaction fee paid in sun",
                      "example": 1100000
                    },
                    "result": {
                      "type": "string",
                      "description": "Transaction execution result",
                      "example": "SUCCESS",
                      "enum": ["SUCCESS", "REVERT", "OUT_OF_TIME", "OUT_OF_ENERGY"]
                    },
                    "resMessage": {
                      "type": "string",
                      "description": "Result message if transaction failed"
                    },
                    "receipt": {
                      "type": "object",
                      "description": "Transaction receipt with resource usage",
                      "properties": {
                        "energy_usage": {
                          "type": "integer",
                          "example": 65000
                        },
                        "energy_fee": {
                          "type": "integer",
                          "example": 1100000
                        },
                        "net_usage": {
                          "type": "integer",
                          "example": 345
                        },
                        "net_fee": {
                          "type": "integer",
                          "example": 0
                        }
                      }
                    },
                    "log": {
                      "type": "array",
                      "description": "Event logs generated by the transaction",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string"
                          },
                          "topics": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "data": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}