{
  "openapi": "3.0.0",
  "info": {
    "title": "walletsolidity/gettransactionbyid TRON API",
    "version": "1.0.0",
    "description": "Get transaction information by ID from solidified database"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/walletsolidity/gettransactionbyid": {
      "post": {
        "tags": [
          "Solidity Query"
        ],
        "summary": "walletsolidity/gettransactionbyid",
        "operationId": "getSolidityTransactionById",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "value"
                ],
                "properties": {
                  "value": {
                    "type": "string",
                    "default": "7c2d4206c38a026616067b2f80e3d4bb2d4b7f9ff90db8c98e8b7a89b7c8d3d"
                  },
                  "visible": {
                    "type": "boolean",
                    "default": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction information from solidified database",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ret": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "signature": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "txID": {
                      "type": "string"
                    },
                    "raw_data": {
                      "type": "object"
                    },
                    "raw_data_hex": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}