{
  "openapi": "3.0.0",
  "info": {
    "title": "wallet/withdrawbalance TRON API",
    "version": "1.0.0",
    "description": "Withdraw block rewards for witness"
  },
  "servers": [
    {
      "url": "https://tron-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/95e61622bf6a8af293978377718e3b77/wallet/withdrawbalance": {
      "post": {
        "tags": [
          "Witness and Governance"
        ],
        "summary": "wallet/withdrawbalance",
        "operationId": "withdrawBalance",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "owner_address": {
                    "type": "string",
                    "description": "Address of the Super Representative withdrawing rewards"
                  },
                  "visible": {
                    "type": "boolean",
                    "description": "Whether to use visible (Base58) address format"
                  }
                },
                "required": ["owner_address"],
                "example": {
                  "owner_address": "TGj1Ej1qRzL9feLTLhjwgxXF4Ct6GTWg2U",
                  "visible": true
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Witness balance withdrawal transaction",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "visible": {
                      "type": "boolean",
                      "description": "Whether addresses are in visible format"
                    },
                    "txID": {
                      "type": "string",
                      "description": "Transaction ID for the withdrawal"
                    },
                    "raw_data": {
                      "type": "object",
                      "properties": {
                        "contract": {
                          "type": "array",
                          "description": "Withdrawal contract details"
                        },
                        "ref_block_bytes": {
                          "type": "string",
                          "description": "Reference block bytes"
                        },
                        "ref_block_hash": {
                          "type": "string",
                          "description": "Reference block hash"
                        },
                        "expiration": {
                          "type": "number",
                          "description": "Transaction expiration timestamp"
                        },
                        "timestamp": {
                          "type": "number",
                          "description": "Transaction creation timestamp"
                        }
                      }
                    },
                    "raw_data_hex": {
                      "type": "string",
                      "description": "Raw transaction data in hex format"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}