{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://plasma-mainnet.core.chainstack.com"
    }
  ],
  "paths": {
    "/be84184cd12967be5a65d06651c60085": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "eth_getBlockByHash",
        "operationId": "getBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "title": "Block hash",
                          "description": "Hash of the block."
                        },
                        {
                          "type": "boolean",
                          "title": "Show transaction details",
                          "description": "If true, returns full transaction objects. If false, returns only hashes."
                        }
                      ]
                    },
                    "default": [
                      "0x0000000000000000000000000000000000000000000000000000000000000000",
                      false
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns information about a block by hash.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}