{
  "openapi": "3.0.0",
  "info": {
    "title": "Monad Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Monad node."
  },
  "servers": [
    {
      "url": "https://monad-testnet.core.chainstack.com/9c5b265f20b3ea5df4f54f70eb74b800"
    }
  ],
  "paths": {
    "/": {
      "post": {
        "tags": [
          "Blocks info"
        ],
        "summary": "eth_getBlockByHash",
        "operationId": "eth_getBlockByHash",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getBlockByHash"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "string",
                          "description": "The block hash"
                        },
                        {
                          "type": "boolean",
                          "description": "If true, returns full transaction objects; if false, returns only transaction hashes"
                        }
                      ]
                    },
                    "default": ["0x936a2bd4e1248949fe93cc4ee34a3a19a5e77a823788e40610d953ad6bc44c2a", false]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The block information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object",
                      "nullable": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
