{
  "openapi": "3.0.0",
  "info": {
    "title": "Polygon ZKEVM Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Polygon zkEVM node."
  },
  "servers": [
    {
      "url": "https://nd-363-550-219.p2pify.com"
    }
  ],
  "paths": {
    "/942aad90bb6a082676497030b81e40ba": {
      "post": {
        "tags": [
          "upload"
        ],
        "summary": "zkevm_batchNumberByBlockNumber",
        "operationId": "zkevm_batchNumberByBlockNumber",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "default": 1
                  },
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "zkevm_batchNumberByBlockNumber"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "default": [
                      "0xD65B"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the batch number associated with the given block number.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}