{
  "openapi": "3.0.0",
  "info": {
    "title": "Chainstack Node API",
    "version": "1.0.0",
    "description": "This is an API for interacting with a Chainstack node."
  },
  "servers": [
    {
      "url": "https://nd-418-459-126.p2pify.com"
    }
  ],
  "paths": {
    "/8763cb5a211e1d4345acd51bde484c00/ext/bc/C/rpc": {
      "post": {
        "summary": "eth_getFilterChanges",
        "operationId": "getFilterChanges",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "default": "2.0"
                  },
                  "method": {
                    "type": "string",
                    "default": "eth_getFilterChanges"
                  },
                  "params": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "title": "The filter ID"
                    },
                    "default": [
                      "0xbdc5b4b99ca699e1d734fc4202afee79"
                    ]
                  },
                  "id": {
                    "type": "integer",
                    "default": 1
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The filter changes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "type": "integer"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}